/* ::::: https://jhupbooks.press.jhu.edu/sites/default/files/css/css_xE-rWrJf-fncB6ztZfd2huxqgxu4WO-qwma6Xer30m4.css ::::: */

.element-invisible { position: absolute ! important; clip: rect(1px, 1px, 1px, 1px); overflow: hidden; height: 1px; }
.clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
:first-child + html .clearfix { min-height: 1%; }
ul.menu { border: medium none; list-style: outside none none; text-align: left; }
ul.menu li { margin: 0px 0px 0px 0.5em; }
ul li.collapsed { list-style-image: url('menu-collapsed.png'); list-style-type: disc; }
ul li.leaf { list-style-image: url('menu-leaf.png'); list-style-type: square; }
li.expanded, li.collapsed, li.leaf { padding: 0.2em 0.5em 0px 0px; margin: 0px; }
form { margin: 0px; padding: 0px; }
img { border: 0px none; }
table { border-collapse: collapse; }
tbody { border-top: 1px solid rgb(204, 204, 204); }
tr.even, tr.odd { background-color: rgb(238, 238, 238); border-bottom: 1px solid rgb(204, 204, 204); padding: 0.1em 0.6em; }
.form-item, .form-actions { margin-top: 1em; margin-bottom: 1em; }
label { display: block; font-weight: bold; }
/* ::::: https://jhupbooks.press.jhu.edu/sites/default/files/css/css_fW150ktoAzWQ2kLWpnJBROHwTWFHRqBtCiVdpacMQV0.css ::::: */

span.date-display-single {  }
.views-exposed-form .views-exposed-widget { float: left; padding: 0.5em 1em 0px 0px; }
.views-exposed-form .views-exposed-widget .form-submit { margin-top: 1.6em; }
.views-exposed-form .form-item, .views-exposed-form .form-submit { margin-top: 0px; margin-bottom: 0px; }
.views-exposed-form label { font-weight: bold; }
.views-exposed-widgets { margin-bottom: 0.5em; }
/* ::::: https://jhupbooks.press.jhu.edu/sites/default/files/css/css_zPAZttA2mm8eueA4pCwDaW37PSPdQHIVTlO5PTgpHSY.css ::::: */

.ds-2col-stacked-fluid > .group-header {  }
.ds-2col-stacked-fluid > .group-left { float: left; width: 50%; }
.ds-2col-stacked-fluid > .group-right { float: right; width: 50%; }
.ds-2col-stacked-fluid > .group-footer { clear: both; }
/* ::::: https://jhupbooks.press.jhu.edu/sites/default/files/css/css_vm4RYqwQ3YzuVr-cmAW_I7zIUNz2xUJCwrEEFb7jirY.css ::::: */

/* ::::: https://fonts.googleapis.com/css?family=Lato:400,700,900 ::::: */

@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	src: local("Lato Regular"), local("Lato-Regular"), url('8qcew_nrk_5heccpydju8btbgvql8ndjpwnre27mub0.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	src: local("Lato Regular"), local("Lato-Regular"), url('mdadn8dq_3ot6kvnuq_2r_eszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 700;
	src: local("Lato Bold"), local("Lato-Bold"), url('rzpi2ghxi8zxujnybc2zqfkpgs1zzpmvnhx-7fpouac.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 700;
	src: local("Lato Bold"), local("Lato-Bold"), url('mgnnr5y1c_tieulemiclmwluueptyoustqem5amljo4.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 900;
	src: local("Lato Black"), local("Lato-Black"), url('t85rp2zhsddjt5phst_snlkpgs1zzpmvnhx-7fpouac.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 900;
	src: local("Lato Black"), local("Lato-Black"), url('lejov129q3in1tuqwoerbgluueptyoustqem5amljo4.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
* { margin: 0px; padding: 0px; }
.clear { clear: both; display: block; overflow: hidden; }
a img { border: 0px none; }
a:focus { border: medium none; outline: medium none; }
header .region-header .field-name-field-images a { display: block; }
body footer { border-top: 5px solid rgb(136, 136, 136); background: rgb(89, 103, 124) none repeat scroll 0% 0%; color: rgb(255, 255, 255); height: 32px; margin-top: 20px ! important; }
body footer .footer { font-size: 12px; margin-top: 8px; }
body footer .footer a { color: rgb(255, 255, 255); }
body.branding-jhup footer, body.branding-baylor footer, body.brand-washu footer { margin-top: 0px ! important; border-top: 0px none; }
body.branding-jhup footer .footer, body.branding-baylor footer .footer, body.brand-washu footer .footer { margin-top: 0px; }
body.branding-jhup footer { border-top: 5px solid rgb(136, 136, 136); }
footer .region-footer-bottom .jhu { background: rgb(89, 103, 124) none repeat scroll 0% 0%; height: 32px; line-height: 20px; position: relative; z-index: 5; }
#google-search { float: left; }
#google-search .form-text { padding: 6px 5px; margin: 10px 0px; }
#google-search .form-submit { margin: 0px; padding: 7px 15px; background: rgb(75, 75, 75) none repeat scroll 0% 0%; border: medium none; color: rgb(255, 255, 255); }
.node-type-jhup-title .ds-2col-stacked-fluid .group-left { width: 30%; color: rgb(102, 102, 102); font-size: 12px; font-family: Georgia,"Times New Roman",Times,serif; }
.node-type-jhup-title .ds-2col-stacked-fluid .group-left h3 { display: none; }
.node-type-jhup-title .ds-2col-stacked-fluid .group-right { width: 55%; padding: 0px 8% 0px 5%; color: rgb(75, 75, 75); font-family: Georgia,"Times New Roman",Times,serif; border-left: 1px solid rgb(136, 136, 136); font-size: 12px; }
.node-type-jhup-title .ds-2col-stacked-fluid .group-right p { margin: 1em 0px; font-size: 12px; line-height: 20px; }
.node-type-jhup-title .ds-2col-stacked-fluid .group-right .field-label-hidden { margin: 0px 0px 20px; }
.node-type-jhup-title .ds-2col-stacked-fluid .group-right .field-name-field-related-links, .node-type-jhup-title .ds-2col-stacked-fluid .group-right .field-name-field-related-books li { list-style: outside none none; margin: 0px 0px 10px; }
.node-type-jhup-title .ds-2col-stacked-fluid .group-right .field-name-field-related-links a, .node-type-jhup-title .ds-2col-stacked-fluid .group-right .field-name-field-related-books li a { color: rgb(62, 87, 122); }
.node-type-jhup-title .node-jhup-title .field-name-title-field { font-size: 30px; color: rgb(89, 103, 124); line-height: 36px; padding: 10px 0px; margin: 0px; font-weight: normal; }
.commerce-add-to-cart .form-submit { background: rgb(174, 103, 18) none repeat scroll 0% 0%; padding: 5px; color: rgb(255, 255, 255); border: 2px solid rgb(136, 136, 136); float: right; margin: 30px 25px; }
.commerce-add-to-cart .form-submit:hover { text-decoration: underline; cursor: pointer; }
.commerce-add-to-cart .form-type-textfield { float: left; }
.commerce-add-to-cart .form-type-textfield label { margin: 0px 0px 5px; }
.commerce-add-to-cart .form-type-textfield input { padding: 4px; }
.commerce-price-savings-formatter-prices tr { background: transparent none repeat scroll 0% 0%; border: medium none; }
.commerce-price-savings-formatter-prices tbody { border: medium none; }
.commerce-price-savings-formatter-prices .price-amount { text-align: right; }
.commerce-price-savings-formatter-prices .commerce-price-savings-formatter-price .price-amount { font-weight: bold; }
.commerce-product-field-field-binding-type, .field-name-field-pages { float: left; }
.field-name-field-illustration-description { clear: left; }
.commerce-product-field-field-isbn .field-label { float: left; }
.region-sidebar-first #block-block-7 { background: rgb(208, 195, 179) none repeat scroll 0% 0%; padding: 10px; margin: 0px 0px 20px; overflow: auto; }
.region-sidebar-first form .form-submit { margin: 0px; padding: 7px 15px; background: rgb(75, 75, 75) none repeat scroll 0% 0%; border: medium none; color: rgb(255, 255, 255); }
.region-sidebar-first form .form-text { padding: 6px 5px; margin: 10px 0px; }
.region-sidebar-first form p { font-size: 11px; }
.region-sidebar-first ul.menu { padding: 0px; margin: 0px; }
.region-sidebar-first ul.menu li { background: transparent url('bullet_blue.gif') no-repeat scroll 0px 0.4em; font-size: 14px; padding: 0px 0px 14px 13px; list-style-type: none; list-style-image: none; margin: 0px; }
.region-sidebar-first ul.menu li a { text-decoration: none; color: rgb(62, 87, 122); }
.region-sidebar-first #views-exposed-form-search-books-block .views-widget-filter-search_api_views_fulltext { padding: 0px 5px 0px 0px; }
.region-sidebar-first #views-exposed-form-search-books-block .views-widget-filter-search_api_views_fulltext label { color: rgb(62, 87, 122); font-weight: bold; }
.region-sidebar-first #views-exposed-form-search-books-block .views-widget-filter-search_api_views_fulltext .form-text { padding: 6px 5px; }
.region-sidebar-first #views-exposed-form-search-books-block .views-submit-button { padding: 21px 0px; }
.region-sidebar-first #views-exposed-form-search-books-block .views-submit-button .form-submit { margin: 8px 0px 0px; padding: 7px 15px; background: rgb(75, 75, 75) none repeat scroll 0% 0%; border: medium none; color: rgb(255, 255, 255); }
.region-content > article .node-jhup-title { padding: 30px 0px; }
#block-ibs-cart .content { background: rgb(136, 136, 136) none repeat scroll 0% 0%; margin: 0px 0px 15px; padding: 5px 7px 8px 17px; width: 707px; position: relative; left: -27px; height: 22px; }
#block-ibs-cart .content span { float: left; color: rgb(255, 255, 255); font-size: 19px; }
#block-ibs-cart .content div { float: right; }
#block-ibs-cart .content div a { float: left; padding: 5px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin: 0px 5px; border: medium none rgb(102, 102, 102); text-decoration: none; font-size: 12px; color: rgb(135, 135, 135); font-family: "Lato",sans-serif; }
body { font-family: Georgia,"Times New Roman",Times,serif; color: rgb(51, 51, 51); }
body section, body header, body footer { width: 1005px; margin: 0px auto; }
a { text-decoration: none; color: rgb(62, 87, 122); }
a:hover { text-decoration: underline; }
h1 { color: rgb(108, 123, 142); font-size: 28px; line-height: 48px; font-weight: normal; float: left; width: 690px; }
.branding-jhup h1 { padding: 0px 0px 10px 25px; }
.field-name-field-cover img, .views-field-field-cover img { width: 144px; }
section.content-wrap { position: relative; overflow: hidden; }
section.content-wrap .region-sidebar-first, section.content-wrap .region-content, section.content-wrap .region-content2, section.content-wrap .region-content3, section.content-wrap .region-content4 { float: left; }
#hfs { display: none; }
.branding-jhup section.content-wrap { background: rgb(173, 183, 195) url('bg_innerwrapper.gif') repeat-y scroll left top; position: relative; overflow: hidden; }
.branding-jhup section.content-wrap .region-sidebar-first { float: left; width: 180px; padding: 34px 19px 10px; margin: 0px 5px 0px 0px; }
.branding-jhup section.content-wrap .region-content, .branding-jhup section.content-wrap .region-content2, .branding-jhup section.content-wrap .region-content3, .branding-jhup section.content-wrap .region-content4 { float: right; width: 690px; padding: 0px 0px 10px 25px; margin: 0px 65px 0px 0px; }
.branding-jhup section.content-wrap ul.menu { margin-bottom: 20px; }
.branding-jhup section.content-wrap h2 { font-size: 16px; margin-bottom: 10px; }
.qtip:not(.ie9haxors) div.qtip-content, .qtip:not(.ie9haxors) div.qtip-titlebar { filter: none; }
.field-name-field-cover img, .views-field-field-cover img { height: 100%; }
body { background-color: rgb(255, 255, 255); margin: 0px; padding: 0px; font-family: Georgia,"Times New Roman",Times,serif ! important; }
body header { position: relative; }
h1 { font-family: Georgia,"Times New Roman",Times,serif; color: rgb(108, 123, 142); font-size: 28px; font-weight: normal; line-height: 30px; }
#block-jhup-branding-banner { text-align: center; }
#block-menu-menu-division-menu .menu > li > a { display: block; padding: 20px 15px; position: relative; }
#block-menu-menu-division-menu .menu { list-style: outside none none; }
#block-menu-menu-division-menu ul.menu { margin: 0px; padding: 0px; display: flex; }
#block-menu-menu-division-menu ul.menu li.leaf { list-style: outside none none; padding: 0px; }
#block-menu-menu-division-menu ul.menu li { background: rgb(0, 94, 184) none repeat scroll 0% 0%; margin: 0px 2px 0px 0px; flex: 1 1 0%; text-align: center; }
#block-menu-menu-division-menu ul.menu li.last { margin: 0px; }
#block-menu-menu-division-menu ul.menu li a { color: rgb(255, 255, 255); text-align: center; font-family: "Droid Serif",serif; font-size: 28px; padding: 0.5em; }
#block-menu-menu-division-menu ul.menu li a:hover { background: rgb(30, 54, 108) none repeat scroll 0% 0%; text-decoration: none; }
.hamburger { background: transparent none repeat scroll 0% 0%; position: absolute; top: 0px; right: 0px; line-height: 45px; padding: 0px 15px; color: rgb(38, 52, 108); border: 0px none; font-size: 3.4em; font-weight: bold; cursor: pointer; outline: medium none; z-index: 2147483647; }
.cross { background: transparent none repeat scroll 0% 0%; position: absolute; right: 250px; padding: 0px 15px; color: rgb(255, 255, 255); border: 0px none; font-size: 3em; line-height: 65px; font-weight: bold; cursor: pointer; outline: medium none; z-index: 2147483647; font-family: "Open Sans"; display: none; }
.hamburger_menu { z-index: 1000000; width: 300px; background: rgb(38, 52, 108) none repeat scroll 0% 0%; text-align: center; border: 1px solid rgb(38, 52, 108); position: absolute; top: 0px; bottom: 0px; right: 0px; display: none; }
.hamburger_menu ul { margin: 40px 0px 0px; padding: 0px; list-style-type: none; list-style-image: none; font-family: "Open Sans"; }
.hamburger_menu li { display: block; padding: 15px 0px; }
.hamburger_menu li:hover { display: block; background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 15px 0px; }
.hamburger_menu ul li a { text-decoration: none; margin: 0px; color: rgb(255, 255, 255); }
.hamburger_menu ul li a:hover { color: rgb(38, 52, 108); text-decoration: none; }
.hamburger_menu a { text-decoration: none; color: white; }
.hamburger_menu a:hover { text-decoration: none; color: rgb(38, 52, 108); }
body.branding-jhup footer { border-top: medium none; }
footer .region-footer-bottom #block-jhup-branding-footer .jhu { background: rgb(78, 78, 77) none repeat scroll 0% 0%; margin: 0px auto 3em; padding: 0px; border-top: medium none; height: 45px; }
footer .region-footer-bottom #block-jhup-branding-footer .jhu p { padding: 1em; color: rgb(255, 255, 255); text-align: center; }
footer .region-footer-bottom .jhu img { float: right; position: relative; top: -2px; }
/* ::::: https://fonts.googleapis.com/css?family=Open+Sans ::::: */

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('k88pr3goawt7btt32z01m4x0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('rjgo7rytmqivp7vzi-q5uyx0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('lwcjsqkb6emdfhrevqa1kyx0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('xozscpt2726on7jbcb_paox0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('59zrklao5bwgqf5a9baeeyx0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('u-wuoqret9fueobqw7jkryx0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('cjzkeoubrn4kerxqtauh3zbw1xu1rkptjj_0jans920.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
