/* ::::: https://uti.degreeworks.suny.edu/DGW_Style.css ::::: */

html > body { font-size: small; }
.FooterBackground { background-color: rgb(29, 85, 160); }
.Foot { font-family: verdana,helvetica,helvetica,arial,sans-serif; font-size: 8pt; color: rgb(255, 255, 255); }
