/* ::::: https://uti.degreeworks.suny.edu/DGW_Style.css ::::: */

html > body { font-size: small; }
a { background: transparent none repeat scroll 0% 0%; text-decoration: none; color: rgb(0, 54, 89); }
a:link { background: transparent none repeat scroll 0% 0%; text-decoration: none; }
a:visited { background: transparent none repeat scroll 0% 0%; text-decoration: none; }
a:active { background: transparent none repeat scroll 0% 0%; text-decoration: none; }
a:hover { background: transparent none repeat scroll 0% 0%; text-decoration: underline; }
.TabBody { font-family: Tahoma,verdana,helvetica,helvetica,arial,sans-serif; background-color: rgb(255, 255, 255); }
#divnavigation { float: left; width: 100%; background: rgb(255, 255, 255) url('bg.gif') repeat-x scroll center bottom; line-height: normal; margin: 0px; }
#navigation { font: bold 12px Tahoma,Geneva,sans-serif; letter-spacing: 0.08em; margin: 0px; padding: 0px; }
#navigation a { color: rgb(117, 117, 117); background: rgb(239, 239, 239) url('left-tab.gif') no-repeat scroll left top; text-decoration: none; padding-left: 10px; border-bottom: 1px solid rgb(183, 186, 188); }
#navigation a span { background: transparent url('right-tab.gif') no-repeat scroll right top; padding-top: 5px; padding-bottom: 5px; padding-right: 10px; }
#navigation a, #navigation a span { display: block; float: left; list-style: outside none none; }
#navigation a, #navigation a span { float: none; }
.selected { color: rgb(71, 71, 71); }
#navigation .selected a { color: rgb(71, 71, 71); background: rgb(255, 255, 255) url('left-tab-hover.gif') no-repeat scroll left top; padding-left: 10px; border-bottom: 1px solid rgb(255, 255, 255); }
#navigation .selected span { background: transparent url('right-tab-hover.gif') no-repeat scroll right top; padding-right: 10px; }
#navigation li { list-style: outside none none; float: left; margin: 0px 0px 0px 8px; }
