/* ::::: https://plus.google.com/_/scs/apps-static/_/ss/k=oz.sbw_bss.5xvl9mh3m0y.L.F4.O/d=0/rs=AGLTcCPuD7aQgHSsBeZuzAIO81EPdt6azA ::::: */

.eGFnrc { position: relative; }
.G-q-O-ab::after { content: ""; background: transparent url('close-x.png') repeat scroll 0% 0%; position: absolute; height: 11px; width: 11px; right: 17px; }
.Vzc { font: 13px Roboto,arial,sans-serif; margin: 0px; }
#notify-widget-pane { pointer-events: none; position: fixed; width: 100%; z-index: 1111; }
.Kza::after, .Kza::before { top: 100%; border: medium solid transparent; content: ""; height: 0px; left: 50%; position: absolute; pointer-events: none; width: 0px; }
.Kza::after { border-color: white rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); border-width: 5px; margin-left: -5px; }
.Kza::before { border-color: rgb(170, 170, 170) rgba(170, 170, 170, 0) rgba(170, 170, 170, 0); border-width: 6px; margin-left: -6px; }
* html .d-k-l, :first-child + html .d-k-l { display: inline; }
.Rzc { padding: 118px 0px; font: 16px Roboto,arial,sans-serif; color: rgb(170, 170, 170); text-align: center; background-color: rgb(229, 229, 229); }
.Tzc { height: 32px; width: 32px; margin: 0px auto; }
.Szc { padding-top: 40px; }
