body { padding: 0px; margin: 0px; }
.gplus div { vertical-align: middle ! important; }
#b-navbar { white-space: nowrap; color: rgb(204, 204, 204); height: 29px; border-bottom: 1px solid rgb(0, 0, 0); background: transparent none repeat scroll 0% 0%; font-size: 13px; font-family: Arial,sans-serif; position: relative; }
#b-navbar #b-navbar-bg { position: absolute; left: 0px; top: 0px; width: 100%; height: 30px; z-index: -1; background-color: rgb(0, 0, 0); opacity: 0.4; }
#b-navbar .navbar-right { text-align: right; padding-right: 5px; }
#b-navbar-controls { margin-left: 0.2em; height: 29px; }
#b-navbar #b-navbar-logo { display: block; margin-right: 8px; margin-left: 8px; width: 20px; height: 20px; background: transparent url('icons_gray.png') no-repeat scroll -26px 0px; cursor: pointer; }
#b-navbar #b-query-box { background-color: rgb(255, 255, 255); margin: 0px 0.5em 0px 0px; border: 1px solid rgb(0, 17, 68); border-radius: 3px; padding: 0px 0.3em; }
#b-navbar #b-query-icon { display: block; width: 13px; height: 13px; cursor: pointer; background: transparent url('icons_gray.png') no-repeat scroll 0px 0px; }
#b-navbar #b-query-icon:hover { background: transparent url('icons_gray.png') no-repeat scroll -13px 0px; }
#b-navbar #b-query { font-size: 13px; color: rgb(0, 0, 0); background-color: transparent; border: medium none; width: 10em; margin: 0px; }
#b-navbar .b-link, #b-navbar #b-user { display: inline-block; font-size: 13px; vertical-align: middle; padding: 2px 0.4em; }
#b-navbar .b-link { color: rgb(221, 221, 221); text-decoration: none; white-space: nowrap; cursor: pointer; }
#b-navbar .b-link:hover { color: rgb(255, 255, 255); text-decoration: underline; }
#b-navbar #b-more span.arrow { background: transparent url('arrows-dark.png') no-repeat scroll -12px center; display: inline-block; width: 7px; height: 10px; }
#b-navbar #b-more:hover span.arrow { background: transparent url('arrows-dark.png') no-repeat scroll 0px center; }
.b-mobile { display: none; }
#b-sms { margin: 0px 0px 0px 100px; padding: 4px 7px; line-height: 1em; font-size: 100%; text-align: left; }
#b-sms a { margin-right: 0.5em; line-height: 1em; }
#b-sms a:hover { text-decoration: underline; }
