/* ::::: http://ojs.library.queensu.ca/lib/pkp/styles/pkp.css ::::: */

/* ::::: http://ojs.library.queensu.ca/lib/pkp/styles/lib/jqueryUi/jqueryUi.css ::::: */

.ui-helper-clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
button.ui-button::-moz-focus-inner { border: 0px none; padding: 0px; }
/* ::::: http://ojs.library.queensu.ca/lib/pkp/styles/lib/jquery.pnotify.default.css ::::: */

/* ::::: http://ojs.library.queensu.ca/lib/pkp/styles/common.css ::::: */

body { margin: 0px; padding: 0px; background-color: rgb(251, 251, 243); color: rgb(17, 17, 17); font-family: Verdana,Arial,Helvetica,sans-serif; text-align: center; }
div { text-align: left; }
p { margin: 1em 0px; }
table { border: 0px none; border-spacing: 0px; font-size: 1em; }
form { margin: 0px; }
a { text-decoration: underline; }
ul { margin: 0.25em 0px 0.75em; padding: 0px 0px 0px 2.5em; }
label {  }
input.textField, select.selectMenu, textarea.textArea, input.uploadField { background-color: rgb(240, 240, 232); color: rgb(0, 0, 0); font-family: Verdana,Arial,Helvetica,sans-serif; border-width: 2px; border-style: solid; border-color: rgb(102, 102, 102) rgb(232, 232, 225) rgb(232, 232, 225) rgb(102, 102, 102); font-size: 1em; }
input.button { padding-left: 0.5em; padding-right: 0.5em; background-color: rgb(232, 232, 225); font-size: 1em; }
#container { width: 100% ! important; min-width: 730px ! important; margin: 0px auto; text-align: center; }
#header { width: 100%; text-align: center; }
#headerTitle { text-align: left ! important; margin: 0px auto; padding: 0px; width: 100%; }
#header h1 { margin: 0px auto; padding: 0.5em 0px 0.25em 10%; font-family: Georgia,"Times New Roman",Times,serif; font-weight: normal; }
#main { padding: 0.5em 0em 2em; }
#main h2 { margin: 0em 1em 0.5em 0em; padding-top: 0.5em; font-family: Georgia,"Times New Roman",Times,serif; font-weight: normal; }
#navbar { margin-right: 0px; padding-bottom: 0.5em; border-bottom: 2px dotted rgb(0, 0, 0); }
#breadcrumb { padding-top: 1em; font-size: 0.7em; }
#content { margin: 0px; padding: 0.5em 0px 0px; font-size: 0.7em; border-top: 2px dotted rgb(0, 0, 0); }
#content h4 { margin: 0.75em 1em 0.25em 0em; font-family: Georgia,"Times New Roman",Times,serif; font-weight: normal; font-size: 1.5em; }
#breadcrumb a { text-decoration: none; }
#breadcrumb a.current { font-weight: bold; }
ul.menu { margin: 0px; padding: 0px; }
ul.menu li { margin: 0px; padding: 0px 1.5em 0px 0px; display: inline; }
ul.menu a { font-size: 0.85em; text-transform: uppercase; text-decoration: none; }
/* ::::: http://ojs.library.queensu.ca/styles/common.css ::::: */

/* ::::: http://ojs.library.queensu.ca/lib/pkp/styles/themes/default/pnotify.css ::::: */

/* ::::: http://ojs.library.queensu.ca/lib/pkp/styles/themes/default/notificationIcons.css ::::: */

a:link { color: rgb(51, 119, 85); }
a:active { color: rgb(34, 85, 51); }
a:visited { color: rgb(51, 119, 85); }
a:hover { color: rgb(34, 85, 51); background: rgb(204, 221, 204) none repeat scroll 0% 0%; }
#header { background-color: rgb(170, 187, 170); }
#main { width: 80%; margin: 0px auto; }
#navbar a { font-size: 0.65em; letter-spacing: 0.05em; }
#announcements { width: 100%; }
table.announcements { width: 100%; }
table.announcements td { padding: 0.25em 0.5em; }
table.announcements td.endseparator { border-top: 1px dotted rgb(0, 0, 0); font-size: 0.25em; line-height: 10%; }
table.announcements td.separator { border-top: 1px dotted rgb(221, 221, 208); font-size: 0.1em; line-height: 1%; }
table.announcements tr.intro {  }
table.announcements td.intro {  }
table.announcements tr.title { vertical-align: top; }
table.announcements td.title { width: 85%; }
table.announcements td.title h4 {  }
table.announcements tr.description { vertical-align: top; }
table.announcements td.description { width: 85%; }
table.announcements tr.details { vertical-align: bottom; }
table.announcements td.posted { padding-top: 1em; font-style: italic; }
table.announcements td.more { width: 15%; text-align: right; }
/* ::::: http://ojs.library.queensu.ca/styles/compiled.css ::::: */

.pkp_helpers_underline::after { border-bottom: 2px solid white; content: " "; display: block; }
a.sprite.pkp_common_disabled::before { cursor: default; }
a.sprite::before { content: " "; display: inline-block; vertical-align: middle; width: 24px; height: 24px; background: transparent url('sprites.png') no-repeat scroll 0% 0%; cursor: pointer; }
a.sprite.notify::before { margin-right: 4px; background-position: -24px 0px; }
a.sprite.notify:hover::before { background-position: -24px -24px; }
a.sprite.overdue::before { margin-right: 4px; background-position: -48px 0px; }
a.sprite.overdue:hover::before { background-position: -48px -24px; }
a.sprite.settings::before { background-position: -408px 0px; }
a.sprite.settings:hover::before { background-position: -408px -24px; }
a.sprite.upgrade::before { background-position: -168px 0px; }
a.sprite.upgrade:hover::before { background-position: -168px -24px; }
a.sprite.information::before { background-position: -194px 0px; }
a.sprite.information:hover::before { background-position: -194px -24px; }
a.sprite.more_info::before { margin-right: 4px; background-position: -456px 0px; }
a.sprite.more_info:hover::before { background-position: -456px -24px; }
a.sprite.disable::before { background-position: -432px 0px; }
a.sprite.disable:hover::before { background-position: -432px -24px; }
a.sprite.delete::before { background-position: -432px 0px; }
a.sprite.delete:hover::before { background-position: -432px -24px; }
a.sprite.edit::before { background-position: -240px 0px; }
a.sprite.edit:hover::before { background-position: -240px -24px; }
a.sprite.participants::before { background-position: -314px 0px; }
a.sprite.participants:hover::before { background-position: -314px -24px; }
a.sprite.wrench::before { background-position: -338px 0px; }
a.sprite.wrench:hover::before { background-position: -338px -24px; }
a.sprite.notes::before { background-position: -264px 0px; }
a.sprite.notes:hover::before { background-position: -264px -24px; }
a.sprite.notes_new::before { background-position: -1224px 0px; }
a.sprite.notes_new:hover::before { background-position: -1224px -24px; }
a.sprite.notes_none::before { background-position: -1200px 0px; }
a.sprite.notes_none:hover::before { background-position: -1200px -24px; }
a.sprite.add::before { margin-right: 4px; background-position: -504px 0px; }
a.sprite.add:hover::before { background-position: -504px -24px; }
a.sprite.add_user::before { margin-right: 4px; background-position: -528px 0px; }
a.sprite.add_user:hover::before { background-position: -528px -24px; }
a.sprite.add_category::before { margin-right: 4px; background-position: -552px 0px; }
a.sprite.add_category:hover::before { background-position: -552px -24px; }
a.sprite.add_item::before { margin-right: 4px; background-position: -576px 0px; }
a.sprite.add_item:hover::before { background-position: -576px -24px; }
a.sprite.remove_item::before { background-position: -600px 0px; margin-top: 8px; }
a.sprite.remove_item:hover::before { background-position: -600px -24px; margin-top: 8px; }
a.sprite.decline::before { margin-right: 4px; background-position: -624px 0px; }
a.sprite.decline:hover::before { background-position: -624px -24px; }
a.sprite.advance::before { margin-right: 4px; background-position: -648px 0px; }
a.sprite.advance:hover::before { background-position: -648px -24px; }
a.sprite.promote::before { margin-right: 4px; background-position: -672px 0px; }
a.sprite.promote:hover::before { background-position: -672px -24px; }
a.sprite.revisions::before { margin-right: 4px; background-position: -696px 0px; }
a.sprite.revisions:hover::before { background-position: -696px -24px; }
a.sprite.resubmit::before { margin-right: 4px; background-position: -720px 0px; }
a.sprite.resubmit:hover::before { background-position: -720px -24px; }
a.sprite.add_item_small::before { height: 14px; margin-right: 4px; background-position: -744px -5px; }
a.sprite.add_item_small:hover::before { background-position: -744px -29px; }
a.sprite.enroll_user::before { margin-right: 4px; background-position: -768px 0px; }
a.sprite.enroll_user:hover::before { background-position: -768px -24px; }
a.sprite.user_search::before { margin-right: 4px; background-position: -792px 0px; }
a.sprite.user_search:hover::before { background-position: -792px -24px; }
a.sprite.import::before { margin-right: 4px; background-position: -816px 0px; }
a.sprite.import:hover::before { background-position: -816px -24px; }
a.sprite.pdf::before { margin-right: 4px; background-position: -840px 0px; }
a.sprite.pdf:hover::before { background-position: -840px -24px; }
a.sprite.html::before { margin-right: 4px; background-position: -864px 0px; }
a.sprite.html:hover::before { background-position: -864px -24px; }
a.sprite.word::before { margin-right: 4px; background-position: -888px 0px; }
a.sprite.word:hover::before { background-position: -888px -24px; }
a.sprite.image::before { margin-right: 4px; background-position: -912px 0px; }
a.sprite.image:hover::before { background-position: -912px -24px; }
a.sprite.excel::before { margin-right: 4px; background-position: -936px 0px; }
a.sprite.excel:hover::before { background-position: -936px -24px; }
a.sprite.default::before { margin-right: 4px; background-position: -960px 0px; }
a.sprite.default:hover::before { background-position: -960px -24px; }
a.sprite.zip::before { margin-right: 4px; background-position: -984px 0px; }
a.sprite.zip:hover::before { background-position: -984px -24px; }
a.sprite.warning::before { margin-right: 4px; background-position: -1008px 0px; }
a.sprite.warning:hover::before { background-position: -1008px -24px; }
a.sprite.add_role::before { margin-right: 4px; background-position: -1032px 0px; }
a.sprite.add_role:hover::before { background-position: -1032px -24px; }
a.sprite.star_highlighted::before { margin-right: 4px; background-position: -1056px 0px; }
a.sprite.star_highlighted:hover::before { background-position: -1056px -24px; }
a.sprite.star::before { margin-right: 4px; background-position: -1080px 0px; }
a.sprite.star:hover::before { background-position: -1080px -24px; }
a.sprite.cross::before { margin-right: 4px; background-position: -1104px 0px; }
a.sprite.cross:hover::before { background-position: -1104px -24px; }
a.sprite.feature::before { margin-right: 4px; background-position: -1128px 0px; }
a.sprite.feature:hover::before { background-position: -1128px -24px; }
a.sprite.list_view::before { margin-right: 4px; background-position: -1152px 0px; }
a.sprite.list_view:hover::before { background-position: -1152px -24px; }
a.sprite.grid_view::before { margin-right: 4px; background-position: -1176px 0px; }
a.sprite.grid_view:hover::before { background-position: -1176px -24px; }
a.sprite.reset_default::before { margin-right: 4px; background-position: -1248px 0px; }
a.sprite.reset_default:hover::before { background-position: -1248px -24px; }
a.sprite.send_production::before { margin-right: 4px; background-position: -1272px 0px; }
a.sprite.send_production:hover::before { background-position: -1272px -24px; }
a.sprite.order_items::before { margin-right: 4px; background-position: -1296px 0px; }
a.sprite.order_items:hover::before { background-position: -1296px -24px; }
a.sprite.return::before { margin-right: 4px; background-position: -1320px 0px; }
a.sprite.return:hover::before { background-position: -1320px -24px; }
a.sprite.release::before { margin-right: 4px; background-position: -1368px 0px; }
a.sprite.release:hover::before { background-position: -1368px -24px; }
a.sprite.release_highlighted::before { margin-right: 4px; background-position: -1392px 0px; }
a.sprite.release_highlighted:hover::before { background-position: -1392px -24px; }
a.sprite.collapse_all::before { margin-right: 4px; background-position: -1416px 0px; }
a.sprite.collapse_all:hover::before { background-position: -1416px -24px; }
a.sprite.expand_all::before { margin-right: 4px; background-position: -1440px 0px; }
a.sprite.expand_all:hover::before { background-position: -1440px -24px; }
a.sprite.expanded::before { margin-right: 4px; background-position: -1464px 0px; }
a.sprite.expanded:hover::before { background-position: -1464px -24px; }
a.sprite.collapsed::before { margin-right: 4px; background-position: -1488px 0px; }
a.sprite.collapsed:hover::before { background-position: -1488px -24px; }
a.sprite.manage::before { margin-right: 4px; background-position: -1512px 0px; }
a.sprite.manage:hover::before { background-position: -1512px -24px; }
a.sprite.merge_users::before { margin-right: 4px; background-position: -312px 0px; }
a.sprite.merge_users:hover::before { background-position: -312px -24px; }
.category.delete::before { margin-left: 5px; background-position: -1008px 0px; }
.category.delete:hover::before { background-position: -1008px -24px; }
.category.pdf::before, .category.html::before, .category.word::before, .category.image::before, .category.excel::before, .category.default::before, .category.zip::before { margin-left: 10px; margin-top: 0px; }
.pkp_form ul.checkbox_and_radiobutton::after { content: "."; display: block; clear: both; visibility: hidden; height: 0px; overflow: hidden; }
div.pkp_controllers_grid .options a::before { margin-left: 20px; }
div.pkp_controllers_grid .row_actions a::before { margin: 8px; }
#reportGeneratorContainer .pkp_form .optionalColumn::after { content: "*"; }
/* ::::: http://ojs.library.queensu.ca/styles/sidebar.css ::::: */

#sidebar div.block { font-size: 1em; padding-bottom: 1.5em; }
#sidebar div.block span.blockTitle { display: block; padding: 0.5em 0px; font-size: 1em; letter-spacing: 0.1em; text-transform: uppercase; }
#sidebar div.block span.blockSubtitle { display: block; padding: 0px; }
#sidebar input.textField, #sidebar select.selectMenu, #sidebar input.button { font-size: 1em; }
/* ::::: http://ojs.library.queensu.ca/styles/leftSidebar.css ::::: */

#headerTitle { width: 100%; }
#body { vertical-align: top; height: 100%; }
#main { float: right; width: 63%; margin-right: 10%; overflow: hidden; }
/* ::::: http://ojs.library.queensu.ca/styles/rightSidebar.css ::::: */

#headerTitle { text-align: center; width: 100%; }
#body { width: 100%; }
#rightSidebar { float: right; width: 14%; padding: 1em 0em; font-size: 0.65em; height: 100%; margin-right: 10%; margin-left: 2%; }
#main { float: left; width: 63%; margin-left: 10%; display: inline; overflow: hidden; }
/* ::::: http://ojs.library.queensu.ca/styles/bothSidebars.css ::::: */

#main { position: relative; float: left; width: 47%; margin-left: 0px; margin-right: 0px ! important; display: inline; overflow: hidden; }
#body { width: 100%; }
/* ::::: http://ojs.library.queensu.ca/public/journals/6/journalStyleSheet.css ::::: */

body { background-color: rgb(255, 255, 255); }
a:link { color: rgb(45, 88, 154); text-decoration: none; }
a:visited { color: rgb(45, 88, 154); }
a:hover, a:focus { background: transparent none repeat scroll 0% 0%; text-decoration: underline; }
#header { background-color: rgb(45, 88, 154); }
#header h1 { padding: 0px; text-align: center; }
#body { width: 1015px; margin: 0px auto; font-family: Georgia,"Times New Roman",Times,serif; padding-left: 10px; }
#navbar { border-bottom: medium none; background-color: rgb(66, 66, 66); font-family: Georgia,"Times New Roman",Times,serif; padding: 0px; }
#breadcrumbContainer { background-color: rgb(222, 223, 224); }
#breadcrumb { width: 1015px; margin: 0px auto; padding-bottom: 1em; padding-left: 7px; }
#breadcrumb a { color: rgb(0, 0, 0); }
#breadcrumb a:hover, #breadcrumb a:focus { text-decoration: underline; }
#navbar .menu { width: 1015px; margin: 0px auto; padding: 10px 0px; overflow: hidden; }
#navbar ul.menu li { padding-right: 1.25em; }
#navbar .menu a { color: rgb(255, 255, 255); padding: 15px 5px; text-transform: none; font-size: 0.8em; }
#navbar .menu a:hover, #navbar .menu a:focus { background-color: rgb(81, 81, 81); }
#content { border-top: medium none; font-size: 0.85em; color: rgb(66, 66, 66); }
#main { width: 100%; max-width: 725px; display: block; margin-left: 0px; }
#main h2 {  }
#sidebar { float: right; width: 250px; }
#rightSidebar { float: none; margin: 0px; width: 100%; padding: 6em 0px 1em; }
#pageFooter { clear: both; background-color: rgb(222, 223, 224); margin-top: 5em; }
#pageFooterContent { width: 1015px; margin: 0px auto; padding: 5em 0px; font-family: Georgia,"Times New Roman",Times,serif; font-size: 0.7em; }
.block { font-family: sans-serif; }
#customblock-Links a { font-family: Georgia,"Times New Roman",Times,serif; font-size: 2em; }
table.announcements td.headseparator, table.announcements td.separator, table.announcements td.endseparator { border-top: 1px solid rgb(222, 223, 224); }
/* ::::: http://ojs.library.queensu.ca/plugins/blocks/languageToggle/styles/languageToggle.css ::::: */

#sidebarLanguageToggle label { float: left; width: 100%; }
#languageSelect { float: left; clear: both; }
.at-icon { fill: rgb(255, 255, 255); border: 0px none; }
.at-icon-wrapper { display: inline-block; overflow: hidden; }
a .at-icon-wrapper { cursor: pointer; }
#_atssh { width: 1px ! important; height: 1px ! important; border: 0px none ! important; }
@media screen and (max-width: 400px) {
}
@media screen and (max-height: 700px) and (max-width: 400px) {
}
.at-branding-info::before { content: "i"; font-family: Times New Roman; }
#at-drawer.at4-recommended .at4-recommended-vertical .at4-recommended-item .at4-recommended-item-img a::after { content: ""; position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; background: rgba(0, 0, 0, 0.65) none repeat scroll 0% 0%; z-index: 1000000; transition: all 0.2s ease-in-out 0s; }
#at-drawer.at4-recommended .at4-recommended-vertical .at4-recommended-item.at-hover .at4-recommended-item-img a::after { background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%; }
.at4-jumboshare .at-share-btn::-moz-focus-inner { border: 0px none; padding: 0px; }
.at-share-btn::-moz-focus-inner { border: 0px none; padding: 0px; }
@media screen and (max-width: 900px) {
}
.at-recommendedjumbo-footer #bg-link::after { content: ""; position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; background: rgba(0, 0, 0, 0.75) none repeat scroll 0% 0%; }
.at-recommendedjumbo-footer:hover #bg-link::after { background: rgba(0, 0, 0, 0.85) none repeat scroll 0% 0%; }
.at-recommendedjumbo-footer *, .at-recommendedjumbo-footer *::after, .at-recommendedjumbo-footer *::before { box-sizing: border-box; }
.at-resp-share-element::after, .at-resp-share-element::before { content: " "; display: table; }
.at-resp-share-element .at-share-btn::-moz-focus-inner { border: 0px none; padding: 0px; }
.at-share-tbx-element { position: relative; margin: 0px; color: rgb(255, 255, 255); font-size: 0px; }
.at-share-tbx-element, .at-share-tbx-element .at-share-btn { font-family: helvetica neue,helvetica,arial,sans-serif; padding: 0px; line-height: 0; }
.at-share-tbx-element .at-share-btn { cursor: pointer; margin: 0px 5px 5px 0px; display: inline-block; overflow: hidden; border: 0px none; text-decoration: none; text-transform: none; background-color: transparent; color: inherit; transition: all 0.2s ease-in-out 0s; }
.at-share-tbx-element .at-share-btn:focus, .at-share-tbx-element .at-share-btn:hover { transform: translateY(-4px); outline-offset: -1px; color: inherit; }
.at-share-tbx-element .at-share-btn::-moz-focus-inner { border: 0px none; padding: 0px; }
.at-share-tbx-element .at-share-btn.at-share-btn.at-svc-compact:hover { transform: none; }
.at-share-tbx-element .at-icon-wrapper { vertical-align: middle; }
.at_flat_counter::after { top: 30%; left: -4px; content: ""; position: absolute; border-width: 5px 8px 5px 0px; border-style: solid; border-color: transparent rgb(235, 235, 235) transparent transparent; display: block; width: 0px; height: 0px; }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}
.at-expanding-share-button[data-position="bottom-right"] .at-expanding-share-button-toggle-bg, .at-expanding-share-button[data-position="bottom-right"] .at-expanding-share-button-toggle-btn[data-name]::after, .at-expanding-share-button[data-position="bottom-right"] .at-icon-wrapper, .at-expanding-share-button[data-position="bottom-right"] [data-name]::after { float: right; }
.at-expanding-share-button[data-position="bottom-right"] [data-name]::after { margin-right: 10px; }
.at-expanding-share-button[data-position="bottom-right"] .at-expanding-share-button-toggle-btn[data-name]::after { margin-right: 5px; }
.at-expanding-share-button[data-position="bottom-left"] .at-expanding-share-button-toggle-bg, .at-expanding-share-button[data-position="bottom-left"] .at-expanding-share-button-toggle-btn[data-name]::after, .at-expanding-share-button[data-position="bottom-left"] .at-icon-wrapper, .at-expanding-share-button[data-position="bottom-left"] [data-name]::after { float: left; }
.at-expanding-share-button[data-position="bottom-left"] [data-name]::after { margin-left: 10px; }
.at-expanding-share-button[data-position="bottom-left"] .at-expanding-share-button-toggle-btn[data-name]::after { margin-left: 5px; }
.at-expanding-share-button *, .at-expanding-share-button *::after, .at-expanding-share-button *::before { box-sizing: border-box; }
.at-expanding-share-button .at-expanding-share-button-toggle-btn.at-expanding-share-button-hidden[data-name]::after { display: none; }
.at-expanding-share-button [data-name]::after { box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3); transform: translate(0px, -50%); transition: all 0.4s ease 0s; background-color: rgb(255, 255, 255); border-radius: 3px; color: rgb(102, 102, 102); content: attr(data-name); font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 9pt; line-height: 9pt; font-weight: 500; opacity: 0; padding: 3px 5px; position: relative; top: 20px; white-space: nowrap; }
.at-expanding-share-button.at-expanding-share-button-animate-in [data-name]::after { opacity: 1; }
.at-expanding-share-button.at-hide-label [data-name]::after { display: none; }
.at-expanding-share-button.at-expanding-share-button-desktop .at-expanding-share-button-toggle-bg::after { box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2); transition: opacity 0.2s ease 0s; border-radius: 50%; content: ""; height: 100%; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; }
.at-expanding-share-button.at-expanding-share-button-desktop .at-expanding-share-button-toggle-bg:hover::after { opacity: 1; }
.at-expanding-share-button.at-expanding-share-button-desktop .at-expanding-share-button-toggle-btn[data-name]::after { top: 25px; }
.addthis-smartlayers, div#at4-follow, div#at4-share, div#at4-thankyou, div#at4-whatsnext { padding: 0px; margin: 0px; }
.addthis-smartlayers .at4-arrow::after, .addthis-smartlayers .at4-arrow::before { content: none; }
.at4-visually-hidden { position: absolute; clip: rect(1px, 1px, 1px, 1px); padding: 0px; border: 0px none; overflow: hidden; }
.at4-show { display: block ! important; }
.at4-show, .at4-show-content { opacity: 1 ! important; }
.addthis-animated { animation-fill-mode: both; animation-timing-function: ease-out; animation-duration: 0.3s; }
.at4win .at4win-header .at4-close::-moz-focus-inner { border: 0px none; padding: 0px; }
.at4win *::-moz-selection { background: rgb(254, 109, 76) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
