/* ::::: http://pear.accc.uic.edu/ojs/lib/pkp/styles/pkp.css ::::: */

/* ::::: http://pear.accc.uic.edu/ojs/lib/pkp/styles/lib/jqueryUi/jqueryUi.css ::::: */

.ui-helper-clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
button.ui-button::-moz-focus-inner { border: 0px none; padding: 0px; }
/* ::::: http://pear.accc.uic.edu/ojs/lib/pkp/styles/lib/jquery.pnotify.default.css ::::: */

/* ::::: http://pear.accc.uic.edu/ojs/lib/pkp/styles/common.css ::::: */

body { margin: 0px; padding: 0px; background-color: rgb(251, 251, 243); color: rgb(17, 17, 17); font-family: Verdana,Arial,Helvetica,sans-serif; text-align: center; }
div { text-align: left; }
p { margin: 1em 0px; }
table { border: 0px none; border-spacing: 0px; font-size: 1em; }
form { margin: 0px; }
a { text-decoration: underline; }
ul { margin: 0.25em 0px 0.75em; padding: 0px 0px 0px 2.5em; }
label {  }
input.textField, select.selectMenu, textarea.textArea, input.uploadField { background-color: rgb(240, 240, 232); color: rgb(0, 0, 0); font-family: Verdana,Arial,Helvetica,sans-serif; border-width: 2px; border-style: solid; border-color: rgb(102, 102, 102) rgb(232, 232, 225) rgb(232, 232, 225) rgb(102, 102, 102); font-size: 1em; }
input.button { padding-left: 0.5em; padding-right: 0.5em; background-color: rgb(232, 232, 225); font-size: 1em; }
#container { width: 100% ! important; min-width: 730px ! important; margin: 0px auto; text-align: center; }
#header { width: 100%; text-align: center; }
#headerTitle { text-align: left ! important; margin: 0px auto; padding: 0px; width: 100%; }
#header h1 { margin: 0px auto; padding: 0.5em 0px 0.25em 10%; font-family: Georgia,"Times New Roman",Times,serif; font-weight: normal; }
#main { padding: 0.5em 0em 2em; }
#main h3 { margin: 0em 1em 0.5em 0em; padding-top: 0em; font-family: Georgia,"Times New Roman",Times,serif; font-weight: normal; }
#navbar { margin-right: 0px; padding-bottom: 0.5em; border-bottom: 2px dotted rgb(0, 0, 0); }
#breadcrumb { padding-top: 1em; font-size: 0.7em; }
#content { margin: 0px; padding: 0.5em 0px 0px; font-size: 0.7em; border-top: 2px dotted rgb(0, 0, 0); }
#content h3 { margin: 0em 1em 0.25em 0em; padding-top: 0.75em; font-family: Georgia,"Times New Roman",Times,serif; font-weight: normal; font-size: 1.8em; }
#content h4 { margin: 0.75em 1em 0.25em 0em; font-family: Georgia,"Times New Roman",Times,serif; font-weight: normal; font-size: 1.5em; }
#breadcrumb a { text-decoration: none; }
#breadcrumb a.current { font-weight: bold; }
a.action, a.file { font-size: 0.85em; text-transform: uppercase; }
ul.menu { margin: 0px; padding: 0px; }
ul.menu li { margin: 0px; padding: 0px 1.5em 0px 0px; display: inline; }
ul.menu a { font-size: 0.85em; text-transform: uppercase; text-decoration: none; }
/* ::::: http://pear.accc.uic.edu/ojs/styles/common.css ::::: */

/* ::::: http://pear.accc.uic.edu/ojs/lib/pkp/styles/themes/default/pnotify.css ::::: */

/* ::::: http://pear.accc.uic.edu/ojs/lib/pkp/styles/themes/default/notificationIcons.css ::::: */

a:link { color: rgb(51, 119, 85); }
a:active { color: rgb(34, 85, 51); }
a:visited { color: rgb(51, 119, 85); }
a:hover { color: rgb(34, 85, 51); background: rgb(204, 221, 204) none repeat scroll 0% 0%; }
#header { background-color: rgb(170, 187, 170); }
#main { width: 80%; margin: 0px auto; }
#navbar a { font-size: 0.65em; letter-spacing: 0.05em; }
#announcements { width: 100%; }
#sizer a { outline: medium none; text-indent: -9999px; display: block; float: left; width: 20px; height: 23px; margin-right: 4px; margin-left: 8px; }
/* ::::: http://pear.accc.uic.edu/ojs/styles/compiled.css ::::: */

.pkp_helpers_underline::after { border-bottom: 2px solid white; content: " "; display: block; }
a.sprite.pkp_common_disabled::before { cursor: default; }
a.sprite::before { content: " "; display: inline-block; vertical-align: middle; width: 24px; height: 24px; background: transparent url('sprites.png') no-repeat scroll 0% 0%; cursor: pointer; }
a.sprite.notify::before { margin-right: 4px; background-position: -24px 0px; }
a.sprite.notify:hover::before { background-position: -24px -24px; }
a.sprite.overdue::before { margin-right: 4px; background-position: -48px 0px; }
a.sprite.overdue:hover::before { background-position: -48px -24px; }
a.sprite.settings::before { background-position: -408px 0px; }
a.sprite.settings:hover::before { background-position: -408px -24px; }
a.sprite.upgrade::before { background-position: -168px 0px; }
a.sprite.upgrade:hover::before { background-position: -168px -24px; }
a.sprite.information::before { background-position: -194px 0px; }
a.sprite.information:hover::before { background-position: -194px -24px; }
a.sprite.more_info::before { margin-right: 4px; background-position: -456px 0px; }
a.sprite.more_info:hover::before { background-position: -456px -24px; }
a.sprite.disable::before { background-position: -432px 0px; }
a.sprite.disable:hover::before { background-position: -432px -24px; }
a.sprite.delete::before { background-position: -432px 0px; }
a.sprite.delete:hover::before { background-position: -432px -24px; }
a.sprite.edit::before { background-position: -240px 0px; }
a.sprite.edit:hover::before { background-position: -240px -24px; }
a.sprite.participants::before { background-position: -314px 0px; }
a.sprite.participants:hover::before { background-position: -314px -24px; }
a.sprite.wrench::before { background-position: -338px 0px; }
a.sprite.wrench:hover::before { background-position: -338px -24px; }
a.sprite.notes::before { background-position: -264px 0px; }
a.sprite.notes:hover::before { background-position: -264px -24px; }
a.sprite.notes_new::before { background-position: -1224px 0px; }
a.sprite.notes_new:hover::before { background-position: -1224px -24px; }
a.sprite.notes_none::before { background-position: -1200px 0px; }
a.sprite.notes_none:hover::before { background-position: -1200px -24px; }
a.sprite.add::before { margin-right: 4px; background-position: -504px 0px; }
a.sprite.add:hover::before { background-position: -504px -24px; }
a.sprite.add_user::before { margin-right: 4px; background-position: -528px 0px; }
a.sprite.add_user:hover::before { background-position: -528px -24px; }
a.sprite.add_category::before { margin-right: 4px; background-position: -552px 0px; }
a.sprite.add_category:hover::before { background-position: -552px -24px; }
a.sprite.add_item::before { margin-right: 4px; background-position: -576px 0px; }
a.sprite.add_item:hover::before { background-position: -576px -24px; }
a.sprite.remove_item::before { background-position: -600px 0px; margin-top: 8px; }
a.sprite.remove_item:hover::before { background-position: -600px -24px; margin-top: 8px; }
a.sprite.decline::before { margin-right: 4px; background-position: -624px 0px; }
a.sprite.decline:hover::before { background-position: -624px -24px; }
a.sprite.advance::before { margin-right: 4px; background-position: -648px 0px; }
a.sprite.advance:hover::before { background-position: -648px -24px; }
a.sprite.promote::before { margin-right: 4px; background-position: -672px 0px; }
a.sprite.promote:hover::before { background-position: -672px -24px; }
a.sprite.revisions::before { margin-right: 4px; background-position: -696px 0px; }
a.sprite.revisions:hover::before { background-position: -696px -24px; }
a.sprite.resubmit::before { margin-right: 4px; background-position: -720px 0px; }
a.sprite.resubmit:hover::before { background-position: -720px -24px; }
a.sprite.add_item_small::before { height: 14px; margin-right: 4px; background-position: -744px -5px; }
a.sprite.add_item_small:hover::before { background-position: -744px -29px; }
a.sprite.enroll_user::before { margin-right: 4px; background-position: -768px 0px; }
a.sprite.enroll_user:hover::before { background-position: -768px -24px; }
a.sprite.user_search::before { margin-right: 4px; background-position: -792px 0px; }
a.sprite.user_search:hover::before { background-position: -792px -24px; }
a.sprite.import::before { margin-right: 4px; background-position: -816px 0px; }
a.sprite.import:hover::before { background-position: -816px -24px; }
a.sprite.pdf::before { margin-right: 4px; background-position: -840px 0px; }
a.sprite.pdf:hover::before { background-position: -840px -24px; }
a.sprite.html::before { margin-right: 4px; background-position: -864px 0px; }
a.sprite.html:hover::before { background-position: -864px -24px; }
a.sprite.word::before { margin-right: 4px; background-position: -888px 0px; }
a.sprite.word:hover::before { background-position: -888px -24px; }
a.sprite.image::before { margin-right: 4px; background-position: -912px 0px; }
a.sprite.image:hover::before { background-position: -912px -24px; }
a.sprite.excel::before { margin-right: 4px; background-position: -936px 0px; }
a.sprite.excel:hover::before { background-position: -936px -24px; }
a.sprite.default::before { margin-right: 4px; background-position: -960px 0px; }
a.sprite.default:hover::before { background-position: -960px -24px; }
a.sprite.zip::before { margin-right: 4px; background-position: -984px 0px; }
a.sprite.zip:hover::before { background-position: -984px -24px; }
a.sprite.warning::before { margin-right: 4px; background-position: -1008px 0px; }
a.sprite.warning:hover::before { background-position: -1008px -24px; }
a.sprite.add_role::before { margin-right: 4px; background-position: -1032px 0px; }
a.sprite.add_role:hover::before { background-position: -1032px -24px; }
a.sprite.star_highlighted::before { margin-right: 4px; background-position: -1056px 0px; }
a.sprite.star_highlighted:hover::before { background-position: -1056px -24px; }
a.sprite.star::before { margin-right: 4px; background-position: -1080px 0px; }
a.sprite.star:hover::before { background-position: -1080px -24px; }
a.sprite.cross::before { margin-right: 4px; background-position: -1104px 0px; }
a.sprite.cross:hover::before { background-position: -1104px -24px; }
a.sprite.feature::before { margin-right: 4px; background-position: -1128px 0px; }
a.sprite.feature:hover::before { background-position: -1128px -24px; }
a.sprite.list_view::before { margin-right: 4px; background-position: -1152px 0px; }
a.sprite.list_view:hover::before { background-position: -1152px -24px; }
a.sprite.grid_view::before { margin-right: 4px; background-position: -1176px 0px; }
a.sprite.grid_view:hover::before { background-position: -1176px -24px; }
a.sprite.reset_default::before { margin-right: 4px; background-position: -1248px 0px; }
a.sprite.reset_default:hover::before { background-position: -1248px -24px; }
a.sprite.send_production::before { margin-right: 4px; background-position: -1272px 0px; }
a.sprite.send_production:hover::before { background-position: -1272px -24px; }
a.sprite.order_items::before { margin-right: 4px; background-position: -1296px 0px; }
a.sprite.order_items:hover::before { background-position: -1296px -24px; }
a.sprite.return::before { margin-right: 4px; background-position: -1320px 0px; }
a.sprite.return:hover::before { background-position: -1320px -24px; }
a.sprite.release::before { margin-right: 4px; background-position: -1368px 0px; }
a.sprite.release:hover::before { background-position: -1368px -24px; }
a.sprite.release_highlighted::before { margin-right: 4px; background-position: -1392px 0px; }
a.sprite.release_highlighted:hover::before { background-position: -1392px -24px; }
a.sprite.collapse_all::before { margin-right: 4px; background-position: -1416px 0px; }
a.sprite.collapse_all:hover::before { background-position: -1416px -24px; }
a.sprite.expand_all::before { margin-right: 4px; background-position: -1440px 0px; }
a.sprite.expand_all:hover::before { background-position: -1440px -24px; }
a.sprite.expanded::before { margin-right: 4px; background-position: -1464px 0px; }
a.sprite.expanded:hover::before { background-position: -1464px -24px; }
a.sprite.collapsed::before { margin-right: 4px; background-position: -1488px 0px; }
a.sprite.collapsed:hover::before { background-position: -1488px -24px; }
a.sprite.manage::before { margin-right: 4px; background-position: -1512px 0px; }
a.sprite.manage:hover::before { background-position: -1512px -24px; }
a.sprite.merge_users::before { margin-right: 4px; background-position: -312px 0px; }
a.sprite.merge_users:hover::before { background-position: -312px -24px; }
.category.delete::before { margin-left: 5px; background-position: -1008px 0px; }
.category.delete:hover::before { background-position: -1008px -24px; }
.category.pdf::before, .category.html::before, .category.word::before, .category.image::before, .category.excel::before, .category.default::before, .category.zip::before { margin-left: 10px; margin-top: 0px; }
.pkp_controllers_fontController_smallFont { background: transparent url('font-down.png') repeat scroll 0% 0%; outline: medium none; text-indent: -9999px; display: block; float: left; width: 20px; height: 23px; }
.pkp_controllers_fontController_defaultFont { background: transparent url('font-default.png') repeat scroll 0% 0%; outline: medium none; text-indent: -9999px; display: block; float: left; width: 20px; height: 23px; }
.pkp_controllers_fontController_largeFont { background: transparent url('font-up.png') repeat scroll 0% 0%; outline: medium none; text-indent: -9999px; display: block; float: left; width: 20px; height: 23px; }
.pkp_form ul.checkbox_and_radiobutton::after { content: "."; display: block; clear: both; visibility: hidden; height: 0px; overflow: hidden; }
div.pkp_controllers_grid .options a::before { margin-left: 20px; }
div.pkp_controllers_grid .row_actions a::before { margin: 8px; }
/* ::::: http://pear.accc.uic.edu/ojs/styles/articleView.css ::::: */

/* ::::: http://pear.accc.uic.edu/ojs/styles/pdfView.css ::::: */

.black_overlay { display: none; position: absolute; top: 0%; left: 0%; width: 100%; height: 2000px; background-color: black; z-index: 1001; opacity: 0.7; }
#body { width: 95%; margin: 0px auto; }
#container { min-width: 150px ! important; }
#main { width: 100%; margin: 0px; }
#content { border: medium none; }
#topBar { width: 100%; padding-top: 1em; padding-bottom: 2.5em; }
.articleToolItem { margin-bottom: 3px; }
.articleToolIcon { padding-right: 5px; vertical-align: middle; }
/* ::::: http://pear.accc.uic.edu/ojs/lib/pkp/styles/rtEmbedded.css ::::: */

#main { float: left; width: 84%; display: inline; overflow: hidden; }
/* ::::: http://pear.accc.uic.edu/ojs/styles/sidebar.css ::::: */

#developedBy { text-transform: uppercase; font-size: 0.95em; }
#sidebar div.block { font-size: 1em; padding-bottom: 1.5em; }
#sidebar div.block span.blockTitle { display: block; padding: 0.5em 0px; font-size: 1em; letter-spacing: 0.1em; text-transform: uppercase; }
#sidebar div.block span.blockSubtitle { display: block; padding: 0px; }
#sidebar input.textField, #sidebar select.selectMenu, #sidebar input.button { font-size: 1em; }
/* ::::: http://pear.accc.uic.edu/ojs/styles/rightSidebar.css ::::: */

#headerTitle { text-align: center; width: 100%; }
#body { width: 100%; }
#rightSidebar { float: right; width: 14%; padding: 1em 0em; font-size: 0.65em; height: 100%; margin-right: 10%; margin-left: 2%; }
#main { float: left; width: 63%; margin-left: 10%; display: inline; overflow: hidden; }
/* ::::: http://pear.accc.uic.edu/ojs/public/journals/3/journalStyleSheet.css ::::: */

body { background-color: rgb(255, 255, 255); }
a:link { color: rgb(204, 0, 0); }
a:active { color: rgb(255, 238, 153); }
a:visited { color: rgb(119, 119, 187); }
a:hover { color: rgb(204, 0, 0); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#header { padding: 0px; margin: 0px auto; background-color: rgb(255, 255, 255); text-align: center; }
#headerTitle { width: 800px; }
#header h1 { margin: 0px auto; padding: 0.5em 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-weight: normal; }
#content h3 { font-family: Verdana,Arial,Helvetica,sans-serif; line-height: 1.35em; }
#content h4 { margin: 0em 1em 0.25em 0em; padding-top: 0.75em; font-family: Verdana,Arial,Helvetica,sans-serif; font-weight: normal; font-size: 1.5em; }
* html #at16psf input, :first-child + html #at16psf input { padding: 0px; }
#_atssh { width: 1px ! important; height: 1px ! important; border: 0px none ! important; }
@media screen and (max-width: 400px) {
}
@media screen and (max-height: 700px) and (max-width: 400px) {
}
.at-branding-info::before { content: "i"; font-family: Times New Roman; }
