/* ::::: http://www.bikebiz.com/assets/css/news.css?ts=1409575791 ::::: */

#content h2 { line-height: 28px; margin: 0px 0px 5px; border: medium none; }
#content h3 { font-size: 18px; line-height: 28px; color: rgb(51, 51, 51); font-weight: bold; margin: 0px; width: 270px; float: left; }
.articlecontent { margin: 0px 0px 11px; }
#article-content { font-size: 1.1em; margin: 11px 0px; }
#article-content p, #article-content li { font-size: 1em; }
a.paginationlink { display: block; position: absolute; width: 275px; height: 27px; font-size: 11px; line-height: 27px; color: rgb(128, 128, 128) ! important; top: 0px; }
a.paginationlink span { color: rgb(25, 25, 25) ! important; font-weight: bold; }
a.prevmonth { left: 33px; text-align: left; }
a.nextmonth { right: 33px; text-align: right; }
p.articleauthor { color: rgb(128, 128, 128); font-size: 11px; margin: 0px 0px 3px; }
/* ::::: http://www.bikebiz.com/assets/css/article.css?ts=1432026210 ::::: */

div.articleheader { padding: 0px; }
.author-image { float: left; width: 35px; margin-right: 10px; }
p.articleauthor { line-height: 16px; width: 240px; float: left; }
p.articleauthor span { color: rgb(0, 113, 188); }
p.articleauthor span.articledate { color: rgb(153, 153, 153); }
.socialbutton { display: block; float: right; height: 21px; line-height: 21px; font-size: 11px; color: rgb(153, 153, 153); margin: 0px 10px 0px 0px; text-align: center; text-decoration: none; }
.twitter-share-button, .facebook-share-button, .fb-like-container { display: block; float: right; height: 20px; line-height: 20px; margin: 1px 0px 0px; text-decoration: none; cursor: pointer; overflow: hidden; }
.email-share-button { background: transparent url('email-button.png') no-repeat scroll 0px 0px; height: 20px; width: 61px; display: block; text-indent: -999em; overflow: hidden; margin: 1px 20px 0px 0px ! important; }
a.commentsbutton { height: 25px; width: 27px; padding: 0px 2px 0px 60px; color: rgb(255, 255, 255) ! important; margin: 0px 0px 0px 20px; font-size: 1.3em; line-height: 1.6em; }
a.commentsbutton span { background: transparent url('comments-bg.png') no-repeat scroll 0px 0px; display: block; width: 30px; height: 30px; }
div.socialShare { border-top: 1px solid rgb(217, 217, 217); border-bottom: 1px solid rgb(217, 217, 217); padding-top: 5px; width: 100%; float: left; height: 35px; margin-bottom: 20px; }
div.socialShare ul li { float: left; height: 35px; padding: 5px 10px 0px; position: relative; }
a.socialite, div.socialised { float: left; }
div.socialised.facebook { margin-right: 15px; display: inline; }
div.socialised .fb-like { height: 21px; overflow: hidden; }
a.socialite.print { background: transparent url('print-button.png') no-repeat scroll 0px 0px; height: 20px; width: 61px; display: block; text-indent: -999em; overflow: hidden; margin-bottom: 10px; float: left; margin-right: 10px; }
a.email-share-button { background: transparent url('email-button.png') no-repeat scroll 0px 0px ! important; height: 20px ! important; width: 61px ! important; display: block; text-indent: -999em; overflow: hidden; margin: 1px 20px 0px 0px; }
a.print { background: transparent url('print-button.png') no-repeat scroll 0px 0px ! important; height: 20px ! important; width: 61px ! important; display: block; text-indent: -999em; overflow: hidden; margin-bottom: 10px; float: left; margin-right: 10px; }
div.articlecontent { font-size: 1.1em; float: left; width: 640px; }
div.socialised.twitter .twitter-share-button { display: inline; float: left; }
.socialised.twitter, .socialised.facebook, .socialised.googleplus, .socialised.linkedin { display: inline; }
.innews, p.articleauthor span.innews { font-size: 11px; line-height: 14px; margin: 0px 0px 10px; color: rgb(128, 128, 128); text-transform: uppercase; }
.innews span, .innews a { color: rgb(231, 69, 32) ! important; }
img.mainarticleimage { float: right; margin: 0px 0px 12px 12px; }
div.articlead, div.articlevideo { background: rgb(242, 242, 242) none repeat scroll 0% 0%; padding: 12px 0px 15px; text-align: center; margin: 5px 0px 11px; float: left; width: 100%; }
div.articlead p { font-size: 11px; line-height: 15px; margin: 0px; }
p.tags { background: rgb(242, 242, 242) none repeat scroll 0% 0%; line-height: 25px; }
p.tags span { background: transparent url('tags-bg.png') no-repeat scroll 0px 0px; display: block; height: 25px; width: 53px; float: left; color: rgb(255, 255, 255); padding: 0px 0px 0px 12px; margin: 0px 10px 0px 0px; text-transform: uppercase; }
p.tags a { text-decoration: none; }
div.otherstories { background: rgb(242, 242, 242) none repeat scroll 0% 0%; clear: both; padding: 10px; margin: 0px 0px 10px; }
div.otherstories h3 { font-size: 18px; float: none ! important; }
div.otherstories ul li { background: transparent url('orange-right-arrow.png') no-repeat scroll 0px center; border-bottom: 1px dotted rgb(207, 207, 207); height: 30px; line-height: 30px; padding: 0px 0px 0px 11px; }
div.otherstories ul li.laststory { border: medium none; }
div.otherstories ul li span.comment-count { background: transparent url('inline-comment-bubble-icon.png') no-repeat scroll right center; color: rgb(128, 128, 128); padding: 0px 16px 0px 8px; }
a.paginationlink { width: 250px ! important; overflow: hidden; }
a.article-continues, a.article-continues:visited, a.article-continues:hover { background: transparent url('down-arrow.gif') no-repeat scroll right center; color: rgb(153, 153, 153) ! important; padding: 2px 15px 0px 0px; text-decoration: none; line-height: 22px; margin: 0px 0px 5px; }
/* ::::: http://www.bikebiz.com/assets/css/fancybox.css?ts=1396277145 ::::: */

#fancybox-loading { position: fixed; top: 50%; left: 50%; width: 40px; height: 40px; margin-top: -20px; margin-left: -20px; cursor: pointer; overflow: hidden; z-index: 1104; display: none; }
#fancybox-loading div { position: absolute; top: 0px; left: 0px; width: 40px; height: 480px; background-image: url('fancybox.png'); }
#fancybox-overlay { position: absolute; top: 0px; left: 0px; width: 100%; z-index: 1100; display: none; }
#fancybox-tmp { padding: 0px; margin: 0px; border: 0px none; overflow: auto; display: none; }
#fancybox-wrap { position: absolute; top: 0px; left: 0px; padding: 20px; z-index: 1101; outline: medium none; display: none; }
#fancybox-outer { position: relative; width: 100%; height: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#fancybox-content { width: 0px; height: 0px; padding: 0px; outline: medium none; position: relative; overflow: hidden; z-index: 1102; border: 0px solid rgb(255, 255, 255); }
#fancybox-close { position: absolute; top: -15px; right: -15px; width: 30px; height: 30px; background: transparent url('fancybox.png') repeat scroll -40px 0px; cursor: pointer; z-index: 1103; display: none; }
#fancybox-left, #fancybox-right { position: absolute; bottom: 0px; height: 100%; width: 35%; cursor: pointer; outline: medium none; background: transparent url('blank.gif') repeat scroll 0% 0%; z-index: 1102; display: none; }
#fancybox-left { left: 0px; }
#fancybox-right { right: 0px; }
#fancybox-left-ico, #fancybox-right-ico { position: absolute; top: 50%; left: -9999px; width: 30px; height: 30px; margin-top: -15px; cursor: pointer; z-index: 1102; display: block; }
#fancybox-left-ico { background-image: url('fancybox.png'); background-position: -40px -30px; }
#fancybox-right-ico { background-image: url('fancybox.png'); background-position: -40px -60px; }
#fancybox-left:hover, #fancybox-right:hover { visibility: visible; }
#fancybox-left:hover span { left: 20px; }
#fancybox-right:hover span { left: auto; right: 20px; }
.fancybox-bg { position: absolute; padding: 0px; margin: 0px; border: 0px none; width: 20px; height: 20px; z-index: 1001; }
#fancybox-bg-n { top: -20px; left: 0px; width: 100%; background-image: url('fancybox-x.png'); }
#fancybox-bg-ne { top: -20px; right: -20px; background-image: url('fancybox.png'); background-position: -40px -162px; }
#fancybox-bg-e { top: 0px; right: -20px; height: 100%; background-image: url('fancybox-y.png'); background-position: -20px 0px; }
#fancybox-bg-se { bottom: -20px; right: -20px; background-image: url('fancybox.png'); background-position: -40px -182px; }
#fancybox-bg-s { bottom: -20px; left: 0px; width: 100%; background-image: url('fancybox-x.png'); background-position: 0px -20px; }
#fancybox-bg-sw { bottom: -20px; left: -20px; background-image: url('fancybox.png'); background-position: -40px -142px; }
#fancybox-bg-w { top: 0px; left: -20px; height: 100%; background-image: url('fancybox-y.png'); }
#fancybox-bg-nw { top: -20px; left: -20px; background-image: url('fancybox.png'); background-position: -40px -122px; }
#fancybox-title { font-family: Helvetica; font-size: 12px; z-index: 1102; }
/* ::::: http://www.bikebiz.com/assets/css/style.css?ts=1446745902 ::::: */

/* ::::: http://www.bikebiz.com/assets/css/reset.css ::::: */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0px; padding: 0px; }
fieldset, img, abbr, acronym { border: 0px none; }
ol, ul { list-style: outside none none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q::before, q::after { content: ""; }
/* ::::: http://www.bikebiz.com/assets/css/clearfix.css ::::: */

.clearfix::after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
html body { height: auto ! important; }
body { background: rgb(242, 242, 242) url('header-banner-bg.png') repeat-x scroll 0px 0px; color: rgb(51, 51, 51); font: 75%/1.6em Helvetica,Arial,sans-serif; }
#wrapper { margin: 0px auto; background-color: transparent; background-position: center top; background-repeat: no-repeat; }
#wrapper-liner { width: 1000px; margin: 0px auto; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.hidden { display: none; }
.left { float: left; }
strong { font-weight: bold; }
p, li { font-size: 13px; line-height: 19.5px; margin: 0px 0px 11px; }
li { margin: 0px; }
a, a:visited { color: rgb(0, 82, 159); text-decoration: none; cursor: pointer; }
a:hover { color: rgb(231, 69, 32); }
a img { margin: 0px; padding: 0px; }
.subtle { color: rgb(153, 153, 153) ! important; }
.ir::before { content: ""; display: block; width: 0px; height: 100%; }
#sponsorswrapper { width: 965px; margin: 0px auto; }
#sponsors { height: 41px; overflow: hidden; margin: 0px auto; }
.sponsors-7 li { margin: 0px 10px ! important; }
#sponsors li { float: left; margin: 0px 14px; width: 120px; }
#sponsors li a { display: block; height: 30px; margin-top: 5px; }
#sponsors li.sponsor-first { margin-left: 0px ! important; }
#sponsors li.sponsor-last { margin-right: 0px ! important; }
#topnavwrapper { height: 27px; position: relative; overflow: visible ! important; }
#topnav { height: 27px; }
#topnav li { background: transparent url('top-nav-divider.png') no-repeat scroll right center; display: block; float: left; height: 27px; outline: 0px none; }
#topnav li.lastmenuitem { background: transparent none repeat scroll 0% 0%; }
#topnav li a { background: transparent none repeat scroll 0% 0%; display: block; float: left; color: rgb(229, 229, 229); height: 27px; font-size: 11px; line-height: 27px; text-decoration: none; padding: 0px 9px; outline: 0px none; }
#topnav li a:hover, #topnav li.activetopitem a { background-color: rgb(26, 26, 26) ! important; }
#topnav li a.topmenu { background-image: url('grey-down-arrow.png'); background-position: 90% center; background-repeat: no-repeat; padding: 0px 20px 0px 9px; }
#topnav ul.submenu { background: rgb(26, 26, 26) none repeat scroll 0% 0%; height: auto; width: 130px; padding: 4px 9px 0px; position: absolute; top: 27px; z-index: 10; }
#topnav ul.submenu li { background: transparent none repeat scroll 0% 0%; height: 21px; float: none; color: rgb(136, 136, 136); }
#topnav ul.submenu li a { border-bottom: 1px solid rgb(57, 57, 57); display: inline-block; width: 130px; height: 21px; line-height: 21px; padding: 0px; }
#topnav ul.submenu li a:hover { color: rgb(231, 69, 32); }
#header { width: 1000px; margin: 0px auto; }
#header-liner { padding: 0px 20px 13px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#my-account-details { background: transparent url('my-account-header-bg.png') no-repeat scroll 0px bottom; position: absolute; top: 0px; right: 0px; width: 283px; height: 38px; padding: 8px 10px 0px 7px; z-index: 10; }
#my-account-details p { color: rgb(255, 255, 255); font-weight: bold; float: left; width: 150px; line-height: 15px; }
#my-account-details p.welcomeguest { width: 100px ! important; margin: 8px 0px 0px 5px; }
#my-account-details a { padding: 0px 11px 0px 0px; color: rgb(204, 204, 204); text-decoration: none; font-size: 11px; line-height: 14px; font-weight: normal; }
#my-account-details a.actionbutton { background: rgb(231, 69, 32) none repeat scroll 0px 0px; color: rgb(255, 255, 255); display: inline-block; float: right; font-size: 12px; font-weight: bold; line-height: 12px; margin: 4px 0px 0px 10px; padding: 5px 6px 4px; }
#my-account-details a.actionbutton:hover { color: rgb(255, 255, 255); }
#my-account-details a:hover { color: rgb(231, 69, 32); }
#header-main { height: 123px; position: relative; }
#tagline { position: absolute; left: 188px; top: 67px; }
#mediaselector { height: 30px; width: 295px; position: absolute; left: 188px; top: 85px; }
#mediaselector li { float: left; }
#mediaselector li a { display: block; height: 30px; text-indent: -9999px; overflow: hidden; }
.highlight-online #mediaselector li a { background: transparent url('media-selection-sprite-online.png') no-repeat scroll 0px 0px; }
#mediaselector li a.media-online { background-position: 0px 0px; width: 51px; }
#mediaselector li a.media-print { background-position: -51px 0px; width: 48px; }
#mediaselector li a.media-digital { background-position: -99px 0px; width: 52px; }
#mediaselector li a.media-mobile { background-position: -151px 0px; width: 56px; }
#mediaselector li a.media-email { background-position: -207px 0px; width: 48px; }
#mainnav { background: rgb(51, 51, 51) none repeat scroll 0% 0%; height: 40px; position: relative; }
#mainnav ul { width: 730px; height: 40px; }
#mainnav ul li { display: inline; height: 40px; float: left; }
#mainnav ul li a { float: left; color: rgb(255, 255, 255); display: block; padding: 0px 13px; height: 40px; line-height: 40px; font-size: 16px; text-decoration: none; font-weight: bold; background: transparent url('main-nav-divider.gif') no-repeat scroll right 11px; }
#mainnav ul li.active a, #mainnav ul li a:hover { background-color: rgb(231, 69, 32) ! important; background-image: none; }
#mainnav ul li ul { display: none; }
#searchform { background: rgb(0, 0, 0) none repeat scroll 0% 0%; width: 215px; position: absolute; top: 0px; right: 0px; height: 32px; padding: 8px 8px 0px; }
#frmsearch { width: 149px; border: 1px solid rgb(102, 102, 102); padding: 4px 8px; font-size: 11px; color: rgb(0, 0, 0); float: left; }
#frmgobutton { float: right; }
#tradebuzz { background: rgb(231, 69, 32) none repeat scroll 0% 0%; padding: 0px 16px; overflow: hidden; }
#tradebuzz p, #tradebuzz ul { color: rgb(255, 255, 255); font-size: 12px; font-weight: bold; line-height: 28px; margin: 0px; float: left; width: 928px; }
#tradebuzz p a { color: rgb(255, 255, 255); font-weight: normal; text-decoration: none; }
#tradebuzz p a:hover { text-decoration: underline ! important; }
#tradebuzz img { vertical-align: middle; margin: 0px 6px; }
#header-banner-ad { padding: 0px 20px; }
#main { width: 980px; }
#content { float: left; width: 680px; padding: 0px 0px 25px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#content-liner { padding: 13px 20px; position: relative; }
#content h2, #contentwrapper h2 { color: rgb(51, 51, 51); font-size: 28px; line-height: 30px; font-weight: bold; margin: 10px 0px ! important; }
#content h3, #contentwrapper h3 { color: rgb(51, 51, 51); font-size: 18px; font-weight: bold; line-height: 27px; }
.toolbar { background: rgb(237, 237, 237) none repeat scroll 0% 0%; border: 1px solid rgb(221, 221, 221); clear: both; margin: 0px 0px 10px; overflow: hidden; padding: 8px; }
.toolbar-header { background: transparent url('toolbar-header-bg.gif') no-repeat scroll left center; color: rgb(255, 255, 255); font-size: 1.25em; font-weight: bold; float: left; line-height: 1em; padding: 0.8em 11px 0.8em 70px; width: 110px; }
.toolbar-icon-list { float: right; width: 424px; }
.toolbar-icon-list li { display: block; float: right; height: 40px; margin-left: 8px; width: 45px; }
div.pagination { background: rgb(242, 242, 242) none repeat scroll 0% 0%; height: 27px; text-align: center; position: relative; }
a.paginationbutton { display: block; height: 19px; width: 19px; position: absolute; top: 4px; text-indent: -9999px; z-index: 2; overflow: hidden; }
a.paginationbackbutton { background: transparent url('backbutton.png') no-repeat scroll 0px 0px; left: 4px; }
a.paginationforwardbutton { background: transparent url('forwardbutton.png') no-repeat scroll 0px 0px; right: 4px; }
#sidebar { float: right; width: 300px; margin-top: 13px; }
#sidebar-jobs, #sidebar-top-stories, #page-tabs { background: rgb(230, 230, 230) none repeat scroll 0% 0%; padding: 10px; margin: 0px 0px 15px; position: relative; overflow: hidden; }
#sidebar-jobs h4, #sidebar-top-stories h4 { font-size: 22px; font-weight: bold; color: rgb(51, 51, 51); line-height: 21px; margin: 0px 0px 12px; }
#sidebar-ad-block { background: rgb(242, 242, 242) none repeat scroll 0% 0%; clear: both; position: relative; margin: 0px 0px 24px; padding: 0px 0px 15px; }
.jotw-image, .jotw-info { padding: 10px; text-align: center; }
.jotw-info a { border-top: 1px solid rgb(204, 204, 204); display: block; padding: 10px 0px 0px; margin: 10px 0px 0px; }
.jotw-detail { background: rgb(255, 255, 255) url('jotw-bg-repeat.gif') repeat-y scroll 0px 0px; min-height: 130px; padding: 0px 0px 0px 110px; position: relative; overflow: hidden; }
#sidebar-jobs .jotw-detail h4 { background: transparent url('jotw-bg.gif') no-repeat scroll 0px 0px; display: block; height: 95px; left: 0px; margin-top: -47px; overflow: hidden; position: absolute; text-indent: -9999em; top: 50%; width: 128px; }
#emailSignup, #followUsOn { clear: both; padding: 15px; background: rgb(230, 230, 230) none repeat scroll 0% 0%; margin-bottom: 15px; position: relative; float: left; }
#emailSignup h2 { background: transparent url('email-signup-bg.png') no-repeat scroll center bottom; height: 61px; width: 185px; padding: 0px 0px 0px 85px; font-weight: bold; font-family: Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 17px; line-height: 22px; margin: 0px ! important; }
#emailSignup p { margin-top: 15px; }
#partner-site-news-wrapper { background: rgb(204, 204, 204) none repeat scroll 0% 0%; padding: 18px 0px 23px 21px; clear: both; }
div.partner-site-news { background: rgb(255, 255, 255) none repeat scroll 0% 0%; height: 200px; width: 293px; padding: 11px 11px 0px; float: left; margin: 0px 6px 0px 0px; border-top: 5px solid rgb(255, 255, 255); }
div.partner-site-news img { margin: 0px 0px 5px; }
div.partner-toy-news { border-color: rgb(41, 171, 226); }
div.partner-licensing-news { border-color: rgb(63, 99, 171); }
div.partner-mcv-news { border-color: rgb(241, 15, 19); }
div.partner-site-news ul li { background: transparent url('grey-footer-right-arrow.png') no-repeat scroll 0px 3px; padding: 0px 0px 0px 12px; margin: 0px 0px 4px; }
div.partner-site-news ul li a { color: rgb(0, 82, 159); font-size: 12px; line-height: 15px; font-weight: bold; text-decoration: none; }
div.partner-site-news ul li a:hover { color: rgb(204, 204, 204); }
#footerwrapper { background: rgb(38, 38, 38) url('footer-bg.png') repeat-x scroll 0px 0px; }
#footer { width: 1000px; margin: 0px auto; padding: 0px 0px 66px; }
#footernav { height: 42px; position: relative; padding: 0px 20px; }
#footernav ul { width: 620px; height: 42px; float: left; }
#footernav ul li { background: transparent url('top-nav-divider.png') no-repeat scroll right center; display: inline-block; height: 42px; float: left; padding: 0px 7px 0px 0px; margin: 0px 6px 0px 0px; }
#footernav ul li a { display: inline; color: rgb(242, 242, 242); font-size: 11px; line-height: 43px; text-decoration: none; text-transform: uppercase; }
#footernav ul li a:hover { color: rgb(231, 69, 32); }
#footersearchform { width: 224px; position: absolute; top: 0px; right: 96px; height: 32px; padding: 10px 8px 0px; }
#frmfootersearch { width: 162px; border: 1px solid rgb(102, 102, 102); padding: 3px 8px; font-size: 11px; line-height: 11px; color: rgb(0, 0, 0); float: left; }
#frmfootergobutton { float: right; }
a.footerbacktotop { background: transparent url('top-nav-divider.png') no-repeat scroll left center; float: right; display: block; width: 70px; height: 42px; font-size: 11px; line-height: 43px; color: rgb(204, 204, 204); text-align: right; text-decoration: none; }
a.footerbacktotop:hover { color: rgb(231, 69, 32); }
img.footerarrow { position: absolute; top: -8px; right: 24px; }
#footercontent { padding: 8px 0px; }
#footerabout { background: transparent url('bike-biz-footer-logo.png') no-repeat scroll 0px 12px; float: left; width: 354px; padding: 16px 16px 0px 125px; }
#footernetwork { float: right; width: 464px; padding: 16px 16px 0px; }
#footerabout h4, #footerabout h4 a, #footernetwork h4 { color: rgb(231, 69, 32); font-size: 18px; line-height: 18px; font-weight: bold; margin: 0px 0px 10px; letter-spacing: 0.03em; }
#footerabout p { color: rgb(204, 204, 204); font-size: 12px; line-height: 18px; }
#footernetwork ul li { display: inline; }
#footernetwork ul li a { background: transparent url('grey-footer-right-arrow.png') no-repeat scroll 0px 4px; display: block; float: left; width: 139px; padding: 0px 0px 0px 12px; margin: 0px 0px 10px; color: rgb(255, 255, 255); font-size: 12px; line-height: 18px; text-decoration: none; }
#footernetwork ul li a:hover { color: rgb(231, 69, 32); }
#copyright { color: rgb(102, 102, 102); font-size: 11px; line-height: 30px; padding: 0px 20px; }
#copyright a, #copyright a:visited { color: rgb(102, 102, 102); text-decoration: none; }
#copyright a:hover { color: rgb(231, 69, 32); }
#copyright span { margin: 0px 5px; }
.googlead { float: left; margin-bottom: 10px; }
.hijack-ad { width: 1400px; height: 1400px; display: none; }
.spacer-ad { width: 300px; height: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.masthead-ad { width: 242px; height: 77px; }
.leaderboard-ad { width: 960px; height: auto; margin: auto; }
.largebutton-ad { width: 300px; height: 100px; }
.smallbutton-ad { width: 125px; height: 125px; float: left; margin: 16px 0px 0px 16px; }
.mpu-ad { width: 300px; height: 250px; }
#btn-masthead { position: absolute; right: 0px; top: 34px; width: 242px; height: 77px; }
.twitter-share-button { margin-top: 0px ! important; }
/* ::::: http://www.bikebiz.com/assets/css/ouibounce.css?ts=1427471686 ::::: */

#ouibounce-modal { font-family: "Open Sans",sans-serif; display: none; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 22; }
#ouibounce-modal .underlay { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; background-color: rgba(0, 0, 0, 0.5); cursor: pointer; animation: 0.5s ease 0s normal none 1 running fadein; }
#ouibounce-modal .modal { width: 640px; height: 525px; z-index: 1; position: absolute; margin: auto; top: 0px; right: 0px; bottom: 0px; left: 0px; border-radius: 4px; animation: 0.3s ease 0s normal none 1 running popin; }
#ouibounce-modal .modal-title { font-size: 18px; background-color: rgb(37, 37, 37); color: rgb(255, 255, 255); padding: 10px; margin: 0px; border-radius: 4px 4px 0px 0px; text-align: center; }
/* ::::: http://www.bikebiz.com/assets/css/fancybox.css?ts=1396277145 ::::: */

#fancybox-loading { position: fixed; top: 50%; left: 50%; width: 40px; height: 40px; margin-top: -20px; margin-left: -20px; cursor: pointer; overflow: hidden; z-index: 1104; display: none; }
#fancybox-loading div { position: absolute; top: 0px; left: 0px; width: 40px; height: 480px; background-image: url('fancybox.png'); }
#fancybox-overlay { position: absolute; top: 0px; left: 0px; width: 100%; z-index: 1100; display: none; }
#fancybox-tmp { padding: 0px; margin: 0px; border: 0px none; overflow: auto; display: none; }
#fancybox-wrap { position: absolute; top: 0px; left: 0px; padding: 20px; z-index: 1101; outline: medium none; display: none; }
#fancybox-outer { position: relative; width: 100%; height: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#fancybox-content { width: 0px; height: 0px; padding: 0px; outline: medium none; position: relative; overflow: hidden; z-index: 1102; border: 0px solid rgb(255, 255, 255); }
#fancybox-close { position: absolute; top: -15px; right: -15px; width: 30px; height: 30px; background: transparent url('fancybox.png') repeat scroll -40px 0px; cursor: pointer; z-index: 1103; display: none; }
#fancybox-left, #fancybox-right { position: absolute; bottom: 0px; height: 100%; width: 35%; cursor: pointer; outline: medium none; background: transparent url('blank.gif') repeat scroll 0% 0%; z-index: 1102; display: none; }
#fancybox-left { left: 0px; }
#fancybox-right { right: 0px; }
#fancybox-left-ico, #fancybox-right-ico { position: absolute; top: 50%; left: -9999px; width: 30px; height: 30px; margin-top: -15px; cursor: pointer; z-index: 1102; display: block; }
#fancybox-left-ico { background-image: url('fancybox.png'); background-position: -40px -30px; }
#fancybox-right-ico { background-image: url('fancybox.png'); background-position: -40px -60px; }
#fancybox-left:hover, #fancybox-right:hover { visibility: visible; }
#fancybox-left:hover span { left: 20px; }
#fancybox-right:hover span { left: auto; right: 20px; }
.fancybox-bg { position: absolute; padding: 0px; margin: 0px; border: 0px none; width: 20px; height: 20px; z-index: 1001; }
#fancybox-bg-n { top: -20px; left: 0px; width: 100%; background-image: url('fancybox-x.png'); }
#fancybox-bg-ne { top: -20px; right: -20px; background-image: url('fancybox.png'); background-position: -40px -162px; }
#fancybox-bg-e { top: 0px; right: -20px; height: 100%; background-image: url('fancybox-y.png'); background-position: -20px 0px; }
#fancybox-bg-se { bottom: -20px; right: -20px; background-image: url('fancybox.png'); background-position: -40px -182px; }
#fancybox-bg-s { bottom: -20px; left: 0px; width: 100%; background-image: url('fancybox-x.png'); background-position: 0px -20px; }
#fancybox-bg-sw { bottom: -20px; left: -20px; background-image: url('fancybox.png'); background-position: -40px -142px; }
#fancybox-bg-w { top: 0px; left: -20px; height: 100%; background-image: url('fancybox-y.png'); }
#fancybox-bg-nw { top: -20px; left: -20px; background-image: url('fancybox.png'); background-position: -40px -122px; }
#fancybox-title { font-family: Helvetica; font-size: 12px; z-index: 1102; }
#wrapper { margin: 0px auto; width: 1420px ! important; }
#wrapper-liner { float: left; background: rgb(255, 255, 255) none repeat scroll 0px 0px ! important; margin: 0px auto; width: 1000px; }
#footerwrapper { position: relative; width: 100%; float: left; }
#LeftPillar { display: block ! important; float: left; width: 209px ! important; }
#RightPillar { display: block ! important; float: left; width: 210px ! important; }
#header-banner-ad { padding: 0px; }
/* ::::: http://www.bikebiz.com/assets/css/silktide/dark-top.css ::::: */

.cc_banner-wrapper { z-index: 9001; position: relative; float: left ! important; }
.cc_container .cc_btn { cursor: pointer; text-align: center; font-size: 0.6em; transition: font-size 200ms ease 0s; line-height: 1em; }
.cc_container .cc_message { font-size: 14px; transition: font-size 200ms ease 0s; margin: 0px; padding: 0px; line-height: 1.5em; }
.cc_container .cc_logo { display: none; text-indent: -1000px; overflow: hidden; width: 100px; height: 22px; background-size: cover; background-image: url('cookie-consent-logo.png'); opacity: 0.9; transition: opacity 200ms ease 0s; }
.cc_container .cc_logo:hover, .cc_container .cc_logo:active { opacity: 1; }
@media screen and (min-width: 500px) {
	.cc_container .cc_btn { font-size: 0.8em; }
	.cc_container .cc_message { font-size: 14px; }
}
@media screen and (min-width: 768px) {
	.cc_container .cc_btn { font-size: 1em; }
	.cc_container .cc_message { font-size: 14px; line-height: 1em; }
}
@media screen and (min-width: 992px) {
	.cc_container .cc_message { font-size: 14px; }
}
.cc_banner-wrapper { height: 66px; float: left; }
.cc_container { padding: 15px; overflow: hidden; position: fixed; top: 0px; left: 0px; right: 0px; }
.cc_container .cc_btn { padding: 8px 10px; background-color: rgb(241, 214, 0); cursor: pointer; text-align: center; display: block; width: 33%; margin-left: 10px; float: right; max-width: 120px; }
.cc_container .cc_message { display: block; }
@media screen and (min-width: 500px) {
	.cc_container .cc_message { margin-top: 0.5em; }
}
@media screen and (min-width: 768px) {
	.cc_container { padding: 15px 30px; }
	.cc_container .cc_btn { padding: 8px 15px; }
}
.cc_container { background: rgb(78, 78, 78) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-size: 17px; font-family: "Helvetica Neue Light","HelveticaNeue-Light","Helvetica Neue",Calibri,Helvetica,Arial; box-sizing: border-box; }
.cc_container *::-moz-selection { background: rgb(255, 94, 153) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-shadow: none; }
.cc_container .cc_btn, .cc_container .cc_btn:visited { color: rgb(0, 0, 0); background-color: rgb(241, 214, 0); transition: background 200ms ease-in-out 0s, color 200ms ease-in-out 0s, box-shadow 200ms ease-in-out 0s; border-radius: 5px; }
.cc_container .cc_btn:hover, .cc_container .cc_btn:active { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); }
.cc_container a, .cc_container a:visited { text-decoration: none; color: rgb(243, 111, 33); transition: color 200ms ease 0s; }
.cc_container a:hover, .cc_container a:active { color: rgb(178, 247, 255); }
.cc_container { animation-duration: 0.8s; animation-name: slideDown; }
.cc_banner-wrapper { animation-duration: 0.8s; animation-name: growDown; }
#li_ui_li_gen_1471872892400_0 { position: relative ! important; overflow: visible ! important; display: block ! important; }
#li_ui_li_gen_1471872892400_0 span { box-sizing: content-box ! important; }
#li_ui_li_gen_1471872892400_0 a#li_ui_li_gen_1471872892400_0-link { border: 0px none ! important; height: 20px ! important; text-decoration: none ! important; padding: 0px ! important; margin: 0px ! important; display: inline-block ! important; }
#li_ui_li_gen_1471872892400_0 a#li_ui_li_gen_1471872892400_0-link:link, #li_ui_li_gen_1471872892400_0 a#li_ui_li_gen_1471872892400_0-link:visited, #li_ui_li_gen_1471872892400_0 a#li_ui_li_gen_1471872892400_0-link:hover, #li_ui_li_gen_1471872892400_0 a#li_ui_li_gen_1471872892400_0-link:active { border: 0px none ! important; text-decoration: none ! important; }
#li_ui_li_gen_1471872892400_0 a#li_ui_li_gen_1471872892400_0-link::after { content: "." ! important; display: block ! important; clear: both ! important; visibility: hidden ! important; line-height: 0 ! important; height: 0px ! important; }
#li_ui_li_gen_1471872892400_0 #li_ui_li_gen_1471872892400_0-logo { background-image: url('sprite_connect_v14.png') ! important; background-position: 0px -593px ! important; background-repeat: no-repeat ! important; background-color: rgb(0, 119, 181) ! important; background-size: initial ! important; cursor: pointer ! important; border-width: 0px 1px 0px 0px ! important; border-style: none solid none none ! important; border-color: -moz-use-text-color rgb(6, 96, 148) -moz-use-text-color -moz-use-text-color ! important; -moz-border-top-colors: none ! important; -moz-border-right-colors: none ! important; -moz-border-bottom-colors: none ! important; -moz-border-left-colors: none ! important; border-image: none ! important; text-indent: -9999em ! important; overflow: hidden ! important; padding: 0px ! important; margin: 0px ! important; position: absolute ! important; left: 0px ! important; top: 0px ! important; display: block ! important; width: 20px ! important; height: 20px ! important; float: right ! important; border-radius: 2px ! important; }
#li_ui_li_gen_1471872892400_0 #li_ui_li_gen_1471872892400_0-title { color: rgb(255, 255, 255) ! important; cursor: pointer ! important; display: block ! important; white-space: nowrap ! important; float: left ! important; margin-left: 1px ! important; vertical-align: top ! important; overflow: hidden ! important; text-align: center ! important; height: 18px ! important; padding: 0px 4px 0px 23px ! important; border: 1px solid rgb(0, 119, 181) ! important; text-shadow: 0px -1px rgb(0, 88, 135) ! important; line-height: 20px ! important; border-radius: 2px ! important; background-color: rgb(0, 119, 181) ! important; background-image: -moz-linear-gradient(center top , rgb(0, 119, 181) 0%, rgb(0, 119, 181) 100%) ! important; }
#li_ui_li_gen_1471872892400_0 #li_ui_li_gen_1471872892400_0-title-text, #li_ui_li_gen_1471872892400_0 #li_ui_li_gen_1471872892400_0-title-text * { color: rgb(255, 255, 255) ! important; font-size: 11px ! important; font-family: Arial,sans-serif ! important; font-weight: bold ! important; font-style: normal ! important; display: inline-block ! important; background: transparent none repeat scroll 0% 0% ! important; vertical-align: top ! important; height: 18px ! important; line-height: 20px ! important; float: none ! important; }
#li_ui_li_gen_1471872892400_0 #li_ui_li_gen_1471872892400_0-title #li_ui_li_gen_1471872892400_0-mark { display: inline-block ! important; width: 0px ! important; overflow: hidden ! important; }
.fb_reset { background: transparent none repeat scroll 0% 0%; border: 0px none; border-spacing: 0px; color: rgb(0, 0, 0); cursor: auto; direction: ltr; font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 11px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 1; margin: 0px; overflow: visible; padding: 0px; text-align: left; text-decoration: none; text-indent: 0px; text-shadow: none; text-transform: none; visibility: visible; white-space: normal; word-spacing: normal; }
.fb_reset > div { overflow: hidden; }
.fb_iframe_widget { display: inline-block; position: relative; }
.fb_iframe_widget span { display: inline-block; position: relative; text-align: justify; }
.fb_iframe_widget iframe { position: absolute; }
