/* ::::: https://s0.2mdn.net/5367511/1467835641905/css/app.css ::::: */

* { position: absolute; }
img { border: medium none; }
body, img { margin: 0px; padding: 0px; }
body { backface-visibility: hidden; background-color: rgb(81, 187, 236); overflow: hidden; cursor: pointer; }
.container { width: 300px; height: 250px; }
.outline { width: 298px; height: 248px; position: absolute; z-index: 3; top: 0px; left: 0px; border: 1px solid rgb(0, 0, 0); }
.logo { z-index: 1; }
#logo-image { transform: translate(50px, 67px); background-color: rgb(81, 187, 236); }
#logo-image, #logo-image-default { width: 58px; height: 58px; }
#icon-safe { width: 101px; height: 101px; }
.icon-safe { top: 40px; left: 100px; z-index: 2; visibility: hidden; }
.icon-safe .icon-blur { opacity: 0.4; left: -88px; top: -42px; }
#logo-mask { background-color: rgb(81, 187, 236); width: 95px; height: 47px; top: 76px; }
#logo-copy { width: 136px; height: 47px; top: 76px; left: 114px; }
#ribbon-right { top: 155px; left: 126px; width: 774px; height: 25px; }
#ribbon-shadow { top: 180px; left: 127px; height: 5px; width: 47px; }
#ribbon-mask { top: 155px; left: 84px; width: 150px; height: 25px; background-color: rgb(81, 187, 236); }
#ribbon-left { top: 180px; left: -599px; width: 774px; height: 25px; }
#icon-money { width: 101px; height: 101px; }
.icon-money { top: 134px; left: 229px; z-index: 2; visibility: hidden; }
.icon-money .icon-blur { opacity: 0.4; left: -88px; top: -42px; }
#icon-graph { width: 101px; height: 101px; }
.icon-graph { top: 134px; left: -30px; z-index: 2; visibility: hidden; }
.icon-graph .icon-blur { opacity: 0.4; left: -88px; top: -42px; }
#icon-grad { width: 115px; height: 115px; }
.icon-grad { top: 127px; left: 216px; }
.icon-grad .icon-blur { opacity: 0.4; left: -86px; top: -40px; }
#icon-suitcase { width: 115px; height: 115px; }
.icon-suitcase { top: 122px; left: 91px; z-index: 2; }
.icon-suitcase .icon-blur { opacity: 0.4; left: -88px; top: -42px; }
#icon-present { width: 101px; height: 101px; }
.icon-present { top: 134px; left: -30px; }
.icon-present .icon-blur { opacity: 0.4; left: -86px; top: -40px; }
#icon-nest { width: 101px; height: 101px; }
.icon-nest { top: 134px; left: -30px; z-index: 2; }
.icon-nest .icon-blur { opacity: 0.4; left: -88px; top: -42px; }
#icon-family { width: 101px; height: 101px; }
.icon-family { top: 134px; left: 101px; z-index: 2; }
.icon-family .icon-blur { opacity: 0.4; left: -88px; top: -42px; }
#icon-passport { width: 122px; height: 123px; }
.icon-passport { top: 121px; left: 228px; }
.icon-passport .icon-blur { opacity: 0.4; left: -86px; top: -40px; }
.icon-group-2 { left: -391px; }
.icon-group-3 { left: -782px; }
#copy-1 { top: 20px; left: 20px; }
#copy-1, #copy-2 { visibility: hidden; }
#copy-2 { top: 80px; left: 21px; }
#copy-3 { top: 134px; left: 19px; visibility: hidden; }
#logo-small { top: 195px; left: 20px; visibility: hidden; }
#button { top: 200px; left: 170px; width: 120px; height: 30px; }
#button, #button-large { visibility: hidden; z-index: 4; }
#button-large { top: 199px; left: 164px; width: 132px; height: 33px; display: none; }
#legal { bottom: 3px; right: 2px; visibility: hidden; }
