/* ::::: https://fonts.googleapis.com/css?family=Montserrat ::::: */

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: local("Montserrat-Regular"), url('zhcz-_wihjsqc0ohj9tcyazydmxhdd8saj6oajtfsbi.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body { font-family: "Montserrat",sans-serif; font-size: 18px; }
a:link { color: rgb(0, 0, 0); }
a:hover { color: rgb(188, 188, 188); }
a:hover img { opacity: 0.2; }
a:visited { color: rgb(0, 0, 0); }
a:visited:hover { color: rgb(188, 188, 188); }
p { line-height: 150%; width: 60%; min-width: 300px; display: block; margin-left: auto; margin-right: auto; }
video { display: block; max-width: 500px; float: left; margin-left: 10%; }
img { width: 80%; min-width: 400px; display: block; margin: auto; padding: 20px; }
