/* ::::: https://fonts.googleapis.com/css?family=Roboto:300&lang=en ::::: */

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('0ec6fl06luxeywpbsjvxcix0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('fl4y0qdoxyythegmxx8kcyx0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('-l14jk06m6puhb-5mxqqnyx0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('i3s1wsgsg9ycurv6puktoyx0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('nydwbdd4giq26g5xybhsfix0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('pru33qjshpzsmg3z6vywnyx0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('hgo13k-tfspn0qi1sfdufzbw1xu1rkptjj_0jans920.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body, table, div, ul, li { margin: 0px; padding: 0px; }
body { font-family: "Roboto",arial,sans-serif; }
#adunit { background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); height: 598px; width: 158px; }
#ads { height: 598px; left: 1px; position: absolute; top: 1px; width: 158px; }
#ads ul { list-style: outside none none; }
#ads ul li { clear: both; float: left; line-height: 0; overflow: hidden; position: relative; }
#ads table { border-collapse: collapse; border-spacing: 0px; }
.separator { border-bottom: 1px solid rgb(209, 209, 209); }
.ads_chrome_top { position: absolute; overflow: hidden; top: 1px; width: 158px; height: 0px; }
.ads_chrome_bottom { position: absolute; overflow: hidden; bottom: 1px; width: 158px; height: 0px; }
.ads_chrome_left { position: absolute; overflow: hidden; left: 1px; width: 0px; height: 598px; }
.ads_chrome_right { position: absolute; overflow: hidden; right: 1px; width: 0px; height: 598px; }
.rhtitle { text-decoration: none; overflow-wrap: break-word; }
a.rhtitle:hover { text-decoration: underline; }
.rhbody.rhdefaultcolored { color: rgb(51, 51, 51); }
.rhbody { text-decoration: none; overflow-wrap: break-word; }
a.rhbody:hover { text-decoration: underline; }
.rhurlctr { overflow: hidden; }
.rhurlctr_nowrap { text-overflow: ellipsis; white-space: nowrap; }
.rhurlctr_clickable { cursor: pointer; }
.rhurl { text-decoration: none; }
.rhurl:hover { text-decoration: underline; }
#ads .rh02 { opacity: 0.8; }
#ads .rh03 { opacity: 0.6; }
#ads .rh03 .rhurl { color: rgb(51, 51, 51); }
.rh { display: inline-block; font-size: 0px; line-height: 0; padding: 20px 4px 4px; width: 150px; }
.rh > table { width: 100%; }
.rh0 { display: inline-block; font-size: 0px; line-height: 0; padding: 0px; width: 150px; }
.rh0 > table { width: 100%; }
.rh00 { display: inline-block; font-size: 0px; height: 2px; line-height: 0; overflow: hidden; padding: 0px 31px 0px 0px; width: 119px; }
.rh00 > table { height: 100%; }
.rh000 { background-color: rgb(0, 0, 0); display: inline-block; height: 2px; overflow: hidden; padding: 0px; width: 119px; }
.rh000c { height: 2px; padding: 0px; width: 119px; }
.rh00c { height: 2px; padding: 0px; width: 150px; }
.rh01 { color: rgb(51, 51, 51); display: inline-block; font-size: 14px; line-height: 18px; overflow: hidden; padding: 5px 0px 10px 2px; width: 148px; }
.rh01c { height: 0px; padding: 0px; width: 150px; }
.rh02 { display: inline-block; font-size: 11px; line-height: 14px; max-width: 147px; overflow: hidden; padding: 0px 0px 3px 3px; }
.rh02c { padding: 0px; }
.rh03 { color: rgb(51, 51, 51); display: inline-block; font-size: 10px; line-height: 13px; overflow: hidden; padding: 6px 0px 0px 3px; white-space: nowrap; width: 147px; }
.rh03c { padding: 0px; text-align: left; vertical-align: top; width: 150px; }
.rh0c { padding: 0px; text-align: left; vertical-align: top; width: 150px; }
.taw { width: 158px; }
.taw0 { height: 154px; }
.taw0 .rh0 { height: 117px; }
.taw0 .rh0c { height: 117px; }
.taw1 { height: 135px; }
.taw1 .rh0 { height: 99px; }
.taw1 .rh0c { height: 99px; }
.taw2 { height: 153px; }
.taw2 .rh0 { height: 117px; }
.taw2 .rh0c { height: 117px; }
.taw3 { height: 153px; }
.taw3 .rh0 { height: 117px; }
.taw3 .rh0c { height: 117px; }
div, ul, li { margin: 0px; padding: 0px; }
.abgc { height: 15px; position: absolute; right: 0px; top: 0px; text-rendering: geometricprecision; width: 15px; z-index: 9020; }
.abgb { height: 15px; width: 15px; }
.abgc svg { display: block; }
.abgs { display: none; height: 100%; }
.abgl { text-decoration: none; }
.abgi { fill-opacity: 1; fill: rgb(0, 174, 205); stroke: none; }
.abgbg { fill-opacity: 1; fill: rgb(205, 204, 204); stroke: none; }
.abgtxt { fill: black; font-family: "Arial"; font-size: 100px; overflow: visible; stroke: none; }
