/* ::::: http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700 ::::: */

@font-face {
	font-family: "Signika Negative";
	font-style: normal;
	font-weight: 300;
	src: local("Signika Negative Light"), local("SignikaNegative-Light"), url('q5tojiw4cenpw6c-tw06fva5leqy4wyanage24xbph32ot9t5h1grstie78whtoh.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Signika Negative";
	font-style: normal;
	font-weight: 300;
	src: local("Signika Negative Light"), local("SignikaNegative-Light"), url('q5tojiw4cenpw6c-tw06fovmqeympokqwyb8dabp2sy.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Signika Negative";
	font-style: normal;
	font-weight: 400;
	src: local("Signika Negative"), local("SignikaNegative-Regular"), url('z-q1hzby8uao3tptypfmxforf-vm3-jsg2zzfz-agiw.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Signika Negative";
	font-style: normal;
	font-weight: 400;
	src: local("Signika Negative"), local("SignikaNegative-Regular"), url('z-q1hzby8uao3tptypfmxcwmfi1xghtuluhtmuk88ci.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Signika Negative";
	font-style: normal;
	font-weight: 600;
	src: local("Signika Negative Semibold"), local("SignikaNegative-Semibold"), url('q5tojiw4cenpw6c-tw06fnttrso4ysavdxhbrkfgv3r2ot9t5h1grstie78whtoh.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Signika Negative";
	font-style: normal;
	font-weight: 600;
	src: local("Signika Negative Semibold"), local("SignikaNegative-Semibold"), url('q5tojiw4cenpw6c-tw06fpjyrspdfseojes7hobqnoo.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Signika Negative";
	font-style: normal;
	font-weight: 700;
	src: local("Signika Negative Bold"), local("SignikaNegative-Bold"), url('q5tojiw4cenpw6c-tw06fr8uqaafddo0ic7hero4fkn2ot9t5h1grstie78whtoh.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Signika Negative";
	font-style: normal;
	font-weight: 700;
	src: local("Signika Negative Bold"), local("SignikaNegative-Bold"), url('q5tojiw4cenpw6c-tw06fveejpexcvd0dvdjcsp34za.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* ::::: http://fonts.googleapis.com/css?family=Roboto:300,700 ::::: */

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('0ec6fl06luxeywpbsjvxcix0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('fl4y0qdoxyythegmxx8kcyx0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('-l14jk06m6puhb-5mxqqnyx0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('i3s1wsgsg9ycurv6puktoyx0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('nydwbdd4giq26g5xybhsfix0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('pru33qjshpzsmg3z6vywnyx0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('hgo13k-tfspn0qi1sfdufzbw1xu1rkptjj_0jans920.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('77fxfjrbgzn4acrsfhlh3ox0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('isz-wbcxnkabnjo6_twhtox0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('ux6i4jxqdm3fvtc1cpuwqox0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('jsn2cgvdbcvycnfjfjsdfix0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('pwzc-ybil414wb9rb1iapyx0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('97uahxiqzroncbacei3aw4x0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('d-6iyplofoccackzxwxsojbw1xu1rkptjj_0jans920.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* ::::: http://blogs.spjnetwork.org/includes/style-2014-frame.css ::::: */

* { padding: 0px; margin: 0px; }
body { font-size: 14pt; font-family: "Roboto","trebuchet ms",Georgia,Verdana,Trebuchet MS,Trebuchet,Arial; font-weight: 300; text-align: left; width: auto; margin: 0px; padding: 0px; }
b, strong { font-weight: 700; }
#headlineimg { width: 1000px; height: 267px; }
#page { margin: 0px auto; padding: 20px; width: 960px; line-height: 1.7em; min-height: 550px; overflow: auto; }
#wrapper { width: 1000px; height: 250px; margin: 0px auto; padding: 0px; }
#content { font-size: 1em; }
#content p, #content ul { font-size: 1em; letter-spacing: 0.1px; margin: 15px 0px; }
h2, h3, h4 { font-family: "Signika Negative",sans-serif; font-weight: 400; line-height: 1em; text-align: left; }
#morefoot h3, #sidebar h2 { font-family: "Roboto","trebuchet ms",sans-serif; text-transform: uppercase; }
h2 { font-size: 3em; }
h3 { font-size: 2.5em; }
h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {  }
p.byline { font-family: "Signika Negative","trebuchet ms",sans-serif; font-weight: 400 ! important; font-size: 1.4em ! important; line-height: 1.4em; margin: 1em 0px ! important; }
h4 { font-family: "Signika Negative",sans-serif; font-weight: 400 ! important; font-size: 1.6em ! important; line-height: 1.4em; }
.uppercase { text-transform: uppercase ! important; }
acronym, abbr, span.caps { font-size: 1em; letter-spacing: 0.07em; }
a { text-decoration: none ! important; }
.narrowcolumn, .widecolumn { float: left; padding: 0px; margin: 0px; width: 630px; }
.post { margin: 0px 0px 40px; text-align: left; }
.post hr { display: block; }
h2 { margin: 14px 0px 12px; }
h3 { padding: 0px; margin: 30px 0px 0px; }
p img { padding: 0px; max-width: 100%; }
.container { position: relative; float: left; width: 260px; margin-bottom: 0px; }
.content-box { border-bottom: 1px dotted; position: relative; width: 260px; }
#searchform { margin: 0px auto; padding: 5px 3px 5px 0px; text-align: left; }
acronym, abbr, span.caps { cursor: help; }
.entry ul { padding-left: 2em; }
acronym, abbr { border-bottom: 1px dashed; }
.hidden { display: none; }
hr, hr.minor { display: block; border-style: dotted; border-width: 1px 0px 0px; margin: 20px 0px; height: 0px; }
a img { border: medium none; }
#morefoot { width: 960px; margin-left: auto; margin-right: auto; padding: 0px; }
#morefoot100 { width: 100%; border: 0px solid; padding: 25px 0px 15px; margin: 0px; }
#morefoot p { margin: 5px 0px; padding: 5px 0px; }
#morefoot ul li, #morefoot p { font-size: 1em; }
#morefoot h3 { font-size: 1.5em; font-weight: normal; margin: 0px; padding: 0px 0px 2px; }
#morefoot .col1 { font-family: "Roboto","trebuchet ms",sans-serif; float: left; width: 352px; }
#morefoot .col2 { font-family: "Roboto","trebuchet ms",sans-serif; padding: 0px 20px; border-left: 1px dotted; border-right: 1px dotted; margin: 0px 25px; }
#morefoot .col2, #morefoot .col3 { font-family: "Roboto","trebuchet ms",sans-serif; float: left; width: 240px; }
#footer { clear: both; font-family: "Roboto","trebuchet ms",sans-serif; border: 0px solid; padding: 15px 15px 10px; }
#footer p { font-size: 1em; font-family: "Roboto","trebuchet ms",sans-serif; padding: 0px; }
#footerleft { float: left; width: 500px; }
.cleared { margin: 0px; padding: 0px; clear: both; }
.search { font-family: "Roboto","trebuchet ms",sans-serif; font-size: 9.5pt; text-transform: uppercase; margin-top: -4px; }
.searchicon { background: transparent url('magglassicon.png') no-repeat scroll 0% 0% / 100% auto; cursor: pointer; width: 16px; height: 16px; border: medium none; margin-left: 4px; margin-top: 4px; }
ul li a.rsswidget::before { content: "— "; }
h2 a.rsswidget::before { content: "" ! important; }
#spjmap { line-height: 1.4em; }
.footer-socialicon { width: 60px; height: 60px; opacity: 0.6; margin-top: 4px; margin-right: 3px; }
.menuwrapper1 { width: 100%; background: rgb(51, 51, 51) none repeat scroll 0% 0%; box-shadow: 0px 0px 5px rgb(0, 0, 0); }
.menuwrapper2 { width: 1000px; margin-left: auto; margin-right: auto; height: 35px; }
.mainmenu-all { width: 100%; background: rgb(51, 51, 51) none repeat scroll 0% 0%; }
.ddsmoothmenu { font: 10px Georgia; background: transparent none repeat scroll 0% 0%; width: 100%; }
li.mainmenu { font-family: "Signika Negative",sans-serif; font-size: 11pt; text-transform: uppercase; text-align: left; }
.ddsmoothmenu ul { z-index: 100; margin: 0px; padding: 0px; list-style-type: none; }
.ddsmoothmenu ul li { position: relative; display: inline; float: left; }
.ddsmoothmenu ul li a { display: block; background: rgb(51, 51, 51) none repeat scroll 0% 0%; padding: 8px 10px; border-right: 0px solid rgb(68, 68, 68); color: rgb(45, 43, 43); opacity: 0.98; }
.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited { color: rgb(255, 255, 255); }
.ddsmoothmenu ul li a:hover { background: black none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.ddsmoothmenu ul li ul { position: absolute; left: 0px; display: none; visibility: hidden; box-shadow: 0px 10px 10px rgb(51, 51, 51); }
.ddsmoothmenu ul li ul li { display: list-item; float: none; }
.ddsmoothmenu ul li ul li a { font-family: "Signika Negative",sans-serif; font-size: 11pt; width: 160px; padding: 5px 10px; border-top-width: 0px; border-bottom: 0px solid rgb(51, 51, 51); }
.entry .gce-page-list li::before, #sidebar .gce-widget-list ul li::before { content: none; }
/* ::::: http://www.journaliststoolbox.org/wp-content/themes/spj-blogs-2014/style.css ::::: */

body { background: rgb(221, 221, 221) none repeat scroll 0% 0%; color: rgb(68, 68, 68); }
#page { box-shadow: 0px 10px 20px rgb(170, 170, 170); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#wrapper {  }
#headlineimg {  }
#content a:hover { color: rgb(216, 156, 152); }
a { color: rgb(85, 85, 85); }
h2 a { color: rgb(85, 85, 85) ! important; }
h2 a:hover, h3 a:hover { color: rgb(216, 156, 152); }
a:hover { color: rgb(216, 156, 152); }
.narrowcolumn, .widecolumn { float: right ! important; padding: 0px; margin: 0px; width: 660px; }
.content-box { background-color: rgb(255, 255, 255); border-color: rgb(204, 204, 204); }
acronym, abbr { border-bottom-color: rgb(153, 153, 153); }
hr, hr.minor { border-color: rgb(85, 85, 85); }
#morefoot { color: rgb(85, 85, 85); }
#morefoot100 { border-color: rgb(7, 7, 7); color: rgb(85, 85, 85); }
#morefoot ul li, #morefoot p { color: rgb(85, 85, 85); }
#morefoot .col2 { border-left: 1px dotted rgb(154, 154, 154); border-right: 1px dotted rgb(154, 154, 154); }
#morefoot a { color: rgb(85, 85, 85); }
#morefoot a:hover { color: rgb(215, 92, 91); }
#morefoot h3 { color: rgb(85, 85, 85); }
#footer { border-color: rgb(7, 7, 7); }
#footer p { color: rgb(155, 177, 191); }
.search { color: rgb(51, 51, 51); }
a:link { color: rgb(40, 126, 171); }
a:active { color: rgb(40, 126, 171); text-decoration: none; }
a:visited { color: rgb(40, 126, 171); }
a:hover { color: rgb(216, 156, 152); text-decoration: none; }
#content a { color: rgb(40, 126, 171); }
.menuwrapper1 { background: rgb(255, 255, 255) none repeat scroll 0% 0% ! important; box-shadow: 0px 0px 10px rgb(137, 175, 192) ! important; }
.mainmenu-all { background: rgb(255, 255, 255) none repeat scroll 0% 0% ! important; }
.ddsmoothmenu ul li a { background: rgb(255, 255, 255) none repeat scroll 0% 0% ! important; color: rgb(154, 154, 154) ! important; }
.ddsmoothmenu ul li ul { box-shadow: 0px 5px 10px rgb(137, 175, 192) ! important; }
#morefoot hr, #morefoot hr.minor { border-color: rgb(154, 154, 154); }
/* ::::: http://fonts.googleapis.com/css?family=Roboto:400italic,300italic,700italic,900 ::::: */

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	src: local("Roboto Black"), local("Roboto-Black"), url('s7gftie1janc-qmdjvmwzox0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	src: local("Roboto Black"), local("Roboto-Black"), url('3y_xcyt7tnunmgg0et2pnox0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	src: local("Roboto Black"), local("Roboto-Black"), url('weqrre07fdkirr29ohqghix0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	src: local("Roboto Black"), local("Roboto-Black"), url('jyiyrockjm3gz4kv00yxoix0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	src: local("Roboto Black"), local("Roboto-Black"), url('phsu-qzxz1jbv0pbfopmeix0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	src: local("Roboto Black"), local("Roboto-Black"), url('9_7s_twegdh5pq3u05rvkox0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	src: local("Roboto Black"), local("Roboto-Black"), url('mnpfi9pxyh-go5uiibesipbw1xu1rkptjj_0jans920.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 300;
	src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url('7m8l7tlfo-s3vkhhur0at_zrar2tg8w2lzm7klnl0-w.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 300;
	src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url('7m8l7tlfo-s3vkhhur0at14syydjg5du2qzjevsuta0.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 300;
	src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url('7m8l7tlfo-s3vkhhur0at1bw26qxpsj-_zkm_xt4hww.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 300;
	src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url('7m8l7tlfo-s3vkhhur0atwt_rm691ltebkfy2zkksmi.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 300;
	src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url('7m8l7tlfo-s3vkhhur0at9dinsr5a-9oe_ivpu8xwly.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 300;
	src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url('7m8l7tlfo-s3vkhhur0at6e8km4xwr1_1byurrojrgc.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 300;
	src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url('7m8l7tlfo-s3vkhhur0at4gp9q8gbyrhqglrav_ixfk.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Italic"), local("Roboto-Italic"), url('wxrxja0c3kdtc7lmafg4drkaz4ryn47zy2rvigwqf6w.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Italic"), local("Roboto-Italic"), url('opxuqto0ugqqhgj_sfdlwbkaz4ryn47zy2rvigwqf6w.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Italic"), local("Roboto-Italic"), url('1hzf02poanh32k2vkgeoubkaz4ryn47zy2rvigwqf6w.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Italic"), local("Roboto-Italic"), url('cdkhraxnqtovbaoxwdor9xkaz4ryn47zy2rvigwqf6w.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Italic"), local("Roboto-Italic"), url('k23cxwvtrifd6djsevi07rkaz4ryn47zy2rvigwqf6w.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Italic"), local("Roboto-Italic"), url('vszulfksk0lljjfeaxcrehkaz4ryn47zy2rvigwqf6w.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Italic"), local("Roboto-Italic"), url('vpcynsl0qhq_6dx7lkvbyxyhjbspvc47ee6xr_80hnw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 700;
	src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url('t6nd4cfprhzp44q5qajcc_zrar2tg8w2lzm7klnl0-w.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 700;
	src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url('t6nd4cfprhzp44q5qajcc14syydjg5du2qzjevsuta0.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 700;
	src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url('t6nd4cfprhzp44q5qajcc1bw26qxpsj-_zkm_xt4hww.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 700;
	src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url('t6nd4cfprhzp44q5qajccwt_rm691ltebkfy2zkksmi.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 700;
	src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url('t6nd4cfprhzp44q5qajcc9dinsr5a-9oe_ivpu8xwly.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 700;
	src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url('t6nd4cfprhzp44q5qajcc6e8km4xwr1_1byurrojrgc.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 700;
	src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url('t6nd4cfprhzp44q5qajcc4gp9q8gbyrhqglrav_ixfk.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
