/* ::::: https://sunypoly.open.suny.edu/common/shared.css?v=3000.1.0-rel.52+991d2bf ::::: */

/* ::::: https://sunypoly.open.suny.edu/fonts/icon-core.css ::::: */

@font-face {
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	src: url('fontawesome-webfont.eot') format("embedded-opentype"), url('fontawesome-webfont.woff') format("woff"), url('fontawesome-webfont.ttf') format("truetype"), url('fontawesome-webfont.svg') format("svg");
}
[class^="icon-"]::before, [class*=" icon-"]::before { text-decoration: inherit; display: inline-block; vertical-align: middle; }
.icon-large::before { vertical-align: -10%; font-size: 1.33333em; }
/* ::::: https://sunypoly.open.suny.edu/fonts/icon-listing.css ::::: */

.icon-glass::before { content: ""; }
.icon-music::before { content: ""; }
.icon-search::before { content: ""; }
.icon-envelope-alt::before { content: ""; }
.icon-heart::before { content: ""; }
.icon-star::before { content: ""; }
.icon-star-empty::before { content: ""; }
.icon-user::before { content: ""; }
.icon-film::before { content: ""; }
.icon-th-large::before { content: ""; }
.icon-th::before { content: ""; }
.icon-th-list::before { content: ""; }
.icon-ok::before { content: ""; }
.icon-remove::before { content: ""; }
.icon-zoom-in::before { content: ""; }
.icon-zoom-out::before { content: ""; }
.icon-power-off::before, .icon-off::before { content: ""; }
.icon-signal::before { content: ""; }
.icon-gear::before, .icon-cog::before { content: ""; }
.icon-trash::before { content: ""; }
.icon-home::before { content: ""; }
.icon-file-alt::before { content: ""; }
.icon-time::before { content: ""; }
.icon-road::before { content: ""; }
.icon-download-alt::before { content: ""; }
.icon-download::before { content: ""; }
.icon-upload::before { content: ""; }
.icon-inbox::before { content: ""; }
.icon-play-circle::before { content: ""; }
.icon-rotate-right::before, .icon-repeat::before { content: ""; }
.icon-refresh::before { content: ""; }
.icon-list-alt::before { content: ""; }
.icon-lock::before { content: ""; }
.icon-flag::before { content: ""; }
.icon-headphones::before { content: ""; }
.icon-volume-off::before { content: ""; }
.icon-volume-down::before { content: ""; }
.icon-volume-up::before { content: ""; }
.icon-qrcode::before { content: ""; }
.icon-barcode::before { content: ""; }
.icon-tag::before { content: ""; }
.icon-tags::before { content: ""; }
.icon-book::before { content: ""; }
.icon-bookmark::before { content: ""; }
.icon-print::before { content: ""; }
.icon-camera::before { content: ""; }
.icon-font::before { content: ""; }
.icon-bold::before { content: ""; }
.icon-italic::before { content: ""; }
.icon-text-height::before { content: ""; }
.icon-text-width::before { content: ""; }
.icon-align-left::before { content: ""; }
.icon-align-center::before { content: ""; }
.icon-align-right::before { content: ""; }
.icon-align-justify::before { content: ""; }
.icon-list::before { content: ""; }
.icon-indent-left::before { content: ""; }
.icon-indent-right::before { content: ""; }
.icon-facetime-video::before { content: ""; }
.icon-picture::before { content: ""; }
.icon-pencil::before { content: ""; }
.icon-map-marker::before { content: ""; }
.icon-adjust::before { content: ""; }
.icon-tint::before { content: ""; }
.icon-edit::before { content: ""; }
.icon-share::before { content: ""; }
.icon-check::before { content: ""; }
.icon-move::before { content: ""; }
.icon-step-backward::before { content: ""; }
.icon-fast-backward::before { content: ""; }
.icon-backward::before { content: ""; }
.icon-play::before { content: ""; }
.icon-pause::before { content: ""; }
.icon-stop::before { content: ""; }
.icon-forward::before { content: ""; }
.icon-fast-forward::before { content: ""; }
.icon-step-forward::before { content: ""; }
.icon-eject::before { content: ""; }
.icon-chevron-left::before { content: ""; }
.icon-chevron-right::before { content: ""; }
.icon-plus-sign::before { content: ""; }
.icon-minus-sign::before { content: ""; }
.icon-remove-sign::before { content: ""; }
.icon-ok-sign::before { content: ""; }
.icon-question-sign::before { content: ""; }
.icon-info-sign::before { content: ""; }
.icon-screenshot::before { content: ""; }
.icon-remove-circle::before { content: ""; }
.icon-ok-circle::before { content: ""; }
.icon-ban-circle::before { content: ""; }
.icon-arrow-left::before { content: ""; }
.icon-arrow-right::before { content: ""; }
.icon-arrow-up::before { content: ""; }
.icon-arrow-down::before { content: ""; }
.icon-mail-forward::before, .icon-share-alt::before { content: ""; }
.icon-resize-full::before { content: ""; }
.icon-resize-small::before { content: ""; }
.icon-plus::before { content: ""; }
.icon-minus::before { content: ""; }
.icon-asterisk::before { content: ""; }
.icon-exclamation-sign::before { content: ""; }
.icon-gift::before { content: ""; }
.icon-leaf::before { content: ""; }
.icon-fire::before { content: ""; }
.icon-eye-open::before { content: ""; }
.icon-eye-close::before { content: ""; }
.icon-warning-sign::before { content: ""; }
.icon-plane::before { content: ""; }
.icon-calendar::before { content: ""; }
.icon-random::before { content: ""; }
.icon-comment::before { content: ""; }
.icon-magnet::before { content: ""; }
.icon-chevron-up::before { content: ""; }
.icon-chevron-down::before { content: ""; }
.icon-retweet::before { content: ""; }
.icon-shopping-cart::before { content: ""; }
.icon-folder-close::before { content: ""; }
.icon-folder-open::before { content: ""; }
.icon-resize-vertical::before { content: ""; }
.icon-resize-horizontal::before { content: ""; }
.icon-bar-chart::before { content: ""; }
.icon-twitter-sign::before { content: ""; }
.icon-facebook-sign::before { content: ""; }
.icon-camera-retro::before { content: ""; }
.icon-key::before { content: ""; }
.icon-gears::before, .icon-cogs::before { content: ""; }
.icon-comments::before { content: ""; }
.icon-thumbs-up-alt::before { content: ""; }
.icon-thumbs-down-alt::before { content: ""; }
.icon-star-half::before { content: ""; }
.icon-heart-empty::before { content: ""; }
.icon-signout::before { content: ""; }
.icon-linkedin-sign::before { content: ""; }
.icon-pushpin::before { content: ""; }
.icon-external-link::before { content: ""; }
.icon-signin::before { content: ""; }
.icon-trophy::before { content: ""; }
.icon-github-sign::before { content: ""; }
.icon-upload-alt::before { content: ""; }
.icon-lemon::before { content: ""; }
.icon-phone::before { content: ""; }
.icon-unchecked::before, .icon-check-empty::before { content: ""; }
.icon-bookmark-empty::before { content: ""; }
.icon-phone-sign::before { content: ""; }
.icon-twitter::before { content: ""; }
.icon-facebook::before { content: ""; }
.icon-github::before { content: ""; }
.icon-unlock::before { content: ""; }
.icon-credit-card::before { content: ""; }
.icon-rss::before { content: ""; }
.icon-hdd::before { content: ""; }
.icon-bullhorn::before { content: ""; }
.icon-bell::before { content: ""; }
.icon-certificate::before { content: ""; }
.icon-hand-right::before { content: ""; }
.icon-hand-left::before { content: ""; }
.icon-hand-up::before { content: ""; }
.icon-hand-down::before { content: ""; }
.icon-circle-arrow-left::before { content: ""; }
.icon-circle-arrow-right::before { content: ""; }
.icon-circle-arrow-up::before { content: ""; }
.icon-circle-arrow-down::before { content: ""; }
.icon-globe::before { content: ""; }
.icon-wrench::before { content: ""; }
.icon-tasks::before { content: ""; }
.icon-filter::before { content: ""; }
.icon-briefcase::before { content: ""; }
.icon-fullscreen::before { content: ""; }
.icon-group::before { content: ""; }
.icon-link::before { content: ""; }
.icon-cloud::before { content: ""; }
.icon-beaker::before { content: ""; }
.icon-cut::before { content: ""; }
.icon-copy::before { content: ""; }
.icon-paperclip::before, .icon-paper-clip::before { content: ""; }
.icon-save::before { content: ""; }
.icon-sign-blank::before { content: ""; }
.icon-reorder::before { content: ""; }
.icon-list-ul::before { content: ""; }
.icon-list-ol::before { content: ""; }
.icon-strikethrough::before { content: ""; }
.icon-underline::before { content: ""; }
.icon-table::before { content: ""; }
.icon-magic::before { content: ""; }
.icon-truck::before { content: ""; }
.icon-pinterest::before { content: ""; }
.icon-pinterest-sign::before { content: ""; }
.icon-google-plus-sign::before { content: ""; }
.icon-google-plus::before { content: ""; }
.icon-money::before { content: ""; }
.icon-caret-down::before { content: ""; }
.icon-caret-up::before { content: ""; }
.icon-caret-left::before { content: ""; }
.icon-caret-right::before { content: ""; }
.icon-columns::before { content: ""; }
.icon-sort::before { content: ""; }
.icon-sort-down::before { content: ""; }
.icon-sort-up::before { content: ""; }
.icon-envelope::before { content: ""; }
.icon-linkedin::before { content: ""; }
.icon-rotate-left::before, .icon-undo::before { content: ""; }
.icon-legal::before { content: ""; }
.icon-dashboard::before { content: ""; }
.icon-comment-alt::before { content: ""; }
.icon-comments-alt::before { content: ""; }
.icon-bolt::before { content: ""; }
.icon-sitemap::before { content: ""; }
.icon-umbrella::before { content: ""; }
.icon-paste::before { content: ""; }
.icon-lightbulb::before { content: ""; }
.icon-exchange::before { content: ""; }
.icon-cloud-download::before { content: ""; }
.icon-cloud-upload::before { content: ""; }
.icon-user-md::before { content: ""; }
.icon-stethoscope::before { content: ""; }
.icon-suitcase::before { content: ""; }
.icon-bell-alt::before { content: ""; }
.icon-coffee::before { content: ""; }
.icon-food::before { content: ""; }
.icon-file-text-alt::before { content: ""; }
.icon-building::before { content: ""; }
.icon-hospital::before { content: ""; }
.icon-ambulance::before { content: ""; }
.icon-medkit::before { content: ""; }
.icon-fighter-jet::before { content: ""; }
.icon-beer::before { content: ""; }
.icon-h-sign::before { content: ""; }
.icon-plus-sign-alt::before { content: ""; }
.icon-double-angle-left::before { content: ""; }
.icon-double-angle-right::before { content: ""; }
.icon-double-angle-up::before { content: ""; }
.icon-double-angle-down::before { content: ""; }
.icon-angle-left::before { content: ""; }
.icon-angle-right::before { content: ""; }
.icon-angle-up::before { content: ""; }
.icon-angle-down::before { content: ""; }
.icon-desktop::before { content: ""; }
.icon-laptop::before { content: ""; }
.icon-tablet::before { content: ""; }
.icon-mobile-phone::before { content: ""; }
.icon-circle-blank::before { content: ""; }
.icon-quote-left::before { content: ""; }
.icon-quote-right::before { content: ""; }
.icon-spinner::before { content: ""; }
.icon-circle::before { content: ""; }
.icon-mail-reply::before, .icon-reply::before { content: ""; }
.icon-github-alt::before { content: ""; }
.icon-folder-close-alt::before { content: ""; }
.icon-folder-open-alt::before { content: ""; }
.icon-expand-alt::before { content: ""; }
.icon-collapse-alt::before { content: ""; }
.icon-smile::before { content: ""; }
.icon-frown::before { content: ""; }
.icon-meh::before { content: ""; }
.icon-gamepad::before { content: ""; }
.icon-keyboard::before { content: ""; }
.icon-flag-alt::before { content: ""; }
.icon-flag-checkered::before { content: ""; }
.icon-terminal::before { content: ""; }
.icon-code::before { content: ""; }
.icon-reply-all::before { content: ""; }
.icon-mail-reply-all::before { content: ""; }
.icon-star-half-full::before, .icon-star-half-empty::before { content: ""; }
.icon-location-arrow::before { content: ""; }
.icon-crop::before { content: ""; }
.icon-code-fork::before { content: ""; }
.icon-unlink::before { content: ""; }
.icon-question::before { content: ""; }
.icon-info::before { content: ""; }
.icon-exclamation::before { content: ""; }
.icon-superscript::before { content: ""; }
.icon-subscript::before { content: ""; }
.icon-eraser::before { content: ""; }
.icon-puzzle-piece::before { content: ""; }
.icon-microphone::before { content: ""; }
.icon-microphone-off::before { content: ""; }
.icon-shield::before { content: ""; }
.icon-calendar-empty::before { content: ""; }
.icon-fire-extinguisher::before { content: ""; }
.icon-rocket::before { content: ""; }
.icon-maxcdn::before { content: ""; }
.icon-chevron-sign-left::before { content: ""; }
.icon-chevron-sign-right::before { content: ""; }
.icon-chevron-sign-up::before { content: ""; }
.icon-chevron-sign-down::before { content: ""; }
.icon-html5::before { content: ""; }
.icon-css3::before { content: ""; }
.icon-anchor::before { content: ""; }
.icon-unlock-alt::before { content: ""; }
.icon-bullseye::before { content: ""; }
.icon-ellipsis-horizontal::before { content: ""; }
.icon-ellipsis-vertical::before { content: ""; }
.icon-rss-sign::before { content: ""; }
.icon-play-sign::before { content: ""; }
.icon-ticket::before { content: ""; }
.icon-minus-sign-alt::before { content: ""; }
.icon-check-minus::before { content: ""; }
.icon-level-up::before { content: ""; }
.icon-level-down::before { content: ""; }
.icon-check-sign::before { content: ""; }
.icon-edit-sign::before { content: ""; }
.icon-external-link-sign::before { content: ""; }
.icon-share-sign::before { content: ""; }
.icon-compass::before { content: ""; }
.icon-collapse::before { content: ""; }
.icon-collapse-top::before { content: ""; }
.icon-expand::before { content: ""; }
.icon-euro::before, .icon-eur::before { content: ""; }
.icon-gbp::before { content: ""; }
.icon-dollar::before, .icon-usd::before { content: ""; }
.icon-rupee::before, .icon-inr::before { content: ""; }
.icon-yen::before, .icon-jpy::before { content: ""; }
.icon-renminbi::before, .icon-cny::before { content: ""; }
.icon-won::before, .icon-krw::before { content: ""; }
.icon-bitcoin::before, .icon-btc::before { content: ""; }
.icon-file::before { content: ""; }
.icon-file-text::before { content: ""; }
.icon-sort-by-alphabet::before { content: ""; }
.icon-sort-by-alphabet-alt::before { content: ""; }
.icon-sort-by-attributes::before { content: ""; }
.icon-sort-by-attributes-alt::before { content: ""; }
.icon-sort-by-order::before { content: ""; }
.icon-sort-by-order-alt::before { content: ""; }
.icon-thumbs-up::before { content: ""; }
.icon-thumbs-down::before { content: ""; }
.icon-youtube-sign::before { content: ""; }
.icon-youtube::before { content: ""; }
.icon-xing::before { content: ""; }
.icon-xing-sign::before { content: ""; }
.icon-youtube-play::before { content: ""; }
.icon-dropbox::before { content: ""; }
.icon-stackexchange::before { content: ""; }
.icon-instagram::before { content: ""; }
.icon-flickr::before { content: ""; }
.icon-adn::before { content: ""; }
.icon-bitbucket::before { content: ""; }
.icon-bitbucket-sign::before { content: ""; }
.icon-tumblr::before { content: ""; }
.icon-tumblr-sign::before { content: ""; }
.icon-long-arrow-down::before { content: ""; }
.icon-long-arrow-up::before { content: ""; }
.icon-long-arrow-left::before { content: ""; }
.icon-long-arrow-right::before { content: ""; }
.icon-apple::before { content: ""; }
.icon-windows::before { content: ""; }
.icon-android::before { content: ""; }
.icon-linux::before { content: ""; }
.icon-dribbble::before { content: ""; }
.icon-skype::before { content: ""; }
.icon-foursquare::before { content: ""; }
.icon-trello::before { content: ""; }
.icon-female::before { content: ""; }
.icon-male::before { content: ""; }
.icon-gittip::before { content: ""; }
.icon-sun::before { content: ""; }
.icon-moon::before { content: ""; }
.icon-archive::before { content: ""; }
.icon-bug::before { content: ""; }
.icon-vk::before { content: ""; }
.icon-weibo::before { content: ""; }
.icon-renren::before { content: ""; }
.u_floatWrapper-left::after, .u_floatWrapper-right::after, .u_controlsWrapper::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.clearfix::after, .clearfixParent > div::after, .clearfixParent > li::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.clearfix, .clearfixParent > div, .clearfixParent > li { display: inline-block; }
.clearfix, .clearfixParent > div, .clearfixParent > li { display: block; }
.tooltip::after, .tooltipContainer .tooltip::after, .tooltipContainer-right .tooltip::after, .tooltipContainer-bot .tooltip::after, .tooltipContainer-left .tooltip::after { content: "▸"; display: block; font-size: 2em; height: 0px; line-height: 0; position: absolute; }
.tooltipContainer .tooltip::after { color: rgb(42, 42, 42); bottom: 0px; left: 50%; margin-left: -0.3em; text-align: center; text-shadow: 1px 0px 2px rgb(0, 0, 0); transform: rotate(90deg); }
.tooltipContainer-bot .tooltip::after { bottom: auto; color: rgb(79, 79, 79); left: 50%; margin-left: -0.3em; top: 0px; text-align: center; text-shadow: none; transform: rotate(-90deg); }
.tooltipContainer-left .tooltip::after { color: rgb(34, 34, 34); right: -0.375em; top: 10px; margin-top: -0.05em; text-shadow: 0px 1px 2px rgb(0, 0, 0); transform: rotate(0deg); }
.tooltipContainer-right .tooltip::after { color: rgb(34, 34, 34); left: -0.375em; top: 10px; margin-top: 0.1em; text-shadow: 0px -1px 2px rgb(0, 0, 0); transform: rotate(180deg); }
.pathfolder::before { content: "after"; margin: 0px 4px; }
#levelUp button::-moz-focus-inner { padding: 0px; border: 0px none; }
.linkables .button-5::-moz-focus-inner { padding: 0px; border: medium none; }
ul.dropdown li#zoneChooser > a::after, ul.dropdown li#uploadType > a::after { content: ""; background-image: url('tab-expand-chevron.png'); background-repeat: no-repeat; display: inline-block; width: 20px; height: 9px; margin-left: 8px; }
.profileCardAvatarThumb img { height: 18px; width: 18px; border: 1px solid rgb(221, 221, 221); display: inline-block; padding: 1px; border-radius: 2px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2); background: rgba(255, 255, 255, 0.8) none repeat scroll 0% 0%; }
.hideoff { position: absolute; overflow: hidden; left: -10000px; top: -1000px; width: 0px; height: 0px; }
.inventoryCardViewSorting a.sortColumnMenu::after, .inventoryCardViewSorting a.sortOrderMenu::after { height: 4px; vertical-align: middle; content: ""; display: inline-block; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 4px solid rgb(0, 0, 0); margin-top: 4px; opacity: 0.3; }
.inventoryCardViewSorting a.sortColumnMenu:hover::after, .inventoryCardViewSorting a.sortOrderMenu:hover::after { opacity: 1; }
/* ::::: https://sunypoly.open.suny.edu/themes/as_2012/theme.css?v=3000.1.0-rel.52+991d2bf ::::: */

/* ::::: https://sunypoly.open.suny.edu/themes/as_2012/theme1.css?v=3000.1.0-rel.52+991d2bf ::::: */

html, body, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-weight: inherit; font-style: inherit; font-family: inherit; font-size: 100%; }
body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
ol, ul { list-style: outside none none; }
blockquote::before, blockquote::after, q::before, q::after { content: ""; }
input, button, select { font-weight: inherit; font-style: inherit; font-family: inherit; font-size: 100%; vertical-align: middle; }
.vtbegenerated { padding: 0px ! important; margin: 0px ! important; background: transparent none repeat scroll 0% 0% ! important; overflow-x: auto; }
.vtbegenerated ol { list-style-type: decimal; margin: 1em 0px; padding-left: 40px; }
.vtbegenerated ol li { list-style-type: inherit; }
.vtbegenerated li { display: list-item; list-style-position: outside; }
html { height: 100%; }
body { height: 100%; min-width: 1000px; }
img { vertical-align: middle; border: 0px none; }
h1, h2, h3, h4, h5, h6, strong, b { font-weight: bold; }
.locationPane { position: relative; min-width: 100%; }
.content, .container, .containerPortal { min-width: auto; display: block; min-height: 400px; }
.container, .containerOptions { overflow: visible; }
@font-face {
	font-family: "Utilicons";
	font-style: normal;
	font-weight: normal;
	src: local("☺"), url('utilicons-web-webfont.woff') format("woff"), url('utilicons-web-webfont.ttf') format("truetype"), url('utilicons-web-webfont.svg') format("svg");
}
html { font: 300 0.78em "Lucida Grande",Arial,sans-serif; }
html { font: 400 0.8em "Helvetica Neue",Helvetica,Arial,sans-serif; }
h1 { font-size: 148%; }
h2 { font-size: 123.1%; }
h1, h2, h3 { margin: 1em 0px; }
a { color: rgb(1, 117, 140); text-decoration: none; }
a:focus { outline: 1px dotted rgb(0, 0, 0); }
.vtbegenerated a { text-decoration: underline; }
#contentFrame, #schemePreview, .schemePreviewBody, body { background: rgb(239, 237, 227) url('bblearn_2011_bg.png') repeat scroll 0px -5px; }
.locationPane { margin-top: 12px; padding-bottom: 12px; }
.contentPaneWide, .portalPane { margin: 0px 12px; padding: 0px; }
.container { padding: 20px 30px; }
#puller a::after { opacity: 0; content: "←"; position: absolute; right: -30px; top: 200px; font-size: 180%; color: rgb(255, 255, 255); padding: 3px 6px 3px 1px; background-color: rgb(119, 119, 119); border-radius: 0px 12px 12px 0px; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5); line-height: 1; border-style: solid; border-color: rgb(102, 102, 102); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 1px 1px 0px; transition: opacity 0.5s ease-in-out 0s; }
#puller.pullcollapsed a::after { content: "→"; opacity: 0; }
#puller.pullcollapsed a:hover::after, #puller a:hover::after, #puller.pullcollapsed a:focus::after, #puller a:focus::after { opacity: 1; }
.hotSpots li::after { content: "•"; color: rgb(153, 153, 153); position: relative; right: 1px; }
.hotSpots li:last-child::after { content: none; }
.path .root a[href*="course_id"]::before, .simplePath .root a[href*="course_id"]::before { content: "H"; }
.path .root a[href*="admin"]::before, .simplePath .root a[href*="admin"]::before { content: "S"; }
.path .root a[href*="tabId="]::before, .simplePath .root a[href*="tabId="]::before { content: "m"; }
.path .root a::before, .simplePath .root a::before { color: rgb(170, 170, 170); position: relative; top: 1px; font-family: "Utilicons"; font-size: 20px; font-weight: normal; line-height: 14px; }
.path .root a:hover::before, .path .root a:focus::before, .simplePath .root a:hover::before, .simplePath .root a:focus::before { color: rgb(136, 136, 136); }
#contentArea, #schemePreviewBody, .contentBox { border: 1px solid rgb(170, 170, 170); background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 4px; box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15); }
@media not all, (min-resolution: 192dpi) {
}
#contentArea, .container, .containerOptions, .containerPortal { margin: 0px; border-radius: 0px 0px 4px 4px; color: rgb(17, 17, 17); }
div.okContainer, div.ok div.container, .collabContainer { padding-bottom: 60px; position: relative; }
.additionalInfo p:first-child::after { content: "•"; color: rgb(204, 204, 204); right: -1px; position: relative; }
a.disabled, a.disabled:hover, a.disabled:focus, .disabled:not(input), .disabled:hover:not(input), .disabled:focus:not(input), input.button-3.disabled, input.button-3.disabled:hover, input.button-3.disabled:focus { opacity: 0.6; border-color: rgb(204, 204, 204); background-color: rgb(237, 237, 237); cursor: not-allowed; box-shadow: none; background-image: none; color: inherit; }
.mainButton.sub:hover h2 > a::before, .mainButton.sub > a:hover::before, .mainButton.sub:hover > a::before, .secondaryButton.sub:hover h2 > a::before, .secondaryButton.sub > a:hover::before, .secondaryButton.sub:hover > a::before { content: ""; position: absolute; bottom: 0px; border-width: 0px 10px 10px; border-style: none solid solid; border-color: -moz-use-text-color transparent rgb(170, 170, 170); display: block; left: 50%; margin-left: -10px; z-index: 99999; }
.mainButton.sub:hover h2 > a::after, .mainButton.sub > a:hover::after, .mainButton.sub:hover > a::after, .secondaryButton.sub:hover h2 > a::after, .secondaryButton.sub > a:hover::after, .secondaryButton.sub:hover > a::after { content: ""; position: absolute; bottom: -1px; border-width: 0px 10px 10px; border-style: none solid solid; border-color: -moz-use-text-color transparent rgb(209, 234, 239); display: block; left: 50%; margin-left: -10px; z-index: 1000000; }
.actionBarMicro ul:hover + ul .active a::after { display: none; }
a.liveAreaTab::after, .nav .sub.mainButton h2 > a:hover::after, .nav .sub.mainButton:hover > h2 a::after, .nav .sub.secondaryButton h2 > a:hover::after, .nav .sub.secondaryButton:hover > h2 a::after, #loginLang h2:hover::after, #loginLang:hover h2::after, .nav .sub:hover > a::after { border-bottom-color: rgb(209, 234, 239); }
.alignPanel li.sub a.button-4::after { content: none; }
.modeSwitch::before { content: "•"; font-size: 22px; line-height: 0.9; color: rgb(187, 187, 187); left: 0px; vertical-align: middle; font-weight: normal; position: relative; top: -2px; margin-right: 2px; }
.read-on::before { color: lime; text-shadow: 0px 0px 4px lime; }
.read-on.disabled::before, .read-on.disabled { color: rgb(153, 153, 153); }
.read-off::before, .read-off { color: rgb(153, 153, 153); }
.helpLink a.browseIcon::before { content: "?"; color: rgb(255, 255, 255); display: inline-block; z-index: 1; height: 18px; width: 18px; position: relative; font-weight: bold; }
.helpLink a[title*="Off"]::before, .helpLink a[title*="Off"]:hover::before, .helpLink a[title*="Off"]:focus::before { text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4); color: rgb(153, 153, 153); }
a.close::before { content: "X"; font: 18px/1 "Utilicons"; color: rgb(170, 170, 170); }
span.close-contextmenu::before { content: attr(data-icon); font: 14px/1 "Utilicons"; color: rgb(170, 170, 170); }
a.close-menu:hover span.close-contextmenu::before { color: rgb(136, 136, 136); }
a.close-menu::before { font-size: 14px; }
a.close:hover::before, a.close-menu:hover::before { color: rgb(136, 136, 136); }
.backLink { position: absolute; bottom: 0px; right: 0px; margin: 0px; }
.backLink a { border-radius: 4px 0px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; color: rgb(136, 136, 136); display: inline-block; font-weight: bold; padding: 8px 18px 8px 12px; text-decoration: none; text-shadow: 0px 1px 0px rgb(255, 255, 255); border-style: solid; border-color: rgb(205, 205, 205); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 0px 0px 1px; }
.backLink a::before { content: "←"; font-size: 120%; line-height: 1.2; color: rgb(153, 153, 153); }
.backLink a:hover { background: rgb(221, 221, 221) none repeat scroll 0% 0%; color: rgb(119, 119, 119); }
.backLink a:hover::before { color: rgb(0, 173, 208); }
#pageHeader, .pageTitle, .pageTitleSmall { margin: 0px; padding: 4px 20px 4px 10px; }
#pageHeader, #schemePreviewHead, .pageTitle h1, .pageTitleError h1 { padding: 0px; margin: 0px; line-height: 1; color: rgb(0, 0, 0); text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7); }
#pageHeader, .pageTitle h1, .pageTitleError h1 { font-size: 185%; }
.pageTitle #titleicon, .pageTitle h1, .pageTitle a.cmimg { display: inline-block; }
.pageTitle #titleicon { margin: 0px 6px 0px 0px; display: none; }
#pageHeader, #schemePreviewHead, .pageTitle { padding: 20px 30px; margin: 0px; background: transparent -moz-linear-gradient(100% 100% 90deg, rgb(222, 222, 222), rgb(238, 238, 238)) repeat scroll 0% 0%; border-radius: 4px 4px 0px 0px; position: relative; }
.pageTitleIcon { display: table-row; }
.pageTitle .contextMenuContainer, .pageTitle .titleButtons, .pageTitleEdit { display: inline-block ! important; }
#pageTitleBar { margin-right: 6px; display: inline-block; }
.helphelp, .pageTitle p, .details.label { margin: 9px 0px 0px; padding: 0px; clear: both; color: rgb(68, 68, 68); font: italic 105%/1.4em Georgia,sans-serif; }
.helphelp a { text-decoration: none; border-bottom: 1px dotted; color: rgb(68, 68, 68); }
.helphelp a:hover { border-style: solid; }
.version span::before { content: "+"; font-size: 105%; color: rgb(0, 173, 208); font-weight: bold; position: relative; top: -2px; left: 0px; width: 20px; display: inline-block; text-align: left; }
.searchbar::after, .searchbarPicker::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.controlpanel a.submenuLink::after, .controlpanel a.submenuLink_active::after, .tools a.submenuLink::after, .tools a.submenuLink_active::after, .navPaletteContent h3 a.submenuLink::before, .navPaletteContent h3 a.submenuLink_active::before { content: "→"; color: rgb(102, 102, 102); top: 3px; right: 4px; position: relative; font-weight: bold; font-size: 16px; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4); }
.navPaletteContent h3 a.submenuLink::before, .navPaletteContent h3 a.submenuLink_active::before { content: "H"; font: 18px/1 "Utilicons"; display: block; margin: 3px 0px 0px 6px; }
.controlpanel a.submenuLink:hover::after, .controlpanel a.submenuLink_active:hover::after, .tools a.submenuLink:hover::after, .tools a.submenuLink_active:hover::after, .navPaletteContent h3 a.submenuLink:hover::before, .navPaletteContent h3 a.submenuLink_active:hover::before { color: rgb(68, 68, 68); }
.ineditmode div.listCm ul.courseMenu li:hover .reorder::before { transition: visibility 350ms cubic-bezier(0.42, 0, 1, 1) 0s; }
.singleControl a.enrolled::before, .singleControl a.not-enrolled::before, .discover a::before { content: "x"; font-family: "Utilicons"; font-size: 19px; color: rgb(239, 59, 59); font-weight: normal; position: relative; top: 1px; left: -4px; }
.singleControl a.not-enrolled::before { content: "+"; color: rgb(51, 204, 0); }
.discover a::before { content: "F"; color: rgb(238, 238, 238); }
table.stepItems-reorder tbody tr:nth-child(2n+1) { background: rgb(246, 246, 246) none repeat scroll 0% 0%; }
table.splashTable tbody tr:nth-child(2n+1) { background: rgb(250, 250, 250) none repeat scroll 0% 0%; }
.iconsOnly li:nth-child(2n) { border-left: 1px solid rgb(204, 204, 204); }
.iconsOnly li:nth-child(2n):hover, .iconsOnly li:nth-child(2n):focus { border-left-color: rgb(102, 102, 102); }
.localViewToggle a.active::before, div.localViewToggle h2::before, .localViewToggle a.active::after, div.localViewToggle h2::after { content: ""; position: absolute; bottom: 0px; border-width: 0px 8px 8px; border-style: none solid solid; border-color: -moz-use-text-color transparent rgb(204, 204, 204); display: block; left: 50%; margin-left: -8px; z-index: 3; }
.localViewToggle a.active::after, div.localViewToggle h2::after { bottom: -1px; border-bottom-color: rgb(238, 238, 238); z-index: 4; }
.filePickerWidget .localViewToggle a.active::after { border-bottom-color: rgb(209, 234, 239); }
.containerTabs .active a::before, .containerTabs .active a::after, .containerTabs .active h3::before, .containerTabs .active h3::after { content: ""; position: absolute; bottom: 0px; border-width: 0px 9px 9px; border-style: none solid solid; border-color: -moz-use-text-color transparent rgb(204, 204, 204); display: block; left: 50%; margin-left: -8px; }
.containerTabs .active a::after, .containerTabs .active h3::after { border-bottom-color: rgb(255, 255, 255); margin-bottom: -1px; z-index: 2; }
.collapseTabs .containerTabs .active a::after { border-bottom-color: rgb(209, 234, 239); }
.collapseTabs .containerTabs .active a::before { content: none; }
.portlet .containerTabs .active a::before, .portlet .containerTabs .active a::after { border-width: 0px 7px 7px; border-top: 0px none; left: 50%; margin-left: -4px; }
.portlet .containerTabs .active a::before { border-bottom-color: rgb(221, 221, 221); }
.portlet .containerTabs .active a::after { border-bottom-color: rgb(255, 244, 191); bottom: -1px; }
.evidence-page .mapTabs li::before, .evidence-page .mapTabs li::after { display: block; content: ""; border-width: 23px 0px 23px 12px; border-style: solid none solid solid; border-color: transparent -moz-use-text-color transparent rgb(209, 234, 239); position: absolute; top: 0px; left: 0px; z-index: 101; }
.evidence-page .mapTabs li::before { display: block; content: ""; border-width: 23px 0px 23px 12px; border-style: solid none solid solid; border-color: transparent -moz-use-text-color transparent rgb(187, 187, 187); position: absolute; top: 0px; left: 1px; z-index: 100; }
.evidence-page .mapTabs li.active + li::after { border-left-color: rgb(234, 234, 234); }
.evidence-page .mapTabs li:first-child::before, .evidence-page .mapTabs li:first-child::after { display: none; }
.mapTabs ul li.active h3::before, .mapTabs ul li.active h3::after { content: ""; position: absolute; bottom: 0px; border-width: 0px 8px 8px; border-style: none solid solid; border-color: -moz-use-text-color transparent rgb(170, 170, 170); display: block; left: 50%; margin-left: -8px; }
.mapTabs ul li.active h3::after { border-bottom-color: rgb(234, 234, 234); bottom: -1px; }
.mapTabs ul li.active:first-child h3::after, .mapTabs ul li.active:first-child h3::before { margin-left: 0px; }
.lesson-plan-page .mapTabs ul li.active h3::after, .hierarchy-page .mapTabs ul li.active h3::after { border-bottom-color: rgb(85, 85, 85); bottom: 0px; }
.lesson-plan-page .mapTabs ul li.active h3::before, .hierarchy-page .mapTabs ul li.active h3::before { display: none; }
.evidence-page .mapTabs ul li.active h3::after { border-bottom-color: rgb(255, 255, 255); }
.paneTabs .active a::after, .paneTabs .active a::before { content: ""; position: absolute; border-width: 0px 8px 8px; border-style: none solid solid; border-color: -moz-use-text-color transparent rgb(239, 237, 227); display: block; left: 50%; margin-left: -8px; }
.paneTabs .active a::before { bottom: 0px; border-bottom: 8px solid rgb(204, 204, 204); }
.paneTabs .active a::after { bottom: -1px; }
.receipt a.close::before, a.closeCopyright::before { content: "X"; font: 18px/1 "Utilicons"; color: rgba(255, 255, 255, 0.7); }
a.closeCopyright::before { color: rgba(255, 255, 255, 0.5); }
.receipt a.close:hover::before, .receipt a.close:focus::before, a.closeCopyright:hover::before { color: rgb(255, 255, 255); }
.warningReceipt a.close::before, .attention a.close::before { color: rgba(0, 0, 0, 0.58); }
.warningReceipt a.close:hover::before, .warningReceipt a.close:focus::before, .attention a.close:hover::before, .attention a.close:focus::before { color: rgba(0, 0, 0, 0.8); }
.good a.close::before, .adding a.close::before { color: rgba(255, 255, 255, 0.8); }
.criteriaSummary ul li strong::before { content: "+"; font-weight: bold; color: rgb(170, 170, 170); font-size: 120%; line-height: 1; position: relative; left: -2px; }
.criteriaSummary ul li:nth-child(2) strong::before { content: none; }
.search-element h2::before { content: "F"; font: 17px/1 "Utilicons"; color: rgb(170, 170, 170); position: relative; margin: 0px 3px 6px 0px; top: 2px; vertical-align: middle; }
.steptitle, div[id*="step"], div[id*="Step"], #dataCollectionContainer, .container > form, .container { background-color: inherit; }
.stepcontent li::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.reqfield::before, .required > .label > label::before { content: "*"; color: rgb(255, 128, 0); font: 260%/0.2 Georgia,serif; position: relative; vertical-align: top; display: inline-block; margin-right: 1px; top: 11px; }
.required > .label > label::before { position: absolute; left: 0px; }
#dataCollectionContainer .noLabelField > .userRoleSelect::before, #dataCollectionContainer .noLabelField > .selectItems::before { content: ""; position: absolute; border-left: 1px dashed rgb(204, 204, 204); left: 347px; top: 0px; bottom: 0px; }
#dataCollectionContainer .noLabelField > .userRoleSelect.selectItems::before { left: 358px; }
@media not all, (min-resolution: 192dpi) {
}
.containerPortal > div:nth-last-child(-n+2) .reorderableModule { margin: 0px 0px 20px 10px; }
.edit_controls a::before { font: 16px/1 "Utilicons"; color: rgb(188, 188, 188); text-shadow: 0px 1px 0px rgb(255, 255, 255); }
.edit_controls a:hover::before { color: rgb(136, 136, 136); }
.edit_controls a.moduleCloseLink::before { content: "X"; }
.edit_controls a.moduleDetachLink::before { content: "w"; font: 16px/1 "Utilicons"; }
.edit_controls a[href*="edit_module"]::before { content: "S"; }
.moduleControlWrapper a::after { content: "→"; color: rgb(187, 187, 187); right: 0px; position: relative; font-weight: bold; font-size: 14px; }
a, .portlet .subCategories li a, .blockGroups .itemHead, .blockGroups .itemHeadOpen { color: rgb(0, 116, 139); }
.vtbegenerated a { text-decoration: underline; }
div.contentListRight span:first-child + span::before, div.contentListRight span:first-child + span + span::before { content: "("; }
div.contentListRight span:first-child + span::after, div.contentListRight span:first-child + span + span::after { content: ")"; }
/* ::::: https://sunypoly.open.suny.edu/themes/as_2012/theme2.css?v=3000.1.0-rel.52+991d2bf ::::: */

#loginHeader ul li.font-size::before, #loginHeader ul li.contrast::before { content: "T"; font: 130%/1 "Utilicons"; color: rgb(240, 240, 240); text-align: center; position: absolute; right: 0px; left: 0px; top: 5px; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2); z-index: 2; }
#loginHeader ul li.contrast::before { content: "c"; }
#loginHeader ul li:hover::before, #loginHeader ul li:focus::before, #loginHeader ul li:hover, #loginHeader ul li:focus { color: rgb(255, 255, 255); cursor: pointer; }
#loginLang h2::before { content: "W"; font: 140%/1 "Utilicons"; color: rgb(240, 240, 240); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2); }
#loginLang h2:hover::before, #loginLang h2:focus::before { color: rgb(255, 255, 255); }
#loginLang h2:hover::after, #loginLang h2:focus::after, #loginLang:hover h2::after, #loginLang:focus h2::after { z-index: 100; }
#loginAnnouncements ul li::before, #loginAnnouncements ul li::after { content: ""; position: absolute; bottom: 15px; width: 50%; height: 20%; max-width: 300px; box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.5); z-index: -2; }
#loginAnnouncements ul li::before { left: 8px; transform: rotate(-2deg); }
#loginAnnouncements ul li::after { right: 8px; transform: rotate(2deg); }
.reports ul li::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.wizardBody .path .root a::before { content: "H"; color: rgb(170, 170, 170); position: relative; top: -2px; font-family: "Pictos"; font-size: 20px; font-weight: normal; }
.navigationPaneWizard .navPalette ul li.currentStep::after { color: rgb(153, 153, 153); content: "→"; font-size: 18px; line-height: 0.5; position: absolute; right: 0px; top: 9px; }
.vtbegenerated { font-size: small; padding: 0px ! important; margin: 0px ! important; background: transparent none repeat scroll 0% 0% ! important; display: block ! important; }
.vtbegenerated p { margin-bottom: 1em; }
.vtbegenerated ol { margin: 1em 0px; padding-left: 40px; }
.vtbegenerated li { list-style-position: outside; }
.collabContainer { padding: 20px 30px 30px; }
.tooltipContainer .tooltip::after, .tooltipContainer-bot .tooltip::after { color: rgb(59, 59, 59); }
.theme-switch:hover .cmdiv ul::before, .theme-switch:hover .cmdiv ul::after { border-color: -moz-use-text-color transparent rgb(209, 234, 239); border-style: none solid solid; border-width: 0px 7px 7px; content: ""; left: 10px; position: absolute; top: -7px; }
.theme-switch:hover .cmdiv ul::before { border-bottom-color: rgb(153, 153, 153); top: -8px; }
.theme-switch .currentTheme a::after { content: ""; display: block; font-family: FontAwesome; font-size: 12px; position: absolute; left: 3px; top: 6px; }
#wizard a.wizard-close::before { content: "X"; font: 150% "Utilicons"; }
.floatedReceipt a.close::before { color: rgba(0, 0, 0, 0.7); }
.floatedReceipt a.close:hover::before { color: rgba(0, 0, 0, 0.9); }
#levelUp button::-moz-focus-inner { border: 0px none; padding: 0px; }
.deploymentTabs .arrow::before, .deploymentTabs .arrow::after { border-color: -moz-use-text-color transparent rgb(255, 255, 255); border-style: none solid solid; border-width: 0px 15px 15px; content: ""; display: block; top: -15px; position: absolute; }
.deploymentTabs .arrow.outer::before, .deploymentTabs .arrow.outer::after { border-color: -moz-use-text-color transparent rgb(204, 204, 204); border-style: none solid solid; border-width: 0px 16px 16px; content: ""; display: block; top: -16px; margin-left: -1px; position: absolute; }
.arrow.firstButton::before, .arrow.firstButton::after { left: 9%; }
.arrow.secondButton::before, .arrow.secondButton::after { left: 35%; }
.arrow.thirdButton::before, .arrow.thirdButton::after { left: 58%; }
.tag-node::after { content: "x"; position: absolute; top: 10%; right: 9px; font-size: 14px; color: rgb(204, 204, 204); font-weight: normal; cursor: pointer; text-shadow: 1px 1px 0px rgb(255, 255, 255); }
.toggle-button.active::after { transform: rotate(-3deg); bottom: 17px; box-shadow: 0px 17px 14px rgba(0, 0, 0, 0.4); content: ""; left: 11px; position: absolute; right: 17px; top: -3px; z-index: -1; }
.selectButton.active::before, .selectButton.active::after { border-color: rgb(209, 234, 239) transparent transparent; border-style: solid solid none; border-width: 15px 15px 0px; content: ""; display: block; bottom: -15px; left: 50%; margin-left: -15px; position: absolute; }
/* ::::: https://sunypoly.open.suny.edu/branding/colorpalettes/SUNY_POLY_2015/generated/colorpalette.generated.modern.css?v=3000.1.0-rel.52+991d2bf ::::: */

a, .blockGroups .itemHead { color: rgb(75, 90, 121); border-bottom-color: rgb(75, 90, 121); }
a:active { border: medium none; outline: medium none; }
#contentFrame, #schemePreview, body, .breadcrumbs, body.wizardBody .containerWizard, .paneTabs { background-color: rgb(212, 219, 229); }
.paneTabs .active a::before { border-bottom-color: rgb(189, 200, 215); }
.paneTabs .active a::after { border-bottom-color: rgb(212, 219, 229); }
.path .root a::before, .simplePath .root a::before { color: rgb(153, 153, 153); }
.contentBox, .portal .contentBox { border-color: rgb(170, 170, 170); }
.pageTitle {  }
.actionBarMicro .active > a::after, a.liveAreaTab::after, .nav .sub h2 a:hover::after, .nav .sub.mainButton:hover h2 a::after, #loginLang h2:hover::after, #loginLang:hover h2::after { border-bottom-color: rgb(240, 240, 240); }
.portlet .containerTabs .active a::after { border-bottom-color: rgb(238, 238, 238); }
.read-on::before, .read-on span {  }
#contentFrame, #schemePreview, body, .ineditmode, .topFrame, .breadcrumbs, .paneTabs, .paneTabs ul li.active, .paneTabs ul li, .wizardBody .containerWizard { background: rgb(241, 241, 241) url('reorder_bg-copy.png') repeat scroll 0px 0px; color: rgb(0, 0, 0); }
.appTabs .active .hideoff, .appTabs .active a:hover .hideoff, .appTabs .active a:focus .hideoff, .toppTabs-compact .appTabs .active .hideoff, .toppTabs-compact .appTabs .active a:hover .hideoff, .toppTabs-compact .appTabs .active a:focus .hideoff, .paneTabs .active a::after { border-bottom-color: rgb(241, 241, 241); }
#contentArea, #schemePreviewBody, .container { background-color: rgb(255, 255, 255); color: rgb(17, 17, 17); }
#pageHeader, #schemePreviewHead, div.pageTitle, div.pageTitle h1, div.pageTitleError h1, div#lightboxContent h2 { background: rgb(21, 61, 110) none repeat scroll 0% 0%; border-color: rgb(21, 61, 110); color: rgb(241, 241, 241); text-shadow: none; }
.pageTitle p, .pageTitle p.helptext, .version { color: rgb(241, 241, 241); opacity: 0.8; }
#topFrame, .topGlobalLinks ul li, .topGlobalLinks a, .topGlobalLinks a:hover, .topGlobalLinks a:focus, .hotItems, .hotSpots a, .hotSpots li::after, .hotSpots a:hover { color: rgb(241, 241, 241); }
/* ::::: https://sunypoly.open.suny.edu/branding/_1_1/brand.css?ts=1426085638000&v=3000.1.0-rel.52+991d2bf ::::: */

#contentFrame, #schemePreview, body, .ineditmode, .topFrame, .breadcrumbs, .paneTabs, .paneTabs ul li.active, .paneTabs ul li, .wizardBody .containerWizard { background: rgb(241, 241, 241) url('reorder_bg-copy.png') repeat scroll 0px 0px; color: rgb(0, 0, 0); }
.appTabs .active .hideoff, .appTabs .active a:hover .hideoff, .appTabs .active a:focus .hideoff, .toppTabs-compact .appTabs .active .hideoff, .toppTabs-compact .appTabs .active a:hover .hideoff, .toppTabs-compact .appTabs .active a:focus .hideoff, .paneTabs .active a::after { border-bottom-color: rgb(241, 241, 241); }
#contentArea, #schemePreviewBody, .container { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); }
#pageHeader, #schemePreviewHead, div.pageTitle, div.pageTitle h1, div.pageTitleError h1, div#lightboxContent h2 { background: rgb(241, 241, 241) none repeat scroll 0% 0%; border-color: rgb(241, 241, 241); color: rgb(21, 61, 110); text-shadow: none; }
.pageTitle p, .pageTitle p.helptext, .version { color: rgb(21, 61, 110); opacity: 0.8; }
#topFrame, .topGlobalLinks ul li, .topGlobalLinks a, .topGlobalLinks a:hover, .topGlobalLinks a:focus, .hotItems, .hotSpots a, .hotSpots li::after, .hotSpots a:hover { color: rgb(241, 241, 241); }
/* ::::: https://sunypoly.open.suny.edu/webapps/discussionboard/css/discussion_board.css?v=3000.1.0-rel.52+991d2bf_3000.1.0-rel.57+9c7ecbe ::::: */

a.reply-collapsed::before { content: "▼"; margin-right: 3px; color: rgb(153, 153, 153); text-decoration: none; }
a.reply-expanded::before { content: "▲"; margin-right: 3px; color: rgb(153, 153, 153); text-decoration: none; }
.dbThreadInfo { color: rgb(85, 85, 85); float: right; }
.dbThreadBody { padding-bottom: 0.6em; }
.dbThreadInfo dl { float: left; font-size: 95%; }
.dbThreadInfo dt { float: left; clear: left; margin: 0px; padding: 0.1em; width: 8em; font-weight: bold; color: rgb(153, 153, 153); }
.dbThreadInfo dd { margin: 0px 0px 0px 0.5em; padding: 0.1em; float: left; }
.dbThreadFooter .navButtons { border-right: 1px solid rgb(204, 204, 204); display: inline-block; float: left; padding: 12px 12px 12px 0px; width: 49%; }
.dbThreadFooter .threadButtons { float: right; text-align: right; display: inline-block; padding: 1em 0px; width: 49%; }
#collectionListContainerDiv div.dbThreadBody { clear: both; }
.profileCardAvatarThumb { font-weight: bold; font-size: 110%; position: relative; }
.collapsedMessage .db-message .profileCardAvatarThumb::after { content: ""; width: 68px; height: 20px; position: absolute; top: 56px; left: -84px; box-shadow: 0px -9px 19px rgb(255, 255, 255), 0px -6px 12px rgb(255, 255, 255), 0px -3px 4px rgb(255, 255, 255); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.collapsedMessage.reply-lvl-0 .db-message .profileCardAvatarThumb::after { box-shadow: 0px -9px 19px rgb(222, 222, 222), 0px -6px 12px rgb(222, 222, 222), 0px -3px 4px rgb(222, 222, 222); background: rgb(222, 222, 222) none repeat scroll 0% 0%; }
.receipt a.close:hover::before, a.closeCopyright:hover::before { color: rgb(51, 51, 51); }
#collectionContainer .threadButtons { text-align: left; padding-top: 0px; }
#collectionContainer .dbThreadInfo { float: none; }
#collectionContainer .dbThreadInfo dl { width: 50%; }
#collectionContainer .dbThread .dbThreadInfo { padding: 12px; }
/* ::::: https://sunypoly.open.suny.edu/webapps/discussionboard/css/as_2012/discussion_board.css?v=3000.1.0-rel.52+991d2bf_3000.1.0-rel.57+9c7ecbe ::::: */

@font-face {
	font-family: "Utilicons-discussions";
	font-style: normal;
	font-weight: normal;
	src: local("☺"), url('utilicons-web-webfont_001.woff') format("woff"), url('utilicons-web-webfont_001.ttf') format("truetype"), url('utilicons-web-webfont_001.svg') format("svg");
}
div.collectionViewReadMessageBorder { border-left: 1px solid rgb(204, 204, 204); margin-left: 30px; }
div.collectionViewUnreadMessageBorder { border: 3px solid rgb(153, 153, 153); margin-left: 30px; }
.dbThread { position: relative; border: 1px solid rgb(170, 170, 170); background: rgb(238, 238, 238) none repeat scroll 0% 0%; margin: 0px 0px 12px; }
.dbThread .dbThreadInfo { color: rgb(85, 85, 85); }
.dbThreadInfo dl { float: left; margin: 0px; }
.dbThreadInfo dt { float: left; clear: left; margin: 0px; padding: 0.1em; width: 8em; font-weight: bold; color: rgb(153, 153, 153); }
.dbThreadInfo dd { margin: 0px 0px 0px 0.5em; padding: 0.1em; float: left; }
div.dbThreadFooter div.navButtons, div.dbThreadHeader div.navButtons { width: 100%; }
div.dbThreadFooter div.threadButtons, div.dbThreadHeader div.threadButtons { width: 100%; }
.dbThreadBody { clear: both; outline: 0px none; }
.dbThreadBody p { font: 120%/1.3 Georgia,serif; }
p.dbAttachment, .dbParentPost p.dbAttachment { margin: 0px 0px 12px; font: 100% "Lucida Grande",sans-serif; }
div.spacerDiv { clear: both; }
.pageTitle { background: rgb(238, 238, 238) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(221, 221, 221); }
.infoReceipt a.close::before { color: rgba(0, 0, 0, 0.56); }
.infoReceipt a.close:hover::before { color: rgba(0, 0, 0, 0.8); }
#collectionContainer .dbThreadBody { padding: 10px; }
#collectionContainer .dbThreadFooter { margin: 0px 10px; }
.thread-detail-page #navsecondary .secondaryButton a::before, .thread-detail-page .actionBar .mainButton a::before { color: rgb(204, 204, 204); font: 20px "Utilicons-discussions"; position: absolute; left: 10px; top: 7px; }
.thread-detail-page #navsecondary .secondaryButton a:hover::before, .thread-detail-page #navsecondary .secondaryButton a:focus::before, .thread-detail-page .actionBar .mainButton a:hover::before, .thread-detail-page .actionBar .mainButton a:focus::before { color: rgb(255, 255, 255); }
.thread-detail-page #navsecondary a#refreshTreeActionButtonId::before { content: "r"; }
.thread-detail-page #navsecondary #searchActionButtonId a::before { content: "F"; }
.thread-detail-page a#moderateActionButtonId::before { content: "q"; }
.thread-detail-page a#subUnSubActionButtonId::before { content: "M"; }
.thread-detail-page #navsecondary #alignmentsActionButtonId a::before { content: "a"; }
.thread-detail-page a#gradeActionButtonId::before, .thread-detail-page a#studentGradeActionButtonId::before { content: "g"; }
/* ::::: https://sunypoly.open.suny.edu/javascript/jquery/jquery-ui.css?v=3000.1.0-rel.52+991d2bf ::::: */

.ui-helper-clearfix::before, .ui-helper-clearfix::after { content: ""; display: table; border-collapse: collapse; }
.ui-helper-clearfix::after { clear: both; }
input.ui-button::-moz-focus-inner, button.ui-button::-moz-focus-inner { border: 0px none; padding: 0px; }
/* ::::: https://sunypoly.open.suny.edu/webapps/achievements/css/achievements.css ::::: */

.mapTabs ul li.active h3::before, .mapTabs ul li.active h3::after { border-bottom-color: white; }
.mapTabs a.complete::before, .mapTabs li:first-child a.complete::before { background: transparent url('checkmark-grayscale.png') no-repeat scroll 0px 50% / 12px auto; bottom: 16px; content: ""; height: 10px; position: absolute; right: 5px; width: 12px; }
@media only screen and (max-width: 1199px) and (min-width: 481px) {
}
@media only screen and (max-width: 1789px) and (min-width: 1200px) {
}
@media only screen and (max-width: 2490px) and (min-width: 1790px) {
}
