/* ::::: https://www.google.com/uds/api/visualization/1.0/b5ac9efed10eef460d14e653d05f5fbf/ui+en.css ::::: */

* html .charts-inline-block, :first-child + html .charts-inline-block { display: inline; }
:first-child + html .charts-menu-button-inner-box { left: -1px; }
:first-child + html .charts-menu-button-rtl .charts-menu-button-inner-box { left: 1px; right: auto; }
* html .charts-menu-button-disabled, :first-child + html .charts-menu-button-disabled { margin: 2px 1px ! important; padding: 0px 1px ! important; }
/* ::::: http://eprints.soton.ac.uk/style/auto-3.3.10.css ::::: */

div.altmetric_tweeters::before { content: "Tweeted by "; }
div.altmetric_feeds::before { content: "Blogged by "; }
div.altmetric_gplus::before { content: "Mentioned in "; }
div.altmetric_gplus::after { content: " Google+ posts"; }
div.altmetric_msm::before { content: "Picked up by "; }
div.altmetric_msm::after { content: " news outlets"; }
div.altmetric_fbwalls::before { content: "On "; }
div.altmetric_fbwalls::after { content: " Facebook pages"; }
div.altmetric_rdts::before { content: "Reddited by "; }
div.altmetric_videos::before { content: "On "; }
div.altmetric_videos::after { content: " videos"; }
div.altmetric_mendeley::after { content: " readers on Mendeley"; }
div.altmetric_connotea::after { content: " readers on Connotea"; }
div.altmetric_citeulike::after { content: " readers on CiteULike "; }
body { color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); }
a, .ep_tm_key_tools a:visited { color: rgb(6, 69, 173); }
a:visited { color: rgb(11, 0, 128); }
a:hover, .ep_tm_key_tools a:hover { color: rgb(51, 102, 187); }
a:active, .ep_tm_key_tools a:active { color: red; }
h1, h2, h3, h4 { color: rgb(96, 96, 96); }
.ep_tm_footer { border-color: rgb(32, 79, 118); }
.ep_tm_key_tools li { border-left: 1px solid rgb(232, 232, 232); border-right: 1px solid rgb(96, 96, 96); }
.ep_tm_key_tools li:first-child { border-left: medium none; }
.ep_tm_key_tools li:last-child { border-right: medium none; }
.ep_form_action_button, .ep_form_internal_button, .ep_tm_searchbarbutton, .ep_blister_node_selected { border-color: rgb(91, 151, 199) rgb(19, 50, 74) rgb(19, 50, 74) rgb(82, 135, 179); background-image: url('bar_12px.png'); background-color: rgb(31, 79, 118); color: white; }
.ep_form_action_button:active, .ep_form_internal_button:active, .ep_tm_searchbarbutton:active, .ep_blister_node_selected:active { border-color: rgb(19, 50, 74) rgb(82, 135, 179) rgb(82, 135, 179) rgb(19, 50, 74); background-color: rgb(39, 100, 150); }
.ep_summary_box_title, .ep_summary_box_body, .ep_sr_title_bar, .ep_sr_content, .ep_sr_collapse_bar, .ep_tab_panel, .ep_toolbox_content, .ep_upload_doc, .ep_search_buttons, .ep_search_controls, .ep_search_controls_bottom, .ep_view_group_by { background-color: rgb(232, 232, 255); }
.ep_summary_box_title, .ep_sr_title_bar, .ep_sr_collapse_bar { background-image: url('bar_solid_12px.png'); background-repeat: repeat-x; }
.ep_sr_content, .ep_summary_box_body, .ep_tab_panel, .ep_toolbox_content, .ep_upload_doc { background-image: url('bar_solid_24px.png'); background-repeat: repeat-x; }
.ep_summary_box_title, .ep_summary_box_body, .ep_sr_title_bar, .ep_sr_content, .ep_sr_collapse_bar, .ep_tab_panel, .ep_tab_bar li, .ep_tab_bar li a, .ep_toolbox_content, .ep_upload_doc { border-color: rgb(204, 204, 204); }
th.ep_row, td.ep_row { border-color: rgb(187, 187, 187); }
th.ep_row, td.ep_row { border-bottom-style: dashed; }
td.ep_row { border-left-style: dashed; }
form { display: inline; }
select, input.ep_form_text, textarea { padding: 1px 2px; margin-right: 4px; border: 1px solid rgb(204, 204, 204); }
.ep_form_action_button, .ep_form_internal_button { text-align: center; border-width: 2px; border-style: solid; border-radius: 3px; padding: 2px 20px; cursor: pointer; }
body { margin: 0px; font-family: sans-serif; font-size: 80%; }
ul { text-align: left; }
img { border: 0px none; }
.ep_no_js { display: none; }
h1, h2 { font-weight: bold; }
h1 { margin: 10px 0px 0px; font-size: 130%; text-align: center; }
h2 { font-size: 110%; }
h3 { font-size: 120%; }
th.ep_row { padding-right: 0.25em; text-align: right; width: 20%; border-width: 1px; }
td.ep_row { padding-left: 0.25em; text-align: left; border-width: 1px; }
.ep_block { width: auto; margin: 0.25em auto; text-align: center; }
.ep_block td { text-align: left; }
.ep_doc_icon { padding: 2px; }
div.irstats2_summary_page_container { border: 1px solid rgb(204, 204, 204); width: 80%; margin-left: auto; margin-right: auto; }
div.irstats2_summary_page_container > p { text-align: center; width: 100%; margin: 5px 0px 0px; color: rgb(102, 102, 102); }
#irstats2_summary_page_downloads { height: 250px; width: 100%; }
#lightbox { position: absolute; left: 0px; width: 100%; z-index: 100; text-align: center; }
#lightbox img { width: auto; height: auto; }
#lightbox a img { border: medium none; }
#outerImageContainer { position: relative; background-color: rgb(255, 255, 255); width: 250px; height: 250px; margin: 0px auto; }
#imageContainer { padding: 10px; }
#loading { position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav a { outline: medium none; }
#hoverNav { height: 30px; }
#prevLink, #nextLink { width: 49%; height: 100%; display: block; }
#prevLink { left: 0px; float: left; background: transparent url('prevlabel.gif') no-repeat scroll left 0px; }
#nextLink { right: 0px; float: right; background: transparent url('nextlabel.gif') no-repeat scroll right 0px; }
#imageDataContainer { font: 10px/1.4em Verdana,Helvetica,sans-serif; background-color: rgb(255, 255, 255); margin: 0px auto; overflow: auto; width: 100%; }
#imageData { padding: 0px 10px; color: rgb(102, 102, 102); }
#imageData #imageDetails { width: 70%; float: left; text-align: left; }
#imageData #caption { font-weight: bold; }
#imageData #numberDisplay { display: block; clear: left; padding-bottom: 1em; }
#imageData #bottomNavClose { width: 66px; float: right; padding-bottom: 0.7em; outline: medium none; }
#overlay { position: absolute; top: 0px; left: 0px; z-index: 90; width: 100%; height: 500px; background-color: rgb(0, 0, 0); }
#lightboxMovie {  }
.ep_no_js { display: block; }
.ep_only_js { display: none; }
div.ep_overlay { background-color: rgb(0, 0, 0); position: fixed; top: 0px; left: 0px; z-index: 100; }
div.ep_report_progress_bar::after { content: "Loading..."; }
.ep_summary_content {  }
.ep_summary_content_top {  }
.ep_summary_content_bottom {  }
.ep_summary_content_left { float: left; }
.ep_summary_content_right { float: right; }
.ep_summary_content_after { clear: both; }
.ep_summary_box { margin-bottom: 10px; }
.ep_summary_box_title { padding: 2px 6px; font-weight: bold; font-size: 115%; border-style: solid; border-width: 1px; }
.ep_summary_box_body { padding: 2px 6px; border-style: none solid solid; border-width: 1px; }
.ep_summary_box_title a { text-decoration: none; }
.ep_summary_box_title img { vertical-align: -1px; }
.ep_tm_menu, .ep_tm_key_tools { clear: both; list-style: outside none none; margin: 0px; padding: 0px; }
.ep_tm_key_tools { display: block; }
.ep_tm_key_tools li { list-style: outside none none; display: inline; padding: 0px; margin: 0px; }
.ep_tm_key_tools li a:hover {  }
.ep_tm_key_tools a {  }
.ep_tm_key_tools li { padding: 0px 6px; }
.ep_tm_key_tools li:first-child { padding-left: 0px; }
.ep_tm_footer { clear: both; margin-top: 20px; font-size: 80%; border-top-width: 2px; border-top-style: solid; padding: 10px 10px 0px; }
body { background-color: rgb(204, 204, 204); margin: 0px; }
#container { width: 940px; margin: auto; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); }
#header { height: 112px; border-bottom: 2px solid rgb(153, 153, 153); text-align: right; }
#header img { padding-top: 36px; padding-right: 38px; border-style: none; }
#nav { position: absolute; top: 62px; padding: 0px 20px; width: 210px; }
#content { margin: 10px 20px 10px 250px; min-height: 840px; }
h1 { text-align: left; }
#nav ul { margin: 0px; padding: 0px; font: 11pt serif; background-color: rgb(159, 159, 159); }
#nav ul ul, #nav li, #nav .ep_tm_key_tools { border-top: 1px solid rgb(255, 255, 255); }
#nav ul a { color: rgb(255, 255, 255); }
#nav table { margin-top: 20px; }
#nav li > a { text-decoration: none; }
#nav li.home > a { background-image: url('home_white.png'); background-repeat: no-repeat; background-position: 175px center; }
#nav li > a, #nav li form { display: block; margin: 0px; padding: 6px 10px; }
#nav form input { margin: 0px; border-style: none; padding: 3px; width: 150px; float: left; }
#nav form button { margin: 0px 0px 0px 3px; padding: 0px; height: 22px; width: 22px; background: transparent url('nav_search.png') no-repeat scroll right center; cursor: pointer; border-style: none; float: left; }
#nav li { margin: 0px; padding: 0px; list-style: outside none none; }
#nav li:first-child { border-top-style: none; }
#nav li li > a { padding-left: 30px; }
#nav li.active { background-color: rgb(62, 73, 78); }
#nav li > a:hover { background-color: rgb(62, 73, 78); }
#nav ul.ep_tm_key_tools li:first-child { font-weight: bold; padding: 6px 10px; }
#nav ul.ep_tm_key_tools li:first-child a { padding: 0px; }
#nav ul.ep_tm_key_tools li a { padding-left: 30px; }
#nav ul.ep_tm_key_tools li { display: block; border-left-style: none; }
.ep_tm_footer { border-top: 2px solid rgb(136, 136, 136); padding: 3px 20px 20px; font-size: 90%; }
div.ep_summary_content_bottom { margin-top: 20px; }
div.irstats2_summary_page_container { border: medium none; width: 90%; }
body { height: 973px; }
.ep_no_js { display: none; }
.ep_only_js { display: block; }
/* ::::: https://ajax.googleapis.com/ajax/static/modules/gviz/1.0/core/tooltip.css ::::: */

