/* ::::: https://ton.twimg.com/tfw/css/syndication_bundle_v1_55f7a851de954fd525d0bb601ba7319a9e1fb471.css ::::: */

.TwitterCard .Button::-moz-focus-inner { border: 0px none; padding: 0px; }
.TwitterCard { background: transparent none repeat scroll 0% 0%; color: inherit; overflow: hidden; }
.TwitterCard-title { font-size: 1em; margin: 0px 0px 0.15em; }
.TwitterCard-container { border-radius: 0.42857em; border-width: 1px; border-style: solid; border-color: rgb(225, 232, 237); box-sizing: border-box; color: inherit ! important; overflow: hidden; }
.TwitterCard-container--clickable { cursor: pointer; outline-offset: -1px; transition: background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s; }
.TwitterCard-container--clickable:hover { background: rgb(245, 248, 250) none repeat scroll 0% 0%; border-color: rgba(136, 153, 166, 0.5); }
.tcu-resetMargin { margin: 0px; }
.tcu-imageAspect--1to1::before { padding-top: 100%; }
.tcu-imageAspect--1to2::before { padding-top: 200%; }
.tcu-imageAspect--2to1::before { padding-top: 50%; }
.tcu-imageAspect--1_91to1::before { padding-top: 52.25%; }
.tcu-imageAspect--3to4::before { padding-top: 133.33%; }
.tcu-imageAspect--4to3::before { padding-top: 75%; }
.tcu-imageAspect--5to2::before { padding-top: 40%; }
.tcu-imageAspect--16to9::before { padding-top: 56.25%; }
.tcu-imageAspect--4to1::before { padding-top: 25%; }
.tcu-imageContainer { position: relative; width: 100%; overflow: hidden; }
.tcu-imageContainer::before { content: ""; display: block; }
.tcu-imageWrapper { position: absolute; top: -1px; left: -1px; bottom: -1px; right: -1px; background-size: cover; background-position: center center; background-repeat: no-repeat; }
.tcu-imageWrapper img { width: 100%; height: 100%; opacity: 0; }
.tcu-textEllipse--multiline { overflow: hidden; }
.tcu-textInherit:not(:focus):not(:hover):not(:active) { color: inherit; font-weight: inherit; text-decoration: inherit; }
.TwitterCardsGrid { display: block; position: relative; text-align: left; }
.TwitterCardsGrid .TwitterCardsGrid-col--12 { float: left; width: 100%; clear: both; }
.TwitterCardsGrid .TwitterCardsGrid-col--spacerTop, .TwitterCardsGrid-rtl .TwitterCardsGrid-col--spacerTop { margin-top: 0.32333em; }
.TwitterCardsGrid .TwitterCardsGrid-col--spacerBottom, .TwitterCardsGrid-rtl .TwitterCardsGrid-col--spacerBottom { margin-bottom: 0.32333em; }
.TwitterCardsGrid .TwitterCardsGrid-float--prev { float: left; }
.TwitterCard .Button--smallGray:hover:not([disabled]), .TwitterCard .Button--smallGray:focus:not([disabled]), .TwitterCard .Button--smallGray:active:not([disabled]) { border: 1px solid rgb(225, 225, 234); background-color: rgb(225, 232, 237); background-image: linear-gradient(0rad, rgb(225, 232, 237), rgb(255, 255, 255)); color: inherit; }
.TwitterCard .Button--smallGray:active:not([disabled]) { box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.2) inset; }
.TwitterCard .Button--smallGray[data-theme="dark"]:hover:not([disabled]), .TwitterCard .Button--smallGray[data-theme="dark"]:focus:not([disabled]), .TwitterCard .Button--smallGray[data-theme="dark"]:active:not([disabled]) { background-color: rgba(255, 255, 255, 0.1); background-image: none; border-color: rgb(255, 255, 255); }
.TwitterCard .LiveVideoCard.SummaryCard--noImage .SummaryCard-image .tcu-imageContainer::after { background-image: url('twitter_v1_3a8f4c25d89a1e20675893c1d64b2c968a9a9f7f.svg'); background-position: left top; background-repeat: no-repeat; background-size: 1.5em auto; color: rgb(255, 255, 255); content: "Live Stream"; display: block; font-size: 1.5em; font-weight: lighter; left: 1em; padding-top: 2em; position: absolute; top: calc(50% - 1.3em); }
.TwitterCard .MomentCard:not([data-card-breakpoints~="w500"]) .MomentCard-cover { width: calc(41.6667% - 0.19444em); }
.TwitterCard .MomentCard:not([data-card-breakpoints~="w500"]) .MomentCard-contentContainer { width: calc(58.3333% - 0.13889em); }
.TwitterCard .MomentCard:not([data-card-breakpoints~="w500"]) .MomentCard-description p { max-height: 2.6em; }
.TwitterCard .MomentCard:not([data-card-breakpoints~="w450"]) .MomentCard-description p { max-height: 1.3em; }
.TwitterCard .MomentCard:not([data-card-breakpoints~="w400"]) .MomentCard-description { display: none ! important; }
.TwitterCard .MomentCard:not([data-card-breakpoints~="w300"]) .MomentCard-title .TwitterCard-title, .TwitterCard .MomentCard:not([data-card-breakpoints~="w300"]) .MomentCard-subtitle, .TwitterCard .MomentCard:not([data-card-breakpoints~="w300"]) .MomentCard-badge { font-size: 0.92857em; }
.TwitterCard .PollXChoice[data-poll-image="true"] .tcu-imageWrapper::before { position: absolute; height: 100%; width: 100%; content: ""; }
.TwitterCard .SummaryCard-content { padding: 0.75em; box-sizing: border-box; text-decoration: none; }
.TwitterCard .SummaryCard-content .TwitterCard-title { max-height: 1.3em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.TwitterCard .SummaryCard-content p { overflow: hidden; }
.TwitterCard .SummaryCard-destination { text-transform: lowercase; color: rgb(136, 153, 166); max-height: 1.3em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.TwitterCard .SummaryCard-image { background-color: rgb(225, 232, 237); border-style: solid; border-color: inherit; border-width: 0px; }
.TwitterCard .SummaryCard-image .tcu-imageWrapper { background-image: url('link_v1_e64f66f5650df987d97cc5f00c4cb5987f367028.svg'); background-size: 3em auto; }
.TwitterCard .SummaryCard--small .SummaryCard-image { width: 8.81667em; border-right-width: 1px; }
.TwitterCard .SummaryCard--small .SummaryCard-contentContainer { width: calc(100% - 8.81667em - 2px); }
.TwitterCard .SummaryCard--small .SummaryCard-content p { max-height: 3.9em; }
.TwitterCard .SummaryCard--small:not([data-card-breakpoints~="w400"]) .SummaryCard-image { width: 7.51667em; height: 7.51667em; }
.TwitterCard .SummaryCard--small:not([data-card-breakpoints~="w400"]) .SummaryCard-contentContainer { width: calc(100% - 7.51667em - 2px); }
.TwitterCard .SummaryCard--small:not([data-card-breakpoints~="w400"]) .SummaryCard-content p { max-height: 2.6em; }
.TwitterCard .SummaryCard--small:not([data-card-breakpoints~="w300"]) .SummaryCard-image { width: 6.21667em; height: 6.21667em; }
.TwitterCard .SummaryCard--small:not([data-card-breakpoints~="w300"]) .SummaryCard-contentContainer { width: calc(100% - 6.21667em - 2px); }
.TwitterCard .SummaryCard--small:not([data-card-breakpoints~="w300"]) .SummaryCard-content p { max-height: 1.3em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.TwitterCard .SummaryCard--large .SummaryCard-image { border-bottom-width: 1px; }
.TwitterCard .SummaryCard--large .SummaryCard-content { padding-left: 1em; padding-right: 1em; }
.TwitterCard .SummaryCard--large .SummaryCard-content p { max-height: 2.6em; }
.TwitterCard .SummaryCard--large:not([data-card-breakpoints~="w300"]) .SummaryCard-content p { max-height: 1.3em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.SandboxRoot { display: none; }
/* ::::: http://platform.twitter.com/css/timeline.40e63a1ae993a630fb533410b03edaff.light.ltr.css ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: 700; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
.u-block { display: block ! important; }
.u-hiddenVisually { position: absolute ! important; overflow: hidden ! important; width: 1px ! important; height: 1px ! important; padding: 0px ! important; border: 0px none ! important; clip: rect(1px, 1px, 1px, 1px) ! important; }
.u-inlineBlock { display: inline-block ! important; max-width: 100%; }
.u-cf::after, .u-cf::before { content: " "; display: table; }
.u-cf::after { clear: both; }
.u-floatLeft { float: left ! important; }
.u-floatRight { float: right ! important; }
blockquote, button, h1, h2, h3, h4, h5, h6, iframe, ol, p, ul { margin: 0px; padding: 0px; list-style: outside none none; border: medium none; }
b, i { font-weight: 400; font-style: normal; }
abbr, abbr[title] { border-bottom: 0px none; }
.SandboxRoot { direction: ltr; text-align: left; }
.SandboxRoot { display: block; background: transparent none repeat scroll 0px 0px; font: 14px/1.4 Helvetica,Roboto,"Segoe UI",Calibri,sans-serif; color: rgb(41, 47, 51); white-space: initial; }
a { color: rgb(59, 148, 217); text-decoration: none; outline: 0px none; }
a:visited { color: rgb(59, 148, 217); text-decoration: none; outline: 0px none; }
a:focus { color: rgb(85, 172, 238); text-decoration: underline; outline: 0px none; }
a:hover { color: rgb(85, 172, 238); text-decoration: none; outline: 0px none; }
a:active { color: rgb(59, 148, 217); text-decoration: none; outline: 0px none; }
.SandboxRoot:not(.env-bp-min) .u-hiddenInWideEnv { display: none; }
.u-linkBlend:not(:focus):not(:hover):not(:active) { font-weight: inherit; color: inherit; text-decoration: inherit; }
.Avatar { max-width: 100%; max-height: 100%; }
.Button::-moz-focus-inner { border: 0px none; padding: 0px; }
.Icon { display: inline-block; height: 1.25em; background-repeat: no-repeat; background-size: contain; vertical-align: text-bottom; }
.Icon--playCircle { width: 1.04166em; background-image: url('undefined'); }
.Icon--retweetBadge { width: 1.04166em; background-image: url('undefined'); transform: scaleX(1); }
.Icon--twitter { width: 1.25em; background-image: url('undefined'); }
.Icon--verified { width: 1.11111em; background-image: url('undefined'); }
.Icon--heart { width: 0.9375em; background-image: url('undefined'); }
.Identity-name { font-weight: 700; }
.Identity-screenName { color: rgb(136, 153, 166); }
.Identity:focus { text-decoration: none; }
.Identity:focus .Identity-name { text-decoration: underline; }
.Identity--withInlineAvatar { line-height: 16px; }
.Identity--withInlineAvatar .Identity-avatar { width: 16px; height: 16px; border-radius: 2px; vertical-align: top; }
.PrettyLink:focus { text-decoration: none; }
.PrettyLink:focus .PrettyLink-value { text-decoration: underline; }
.PlayButton { font-size: 64px; background-color: transparent; }
.PlayButton--centered { margin-left: -32px; margin-top: -32px; }
.NaturalImage { position: relative; }
.NaturalImage-image { max-width: 100%; max-height: 100%; border: 0px none; line-height: 0; height: auto; }
.NaturalImage-ctaOverlay { position: absolute; top: 50%; left: 50%; }
.NaturalImage--rounded .NaturalImage-image, .NaturalImage--roundedTop .NaturalImage-image { border-top-left-radius: 4px; border-top-right-radius: 4px; }
.NaturalImage--rounded .NaturalImage-image, .NaturalImage--roundedBottom .NaturalImage-image { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }
.NaturalImage--fill .NaturalImage-image { width: 100%; }
.MediaCard-media { position: relative; width: 100%; overflow: hidden; }
.MediaCard-widthConstraint { max-width: 100%; }
.MediaCard-mediaContainer { position: relative; padding-bottom: 0px; background-color: rgb(245, 248, 250); }
.MediaCard-mediaAsset { display: block; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; line-height: 0; transition: opacity 0.5s ease 0s; background-color: rgb(255, 255, 255); }
.MediaCard-mediaPlaceholder { background: rgb(245, 248, 250) none repeat scroll 0% 0%; }
.MediaCard-siteUser { margin: 0px 0px 14px; }
.PrerenderedCard { display: none; height: 0px; width: 100%; overflow: hidden; }
.PrerenderedCard.is-constrainedByMaxWidth { display: block; }
.PrerenderedCard.is-loaded { height: auto; }
.timeline-Widget { max-width: 1200px; background-color: rgb(255, 255, 255); border-radius: 4px; }
.timeline-Body { position: relative; border-top: 1px solid rgba(15, 70, 100, 0.12); border-bottom: 1px solid rgba(15, 70, 100, 0.12); }
.timeline-Body-notification { position: absolute; top: 0px; left: 0px; right: 0px; z-index: 10; }
.timeline-Viewport { overflow-x: hidden; overflow-y: scroll; }
.timeline-TweetList-tweet { border-top: 1px solid rgba(15, 70, 100, 0.12); }
.timeline-TweetList-tweet:first-of-type { border-top: medium none; }
.timeline-Tweet { padding: 10px; }
.timeline-Tweet-retweetCredit { margin-bottom: 8px; margin-left: 18px; font-size: 12px; color: rgb(136, 155, 166); }
.timeline-Tweet-retweetCreditIcon { position: relative; top: 1px; display: inline-block; margin-right: 4px; font-size: 14px; }
.timeline-Tweet-author { position: relative; margin-bottom: 2px; padding-left: 40px; }
.timeline-Tweet-brand { font-size: 15.4px; }
.timeline-Tweet-brand .Icon { background-image: url('undefined'); }
.timeline-Tweet-text { margin-left: 40px; margin-bottom: 12px; font-size: 12px; line-height: 18px; font-weight: 400; white-space: pre-wrap; word-wrap: break-word; }
.timeline-Tweet-text[dir="ltr"] { text-align: left; direction: ltr; }
.timeline-Tweet-media { margin-bottom: 12px; margin-left: 40px; font-size: 12px; }
.timeline-Tweet-metadata { float: right; margin-top: 2px; }
.timeline-Tweet-timestamp { font-size: 12px; line-height: 18px; color: rgb(225, 232, 237); }
.timeline-Tweet-actions { margin-left: 40px; }
.timeline-Tweet-action { display: inline-block; font-size: 17px; }
.timeline-Tweet-action + .timeline-Tweet-action { margin-left: 20px; }
.timeline-Tweet--isRetweet { padding-top: 7px; }
.timeline-Tweet:hover { background-color: rgba(160, 200, 220, 0.12); }
.timeline-Tweet:hover .timeline-Tweet-brand .Icon { background-image: url('undefined'); }
.timeline-Tweet:hover .timeline-Tweet-timestamp { color: rgb(102, 117, 128); }
.timeline-Tweet:hover .timeline-Tweet-action .Icon--heart { background-image: url('undefined'); }
.timeline-Tweet:hover .timeline-Tweet-action .Icon--share { background-image: url('undefined'); }
.SandboxRoot.env-bp-min .timeline-Tweet { padding: 10px; }
.SandboxRoot.env-bp-min .timeline-Tweet-retweetCredit { margin-left: 0px; }
.SandboxRoot.env-bp-min .timeline-Tweet-retweetCreditIcon { margin-right: 0px; }
.SandboxRoot.env-bp-min .timeline-Tweet-author { margin-top: 1px; padding-left: 0px; }
.SandboxRoot.env-bp-min .timeline-Tweet-text { margin-top: 6px; margin-left: 0px; font-size: 12px; line-height: 18px; }
.SandboxRoot.env-bp-min .timeline-Tweet-media { margin-left: 0px; }
.SandboxRoot.env-bp-min .timeline-Tweet-actions { margin-left: 0px; }
.TweetAction:active, .TweetAction:focus, .TweetAction:hover { text-decoration: none; }
.TweetAction--heart:active .Icon, .TweetAction--heart:focus .Icon, .TweetAction--heart:hover .Icon { background-image: url('undefined') ! important; }
.TweetAction--share:active .Icon, .TweetAction--share:focus .Icon, .TweetAction--share:hover .Icon { background-image: url('undefined') ! important; }
.TweetAuthor { max-width: 100%; overflow: hidden ! important; text-overflow: ellipsis ! important; white-space: nowrap ! important; word-wrap: normal ! important; }
.TweetAuthor-avatar { position: absolute; top: 0px; left: 0px; width: 32px; height: 32px; overflow: hidden; border-radius: 4px; }
.TweetAuthor-name { font-size: 12px; line-height: 18px; font-weight: 700; }
.TweetAuthor-screenName { font-size: 12px; line-height: 18px; font-weight: 300; }
.SandboxRoot.env-bp-min .TweetAuthor-avatar { position: static; top: auto; left: auto; float: left; margin-right: 8px; }
.SandboxRoot.env-bp-min .TweetAuthor-screenName::before { white-space: pre; content: "\a ‎"; }
.timeline-ShareMenu { position: relative; }
.timeline-ShareMenu-container { position: absolute; left: -18px; z-index: 1000; display: none; padding-bottom: 4px; min-width: 130px; background-color: rgb(255, 255, 255); border: 1px solid transparent; border-radius: 4px; box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); }
.timeline-ShareMenu-caret, .timeline-ShareMenu-caret::after { position: absolute; display: block; width: 0px; height: 0px; border-color: transparent; border-style: solid; }
.timeline-ShareMenu-caret { left: 25px; margin-left: -9px; border-width: 9px; }
.timeline-ShareMenu-caret::after { margin-left: -8px; border-width: 8px; content: ""; }
.timeline-ShareMenu-title { padding: 10px 15px 5px; font-size: 12px; font-weight: 300; color: rgb(102, 117, 128); }
.timeline-ShareMenu-option { display: inline-block; width: 100%; padding: 2px 15px; font-size: 14px; color: rgb(41, 47, 51) ! important; box-sizing: border-box; white-space: nowrap; }
.timeline-ShareMenu-option:focus, .timeline-ShareMenu-option:hover { color: rgb(255, 255, 255) ! important; background-color: rgb(59, 148, 217); text-decoration: none ! important; }
.timeline-ShareMenu.is-openedAbove .timeline-ShareMenu-caret::after { content: " "; bottom: 1px; border-bottom-width: 0px; border-top-color: rgb(255, 255, 255); }
.timeline-ShareMenu.is-openedBelow .timeline-ShareMenu-caret::after { content: " "; top: 1px; border-top-width: 0px; border-bottom-color: rgb(255, 255, 255); }
.SandboxRoot.env-bp-min .timeline-ShareMenu-option { font-size: 12px; }
.timeline-ShowMoreButton { box-sizing: border-box; display: block; padding: 10px 0px; margin: 0px; width: 100%; font-size: 14px; color: rgb(59, 148, 217); text-align: center; background-color: rgb(245, 248, 250); border: 0px none; outline: 0px none; cursor: pointer; }
.timeline-ShowMoreButton:focus, .timeline-ShowMoreButton:hover { background-color: rgb(245, 248, 250); text-decoration: underline; }
.SandboxRoot.env-bp-min .timeline-ShowMoreButton { font-size: 12px; }
.timeline-NewTweetsNotification { display: none; border-bottom: 1px solid rgba(15, 70, 100, 0.12); opacity: 0; }
.timeline-LoadMore-prompt { border-top: 1px solid rgba(15, 70, 100, 0.12); }
.timeline-LoadMore-endOfTimelineMessage { display: none; padding: 10px 0px 40px; font-size: 12px; text-align: center; }
.timeline-Header { padding: 10px; }
.timeline-Header-title { font-size: 21px; font-weight: 300; line-height: 24px; color: rgb(41, 47, 51); }
.timeline-Header-byline { font-size: 12px; font-weight: 400; line-height: 16px; color: rgb(136, 153, 166); }
.timeline-Footer { padding: 15px; font-size: 12px; }
.Icon--heart { background-image: url('undefined'); }
.Icon--share { width: 0.98611em; background-image: url('undefined'); }
.SandboxRoot.env-bp-min { font-size: 12px; }
.tcu-image-773488607185297408 { background-image: url('proxy.jpg') ! important; background-size: cover ! important; }
.tcu-image-773442623319240704 { background-image: url('proxy_001.jpg') ! important; background-size: cover ! important; }
.tcu-image-773438882490806273 { background-image: url('proxy_002.jpg') ! important; background-size: cover ! important; }
.tcu-image-773419524293091328 { background-image: url('proxy_003.jpg') ! important; background-size: cover ! important; }
.tcu-image-773179691490500608 { background-image: url('proxy_004.jpg') ! important; background-size: cover ! important; }
