/* ::::: http://philosophybites.com/styles.css?v=6 ::::: */

/* ::::: http://static.typepad.com/.shared:v87e9e87:typepad:en_us/themes/common/base-weblog.css ::::: */

html { margin: 0px; padding: 0px; }
body { margin: 0px; padding: 0px; font-family: verdana,"trebuchet ms",sans-serif; font-size: 12px; }
form { margin: 0px; padding: 0px; }
a { text-decoration: underline; }
a img { border: 0px none; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
h1, h2, h3, h4, h5, h6, p, ol, ul, pre, blockquote { margin-top: 10px; margin-bottom: 10px; }
.pkg::after { content: " "; display: block; visibility: hidden; clear: both; height: 0.1px; font-size: 0.1em; line-height: 0; }
.pkg { display: inline-block; }
.pkg { display: block; }
body { text-align: center; }
#container { position: relative; margin: 0px auto; width: 720px; text-align: left; }
#container-inner { position: static; width: auto; }
#banner { position: relative; }
#banner-inner { position: static; }
#pagebody { position: relative; width: 100%; }
#pagebody-inner { position: static; width: 100%; }
#alpha, #beta, #gamma, #delta { display: inline; position: relative; float: left; min-height: 1px; }
#alpha-inner, #beta-inner, #gamma-inner, #delta-inner { position: static; }
.date-header, .entry-content { position: static; clear: both; }
.entry, .trackbacks, .reactions, .comments, .archive { position: static; overflow: hidden; clear: both; width: 100%; margin-bottom: 20px; }
.entry-content, .trackbacks-info, .trackback-content, .comments-info, .comments-open-content, .comments-closed { clear: both; margin: 5px 10px; }
.entry-excerpt, .entry-body, .entry-more-link, .entry-more { clear: both; }
.module { position: relative; overflow: hidden; width: 100%; }
.module-content { position: relative; margin: 5px 10px 20px; }
.module-list, .archive-list { margin: 0px; padding: 0px; list-style: outside none none; }
.module-list-item, .archive-list-item { margin-top: 5px; margin-bottom: 5px; }
.module-search .module-content { margin-top: 10px; }
.module-search input[type="search"] { width: 75%; margin-right: 6px; margin-bottom: 10px; }
.module-category-cloud .module-list { margin-right: 0px; margin-left: 0px; }
.module-category-cloud .module-list-item { display: inline; margin: 0px 5px 0px 0px; padding: 0px; line-height: 1.2em; background: transparent none repeat scroll 0% 0%; }
.module-category-cloud .cloud-weight-1 { font-size: 0.9em; }
.module-category-cloud .cloud-weight-2 { font-size: 0.95em; }
.module-category-cloud .cloud-weight-3 { font-size: 1em; }
.module-category-cloud .cloud-weight-4 { font-size: 1.125em; }
.module-category-cloud .cloud-weight-5 { font-size: 1.25em; }
.module-category-cloud .cloud-weight-10 { font-size: 1.75em; }
.typelist-plain .module-list, .typelist-plain .archive-list { list-style: outside none none; }
.typelist-plain .module-list-item, .typelist-plain .archive-list-item { padding: 0px; background: transparent none repeat scroll 0% 0%; }
.typelist-thumbnailed { margin: 0px 0px 20px; }
.typelist-thumbnailed .module-list-item { display: block; clear: both; margin: 0px; }
.typelist-thumbnailed .module-list-item::after { content: " "; display: block; visibility: hidden; clear: both; height: 0.1px; font-size: 0.1em; line-height: 0; }
.typelist-thumbnailed .module-list-item { display: inline-block; }
.typelist-thumbnailed .module-list-item { display: block; }
.typelist-thumbnail { float: left; min-width: 60px; width: auto; margin: 0px 5px 0px 0px; text-align: center; vertical-align: middle; }
.typelist-thumbnail img { margin: 5px; }
.typelist-description { margin: 0px; padding: 5px; }
.module-recent-photos .module-list::after { content: " "; display: block; visibility: hidden; clear: both; height: 0.1px; font-size: 0.1em; line-height: 0; }
/* ::::: http://static.typepad.com/.shared:v87e9e87:typepad:en_us/themes/common/bxslider.css ::::: */

/* ::::: http://static.typepad.com/.shared:v87e9e87:typepad:en_us/css/widgets.css ::::: */

/* ::::: http://static.typepad.com/.shared:v87e9e87:typepad:en_us/themes/common/recentpostsfancy.css ::::: */

/* ::::: http://static.typepad.com/.shared:v87e9e87:typepad:en_us/themes/common/tipjar.css ::::: */

/* ::::: http://static.typepad.com/.shared:v87e9e87:typepad:en_us/themes/vox/starry-night-blue/screen.css ::::: */

body { font: 13px arial,helvetica,hirakakupro-w3,osaka,"ms pgothic",sans-serif; }
#container { width: 940px; }
#alpha, #beta, #gamma, #delta { float: left; }
#alpha { width: 485px; }
#beta { width: 455px; }
#gamma, #delta { width: 200px; }
#banner { width: 940px; margin: 0px; }
#banner-header { margin: 10px 0px 0px; line-height: 1; }
#banner-description { margin: 10px 0px 0px; font-size: 14px; line-height: 1.125; }
#banner a { text-decoration: none; }
#banner a:hover { text-decoration: underline; }
.entry-header { margin: 0px 0px 5px; font-size: 22px; font-weight: normal; font-family: "century gothic",arial,helvetica,sans-serif; }
.entry-content { margin: 5px 0px; }
.module-header, .trackbacks-header, .comments-header, .comments-open-header, .archive-header { margin: 0px; padding: 5px 0px; font-size: 18px; font-weight: normal; font-family: "century gothic",arial,helvetica,sans-serif; }
.module-header, .trackbacks-header, .comments-header, .comments-open-header, .archive-header { position: relative; width: auto; }
.entry-more-link, .entry-footer, .comment-footer, .trackback-footer, .typelist-thumbnailed { font-size: 11px; }
body { color: rgb(51, 51, 51); background: rgb(0, 0, 0) url('body.png') repeat-x fixed center top; }
a { color: rgb(28, 95, 186); }
a:hover { text-decoration: underline; }
.entry-content a { text-decoration: underline; }
#container-inner, #pagebody { background-color: rgb(255, 255, 255); }
#pagebody { margin-top: 20px; }
.layout-three-column #alpha, .layout-three-column #gamma { width: 190px; }
.layout-three-column #beta { width: 560px; }
.layout-three-column #beta-inner { padding-right: 20px; padding-left: 20px; }
#banner { background: rgb(2, 18, 77) url('header.png') no-repeat scroll left bottom; }
#banner a { color: rgb(255, 255, 255); font-weight: normal; font-family: "century gothic",arial,helvetica,sans-serif; }
#banner-inner { padding: 20px 20px 80px; border-top: 10px solid rgb(0, 0, 0); }
#banner-header { width: 900px; color: rgb(255, 255, 255); font-size: 32px; font-weight: bold; }
#banner-description { width: 900px; color: rgb(255, 255, 255); }
.entry-header, .entry-header a, .content-header { color: rgb(52, 112, 179); }
.layout-three-column #pagebody-inner { background: transparent url('content-twt.gif') repeat-y scroll left top; }
.module { border-bottom: 1px solid rgb(184, 210, 237); }
.module-header { margin-top: 10px; }
.module-header, .module-header a { color: rgb(28, 95, 186); font-weight: normal; }
.module-content { margin-bottom: 15px; }
.module-content a { color: rgb(153, 153, 153); }
.module-email .module-content, .module-subscribe .module-content, .module-syndicate .module-content { margin-top: 15px; }
.typelist-thumbnailed .module-list-item { border-color: rgb(184, 210, 237); background-color: rgb(247, 247, 247); }
.typelist-thumbnail { background: rgb(247, 247, 247) none repeat scroll 0% 0%; }
.module-header, .module-content { margin-right: 15px; margin-left: 15px; }
.module-header { font-size: 14px; }
.module-header a { text-decoration: none; }
.module-header a:hover { text-decoration: underline; }
.module-content { margin-top: 5px; margin-bottom: 20px; font-size: 11px; }
.typelist-thumbnailed .module-list-item { margin: 1px 0px; border-width: 1px; border-style: solid; padding: 0px; background-repeat: repeat-x; background-position: left top; }
/* ::::: http://w.sharethis.com/button/css/sharethis.1ac33bc7d4476110a610f925104446ff.css ::::: */

.stwrapper { position: absolute; width: 334px; z-index: 1000000; margin: 0px; padding: 0px; top: 0px; left: 0px; visibility: hidden; height: 337px; }
.stframe { background-color: rgb(237, 237, 237); border: 1px solid rgb(213, 220, 220); border-radius: 4px; box-shadow: 0px 2px 2px rgb(102, 102, 102); height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; z-index: 1000020; }
.stclose { z-index: 999999; position: fixed; left: 0px; top: 0px; margin: 0px; padding: 0px; cursor: pointer; height: 100%; width: 100%; }
