/* ::::: https://ad.atdmt.com/as/direct;p=11062200830913;as=0;a=11062200817074;crs=11062200813490;cr=11062200814684;i.ts=1472140955/style.css ::::: */

#container { position: absolute; width: 160px; height: 600px; background: rgb(212, 38, 42) none repeat scroll 0% 0%; border: 1px solid rgb(0, 0, 0); overflow: hidden; display: none; }
body { margin: 0px; }
#click_screen { width: 100%; height: 100%; cursor: pointer; }
#over { position: absolute; left: 0px; top: 0px; opacity: 0; }
#eight { position: absolute; left: 0px; top: 0px; opacity: 0; }
#million { position: absolute; left: 0px; top: 0px; opacity: 0; }
#over_color { position: absolute; left: 0px; top: 0px; opacity: 0; }
#eight_color { position: absolute; left: 0px; top: 0px; opacity: 0; }
#million_color { position: absolute; left: 0px; top: 0px; opacity: 0; }
#people { position: absolute; left: 0px; top: 0px; opacity: 0; }
#people_line_left { position: absolute; left: 0px; top: 0px; opacity: 0; }
#inLine { position: absolute; left: 0px; top: 0px; opacity: 0; }
#inText { position: absolute; left: 0px; top: 0px; opacity: 0; }
#newText { position: absolute; left: 0px; top: 0px; opacity: 0; }
#york { position: absolute; left: 0px; top: 0px; opacity: 0; }
#city { position: absolute; left: 0px; top: 0px; opacity: 0; }
#nyc_color { position: absolute; left: 0px; top: 0px; opacity: 0; }
#and { position: absolute; left: 0px; top: 0px; opacity: 0; }
#we { position: absolute; left: 0px; top: 0px; opacity: 0; }
#help { position: absolute; left: 0px; top: 0px; opacity: 0; }
#you { position: absolute; left: 0px; top: 0px; opacity: 0; }
#avoid { position: absolute; left: 0px; top: 0px; opacity: 0; }
#them { position: absolute; left: 0px; top: 0px; opacity: 0; }
#people_one { position: absolute; left: 0px; top: 0px; opacity: 0; }
#people_two { position: absolute; left: 0px; top: 0px; opacity: 0; }
#all { position: absolute; left: 0px; top: 0px; opacity: 0; }
#avoid_color { position: absolute; left: 0px; top: 0px; opacity: 0; }
#logo { position: absolute; left: 0px; top: 0px; opacity: 0; }
#how_new_york { position: absolute; left: 0px; top: 0px; opacity: 0; }
#order_now { position: absolute; left: 0px; top: 325px; opacity: 1; }
