/* ::::: https://s.discogs.com/dst/stylesheets/discogs.css?b6209 ::::: */

.section.tracklist table tr.tracklist_track.subtrack td:first-child::before, .rating_icons { display: inline-block; font-family: "icomoon"; font-style: normal; font-weight: normal; line-height: 1; font-size-adjust: none; font-stretch: normal; font-feature-settings: normal; font-language-override: normal; font-kerning: auto; font-synthesis: weight style; font-variant: normal; font-size: inherit; margin-top: 0.15em; -moz-osx-font-smoothing: grayscale; }
.section.tracklist table tr.tracklist_track.subtrack td:first-child::before { display: block; position: relative; text-align: center; transform: rotate(90deg); }
.section.tracklist table tr.tracklist_track.subtrack td:first-child::before { content: ""; }
.list_no_style, .action_menu, .dropdown-button .dropdown-button-options, .aside-thread ul, .users-list, #modules_modal ul, .gs_module_content ul, .release_stats_group_list ul { list-style: outside none none; padding: 0px; margin: 0px; }
audio:not([controls]) { display: none; height: 0px; }
html { font-size: 87.5%; line-height: 1.42857em; }
html, button, input, select, textarea { font-family: "Helvetica Neue",Helvetica,"Nimbus Sans",Arial,sans-serif; }
body { margin: 0px; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0px none; }
b, strong { font-weight: bold; }
p, pre { margin: 14px 0px; }
q::before, q::after { content: none; }
small { font-size: 75%; }
dl, menu, ol, ul { margin: 14px 0px; }
menu, ol, ul { padding: 0px 0px 0px 56px; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
form { margin: 0px; }
button, input, select, textarea { font-size: 100%; margin: 0px; vertical-align: baseline; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
textarea { overflow: auto; vertical-align: top; }
table { border-collapse: collapse; border-spacing: 0px; }
.ui-helper-clearfix::before, .ui-helper-clearfix::after { content: ""; display: table; border-collapse: collapse; }
.ui-helper-clearfix::after { clear: both; }
.ui-dialog-arrow::before, .ui-dialog-arrow::after { content: ""; display: block; width: 0px; height: 0px; position: absolute; border: 10px solid transparent; }
.ui-dialog-arrow-top-left::before, .ui-dialog-arrow-top-left::after, .ui-dialog-arrow-top-right::before, .ui-dialog-arrow-top-right::after { border-top: medium none; border-bottom-color: rgb(214, 213, 209); top: -10px; }
.ui-dialog-arrow-top-left::after, .ui-dialog-arrow-top-right::after { border-bottom-color: rgb(255, 255, 255); top: -8px; }
.ui-dialog-arrow-top-left.ui-dialog-arrow-highlight::after, .ui-dialog-arrow-top-right.ui-dialog-arrow-highlight::after { border-bottom-color: rgb(241, 241, 241); }
.ui-dialog-arrow-bottom-left::before, .ui-dialog-arrow-bottom-left::after, .ui-dialog-arrow-bottom-right::before, .ui-dialog-arrow-bottom-right::after { border-bottom: medium none; border-top-color: rgb(214, 213, 209); bottom: -10px; }
.ui-dialog-arrow-bottom-left::after, .ui-dialog-arrow-bottom-right::after { border-top-color: rgb(255, 255, 255); bottom: -8px; }
.ui-dialog-arrow-top-left::before, .ui-dialog-arrow-top-left::after, .ui-dialog-arrow-bottom-left::before, .ui-dialog-arrow-bottom-left::after { left: 10px; }
.ui-dialog-arrow-top-right::before, .ui-dialog-arrow-top-right::after, .ui-dialog-arrow-bottom-right::before, .ui-dialog-arrow-bottom-right::after { right: 10px; }
.ui-dialog-arrow-left-top::before, .ui-dialog-arrow-left-top::after, .ui-dialog-arrow-left-bottom::before, .ui-dialog-arrow-left-bottom::after { border-left: medium none; border-right-color: rgb(214, 213, 209); left: -10px; }
.ui-dialog-arrow-left-top::after, .ui-dialog-arrow-left-bottom::after { border-right-color: rgb(255, 255, 255); left: -8px; }
.ui-dialog-arrow-right-top::before, .ui-dialog-arrow-right-top::after, .ui-dialog-arrow-right-bottom::before, .ui-dialog-arrow-right-bottom::after { border-right: medium none; border-left-color: rgb(214, 213, 209); right: -10px; }
.ui-dialog-arrow-right-top::after, .ui-dialog-arrow-right-bottom::after { border-left-color: rgb(255, 255, 255); right: -8px; }
.ui-dialog-arrow-left-top::before, .ui-dialog-arrow-left-top::after, .ui-dialog-arrow-right-top::before, .ui-dialog-arrow-right-top::after { top: 10px; }
.ui-dialog-arrow-left-bottom::before, .ui-dialog-arrow-left-bottom::after, .ui-dialog-arrow-right-bottom::before, .ui-dialog-arrow-right-bottom::after { bottom: 10px; }
#main_wrapper .hide_desktop, .hide_desktop { display: none; }
.clearfix, .review, .inline-error, .button_group, #editing_header, .users-list { overflow: hidden; }
.clearfix_no_overflow::after { content: ""; display: table; clear: both; }
.muted, .broadcast_table .gutter .icon_wrapper, .facet_count, table.table_block td.empty_row { color: rgb(134, 131, 121); }
.float_fix::after, .lazy_gallery_slide_container::after, #page::after, #full-width-header .full-width-header-content::after, #user_header .full-width-header-content::after, .header-action-bar::after, .cards::after, .section .section_content::after, .cw_block::after, .header_with_search::after, aside ul, .section-boxes { content: " "; display: table; clear: both; }
.group::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.set_to_page_width, #page, #full-width-header .full-width-header-content, #user_header .full-width-header-content, .header-action-bar, #site_header, #site_footer { max-width: 1232px; min-width: 952px; height: 100%; margin: 0px auto; padding: 0px 28px; clear: both; }
.width_limit, ol, ul, p, .form_block .instructions { max-width: 644px; }
.no_width_limit, #site_footer_list, .release_stats_group_list ul, ul.as_table_block, ol.as_table_block { max-width: none; }
.button_space a, .button_space input[type="button"], .button_space input[type="submit"], .button_space button { margin: 0px 14px 0px 0px; }
.push_down, .cards, .release_stats_group_list, #object_preview { margin-bottom: 28px; }
.push_right_mini, .review h4, .release_stats_group_list ul li .user { margin-right: 14px; }
.space_left_r4, .review.reply_to, .row_actions, .thread .thread_message .thread_content { margin-left: 70px; }
html, body { height: 100%; }
html { overflow-y: scroll; }
body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0); line-height: 20px; min-width: 1008px; }
h1, h2, h3, h4, h5, h6 { margin: 0px 0px 14px; }
h5, h6 { font-weight: normal; }
h1 { font-size: 21px; line-height: 35px; }
h3 { font-size: 16px; line-height: 28px; }
h4, h5, h6 { font-size: 14px; line-height: 20px; }
menu, ol, ul { padding: 0px 0px 0px 21px; }
ul { list-style: outside none square; }
small { font-size: 13px; }
body { line-height: 20px; min-width: 1008px; margin: 0px; padding: 0px; }
#page, #full-width-header .full-width-header-content, #user_header .full-width-header-content, .header-action-bar { min-height: 100%; padding: 28px; }
#page #page_content, #full-width-header .full-width-header-content #page_content, #user_header .full-width-header-content #page_content, .header-action-bar #page_content, #page #page_aside, #full-width-header .full-width-header-content #page_aside, #user_header .full-width-header-content #page_aside, .header-action-bar #page_aside { margin: 0px; }
div.section { margin-bottom: 10px; }
div.section h3 { margin: 0px; font-size: 15px; line-height: 20px; border-bottom: 1px solid rgb(229, 229, 229); padding: 5px; }
div.section h3 span { font-size: 12px; }
div.section h3 a { font-size: 12px; font-weight: normal; margin-left: 1em; }
div.section .copy_shortcut { margin-top: 5px; }
div.section div.section_content { margin: 0px 5px; padding: 5px 0px; }
div.body { position: relative; margin-bottom: 10px; }
div.body h1 { margin: 0px; padding-bottom: 5px; font-size: 20px; line-height: 20px; }
div.body .profile { padding-left: 164px; }
div.body .profile .head, div.body .profile .content { padding-bottom: 3px; }
div.body .profile .head { display: inline; float: left; width: 90px; margin: 0px; padding: 0px; }
div.body .profile .fcontent, div.body .profile .content { min-height: 1.4em; }
div.body .profile .content { margin-left: 95px; word-wrap: break-word; }
div.lr { padding-right: 310px; margin: 0px auto; }
#page div.left, #full-width-header .full-width-header-content div.left, #user_header .full-width-header-content div.left, .header-action-bar div.left, #page div.right, #full-width-header .full-width-header-content div.right, #user_header .full-width-header-content div.right, .header-action-bar div.right { position: relative; float: left; }
#page div.left, #full-width-header .full-width-header-content div.left, #user_header .full-width-header-content div.left, .header-action-bar div.left { width: 100%; padding: 0px 10px 0px 5px; }
#page div.lr div.right, #full-width-header .full-width-header-content div.lr div.right, #user_header .full-width-header-content div.lr div.right, .header-action-bar div.lr div.right { width: 290px; margin-right: -305px; }
.is_not_mobile .aside_off_canvas #page_content { width: 100%; }
input:-moz-placeholder, textarea:-moz-placeholder { color: rgb(182, 180, 175) ! important; }
input[type="text"], input[type="password"], textarea, .fake-input { box-shadow: 0px 1px 2px rgb(182, 180, 175) inset, -1px 0px 0px rgba(255, 255, 255, 0.15) inset, 1px 0px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 0px rgb(255, 255, 255); color: rgb(0, 0, 0); display: inline-block; border-radius: 2px; border: 1px solid rgb(94, 91, 85); background: white none repeat scroll 0% 0%; font-family: "Helvetica Neue",Helvetica,"Nimbus Sans",Arial,sans-serif; font-size: 14px; line-height: 20px; padding: 0px 2px; margin-right: 4px; }
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, .fake-input:focus { outline: 0px none; box-shadow: 0px 1px 2px rgb(182, 180, 175) inset, -1px 0px 0px rgba(255, 255, 255, 0.15) inset, 1px 0px 0px rgba(255, 255, 255, 0.15) inset, 0px 0px 3px 1px rgb(146, 186, 221); border-color: rgb(50, 111, 178); }
input[type="text"], input[type="password"] { vertical-align: middle; height: 20px; line-height: 20px; padding: 3px 7px 2px; }
textarea { padding: 7px; line-height: 20px; }
select { font-size: 16px; }
.table-sort .table-sort-row:nth-child(2n) { background-color: rgb(246, 246, 246); }
table.cards td.status { position: relative; border-right: 0px none; padding: 0px; width: 8px; vertical-align: top; }
table.cards td.status span { display: block; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
table.cards tr.new td.status { background: rgb(242, 185, 13) none repeat scroll 0% 0%; }
table.cards tr.edit td.status { background: rgb(207, 205, 201) none repeat scroll 0% 0%; }
#site_headers_super_wrap { position: relative; z-index: 80; color: rgb(0, 0, 0); font-family: "Helvetica Neue",Helvetica,"Nimbus Sans",Arial,sans-serif; line-height: 20px; }
#site_header_wrap { height: 56px; border-bottom: 1px solid rgb(0, 0, 0); box-shadow: 0px -1px 0px rgb(38, 38, 38) inset; background: rgb(51, 51, 51) none repeat scroll 0% 0%; }
#site_header { position: relative; height: 56px; z-index: 1; }
#header_logo { display: block; height: 56px; position: absolute; width: 112px; }
#header_logo img { height: 40px; width: 112px; position: relative; top: 11px; }
@media (min--moz-device-pixel-ratio: 1.5), not all, not all, not all, (min-resolution: 1.5dppx) {
	#header_logo { background-image: url('discogs@400.png'); background-size: 112px 40px; background-repeat: no-repeat; background-position: 0px 11px; }
	#header_logo img { display: none; }
}
#site_search { left: 180px; position: absolute; margin-right: 28px; margin-top: 14px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; border: 1px solid rgb(229, 229, 229); border-radius: 2px; transition-duration: 0.2s; transition-timing-function: ease-in; }
#site_search #search_q, #site_search #do_site_search { background: transparent none repeat scroll 0% 0%; border: medium none; box-shadow: none; outline: 0px none; z-index: 1000; }
#site_search #search_q { position: relative; padding: 3px 7px 2px; width: 220px; height: 23px; line-height: 23px; float: left; font-size: 14px; font-family: "Helvetica Neue",Helvetica,"Nimbus Sans",Arial,sans-serif; transition-property: width; transition-duration: 0.2s; transition-timing-function: ease-in; }
#site_search #do_site_search { padding: 1px 7px 2px; width: 18px; height: 25px; text-align: center; font-size: 18px; line-height: 25px; box-sizing: content-box; }
#site_search #do_site_search i { color: rgb(107, 105, 97); margin-top: 3px; }
#site_search #do_site_search:hover i { color: rgb(27, 26, 24); }
#site_search:hover, .search_focused #site_search { background: white none repeat scroll 0% 0%; }
#autocomplete_spinner { position: absolute; display: none; margin-top: 0px; top: 5px; right: 33px; font-size: 18px; }
#site_header .button_green.button { position: relative; top: 12px; margin: 0px 10px; height: 2em; line-height: 2em; }
#site_navigation > li > a, #site_navigation > li .nav_group_control, #activity_menu > li > a, #activity_menu > li .nav_group_control { display: block; height: 56px; color: rgb(242, 242, 242); font-size: 15px; line-height: 56px; padding: 0px 10px; text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.25); text-decoration: none; }
#site_navigation > li > a i, #site_navigation > li .nav_group_control i, #activity_menu > li > a i, #activity_menu > li .nav_group_control i { font-size: 14px; }
#site_navigation > li > a:hover, #site_navigation > li .nav_group_control:hover, #activity_menu > li > a:hover, #activity_menu > li .nav_group_control:hover, #site_navigation > li > a:hover i, #site_navigation > li .nav_group_control:hover i, #activity_menu > li > a:hover i, #activity_menu > li .nav_group_control:hover i { color: white; }
#site_navigation, #activity_menu { height: 56px; left: 510px; top: 0px; position: absolute; z-index: 1; margin: 0px; padding: 0px; list-style: outside none none; }
#site_navigation > li, #activity_menu > li { float: left; }
#site_navigation > li > a i, #site_navigation > li .nav_group_control i, #activity_menu > li > a i, #activity_menu > li .nav_group_control i { color: rgb(204, 204, 204); margin-top: 0px; vertical-align: bottom; line-height: 56px; }
.is_not_mobile #site_navigation > li > a:hover, .is_not_mobile #site_navigation > li .nav_group_control:hover, .is_not_mobile #activity_menu > li > a:hover, .is_not_mobile #activity_menu > li .nav_group_control:hover { cursor: pointer; }
#site_navigation > li > a:focus, #site_navigation > li .nav_group_control:focus, #activity_menu > li > a:focus, #activity_menu > li .nav_group_control:focus { outline: 0px none; }
#site_navigation > li.site_nav_group > .nav_group_control, #activity_menu > li.site_nav_group > .nav_group_control { padding-right: 7px; }
#site_navigation { transition: left 0.2s ease-in 0.2s; left: 470px; z-index: 2; opacity: 1; visibility: visible; }
#mobile_site_navigation_toggle { display: none; position: absolute; height: 56px; right: 0px; line-height: 66px; text-align: center; width: 50px; z-index: 1; }
#mobile_site_navigation_toggle i { color: rgb(204, 204, 204); font-size: 28px; margin-top: 0px; position: relative; top: 3px; }
#mobile_site_navigation { background: rgb(51, 51, 51) none repeat scroll 0% 0%; display: none; font-size: 18px; left: 0px; list-style: outside none none; margin: 0px; padding: 56px 0px 0px; position: relative; width: 100%; }
#mobile_site_navigation li { margin: 0px; padding: 0px; line-height: 0; }
#activity_menu { left: auto; right: 28px; width: 300px; }
#activity_menu > li { float: right; }
.site_nav_group { height: 56px; position: relative; }
.site_nav_group i { font-size: 14px; width: 18px; padding-left: 6px; padding-right: 0px; text-align: center; }
.site_nav_submenu, .site_nav_tray { border-bottom: 1px solid rgba(255, 255, 255, 0.3); color: rgb(153, 153, 153); display: none; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25), 0px 0px 2px rgba(0, 0, 0, 0.25); margin: 0px; position: absolute; padding: 0px; background: black none repeat scroll 0% 0%; width: 210px; top: 55px; left: 0px; list-style: outside none none; z-index: 1; }
.site_nav_submenu li, .site_nav_tray li { font-size: 15px; }
.site_nav_submenu a, .site_nav_tray a { position: relative; color: rgb(242, 242, 242); display: block; outline: medium none; }
.site_nav_submenu a:visited, .site_nav_tray a:visited { color: rgb(242, 242, 242); }
.site_nav_submenu a:hover, .site_nav_tray a:hover { color: rgb(77, 210, 255); text-decoration: underline; }
.site_nav_submenu a:active, .site_nav_tray a:active { color: white; text-decoration: underline; }
.site_nav_submenu a, .site_nav_submenu .no_link, .site_nav_tray a, .site_nav_tray .no_link { padding: 5px 10px; }
#act { background: rgb(242, 51, 13) none repeat scroll 0% 0%; color: rgb(255, 255, 255); display: none; left: 0px; opacity: 0.75; padding: 3.5px 7px; position: absolute; top: 0px; z-index: 110; }
#site_footer_wrap { border-top: 1px solid rgb(229, 229, 229); }
#site_footer { height: 220px; font-family: "Helvetica Neue",Helvetica,"Nimbus Sans",Arial,sans-serif; font-size: 13px; }
#site_footer i { font-size: 14px; margin-right: 5px; }
#site_footer ul { margin: 0px; padding: 0px; }
#site_footer a { color: rgb(0, 51, 187); }
#site_footer .icon-soundcloud { margin-left: -7px; }
#site_footer .icon-mixcloud { margin-left: -3px; }
#main_wrapper { min-height: 100%; height: auto ! important; margin-bottom: -264px; }
#push_footer { height: 264px; clear: both; }
#site_footer_list { line-height: 21px; padding: 0px; list-style: outside none none; margin: 0px; }
#site_footer_list > li { float: left; width: 25%; }
#site_footer_list li { list-style: outside none none; }
#site_footer_list h5 { font-weight: normal; margin: 0px; padding-bottom: 10px; padding-top: 20px; font-size: 14px; }
#site_footer_legal { clear: both; margin-top: 0px; padding-top: 20px; max-width: none; }
#site_footer_legal a { margin-right: 1em; }
#site_footer_legal #copyright { margin-right: 1em; }
#site_footer_legal #footer_menu_link { display: none; }
#site_footer_legal #language_container { position: relative; }
#site_footer_legal #language_container #i18n_select { position: absolute; left: 0px; top: -3px; opacity: 0; width: 100%; z-index: 100; }
a { color: rgb(0, 51, 187); cursor: pointer; text-decoration: none; }
a:visited { color: rgb(152, 21, 139); }
a:hover { color: rgb(0, 136, 204); text-decoration: underline; }
a:active { color: rgb(50, 111, 178); }
a img { border: 0px none; }
.ad_container { margin-bottom: 10px; clear: both; }
.ad_top, .ad_bottom { margin-left: auto; margin-right: auto; text-align: center; }
.flash_messages { position: relative; }
.aside_search_form { position: relative; width: 100%; background: white none repeat scroll 0% 0%; border: 1px solid gray; height: 35px; border-radius: 3px; }
.aside_search_form input[type="text"], .aside_search_form button { height: 35px; line-height: 35px; }
.aside_search_form input[type="text"] { width: 100%; font-size: 18px; padding: 8px 7px; line-height: 22px; border: medium none; box-shadow: none; box-sizing: border-box; }
.aside_search_form button { position: absolute; right: 0px; top: 0px; font-size: 18px; padding: 0px; margin-right: 5px; background: transparent none repeat scroll 0% 0%; border: medium none; box-shadow: none; }
.aside_search_form button i { color: rgb(107, 105, 97); }
.aside_search_form button:hover i { color: rgb(27, 26, 24); }
input[type="submit"], input[type="reset"], button { box-sizing: content-box; }
.button.button_green[disabled], .button.button_green[disabled]:hover, .button.button_green[disabled]:active, .button.button_green[disabled]:visited, .button.button_green[disabled]:focus, .button.button_blue[disabled], .button.button_blue[disabled]:hover, .button.button_blue[disabled]:active, .button.button_blue[disabled]:visited, .button.button_blue[disabled]:focus, .button.button_red[disabled], .button.button_red[disabled]:hover, .button.button_red[disabled]:active, .button.button_red[disabled]:visited, .button.button_red[disabled]:focus, .button.button_dark[disabled], .button.button_dark[disabled]:hover, .button.button_dark[disabled]:active, .button.button_dark[disabled]:visited, .button.button_dark[disabled]:focus, .button.button_white[disabled], .button.button_white[disabled]:hover, .button.button_white[disabled]:active, .button.button_white[disabled]:visited, .button.button_white[disabled]:focus, .button[disabled], .button[disabled]:hover, .button[disabled]:active, .button[disabled]:visited, .button[disabled]:focus, .button { cursor: pointer; border-color: rgb(224, 224, 224) rgb(219, 219, 219) rgb(211, 211, 211); background-color: rgb(242, 242, 242); background-image: linear-gradient(rgb(242, 242, 242), rgb(234, 234, 234)); color: rgb(51, 51, 51); box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset, -1px 0px 0px rgba(255, 255, 255, 0.024) inset, 1px 0px 0px rgba(255, 255, 255, 0.024) inset, 0px 1px 1px rgba(0, 0, 0, 0.1); }
.button:hover, .button:focus { border-color: rgb(211, 211, 211) rgb(217, 217, 217) rgb(204, 204, 204); background-image: linear-gradient(rgb(255, 255, 255), rgb(250, 250, 250)); }
.button:active { border-color: rgb(191, 191, 191); background-color: rgb(249, 249, 249); background-image: linear-gradient(rgb(242, 242, 242), rgb(255, 255, 255)); }
.button { border-radius: 3px; display: inline-block; border-style: solid; border-width: 1px; vertical-align: middle; height: 2em; line-height: 2em; padding: 0px 1em; font-weight: normal; font-size: 14px; font-family: Helvetica,Arial,sans-serif; text-align: center; }
.button i { padding-right: 2px; margin-top: 0.2em; }
.button:hover, .button:focus, .button:visited { color: rgb(51, 51, 51); text-decoration: none; }
.button:focus { outline: 0px none; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset, -1px 0px 0px rgba(255, 255, 255, 0.024) inset, 1px 0px 0px rgba(255, 255, 255, 0.024) inset, 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 3px 1px rgb(146, 186, 221); }
.button:active { box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15) inset, 0px 1px 1px rgba(0, 0, 0, 0.2); }
.button.button_green, .button.button_blue, .button.button_red, .button.button_dark { text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.25); color: white; }
.button.button_green { border-color: rgb(82, 171, 52) rgb(78, 163, 50) rgb(73, 151, 46); background-color: rgb(96, 196, 63); background-image: linear-gradient(rgb(96, 196, 63), rgb(89, 186, 57)); }
.button.button_green:hover, .button.button_green:focus { border-color: rgb(73, 151, 46) rgb(76, 159, 49) rgb(67, 140, 43); background-image: linear-gradient(rgb(115, 203, 86), rgb(106, 200, 75)); }
.button.button_green:active { border-color: rgb(58, 120, 37); background-color: rgb(112, 202, 83); background-image: linear-gradient(rgb(96, 196, 63), rgb(112, 202, 83)); }
.button.button_blue { border-color: rgb(55, 118, 174) rgb(53, 113, 166) rgb(49, 105, 155); background-color: rgb(69, 136, 196); background-image: linear-gradient(rgb(69, 136, 196), rgb(60, 128, 190)); }
.button.button_blue:hover, .button.button_blue:focus { border-color: rgb(49, 105, 155) rgb(52, 110, 162) rgb(45, 97, 143); background-image: linear-gradient(rgb(92, 151, 203), rgb(81, 143, 200)); }
.button.button_blue:active { border-color: rgb(39, 84, 124); background-color: rgb(88, 148, 202); background-image: linear-gradient(rgb(69, 136, 196), rgb(88, 148, 202)); }
.button.button_white { background-image: none; background-color: white; color: rgb(89, 89, 89); }
.button.button_white:hover, .button.button_white:focus { background-color: rgb(242, 242, 242); }
.button.button_white i { color: gray; }
.button.button_short { padding: 2px 6px; line-height: 1.2em; height: auto; font-size: 13px; }
.button.button_short i { font-size: 14px; }
.icon_button_group { float: right; height: 30px; padding-right: 10px; position: relative; }
a.inset_button { border: 1px solid white; color: black; display: inline-block; height: 24px; line-height: 24px; padding: 2px 7px; position: relative; border-radius: 2px; text-decoration: none; }
a.inset_button i { font-size: 19px; line-height: 26px; width: auto; margin-top: 0px; }
a.inset_button:hover { border-color: rgb(204, 204, 204); text-decoration: none; }
a.inset_button:active { box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1) inset; border-color: rgb(204, 204, 204); background: rgb(242, 242, 242) none repeat scroll 0% 0%; }
a.inset_button[disabled] { background: rgb(242, 242, 242) none repeat scroll 0% 0%; border-color: rgb(204, 204, 204); cursor: default; box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1) inset; }
.cards { width: 100%; }
.card { position: relative; }
table.cards { padding: 0px; margin: 0px; border-collapse: collapse; width: 100%; }
table.cards tr { border-bottom: 1px solid rgb(238, 238, 238); }
table.cards tr.credit_header { background: rgb(231, 230, 228) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(207, 205, 201); }
table.cards tr.credit_header h3 { padding: 2px 7px; margin-bottom: 0px; line-height: 20px; }
table.cards td, table.cards th { padding: 7px 5px; text-align: left; }
table.cards td.catno_first, table.cards th.catno_first { display: none; }
table.cards td .credits { display: block; }
table.cards td.image { width: 50px; }
table.cards td.actions { width: 22px; }
table.cards .artist_in_title, table.cards.table_responsive .artist_in_title { display: none; }
table.cards .catno span, table.cards.table_responsive .catno span {  }
table.cards .sell_this_version, table.cards.table_responsive .sell_this_version { display: none; }
table#artist.cards .artist, table#versions.cards .artist, table#artist.cards.table_responsive .artist, table#versions.cards.table_responsive .artist { display: none; }
table#artist.cards .master .format, table#versions.cards .master .format, table#artist.cards.table_responsive .master .format, table#versions.cards.table_responsive .master .format { display: none; }
table#artist.cards .status, table#artist.cards.table_responsive .status { width: 0px; background: transparent none repeat scroll 0% 0%; }
table#artist.cards .status div, table#artist.cards.table_responsive .status div { display: none; }
table#artist.cards .image, table#artist.cards.table_responsive .image { padding-left: 0px; }
table#artist.cards .artist_in_title, table#artist.cards.table_responsive .artist_in_title { display: inline; }
table#artist.cards .master .catno span, table#artist.cards .master .country span, table#artist.cards.table_responsive .master .catno span, table#artist.cards.table_responsive .master .country span { display: none; }
table#artist.cards .country, table#artist.cards.table_responsive .country { display: none; }
button.mr_toggler { cursor: pointer; white-space: nowrap; text-align: center; display: inline-block; }
button.mr_toggler i { font-size: 14px; width: 12px; }
.copy_shortcut { cursor: pointer; float: right; margin-left: 3em; line-height: 20px; position: relative; }
.copy_shortcut .copy_shortcut_code { font-size: 12px; position: relative; top: -4px; }
.copy_shortcut img { width: 16px; height: 16px; }
.facets_header { margin: 14px 0px 4.66667px; }
.facets_header a { display: block; }
.facets_nav { margin: 0px; padding: 0px; list-style: outside none none; }
.facets_nav li { margin: 0px; padding: 0px; }
.facets_nav h3 { margin: 0px; }
.facets_nav a { line-height: 1em; display: block; margin: 0px; padding: 6px 6px 6px 0px; position: relative; z-index: 1; border-radius: 2px; }
.is_not_mobile .facets_nav a:hover { color: rgb(0, 51, 187); }
.is_not_mobile .facets_nav a:hover .facet_count { color: rgb(51, 51, 51); }
.facet_count { display: inline-block; font-size: 13px; }
a:hover .facet_count { text-decoration: none; }
.facets_nav .facet_count { float: right; }
.facet-bar { background-color: rgb(242, 242, 242); display: inline-block; position: absolute; right: 0px; bottom: 1px; top: 1px; z-index: -1; border-radius: 2px; transition: width 0.2s ease 0s; }
.is_not_mobile a:hover .facet-bar, .is_not_mobile a:focus .facet-bar { background-color: rgb(223, 223, 223); }
.selected_facets li a, .facets_nav a.selected, .current_filter { background-color: rgb(114, 163, 216); border-radius: 2px; color: white; display: block; margin-bottom: 1px; border-bottom: medium none; padding-left: 6px; position: relative; }
.selected_facets li a .facet_count, .facets_nav a.selected .facet_count, .current_filter .facet_count, .selected_facets li a:hover .facet_count, .facets_nav a.selected:hover .facet_count, .current_filter:hover .facet_count { color: white; }
.is_not_mobile .selected_facets li a:hover, .selected_facets li .is_not_mobile a:hover, .is_not_mobile .facets_nav a.selected:hover, .facets_nav .is_not_mobile a.selected:hover, .is_not_mobile .current_filter:hover { color: white; text-decoration: none; background-color: rgb(50, 111, 178); }
.current_filter a i::before, .current_filter .remove_filter i::before { float: right; }
#full-width-header #full-width-header-navigation a:hover::after, .profile_sections.user_profile a:hover::after { height: 5px; }
#full-width-header #full-width-header-navigation a::after, .profile_sections.user_profile a::after { content: ""; display: block; position: absolute; top: 0px; width: 100%; background-color: rgb(230, 230, 230); height: 0px; right: 0px; transition: height 0.2s ease 0s; }
.thumbnail_link.thumbnail_size_small, .thumbnail_link.thumbnail_size_small.thumbnail_orientation_landscape img { height: 50px; }
.thumbnail_link.thumbnail_size_small, .thumbnail_link.thumbnail_size_small.thumbnail_orientation_portrait img { width: 50px; }
.thumbnail_link.thumbnail_size_small.thumbnail_orientation_landscape .thumbnail_center { margin-left: 25px; }
.thumbnail_link.thumbnail_size_small.thumbnail_orientation_portrait .thumbnail_center { margin-top: 25px; }
.thumbnail_link.thumbnail_size_large, .thumbnail_link.thumbnail_size_large.thumbnail_orientation_landscape img { height: 150px; }
.thumbnail_link.thumbnail_size_large, .thumbnail_link.thumbnail_size_large.thumbnail_orientation_portrait img { width: 150px; }
.thumbnail_link { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); display: inline-block; overflow: hidden; position: relative; text-align: left; }
.thumbnail_link, .thumbnail_link * { vertical-align: middle; }
.thumbnail_link.thumbnail_size_small.thumbnail_orientation_portrait img { height: auto; top: -1px; }
.thumbnail_link.thumbnail_size_large.thumbnail_orientation_nocrop { text-align: center; box-shadow: none; }
.thumbnail_link.thumbnail_size_large.thumbnail_orientation_nocrop .thumbnail_border { border: medium none; }
.thumbnail_link img { max-width: 100%; height: auto; display: inline-block; margin: 0px auto; position: relative; }
.thumbnail_border { background-color: transparent; border-width: 1px; border-style: solid; border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; position: absolute; pointer-events: none; left: 0px; top: 0px; right: 0px; bottom: 0px; z-index: 1; }
.thumbnail_center { overflow: hidden; position: absolute; }
.thumbnail_orientation_landscape .thumbnail_center { left: -100px; text-align: center; width: 200px; }
.thumbnail_orientation_portrait .thumbnail_center { top: -100px; height: 200px; line-height: 200px; }
.thumbnail_orientation_portrait .thumbnail_center img { display: inline-block; vertical-align: middle; margin: auto; }
.thumbnail_orientation_nocrop .thumbnail_center { top: 0px; left: 0px; width: 150px; height: 150px; line-height: 150px; }
.action_menu, .dropdown-button .dropdown-button-options { position: absolute; display: none; right: -5px; z-index: -1; background: white none repeat scroll 0% 0%; border: 1px solid rgb(204, 204, 204); text-align: left; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2); }
.action_menu a, .dropdown-button .dropdown-button-options a, .action_menu .action-menu-option, .dropdown-button .dropdown-button-options .action-menu-option { display: block; font-size: 13px; padding: 5px 10px; color: black; text-decoration: none; white-space: nowrap; line-height: 20px; }
.action_menu a:focus, .dropdown-button .dropdown-button-options a:focus, .action_menu .action-menu-option:focus, .dropdown-button .dropdown-button-options .action-menu-option:focus { outline: medium none; }
.is_not_mobile .action_menu li.menu-item:hover, .is_not_mobile .dropdown-button .dropdown-button-options li.menu-item:hover, .dropdown-button .is_not_mobile .dropdown-button-options li.menu-item:hover { background: rgb(241, 241, 241) none repeat scroll 0% 0%; cursor: pointer; }
.action_menu_toggler { color: rgb(153, 153, 153); display: inline-block; padding: 7px 10px 5px; font-size: 20px; cursor: pointer; vertical-align: top; }
.pagination { font-size: 14px; line-height: 42px; height: 42px; position: relative; }
.pagination.top { border-bottom: 1px solid rgb(229, 229, 229); border-top: 0px none; }
.pagination.bottom { border-bottom: 0px none; border-top: 1px solid rgb(229, 229, 229); clear: both; }
.pagination ul { float: left; margin: 0px; padding: 0px; }
.pagination ul li { font-size: 0px; display: inline; margin: 0px; padding: 0px; list-style: outside none none; }
.pagination ul li > * { font-size: 14px; }
.pagination ul li a, .pagination ul li span { display: inline-block; padding-left: 5px; padding-right: 5px; }
.pagination form { display: inline; }
.pagination label { display: inline-block; }
.pagination label, .pagination .icon_button_group { margin-left: 5px; padding-left: 5px; padding-right: 5px; }
.pagination .icon_button_group a { top: 2px; }
.pagination_total, .pagination_page_links { float: left; height: 42px; }
.pagination_total i, .pagination_page_links i { width: auto; margin: 0px 4.66667px; vertical-align: middle; }
.pagination_controls { float: right; max-width: 55%; text-align: right; height: 42px; position: relative; }
.pagination_controls.multiple_filters select { max-width: 150px; }
.pagination_controls .hide_mobile, .pagination_controls .strict_search { display: inline-block; }
#pjax_container { position: relative; }
#pjax_container.loading::before { content: "Loading..."; position: absolute; top: 80px; left: 50%; z-index: 999; width: 280px; margin-left: -140px; height: 60px; line-height: 60px; font-size: 18px; font-weight: bold; text-align: center; background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%; color: white; }
.pjax_container_scrolled #pjax_container.loading::before { position: fixed; top: 0px; }
.readmore { padding-bottom: 0px; position: relative; overflow: hidden; max-height: 140px; transition: height 0.2s ease 0s; }
.readmore.uncropped { overflow: auto; max-height: none; }
.review { padding: 10px 0px; margin: 0px; border-bottom: 1px solid rgb(229, 229, 229); }
.review h4 { display: inline-block; margin: 4.66667px 0px; padding: 0px; }
.review .thumbnail_link { float: left; }
.review_comment_column, .review .row_actions { margin-left: 60px; }
.review_comment { margin-bottom: 7px; }
.row_actions { line-height: 20px; margin-bottom: 7px; }
.row_actions a { display: inline-block; font-size: 13px; margin-right: 0.8em; white-space: nowrap; color: gray; padding: 3px; }
.is_not_mobile .row_actions a:hover { color: rgb(50, 111, 178); text-decoration: none; }
.row_actions a:last-child { margin-right: 0px; }
.row_actions i { font-size: 14px; }
.row_with_actions { position: relative; overflow: visible; }
.row_with_actions .row_actions_dropdown { position: absolute; right: 0px; top: 5px; text-align: right; }
.row_with_actions:hover .action_menu_toggler { opacity: 1; }
.section-box:nth-child(3n+1) { border-left: 1px solid rgb(223, 223, 223); }
.section-box:nth-child(3n+3) { border-right: 0px none; }
.section-box:nth-child(3n+1) { border-left: 0px none; }
.thread.thread_linear .thread_message::before { content: ""; position: absolute; top: 0px; bottom: 0px; left: 25px; width: 1px; background-color: rgb(223, 223, 223); z-index: -1; }
.thread.thread_linear .thread_message:last-child::before { height: 50px; }
.thread.thread_linear .thread_message:first-child::before { top: 14px; }
.is_mobile .toggle_section i.icon-chevron-down, .toggle_section.toggle_section_show_controls i.icon-chevron-down { display: none; }
.is_mobile .toggle_section .toggle_section_control, .toggle_section.toggle_section_show_controls .toggle_section_control { cursor: pointer; }
.is_mobile .toggle_section .toggle_section_control > i.icon-chevron-down, .is_mobile .toggle_section .toggle_section_control > i.icon-chevron-up, .toggle_section.toggle_section_show_controls .toggle_section_control > i.icon-chevron-down, .toggle_section.toggle_section_show_controls .toggle_section_control > i.icon-chevron-up { color: gray; float: right; font-size: 14px; margin: 4px 5px 0px 0px; }
.is_mobile .toggle_section .toggle_section_control:hover i, .toggle_section.toggle_section_show_controls .toggle_section_control:hover i { color: black; }
.toggle_section_control { line-height: 1; }
.tooltip_wrapper { position: relative; }
.section.tracklist table tr.tracklist_track.subtrack td:first-child::before { color: gray; left: -24px; top: 0px; margin-bottom: -20px; width: 25px; height: 20px; line-height: 20px; }
#youtube_player_wrapper { display: inline-block; position: relative; width: 100%; min-height: 240px; }
#youtube_extender { margin-top: 75%; }
#youtube_player_placeholder { background: black none repeat scroll 0% 0%; position: absolute; left: 0px; bottom: 0px; top: 0px; right: 0px; }
#youtube_tracklist { background: white none repeat scroll 0% 0%; max-height: 165px; overflow: auto; border-bottom: 1px solid rgb(229, 229, 229); outline: 1px solid white; }
.youtube_track { color: rgb(0, 51, 187); cursor: pointer; display: block; height: 45px; max-height: 45px; overflow: hidden; padding: 5px 0px; clear: both; position: relative; font-size: 13px; line-height: 1.1; }
.youtube_track img { float: left; height: 45px; padding-right: 5px; width: 60px; }
.is_not_mobile .youtube_track img { opacity: 0.6; }
.youtube_track i { display: none; color: white; font-size: 14px; left: 24px; top: 20px; position: absolute; text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8); }
.is_not_mobile .youtube_track:hover { text-decoration: none; color: rgb(0, 136, 204); }
.is_not_mobile .youtube_track:hover img { opacity: 1; }
.is_not_mobile .youtube_track:hover strong { text-decoration: underline; }
.is_not_mobile .youtube_track:hover .youtube_track_duration { text-decoration: none; }
.youtube_track.youtube_track_paused i.icon-play { display: block; visibility: hidden; }
.is_not_mobile .youtube_track.youtube_track_paused:hover i.icon-play, .is_mobile .youtube_track.youtube_track_paused i.icon-play { visibility: visible; }
.youtube_track_placeholder { background-color: rgb(242, 242, 242); float: left; height: 45px; width: 60px; }
.youtube_track_duration { background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%; color: white; font-size: 11px; left: 0px; padding: 2px; position: absolute; top: 32px; border-radius: 1px; }
.is_not_mobile .youtube_track_duration { top: 34px; }
.gs_module_title::after { content: ""; background: transparent url('album-covers.jpg') repeat scroll center center; opacity: 0.2; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; z-index: 0; }
.gs_module_content li:nth-child(2n-1) { border-right: 1px dotted rgb(229, 229, 229); }
.gs_module_content li:nth-child(3), .gs_module_content li:nth-child(4) { border-top: 1px dotted rgb(229, 229, 229); }
.activation_sections .section-box:nth-child(4) { border-width: medium medium medium 1px; border-style: none none none solid; border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color rgb(223, 223, 223); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.section .section_content { line-height: 18px; }
.section.collections .collections_buttons::after { content: " "; width: 100%; display: inline-block; }
.is_mobile .section.recommendations .section_content::before, .is_mobile .section.recommendations .section_content::after { content: ""; display: block; position: absolute; top: 0px; z-index: 11; height: 100%; }
.is_mobile .section.recommendations .section_content::before { left: 0px; width: 3.5px; background: transparent linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0)) repeat scroll 0% 0%; }
.is_mobile .section.recommendations .section_content::after { right: 0px; width: 14px; background: transparent linear-gradient(to left, rgb(255, 255, 255), rgba(255, 255, 255, 0)) repeat scroll 0% 0%; }
.release_actions { position: absolute; top: -10px; right: 0px; }
.release_actions .action_menu_toggler { padding: 16px 18px; line-height: normal; }
.release_actions .action_menu, .release_actions .dropdown-button .dropdown-button-options, .dropdown-button .release_actions .dropdown-button-options { right: 4px; margin-top: -13px; }
.marketplace_box_links .button { display: inline-block; width: 48%; padding-right: 0px; padding-left: 0px; }
.marketplace_box_links .marketplace_for_sale_count { float: right; margin-top: 0.2em; }
.marketplace_box_links .section_content { text-align: justify; }
.marketplace_box_links .section_content.marketplace_box_buttons_count_1 { height: 70px; }
.marketplace_box_links .section_content::after { content: ""; width: 100%; display: inline-block; }
/* ::::: https://s.discogs.com/dst/stylesheets/components/icons.css?2f46f ::::: */

.icon { display: inline-block; font-family: "icomoon"; font-style: normal; font-weight: normal; line-height: 1; font-size-adjust: none; font-stretch: normal; font-feature-settings: normal; font-language-override: normal; font-kerning: auto; font-synthesis: weight style; font-variant: normal; font-size: inherit; margin-top: 0.15em; -moz-osx-font-smoothing: grayscale; }
@font-face {
	font-family: "icomoon";
	font-style: normal;
	font-weight: normal;
	src: url('icomoon.eot') format("embedded-opentype"), url('icomoon.ttf') format("truetype"), url('icomoon.woff') format("woff"), url('icomoon.svg') format("svg");
}
.icon-spin { animation: 2s linear 0s normal none infinite running icon-spin; }
.icon-store::before { content: ""; }
.icon-italic::before { content: ""; }
.icon-bold::before { content: ""; }
.icon-quote-right::before { content: ""; }
.icon-list-ol::before { content: ""; }
.icon-header::before { content: ""; }
.icon-rotate-left::before { content: ""; }
.icon-level-up::before { content: ""; }
.icon-caret-up::before { content: ""; }
.icon-caret-left::before { content: ""; }
.icon-caret-right::before { content: ""; }
.icon-star-half::before { content: ""; }
.icon-star-half-empty::before { content: ""; }
.icon-bars::before { content: ""; }
.icon-collection::before { content: ""; }
.icon-wantlist::before { content: ""; }
.icon-vinyl::before { content: ""; }
.icon-cd::before { content: ""; }
.icon-label::before { content: ""; }
.icon-artist::before { content: ""; }
.icon-cassette::before { content: ""; }
.icon-digital::before { content: ""; }
.icon-music::before { content: ""; }
.icon-search::before { content: ""; }
.icon-envelope-o::before { content: ""; }
.icon-heart::before { content: ""; }
.icon-star::before { content: ""; }
.icon-star-o::before { content: ""; }
.icon-user::before { content: ""; }
.icon-users::before { content: ""; }
.icon-th-large::before { content: ""; }
.icon-th-list::before { content: ""; }
.icon-check::before { content: ""; }
.icon-close::before { content: ""; }
.icon-search-plus::before { content: ""; }
.icon-search-minus::before { content: ""; }
.icon-power-off::before { content: ""; }
.icon-cog::before { content: ""; }
.icon-gear::before { content: ""; }
.icon-cogs::before { content: ""; }
.icon-gears::before { content: ""; }
.icon-trash::before { content: ""; }
.icon-trash-o::before { content: ""; }
.icon-file-o::before { content: ""; }
.icon-clock-o::before { content: ""; }
.icon-road::before { content: ""; }
.icon-download::before { content: ""; }
.icon-repeat::before { content: ""; }
.icon-refresh::before { content: ""; }
.icon-list-alt::before { content: ""; }
.icon-lock::before { content: ""; }
.icon-flag::before { content: ""; }
.icon-tag::before { content: ""; }
.icon-tags::before { content: ""; }
.icon-print::before { content: ""; }
.icon-camera::before { content: ""; }
.icon-font::before { content: ""; }
.icon-align-justify::before { content: ""; }
.icon-list::before { content: ""; }
.icon-pencil::before { content: ""; }
.icon-edit::before { content: ""; }
.icon-pencil-square-o::before { content: ""; }
.icon-share-square-o::before { content: ""; }
.icon-arrows::before { content: ""; }
.icon-play::before { content: ""; }
.icon-pause::before { content: ""; }
.icon-chevron-left::before { content: ""; }
.icon-chevron-right::before { content: ""; }
.icon-plus-circle::before { content: ""; }
.icon-times::before { content: ""; }
.icon-times-circle::before { content: ""; }
.icon-check-circle::before { content: ""; }
.icon-question-circle::before { content: ""; }
.icon-info-circle::before { content: ""; }
.icon-check-circle-o::before { content: ""; }
.icon-ban::before { content: ""; }
.icon-arrow-left::before { content: ""; }
.icon-arrow-right::before { content: ""; }
.icon-arrow-up::before { content: ""; }
.icon-arrow-down::before { content: ""; }
.icon-mail-forward::before { content: ""; }
.icon-expand::before { content: ""; }
.icon-compress::before { content: ""; }
.icon-plus::before { content: ""; }
.icon-minus::before { content: ""; }
.icon-exclamation-circle::before { content: ""; }
.icon-eye::before { content: ""; }
.icon-eye-slash::before { content: ""; }
.icon-exclamation-triangle::before { content: ""; }
.icon-calendar::before { content: ""; }
.icon-comment::before { content: ""; }
.icon-magnet::before { content: ""; }
.icon-chevron-up::before { content: ""; }
.icon-chevron-down::before { content: ""; }
.icon-shopping-cart::before { content: ""; }
.icon-bar-chart::before { content: ""; }
.icon-facebook-square::before { content: ""; }
.icon-key::before { content: ""; }
.icon-comments::before { content: ""; }
.icon-thumbs-o-up::before { content: ""; }
.icon-thumbs-o-down::before { content: ""; }
.icon-thumb-tack::before { content: ""; }
.icon-external-link::before { content: ""; }
.icon-sign-in::before { content: ""; }
.icon-twitter::before { content: ""; }
.icon-facebook::before { content: ""; }
.icon-unlock::before { content: ""; }
.icon-feed::before { content: ""; }
.icon-hdd-o::before { content: ""; }
.icon-bullhorn::before { content: ""; }
.icon-hand-o-left::before { content: ""; }
.icon-arrow-circle-left::before { content: ""; }
.icon-arrow-circle-right::before { content: ""; }
.icon-arrow-circle-down::before { content: ""; }
.icon-globe::before { content: ""; }
.icon-wrench::before { content: ""; }
.icon-tasks::before { content: ""; }
.icon-group::before { content: ""; }
.icon-chain::before { content: ""; }
.icon-cloud::before { content: ""; }
.icon-flask::before { content: ""; }
.icon-copy::before { content: ""; }
.icon-files-o::before { content: ""; }
.icon-floppy-o::before { content: ""; }
.icon-list-ul::before { content: ""; }
.icon-magic::before { content: ""; }
.icon-truck::before { content: ""; }
.icon-google-plus::before { content: ""; }
.icon-money::before { content: ""; }
.icon-caret-down::before { content: ""; }
.icon-sort::before { content: ""; }
.icon-envelope::before { content: ""; }
.icon-gavel::before { content: ""; }
.icon-dashboard::before { content: ""; }
.icon-bolt::before { content: ""; }
.icon-cloud-upload::before { content: ""; }
.icon-file-text-o::before { content: ""; }
.icon-plus-square::before { content: ""; }
.icon-angle-double-right::before { content: ""; }
.icon-angle-left::before { content: ""; }
.icon-angle-right::before { content: ""; }
.icon-angle-up::before { content: ""; }
.icon-angle-down::before { content: ""; }
.icon-desktop::before { content: ""; }
.icon-mobile::before { content: ""; }
.icon-spinner::before { content: ""; }
.icon-mail-reply::before { content: ""; }
.icon-reply::before { content: ""; }
.icon-keyboard-o::before { content: ""; }
.icon-code::before { content: ""; }
.icon-mail-reply-all::before { content: ""; }
.icon-reply-all::before { content: ""; }
.icon-calendar-o::before { content: ""; }
.icon-ellipsis-h::before { content: ""; }
.icon-play-circle::before { content: ""; }
.icon-minus-square::before { content: ""; }
.icon-dollar::before { content: ""; }
.icon-file::before { content: ""; }
.icon-thumbs-up::before { content: ""; }
.icon-thumbs-down::before { content: ""; }
.icon-instagram::before { content: ""; }
.icon-tumblr-square::before { content: ""; }
.icon-long-arrow-left::before { content: ""; }
.icon-long-arrow-right::before { content: ""; }
.icon-archive::before { content: ""; }
.icon-soundcloud::before { content: ""; }
.icon-newspaper-o::before { content: ""; }
.icon-calculator::before { content: ""; }
.icon-line-chart::before { content: ""; }
.icon-mixcloud::before { content: ""; }
.icon-upload::before { content: ""; }
.icon-credit-card::before { content: ""; }
.icon-cc-paypal::before { content: ""; }
.icon-discogs::before { content: ""; }
/* ::::: https://s.discogs.com/dst/stylesheets/sections/artist.css?6b128 ::::: */

.data_quality_list .data_quality_meter, .data_quality.new, .data_quality.nmajc, .data_quality.nminc, .data_quality.edit, .data_quality.correct, .anv_selected { border-radius: 3px; }
#discography_wrapper { clear: both; width: 100%; margin-top: 7px; display: inline-block; }
#discography_wrapper .search { padding-right: 24px; box-sizing: border-box; }
#discography_header { width: 100%; border-bottom: 1px solid rgb(223, 223, 223); margin-bottom: 0px; }
.discography_nav { float: left; width: 200px; padding-top: 14px; }
.discography_nav .aside_search_form, .discography_nav ul { margin-bottom: 14px; }
.discography_nav .artist_actions li { margin-bottom: 7px; }
.discography_nav .artist_actions .button { width: 100%; text-align: left; box-sizing: border-box; }
#releases { margin: 0px 0px 14px 220px; }
#releases .pagination.bottom { border-top: medium none; }
.data_quality_list { margin: 7px 0px; padding: 0px; }
.data_quality_list li { margin: 0px 0px 2px; font-size: 11px; line-height: 11px; }
.data_quality_list .data_quality_meter { background: rgb(240, 240, 239) none repeat scroll 0% 0%; display: inline-block; width: 130px; height: 11px; }
.data_quality_list .quality_label { width: 45px; display: inline-block; }
.data_quality.new, .data_quality.nmajc, .data_quality.nminc, .data_quality.edit, .data_quality.correct { display: inline-block; height: 11px; }
.data_quality.new { background: rgb(184, 168, 122) none repeat scroll 0% 0%; }
.data_quality.correct { background: rgb(138, 184, 122) none repeat scroll 0% 0%; }
.data_quality.edit { background: rgb(122, 153, 184) none repeat scroll 0% 0%; }
.anv_selected { background: rgb(107, 105, 97) none repeat scroll 0% 0%; color: rgb(255, 255, 255); padding: 2px 3px; }
.filter_anv_wrap { margin-bottom: 7px; }
#mr_panel { background-color: rgb(247, 247, 247); box-shadow: 0px -1px 3px rgba(134, 131, 121, 0.2); border-top: 1px solid rgb(217, 217, 217); bottom: 0px; height: auto; max-height: 300px; left: 0px; position: fixed; z-index: 50; width: 100%; }
#mr_panel textarea { min-width: 0px; min-height: 0px; height: 40px; width: 224px; }
#mr_panel_control { float: right; margin: 14px 28px; width: 280px; overflow-y: auto; }
#mr_panel_list { height: 272px; margin-right: 308px; border-right: 1px solid rgb(223, 223, 223); padding: 28px 0px 0px 28px; overflow-y: auto; }
#mr_panel_inner { padding-bottom: 56px; }
.mr_panel_control_sec { margin-bottom: 14px; }
/* ::::: https://s.discogs.com/dst/stylesheets/components/image-gallery.css?2a771 ::::: */

.image_gallery { width: 150px; max-height: 155px; margin: 0px 10px 28px 0px; float: left; }
.image_gallery img { max-width: 150px; max-height: 150px; }
.image_gallery p { margin-left: 10px; margin-top: 3.5px; }
.image_gallery .image_gallery_more { display: block; }
.image_gallery:hover { cursor: pointer; }
.image_gallery p, .image_gallery_more { font-size: 12px; text-align: center; }
.image_gallery_thumbs::after { content: ""; display: block; position: fixed; right: 0px; bottom: 0px; height: 168px; width: 28px; background-image: linear-gradient(90deg, transparent, rgb(51, 51, 51) 90%); }
