/* ::::: http://cdn.wol2.wiley.com/external/fonts/open-sans/open-sans.css ::::: */

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: url('opensans-light.eot') format("embedded-opentype"), url('opensans-light.woff2') format("woff2"), url('opensans-light.woff') format("woff"), url('opensans-light.ttf') format("truetype"), url('opensans-light.svg') format("svg");
}
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 300;
	src: url('opensans-lightitalic.eot') format("embedded-opentype"), url('opensans-lightitalic.woff2') format("woff2"), url('opensans-lightitalic.woff') format("woff"), url('opensans-lightitalic.ttf') format("truetype"), url('opensans-lightitalic.svg') format("svg");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: normal;
	src: url('opensans-regular.eot') format("embedded-opentype"), url('opensans-regular.woff2') format("woff2"), url('opensans-regular.woff') format("woff"), url('opensans-regular.ttf') format("truetype"), url('opensans-regular.svg') format("svg");
}
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: normal;
	src: url('opensans-italic.eot') format("embedded-opentype"), url('opensans-italic.woff2') format("woff2"), url('opensans-italic.woff') format("woff"), url('opensans-italic.ttf') format("truetype"), url('opensans-italic.svg') format("svg");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: url('opensans-semibold.eot') format("embedded-opentype"), url('opensans-semibold.woff2') format("woff2"), url('opensans-semibold.woff') format("woff"), url('opensans-semibold.ttf') format("truetype"), url('opensans-semibold.svg') format("svg");
}
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 600;
	src: url('opensans-semibolditalic.eot') format("embedded-opentype"), url('opensans-semibolditalic.woff2') format("woff2"), url('opensans-semibolditalic.woff') format("woff"), url('opensans-semibolditalic.ttf') format("truetype"), url('opensans-semibolditalic.svg') format("svg");
}
/* ::::: http://onlinelibrary.wiley.com/enhanced/static/common/css/wol-common.css?version=1.12.2 ::::: */

.clearfix::after { clear: both; content: ""; display: table; }
.u-horizontal-list, .u-list-plain, .u-list-standard { list-style: outside none none; margin: 0px; }
.u-horizontal-list li, .u-list-plain li, .u-list-standard li { margin: 0px; }
.u-horizontal-list li, .u-list-plain li { font-size: 1em; }
.u-horizontal-list li { display: inline; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
html {  }
.form__field--textarea, button, html, input, select, textarea { font-family: sans-serif; }
q::after, q::before { content: none; }
sub, sup { line-height: 0; }
sup { top: -0.5em; }
nav ol, nav ul { list-style: outside none none; }
img {  }
svg:not(:root) { overflow: hidden; }
.form__field--textarea, button, input, select, textarea { font-size: 100%; margin: 0px; vertical-align: baseline; }
.form__field--textarea, button, input { line-height: normal; }
.form__field--textarea[type="reset"], .form__field--textarea[type="submit"], button, html .form__field--textarea[type="button"], html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
.form__field--textarea::-moz-focus-inner, button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
table { border-spacing: 0px; }
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-size: 100%; vertical-align: baseline; background: transparent none repeat scroll 0px 0px; }
a { margin: 0px; padding: 0px; vertical-align: baseline; background: transparent none repeat scroll 0px 0px; }
.form__field--textarea, input, select { vertical-align: middle; }
#cboxOverlay, #cboxWrapper, #colorbox { left: 0px; top: 0px; overflow: hidden; position: absolute; z-index: 9999; }
#cboxWrapper { max-width: none; }
#cboxOverlay { position: fixed; height: 100%; width: 100%; }
#cboxBottomLeft, #cboxMiddleLeft { clear: left; }
#cboxContent { position: relative; }
#cboxLoadingGraphic, #cboxLoadingOverlay { height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; }
#cboxClose, #cboxNext, #cboxPrevious, #cboxSlideshow { cursor: pointer; }
#cboxContent, #cboxLoadedContent, #colorbox { box-sizing: content-box; }
#cboxOverlay { background: rgb(102, 102, 102) none repeat scroll 0% 0%; }
#colorbox { background-color: rgb(255, 255, 255); height: 100%; outline: 0px none; width: 100%; }
#cboxTitle { background: rgb(52, 152, 219) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-size: 1.8em; font-weight: 600; left: 0px; margin: 0px; padding: 16px 0px; min-height: 25px; position: absolute; text-indent: 25px; top: 0px; width: 100%; z-index: 1; }
#cboxCurrent { position: absolute; top: -20px; right: 0px; color: rgb(204, 204, 204); }
#cboxClose, #cboxNext, #cboxPrevious, #cboxSlideshow { background: transparent none repeat scroll 0px 0px; border: 0px none; margin: 0px; overflow: visible; padding: 0px; width: auto; }
#cboxClose:active, #cboxNext:active, #cboxPrevious:active, #cboxSlideshow:active { outline: 0px none; }
#cboxSlideshow { color: rgb(255, 255, 255); right: 90px; top: -20px; position: absolute; }
:-moz-placeholder { color: rgb(118, 118, 118); }
*::-moz-placeholder { color: rgb(118, 118, 118); }
a { cursor: pointer; text-decoration: none; }
a:active, a:focus, a:hover { outline: 0px none; text-decoration: underline; }
body { font-family: "Open Sans",Arial,Helvetica,Lucida Sans Unicode,sans-serif; }
button { cursor: pointer; }
b, strong { font-weight: 700; }
cite { font-style: normal; }
em, i { font-style: italic; }
em { margin: 0px 3px; }
html { min-height: 100%; overflow-y: scroll; }
ol, ul { list-style-position: outside; margin: 0px 0px 0.5em 2.5em; }
ol { list-style-type: decimal; }
ul { list-style-type: disc; }
li { font-size: 1.4em; margin: 0px 0px 0.5em; }
li li { font-size: 1em; }
p { font-size: 1.4em; line-height: 1.5; margin-bottom: 0.357em; }
.form__field--textarea, input, select, textarea { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(210, 210, 210); box-sizing: border-box; color: rgb(21, 21, 21); font-family: Arial,Helvetica,Lucida Sans Unicode,sans-serif; font-size: 1.4em; padding: 0.286em 0.357em; width: 100%; }
sub, sup { font-size: 0.688em; padding: 0px 1px; position: relative; }
.button__link { background: transparent none repeat scroll 0px 0px; border: medium none; color: rgb(47, 123, 174); font-family: "Open Sans",Arial,Helvetica,Lucida Sans Unicode,sans-serif; padding: 0px; text-align: left; }
.button__link:focus, .button__link:hover { outline: 0px none; }
.stripe { margin-bottom: 5px; overflow: hidden; }
.fill { float: left; height: 4px; width: 25%; }
.fill--1 { background: rgb(52, 152, 219) none repeat scroll 0% 0%; }
.fill--2 { background: rgb(22, 160, 133) none repeat scroll 0% 0%; }
.fill--3 { background: rgb(221, 189, 37) none repeat scroll 0% 0%; }
.fill--4 { background: rgb(232, 113, 26) none repeat scroll 0% 0%; }
.footer { box-sizing: border-box; font-family: "Open Sans",Arial,Helvetica,Lucida Sans Unicode,sans-serif; line-height: 1.7; margin: 0px auto; max-width: 960px; padding: 20px 15px 15px; position: relative; }
.footer__nav { border-bottom: 1px solid rgb(232, 232, 232); margin-bottom: 10px; overflow: hidden; padding: 0px 10px 15px; }
.footer__list { box-sizing: border-box; clear: left; list-style: outside none none; margin: 0px; padding: 0px; }
.footer__list li { color: rgb(67, 67, 67); font-size: 1.2em; margin: 0px 0px 2px; }
.footer__link { color: rgb(67, 67, 67); font-weight: 400; outline: 0px none; text-decoration: none; white-space: nowrap; }
.footer__link:focus, .footer__link:hover { outline: 0px none; text-decoration: underline; }
.footer__link--active { color: rgb(76, 114, 150); }
.footer__logo { float: left; font-size: 1.2em; margin: 0px; outline: 0px none; padding-bottom: 20px; }
.footer__logo a { border-bottom: 1px solid rgb(255, 255, 255); float: left; outline: 0px none; padding: 0px 0px 2px; }
.footer__logo a:focus { border-color: rgb(0, 0, 0); }
.footer__logo img { margin: 0px; float: left; }
.footer__copy { margin-bottom: 25px; padding: 0px 5px; text-align: right; }
.footer__text { color: rgb(41, 41, 41); display: inline; margin: 0px; font-size: 1.1em; }
.footer__text.footer__text--slogan { font-size: 1.1em; }
.header { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(204, 204, 204); margin-bottom: 1em; position: relative; }
.header__logo { float: left; margin: 0px; }
.header__logo img { border-bottom: 1px solid rgb(255, 255, 255); float: left; margin-top: 0.8em; max-width: 140px; }
.csstransitions .header__logo img { transition: border 0.4s ease-in-out 0s; }
.header__logo a:focus img { border-color: rgb(0, 0, 0); }
.header__user-access { float: right; }
.header__user-access li { float: left; font-size: 1.1em; white-space: nowrap; margin-left: 0.455em; }
.header__user-access li:first-child { margin-left: 0px; }
.header__user-access .icon__avatar { border: 1px solid rgb(65, 65, 65); border-radius: 5px; float: left; margin-right: 5px; }
.header__user-access-link { clear: left; color: rgb(51, 51, 51); float: left; }
.header__user-access-link:focus, .header__user-access-link:hover { text-decoration: none; }
.header__user-access-link-text { float: left; margin-top: 4px; }
.header__user-access-skip-link:active, .header__user-access-skip-link:focus { left: 0px; position: relative; top: 0px; }
.icon { background: transparent url('icons.png') no-repeat scroll 0% 0%; display: block; height: 12px; width: 12px; }
.icon__image, .icon__pdf, .icon__word { display: inline-block; }
.icon__pdf { background-position: 3px -325px; float: left; height: 42px; width: 37px; }
.icon__close { background-position: -23px -93px; }
.icon__readcube { background-position: -4px -370px; float: left; height: 37px; width: 32px; }
.icon__block { height: 21px; left: 1em; position: absolute; top: 1em; width: 21px; }
.icon__quote { background-position: -79px -164px; }
.icon__arrow { height: 59px; width: 19px; display: none; }
.icon__arrow--left { background-position: -136px -275px; }
.icon__arrow--left:focus, .icon__arrow--left:hover { background-position: -136px -335px; }
.icon__arrow--right { background-position: -155px -275px; }
.icon__arrow--right:focus, .icon__arrow--right:hover { background-position: -155px -333px; }
.icon__tool { height: 18px; margin: 0px auto 2px; width: 27px; }
.icon__tool--textsize { background-position: -132px -17px; }
.icon__tool--share { background-position: -105px -16px; }
.icon__return { background-position: -27px -226px; height: 14px; width: 10px; }
.icon__chevron { background-position: -14px -206px; }
.icon__double-chevron { background-position: -3px -146px; width: 14px; }
.icon__double-chevron-down, .icon__double-chevron-up { height: 15px; width: 11px; }
.icon__double-chevron-down { background-position: -1px -129px; }
.icon__chevron-down, .icon__chevron-down--active, .icon__chevron-up { height: 11px; width: 13px; }
.icon__chevron-up { background-position: -1px -194px; }
.icon__chevron-left, .icon__chevron-right { height: 13px; width: 11px; }
.icon__chevron-right { background-position: -3px -240px; }
.icon__avatar { background: transparent url('icons_001.png') no-repeat scroll -78px -331px; height: 16px; padding: 0.4em; width: 16px; }
.icon__infopane-close { background-position: -1px -73px; height: 18px; width: 18px; }
.icon__bell { background-position: 0px -448px; height: 16px; width: 16px; }
button:hover .icon__bell { background-position: -16px -448px; }
button:focus .icon__bell { background-position: 0px -448px; }
.icon__refresh { background-position: -80px -448px; height: 16px; width: 16px; }
a:hover .icon__refresh { background-position: -96px -448px; }
a:focus .icon__refresh { background-position: -80px -448px; }
.icon__info { background-position: -48px -448px; height: 16px; width: 16px; }
a:hover .icon__info { background-position: -63px -448px; }
a:focus .icon__info { background-position: -48px -448px; }
.icon__tools { background-position: -32px -448px; height: 16px; width: 16px; }
.l-viewport-main { overflow: hidden; }
.l-viewport-mini { padding-top: 4.1em; }
.l-notification { margin: 0px auto; max-width: 1440px; }
.l-header { padding: 1em 1em 1.2em; }
.l-header-container { background: rgb(255, 255, 255) none repeat scroll 0% 0%; max-width: 1440px; width: 100%; }
.l-main { max-width: 1440px; padding-top: 0px; position: relative; width: 100%; }
.l-article { margin: 0px 1em; }
.loading { cursor: wait ! important; overflow: hidden; pointer-events: none; position: relative; }
.csstransitions .loading-body { transition-property: opacity; transition-duration: 0.25s; transition-timing-function: ease-in-out; }
.loading .loading-body { opacity: 0.4; }
.loading-indicator { background: transparent url('ajax-loader.gif') no-repeat scroll 0% 0%; cursor: wait; height: 32px; width: 32px; }
.loading .loading-indicator { left: 50%; margin-left: -16px; position: absolute; top: 15%; }
.notification { background-color: rgb(97, 97, 97); }
.notification__wrapper { margin: 0px 1em; padding: 0.5em 1.5em 0.5em 0px; position: relative; }
.notification__close-link { margin-top: -6px; position: absolute; right: 0px; top: 50%; }
.notification__message { color: rgb(255, 255, 255); font-size: 1.4em; }
.notification__link { color: rgb(255, 255, 255); font-weight: 700; text-decoration: underline; }
.notification__link:focus, .notification__link:hover { text-decoration: none; }
.notification__message--eu-cookie { margin-bottom: 19px; }
.ribbon { overflow: hidden; }
.ribbon__quarter { float: left; height: 4px; width: 25%; }
.ribbon__first { background: rgb(52, 152, 219) none repeat scroll 0% 0%; }
.ribbon__second { background: rgb(22, 160, 133) none repeat scroll 0% 0%; }
.ribbon__third { background: rgb(221, 189, 37) none repeat scroll 0% 0%; }
.ribbon__fourth { background: rgb(232, 113, 26) none repeat scroll 0% 0%; }
.mCustomScrollbar {  }
.mCustomScrollBox { direction: ltr; height: 100%; max-width: 100%; outline: 0px none; overflow: hidden; position: relative; }
.mCSB_container { height: auto; margin-right: 30px; overflow: hidden; width: auto; }
.mCSB_scrollTools { bottom: 0px; position: absolute; height: auto; left: auto; right: 0px; top: 0px; width: 10px; }
.mCSB_draggerContainer { bottom: 0px; height: auto; left: 0px; position: absolute; right: 0px; top: 0px; }
.mCSB_draggerRail { border-radius: 8px; height: 100%; margin: 0px auto; width: 10px; }
.mCSB_dragger { cursor: pointer; height: 30px; width: 100%; z-index: 1; }
.mCSB_dragger_bar { border-radius: 8px; height: 100%; margin: 0px auto; position: relative; text-align: center; width: 10px; }
.csstransitions .mCSB_scrollTools, .csstransitions .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { transition-property: background, box-shadow; transition-duration: 0.25s; transition-timing-function: ease-in-out; }
.mCustomScrollBox:hover .mCSB_draggerRail { background: rgb(225, 225, 225) none repeat scroll 0% 0%; box-shadow: 0px 0px 3px rgb(150, 150, 150) inset; }
.mCSB_dragger .mCSB_dragger_bar { background-color: rgb(175, 175, 175); box-shadow: 0px 0px 3px rgb(137, 137, 137) inset; }
.mCSB_dragger:hover .mCSB_dragger_bar { box-shadow: 0px 0px 3px rgb(60, 60, 60) inset; }
.ranger__handle::after { background: rgb(47, 123, 174) none repeat scroll 0% 0%; content: ""; cursor: pointer; display: inline-block; height: 18px; left: -5.5px; position: absolute; top: -5.5px; width: 18px; }
.is-hidden { display: none; }
.is-accessible { left: -9999em; position: absolute; top: -9999em; }
@media only screen and (min-width: 460px) {
	ol, ul { margin-bottom: 1em; }
	p { margin-bottom: 0.714em; }
	.footer__list { display: inline; }
	.footer__list:first-child { display: block; overflow: hidden; }
	.footer__list li { display: inline; font-size: 1.3em; margin-right: 5px; }
	.header { margin-bottom: 1.5em; }
	.header__logo img { max-width: 182px; }
	.header__user-access { margin-top: 3px; }
	.header__user-access li { font-size: 1.3em; margin-left: 1.154em; }
	.l-header { padding: 2em 1.5em 2.3em; }
	.l-article, .notification__wrapper { margin: 0px 1.5em; }
}
@media only screen and (min-width: 748px) {
	ol, ul { margin-bottom: 1.5em; }
	li { font-size: 1.6em; }
	p { font-size: 1.6em; margin-bottom: 0.938em; }
	.stripe { margin-bottom: 0px; }
	.footer { padding: 30px 10px; }
	.footer__nav { margin-bottom: 20px; padding: 0px 0px 30px; }
	.footer__list { clear: none; display: block; float: left; padding: 0px 10px; width: 25%; }
	.footer__list li { display: block; margin-right: 5px; }
	.footer__logo { bottom: 55px; font-size: 1.3em; padding: 0px; position: absolute; right: 15px; }
	.footer__copy { margin-bottom: 35px; padding: 0px; text-align: left; }
	.footer__text--slogan { font-size: 1.3em; position: absolute; top: 30px; width: 23%; }
	.header__user-access .icon__avatar { border: medium none; }
	.header__user-access-link { clear: none; }
	.icon__arrow { display: block; }
	.l-footer-container, .l-header-container, .l-main { margin: 0px auto; }
}
@media only screen and (min-width: 769px) {
	.footer { padding-bottom: 32px; padding-top: 26px; }
	.footer .footer__nav { margin-bottom: 23px; padding-bottom: 35px; }
	.footer__list li { line-height: 1.5; }
	.footer__text { font-size: 1.2em; }
	.footer__text.footer__text--slogan { font-size: 1.3em; top: 24px; }
}
@media only screen and (min-width: 1004px) {
	.footer__text { font-size: 1.2em; }
	.l-article, .notification__wrapper { margin: 0px 10em; }
}
@media only screen and (min-width: 1120px) {
	.l-viewport-mini { padding-top: 0px; }
	.l-article, .notification__wrapper { margin: 0px 24em; }
}
@media only screen and (min-width: 1580px) {
	.l-footer-container, .l-header-container, .l-notification { max-width: 1600px; }
	.l-main { max-width: 1600px; width: 1600px; }
	.l-article, .notification__wrapper { margin: 0px 32em; }
}
/* ::::: http://onlinelibrary.wiley.com/enhanced/static/css/wol-article.css?version=1.12.2 ::::: */

a { color: rgb(47, 123, 174); }
body { background: rgb(253, 253, 253) none repeat scroll 0% 0%; color: rgb(51, 51, 51); font-size: 62.5%; font-weight: 400; line-height: 1.4; }
h1, h2, h3, h4, h5, h6 { color: rgb(0, 0, 0); font-weight: 400; line-height: 1.4; }
h1 { font-size: 2.5em; font-weight: 600; margin-bottom: 0.6em; }
h2 { font-size: 2.5em; margin-bottom: 0.6em; }
h3 { font-size: 1.9em; margin-bottom: 0.789em; }
h4, h5, h6 { font-size: 1.6em; font-weight: 600; margin-bottom: 0.938em; }
hr { border-width: 1px medium medium; border-style: solid none none; border-color: rgb(225, 225, 225) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin: 0px 0px 25px; position: relative; top: 1em; }
input:focus, select:focus, textarea:focus { border-color: rgb(47, 123, 174); }
.icon-aa { background: transparent url('icons-aa.png') no-repeat scroll 0% 0%; display: block; height: 12px; width: 12px; }
.icon-aa__sidepane { height: 20px; width: 27px; }
.icon-aa__sidepane--pdf { background-position: -36px -79px; }
.icon-aa__sidepane--info { background-position: 4px -77px; }
.icon-aa__sidepane--ref { background-position: -150px -44px; }
.skyscraper { box-sizing: border-box; display: none; left: 0px; margin: 20px 0px 0px 30px; position: absolute; top: 0px; }
.skyscraper__title { font-size: 13px; left: 0px; position: absolute; text-align: center; top: -24px; z-index: 1; width: 100%; }
.skyscraper--left { display: none; position: relative; z-index: 2; }
.advert, .advert-skyscraper { background: transparent url('ajax-loader_001.gif') no-repeat scroll center center; margin-bottom: 10px; overflow: hidden; }
.advert { margin-left: auto; margin-right: auto; max-height: 92px; max-width: 300px; min-height: 32px; position: relative; }
.advert-skyscraper { overflow: hidden; }
.advert-leaderboard__container { overflow: hidden; width: 100%; }
.advert-leaderboard__title { display: none; font-size: small; position: absolute; right: -60px; transform: rotate(90deg); top: 42px; }
.l-article-nav { position: relative; z-index: 8; }
.meta-navigation { margin-bottom: 0.5em; overflow: hidden; }
.meta-navigation li { font-size: 1.4em; }
.meta-navigation__item { display: inline; }
.meta-navigation__item .icon { float: left; margin: 0.357em 0.357em 0px 0px; }
.table__overflow { display: block; margin: 0px 0px 0.5em; overflow-x: auto; overflow-y: hidden; width: 100%; }
.table { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(158, 158, 158); box-sizing: border-box; color: rgb(0, 0, 0); margin: 15px 0px; position: relative; width: 100%; }
.table li { font-size: 1em; }
.table__header { background-color: rgb(238, 238, 238); border-width: 1px 1px 2px; border-style: solid; border-color: rgb(158, 158, 158); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; font-weight: bolder; }
.table__footer li p { clear: left; display: inline-block; margin-bottom: 0.833em; }
.table__footer ol { list-style: outside none none; margin-left: 0px; }
.table__row .table__header-data:first-child { border-left: medium none; }
.feature-title, .table__caption { font-family: "Open Sans",Arial,Helvetica,Lucida Sans Unicode,sans-serif; font-size: 1.6em; font-weight: 400; padding: 0px 0px 1em; text-align: left; }
.table__data, .table__header-data { border-left: 1px solid rgb(178, 178, 178); border-bottom: 1px solid rgb(178, 178, 178); display: table-cell; font-size: 1.2em; overflow: hidden; padding: 0.5em; text-align: left; vertical-align: top; }
.table__header-data { font-size: 1.2em; font-weight: 700; line-height: 1.2; vertical-align: middle; padding: 10px; }
.table__data { border: medium none; padding-top: 0.9em; padding-bottom: 0.9em; width: auto; }
.table__data--center, .table__header-data--center { text-align: center; }
.table__data--top, .table__header-data--top { vertical-align: top; }
.table__data--bottom, .table__header-data--bottom { vertical-align: bottom; }
.feature-label, .table__caption-label { font-weight: 700; }
.box-actions__wrapper { list-style: outside none none; margin: 0px; }
.box-actions__wrapper .article-section__pdf-container-link { background-color: rgb(246, 246, 246); border-radius: 8px; display: block; margin: 0px auto; padding: 6px 8px 10px; width: 12em; }
.box-actions__wrapper .js-article-section__pdf-container-size { font-weight: 700; color: rgb(0, 0, 0); }
.box-actions { margin-bottom: 2.25em; }
.box-actions--readcube { display: none; }
.box-actions__title { display: block; font-size: 1em; font-weight: 700; line-height: 1.6; padding-left: 48px; }
.box-actions__meta { color: rgb(65, 65, 65); display: block; padding-left: 48px; font-size: 0.9em; }
.modal__header, .modal__scrollable { overflow: hidden; }
.text .journal { font-size: inherit; }
.l-article, .l-article-restricted-access { clear: both; }
.article { padding: 0px 1em; }
.article-section, .section { clear: left; margin-bottom: 1em; overflow: hidden; padding-bottom: 0.5em; position: relative; z-index: 1; }
.article-section .article-section, .article-section .section, .section .article-section, .section .section { margin-left: 0px; margin-right: 0px; }
.article-section a, .section a { overflow-wrap: break-word; }
.article-section h2, .section h2 { color: rgb(0, 161, 133); font-weight: 700; margin-bottom: 0.6em; }
.article-section > :last-child, .section > :last-child { margin-bottom: 0px; }
section > div:last-child, section > p:last-child, section > section:last-child { margin-bottom: 0px; }
.article-section--abstract { background: rgb(249, 249, 249) none repeat scroll 0% 0%; padding: 0.7em 1em; }
.article-section--abstract .article-section__header { font-weight: 400; color: rgb(65, 65, 65); }
.article-section--abstract em { margin: 0px; }
.article-section--abstract > :last-child { margin-bottom: 0px; }
.mainAbstract > :last-child { margin-bottom: 0px; }
.article-section__pdf-container { display: none; }
.article-section__pdf-container-link:hover { text-decoration: none; }
.article-section__header { color: rgb(0, 133, 111); font-weight: 700; }
.article-footer { clear: both; }
.article-footer__section { clear: left; }
.article-footer__section-title { background: rgb(220, 220, 220) none repeat scroll 0% 0%; font-size: 1.8em; font-weight: 600; margin-bottom: 1.111em; padding: 0.556em; }
.article-footer__section-title .icon { float: left; margin: 0.389em 0.333em 0px 0px; }
.js .article-footer .article-footer__section-title { padding: 0px; }
.js-footer-control { display: block; color: rgb(65, 65, 65); padding: 0.556em; text-decoration: none; transition: all 0.25s ease-in-out 0s; }
.js-footer-control--hover:hover, .js-footer-title--active .js-footer-control { background: rgb(52, 152, 219) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-decoration: none; }
.js-footer-control--hover:hover .icon__double-chevron, .js-footer-title--active .js-footer-control .icon__double-chevron { background-position: -1px -129px; height: 14px; margin-right: 0.579em; width: 11px; }
.js .article-footer .js-footer-info { display: none; }
.js .article-footer .js-footer-info--active, .lt-ie9 .article-footer .js-footer-info { display: block; }
.article-header { margin-bottom: 2em; }
.article-header hr { display: none; }
.article-header__title { clear: left; font-size: 1.9em; line-height: 1.2; margin-bottom: 0.421em; }
.article-header__authors-container { clear: left; margin-bottom: 0.5em; position: relative; }
.article-header__authors_list { list-style: outside none none; margin: 0px; position: relative; }
.article-header__authors-item { display: inline-block; font-size: 1.5em; }
.article-header__authors-item .js-hover-helper { border-radius: 2px 2px 0px 0px; margin-right: 2px; padding: 0px 3px; white-space: nowrap; }
.article-header__authors-item.js-hover-active .js-hover-helper, .article-header__authors-item:hover .js-hover-helper { background: rgb(47, 123, 174) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.article-header__author-content { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(65, 65, 65); box-shadow: 6px 6px 0px 0px rgba(100, 100, 100, 0.35); box-sizing: border-box; display: none; font-size: 0.667em; overflow: hidden; left: 0px; padding: 1.3em 1.5em 0px; position: absolute; width: 100%; z-index: 3; }
.article-header__author-content .icon__infopane-close { position: absolute; right: 1em; top: 1em; }
.article-header__author-content .js-revealer__control { background: rgba(87, 87, 87, 0.9) none repeat scroll 0% 0%; bottom: 0px; box-sizing: border-box; color: rgb(255, 255, 255); display: block; font-size: 1.2em; left: 0px; padding: 0.417em 1.25em 0.5em; position: absolute; width: 100%; }
.article-header__author-content .js-revealer__control .icon { float: right; margin-left: 1em; position: relative; top: 2px; }
.csstransitions .article-header__author-content { display: block; opacity: 0; transition-property: opacity, visibility; transition-duration: 0.4s; transition-timing-function: ease-in-out; visibility: hidden; }
.csstransitions .article-header__author-content .js-revealer__content { transition: height 0.4s ease-in-out 0s; }
.csstransitions .article-header__author-content .js-revealer__content--hidden { height: 0px; padding-bottom: 0px; }
.js .article-header__author-content { padding-right: 3em; }
.article-header__author-content--with-additional { padding-bottom: 3em; }
.article-header__authors-name { border-radius: 1px 1px 0px 0px; color: rgb(47, 123, 174); display: block; font-size: 0.8em; margin: 0px; }
.article-header__authors-item-aff-addr, .article-header__authors-item-corresp-addr, .article-header__authors-item-current-aff-addr, .article-header__authors-item-note-ref { list-style: outside none none; margin: 0px; padding: 0px 0.8em 1.5em; }
.article-header__authors-item-aff-addr li, .article-header__authors-item-corresp-addr li, .article-header__authors-item-current-aff-addr li, .article-header__authors-item-note-ref li { font-size: 1.3em; overflow: hidden; }
.article-header__authors-item-aff-addr p, .article-header__authors-item-corresp-addr p, .article-header__authors-item-current-aff-addr p, .article-header__authors-item-note-ref p { font-size: 1em; }
.article-header__meta-info-container { clear: left; }
.article-header__meta-info-list { list-style: outside none none; margin: 0px; }
.article-header__meta-info-item { font-size: 1em; margin-bottom: 1em; }
.article-header__meta-info-label { display: block; font-size: 1.4em; font-weight: 700; margin-right: 0.357em; }
.article-header__meta-info-data { font-size: 1.4em; margin-right: 0.5em; }
.article-header__meta-info-2nd-data { margin-right: 15px; }
.article-header__references-item { font-size: 1.3em; }
.article-header__references-item p { display: inline; }
.article-header__search-for-papers { display: block; font-size: 1.3em; font-weight: 700; margin-bottom: 1.154em; clear: both; }
.js .article-header__errata-corrections li:nth-child(n+3), .js .article-header__errata-details li:nth-child(n+3) { display: none; }
.js .article-header__errata-corrections li:nth-child(n+3) { display: none; }
.prim-nav__menu-open .prim-nav-pusher::after, .st-menu-open .st-pusher::after { z-index: 1000; }
.article-footer__section .article-info__section-content { display: block; margin: 0px 0px 2em; position: relative; }
.article-section__footnotes-list > li, .article-section__notes-list > li { font-size: 1.4em; padding-left: 3em; position: relative; }
.article-section__footnotes-list p, .article-section__notes-list p { font-size: 1em; }
.article-section__citation-list, .article-section__references-list { list-style: outside none none; margin: 0px 0px 0px 2.9em; }
.article-section__citation-list li, .article-section__references-list li { font-size: 1.3em; margin-bottom: 1.5em; padding-left: 0.5em; }
.article-section__citation-list li li, .article-section__references-list li li { font-size: 1em; padding-left: 0px; }
.article-section__citation-list cite, .article-section__references-list cite { display: block; }
.article-section__citation-list .bullet, .article-section__references-list .bullet { overflow-wrap: break-word; left: 0px; position: absolute; width: 2em; }
.article-section__citation-list .journalTitle, .article-section__references-list .journalTitle { font-style: italic; }
.article-section__citation-list .vol, .article-section__references-list .vol { font-weight: 700; }
.article-section__references-list-additional { overflow: hidden; padding-top: 0.7em; overflow-wrap: break-word; }
.article-section__references-list-additional li { margin: 0px 5px 0px 0px; padding: 0px; }
.article-section__references-list-additional li a { margin: 0px 5px 0px 0px; }
.link__reference { color: rgb(47, 123, 174); display: inline-block; font-weight: 700; padding: 0px 3px 2px; line-height: 1.2; margin: 0px -2px; text-align: center; text-decoration: none; }
.no-touch .link__reference:hover { color: rgb(255, 255, 255); background: rgb(52, 152, 219) none repeat scroll 0% 0%; text-decoration: none; }
.csstransitions .link__reference { transition-property: background, color; transition-duration: 0.25s; transition-timing-function: ease-in-out; }
.article-support { display: none; position: relative; z-index: 1000; }
.article-support__links a, .article-support__links a:hover { color: rgb(117, 117, 117); }
.article-support__list { margin-left: 0.5em; position: relative; white-space: nowrap; }
.article-support__list li { display: inline; }
.article-support__list li.article-support__item--epdf { display: none; }
.readcubeEpdfEnabled .article-support__list li.article-support__item--epdf { display: inline; }
.readcubeEpdfEnabled .article-support__list li.article-support__item--pdf { display: none; }
.article-support__item-link { float: left; font-size: 1.1em; overflow: hidden; overflow-wrap: normal; }
.article-support__item-link .icon-aa__sidepane { margin: 0.25em 0.417em 0px 0px; }
.article-support__item-text, .lt-ie8 .article-support__list-wrapper--open-pane .article-support__item-text { display: none; }
.article-support__pane-title-bar { display: block; overflow: hidden; padding: 1.5em 3em 1.5em 2em; position: relative; }
.csstransitions .article-support__pane-title-bar { opacity: 0; }
.article-support__pane-title { color: rgb(65, 65, 65); font-size: 2em; font-weight: 600; margin-bottom: 0.5em; }
.article-support__pane-close { position: absolute; right: 1em; top: 2em; }
.article-support__pane-content { background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-sizing: border-box; display: block; height: 190px; margin-bottom: 1em; overflow: hidden; padding: 0px 1em 0px 2em; }
.csstransitions .article-support__pane-content { opacity: 0; }
.support-info__table tr:nth-child(2n) td { background: rgb(249, 249, 249) none repeat scroll 0% 0%; }
.article-tools, .toolbar { background: rgb(240, 240, 240) none repeat scroll 0% 0%; border: 1px solid rgb(225, 225, 225); box-sizing: border-box; left: 0px; padding: 0.625em 0.938em; position: absolute; width: 100%; }
.article-tools { height: 4.1em; top: -4.1em; }
.article-tools__list { list-style: outside none none; margin: 0px; position: absolute; right: 0px; top: 7px; width: auto; }
.article-tools__list > li { float: left; font-size: 1.4em; margin: 0px; }
.article-tools__item-link-text { color: rgb(51, 51, 51); float: left; margin: 0.214em 1.071em 0px 0px; }
.article-tools__item-link-text:hover { text-decoration: none; }
.article-tools__item-link-text .icon { display: inline-block; margin: -0.143em 0.071em 0px 0.714em; vertical-align: middle; }
.article-tools__article-nav { background: rgb(249, 249, 249) none repeat scroll 0% 0%; border: 1px solid rgb(83, 83, 83); box-shadow: 6px 5px 2px rgb(175, 175, 175); clear: left; display: none; font-size: 10px; height: 18.5em; overflow: hidden; padding: 1.3em 0.8em 1.3em 1.6em; position: absolute; right: -7px; top: 4em; width: 26.7em; transform: translate3d(0px, 0px, 0px); }
.article-tools__article-nav .icon__chevron { display: none; left: -1.214em; position: absolute; top: 0.214em; }
.csstransitions .article-tools__article-nav .icon__chevron { display: block; opacity: 0; transition-property: opacity, top; transition-duration: 0.2s; transition-timing-function: ease-in-out; visibility: hidden; }
.article-tools__article-nav-title { color: rgb(0, 0, 0); font-size: 1.4em; font-weight: 600; margin-bottom: 1em; padding-left: 0.786em; }
.article-tools__article-nav-scrollpane { height: 150px; overflow-y: auto; position: relative; width: 100%; }
.article-tools__article-nav-list { margin: 0px; transform: translate3d(0px, 0px, 0px); }
.article-tools__article-nav-list hr { display: none; position: static; top: 0px; }
.article-tools__article-nav-item { border-bottom: 1px solid rgb(193, 193, 193); font-size: 1.3em; margin: 0px 13px 8px; padding: 0px 0px 10px; }
.article-tools__article-nav-item-link { display: block; line-height: 1.286em; position: relative; text-decoration: none; overflow-wrap: break-word; }
.article-tools__bar { display: none; list-style: outside none none; position: absolute; text-align: right; }
.article-tools__tool--set { display: none; margin: 0px; opacity: 1; transition: opacity 0.25s ease-in-out 0s; }
.article-tools__tool-link { float: left; padding: 3px 5px 0px; }
.article-tools__tool-text { display: none; }
.block { background: rgb(249, 249, 249) none repeat scroll 0% 0%; margin-bottom: 0.5em; padding: 2em 4em; position: relative; }
.block p:last-child { margin: 0px; }
.citations__link, .citations__section { display: none; }
.citations--available .citations__link, .citations--available .citations__section { display: block; }
.article-section__citation-list { position: relative; }
.article-section__citation-list .bullet { margin-top: 2px; left: -25px; width: 2.286em; }
.article-section__citation-list li { overflow: hidden; padding-left: 2.714em; margin-bottom: 1.5em; }
.article-section__citation-link { clear: left; float: left; }
.cited-info__list { margin-bottom: 1.6em; overflow: hidden; border-bottom: 1px solid rgb(175, 175, 175); }
.cited-info__list .cited-info__item { font-size: 1.4em; float: left; margin: 0px 10px 20px; }
.cited-info__text { color: rgb(88, 88, 88); }
.citation-tools { width: 180px; }
.dialogue { display: inline-block; position: relative; z-index: 2; }
.dialogue__popup { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(47, 123, 174); display: none; position: absolute; top: 0px; width: 200px; z-index: 1; }
.dialogue__head { background: rgb(47, 123, 174) none repeat scroll 0% 0%; color: rgb(255, 255, 255); overflow: hidden; min-height: 1.6em; padding: 5px; text-align: right; }
.dialogue__action--set:focus, .dialogue__action--set:hover { text-decoration: underline; }
.dialogue__action--set .icon { float: left; margin-right: 5px; }
.dialogue__list-item { box-sizing: border-box; display: block; overflow: hidden; padding: 5px; width: 100%; }
.dialogue__list-item:hover { color: rgb(255, 255, 255); background: rgb(47, 123, 174) none repeat scroll 0% 0%; text-decoration: none; }
.dialogue__list-item:focus { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(47, 123, 174); text-decoration: underline; }
.dialogue__list-item .icon { float: left; margin-right: 5px; }
.results { border: 1px solid rgb(255, 255, 255); margin: 0px 1.5em 2em; padding: 0px 10px; }
.results .loading { min-height: 200px; }
.results__title { font-size: 1.7em; font-weight: 400; margin-bottom: 0.882em; }
.figure-viewer__caption-tools-container::after { clear: both; content: ""; display: table; }
.issue { position: relative; overflow: hidden; }
.issue-header { padding: 0px 1em; position: relative; z-index: 1; }
.issue-header__nav-control { box-sizing: border-box; position: relative; }
.issue-header__image-wrapper { position: relative; }
.issue-header__image { border: 1px solid rgb(220, 220, 220); box-shadow: 3px 3px 0px 0px rgb(220, 220, 220); display: none; height: 130px; margin: 0px auto 0.5em; width: 100px; }
.issue-header__image-link:active .issue-header__image, .issue-header__image-link:focus .issue-header__image, .issue-header__image-link:hover .issue-header__image { opacity: 0.7; }
.issue-header__description { background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-size: 1.1em; line-height: 1.4; }
.issue-header__description .js-revealer__control-wrapper::before { content: "..."; }
.issue-header__link { position: absolute; top: 0px; }
.issue-header__tooltip { background: rgba(87, 87, 87, 0.9) none repeat scroll 0% 0%; border-left: 5px solid rgb(255, 255, 255); border-right: 5px solid rgb(255, 255, 255); box-sizing: border-box; color: rgb(255, 255, 255); display: none; font-size: 1.4em; left: 50%; line-height: 1.2; margin-left: -100px; padding: 0.5em 1.429em 0.714em; position: absolute; top: 120px; width: 200px; z-index: 1; }
.issue-header__tooltip .icon__chevron-up { position: absolute; top: -11px; }
.csstransitions .issue-header__tooltip { display: block; opacity: 0; transition-property: opacity; transition-duration: 0.4s; transition-timing-function: ease-in-out; visibility: hidden; }
.issue-header__tooltip--right .icon__chevron-up { right: 25px; }
.issue-header__tooltip--left .icon__chevron-up { left: 25px; }
.issue-header__tooltip-header { display: block; font-weight: 700; margin-bottom: 0.5em; }
.issue-header__arrow { margin: -30px 0px 0px; position: absolute; top: 50%; }
.issue-header__arrow:focus + .issue-header__tooltip, .issue-header__arrow:hover + .issue-header__tooltip { display: block; }
.csstransitions .issue-header__arrow:focus + .issue-header__tooltip, .csstransitions .issue-header__arrow:hover + .issue-header__tooltip { opacity: 1; visibility: visible; }
.issue-header__arrow--left { left: 0px; }
.issue-header__arrow--right { right: 0px; }
.journal { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-left: 1px solid rgb(225, 225, 225); border-right: 1px solid rgb(225, 225, 225); border-bottom: 1px solid rgb(225, 225, 225); border-radius: 0px 0px 2px 2px; margin-bottom: 1.7em; padding: 0px; }
.journal-header { overflow: hidden; padding: 1em; position: relative; }
.journal-header .u-horizontal-list { overflow: hidden; }
.journal-header__name { color: rgb(232, 113, 26); display: block; font-weight: 600; }
.journal-header__name:active .journal-header__link, .journal-header__name:focus .journal-header__link, .journal-header__name:hover .journal-header__link { text-decoration: underline; }
.journal-header__name-title { margin-right: 1em; font-size: 1.8em; }
.journal-header__logo { display: none; float: left; }
.journal-header__logo:active .journal-header__logo-img, .journal-header__logo:focus .journal-header__logo-img, .journal-header__logo:hover .journal-header__logo-img { opacity: 0.7; }
.journal-header__logo-img { float: left; }
.journal-header__link { clear: both; color: rgb(47, 123, 174); display: inline-block; font-size: 1.2em; font-style: italic; font-weight: 400; }
.altmetric-embed { margin: 0px auto; padding-top: 2px; }
.altmetric-embed.js-module { width: 90px; }
.underlined { text-decoration: underline; }
.article-header__references-item p, .mathStatement .list p, .table__data p, ol li p, ul li p { font-size: 1em; }
@media only screen and (min-width: 460px) {
	.table__overflow { margin: 0px 0px 1em; }
	.table__data, .table__header-data { padding: 1em; }
	.table__header-data { font-size: 1.4em; }
	.article-section, .section { margin-left: 1.5em; margin-right: 1.5em; }
	.article-section--abstract { padding: 0.7em 2.5em 1.7em; }
	.article-footer__section { margin: 0px 1.5em; }
	.article-footer__section-title { padding: 0.556em 0.833em; }
	.article-footer__section-title .icon { margin-right: 0.444em; }
	.js-footer-control { padding: 0.526em 0.789em; }
	.js-footer-control--hover:hover .icon__double-chevron, .js-footer-title--active .js-footer-control .icon__double-chevron { margin-right: 0.632em; }
	.article-header__meta-info-label { display: inline; }
	.article-header__meta-info-data { margin-right: 1em; }
	.article-section__citation-list li, .article-section__references-list li { padding-left: 1em; }
	.article-tools__bar { background: rgb(240, 240, 240) none repeat scroll 0% 0%; border-left: 1px solid rgb(225, 225, 225); border-right: 1px solid rgb(225, 225, 225); margin: 0px 0px 0px 20px; padding: 0px 10px; right: 90px; top: 0px; }
	.js .article-tools__bar { display: block; }
	.article-tools__tool--set { display: inline-block; }
	.article-tools__tool-link:focus, .article-tools__tool-link:hover { background: rgb(225, 225, 225) none repeat scroll 0% 0%; text-decoration: none; }
	.article-tools__tool-text { clear: left; color: rgb(118, 118, 118); display: block; font-size: 9px; text-align: center; }
	.cited-info__list { padding: 0px 25px; }
	.cited-info__list .cited-info__item { margin-left: 15px; margin-right: 15px; }
	.cited-info__text { font-weight: 700; }
	.citation__list li + li::before { content: "|"; margin: 0px 5px 0px 3px; }
	.journal-header__link { text-align: right; }
	.altmetric-embed { margin: 0px; }
}
@media only screen and (min-width: 748px) {
	.advert { max-width: 728px; min-height: 92px; }
	.advert-leaderboard__container { margin: 0px auto; }
	.l-article-support { height: 100%; left: 0px; position: absolute; top: 0px; z-index: 1; }
	.table__overflow { margin: 0px 0px 1.5em; }
	.table__data, .table__header-data { padding: 1em; }
	.article { padding: 2em; }
	.article-section--abstract { padding: 0.7em 2em 1.7em; }
	.abbreviation-list li:nth-child(2n+1) { clear: left; }
	.article-footer__section-title { font-size: 1.9em; margin-bottom: 1.053em; padding: 0.526em 0.789em; }
	.article-header__intro { min-height: 5em; padding-right: 18em; }
	.article-header__title { font-size: 2.5em; line-height: 1.2; }
	.article-header__authors-item { position: relative; }
	.article-header__author-content { width: 31.5em; }
	.article-header__authors-name { font-size: 1.067em; }
	.article-header__meta-info-2nd-data { font-size: 1.1em; }
	.article-section__citation-list li, .article-section__references-list li { font-size: 1.4em; margin-bottom: 2.5em; padding-left: 1.5em; }
	.issue-header { float: right; margin-right: 2em; padding: 0px; width: 160px; }
	.issue-header__nav { float: right; }
	.issue-header__image-wrapper { padding: 0px 30px; }
	.issue-header__image { display: block; }
	.issue-header__description { font-size: 1.2em; margin: 0px; padding: 0.5em 0.333em; text-align: center; }
	.issue-header__link { position: relative; }
	.journal-header { padding: 2.5em 2em 0px; }
	.journal-header__name--normal { left: -999em; position: absolute; top: -999em; }
	.journal-header__logo { display: block; }
	.journal-header__link { display: block; }
}
@media only screen and (min-width: 1004px) {
	.skyscraper { display: block; margin-left: auto; }
	.advert, .advert-skyscraper { border: 1px solid rgb(220, 220, 220); border-radius: 2px; overflow: visible; padding: 5px 5px 4px; }
	.advert-leaderboard__title { display: block; }
	.readcube-epdf-enabled .box-actions--readcube, .readcubeEpdfEnabled .box-actions--readcube { display: block; }
	.article-footer__section { margin: 0px; }
	.issue-header__tooltip { margin-left: -120px; width: 240px; }
	.issue-header__tooltip--right .icon__chevron-up { right: 45px; }
	.issue-header__tooltip--left .icon__chevron-up { left: 45px; }
}
@media only screen and (min-width: 1120px) {
	.icon-aa__sidepane { height: 32px; width: 32px; }
	.icon-aa__sidepane--pdf { background-position: 0px 0px; }
	.icon-aa__sidepane--info { background-position: -38px 0px; }
	.icon-aa__sidepane--ref { background-position: -76px 0px; }
	.skyscraper { display: block; }
	.skyscraper--left { display: block; left: 5px; position: absolute; top: 0px; }
	.advert-skyscraper { display: block; margin-bottom: 24px; max-height: 600px; max-width: 160px; min-height: 160px; min-width: 120px; }
	.l-article-nav { float: right; height: auto; margin-right: -240px; width: 240px; }
	.article-support, .no-js .article-support { display: block; }
	.article-support__links { position: absolute; top: 60px; width: 255px; z-index: 1; }
	.csstransitions .article-support__links { transition-duration: 0.25s; transform: translate3d(0px, 0px, 0px); }
	.article-support__list { background-color: rgb(255, 255, 255); border: 1px solid rgb(220, 220, 220); border-radius: 2px 0px 0px; float: right; margin: 0px; padding: 0.2em 0.3em 10px; width: 65px; }
	.article-support__item-link { display: block; float: none; margin-top: 0.6em; }
	.article-support__item-link .icon-aa__sidepane { margin: 0px auto; }
	.article-support__item-text { display: block; text-align: center; }
	.article-support__pane { background: rgb(255, 255, 255) url('ajax-loader_001.gif') no-repeat scroll center 30%; border: 1px solid rgb(175, 175, 175); display: block; margin-top: 50px; min-height: 240px; opacity: 0; position: absolute; width: 26.5em; z-index: 1000; transition-duration: 0.25s; transform: translate3d(-265px, 0px, 0px); }
	.article-tools { background: transparent none repeat scroll 0px 0px; border: medium none; height: auto; left: inherit; padding: 0px; top: 0px; width: 240px; }
	.article-tools__list { margin-right: 20px; position: static; width: 240px; }
	.article-tools__item-link--menu, .icon__tools--article-nav { display: none; }
	.article-tools__article-nav { background: transparent none repeat scroll 0px 0px; border: medium none; border-radius: 0px; box-shadow: none; display: block; height: auto; left: 0px; margin: 0px 0px 2em; padding: 0px; position: relative; right: inherit; top: 2em; width: auto; }
	.article-tools__article-nav .icon__chevron { left: 20px; top: 1.5em; }
	.article-tools__article-nav-title { display: none; }
	.article-tools__article-nav-scrollpane { height: auto; overflow: hidden; }
	.article-tools__article-nav-list { padding-left: 43px; }
	.article-tools__article-nav-list hr { display: block; margin: 1.3em 17px 1.3em 0px; }
	.article-tools__article-nav-item { border: medium none; font-size: 1.4em; margin: 0px 0px 1em; padding: 0px; }
	.article-tools__article-nav-item-link { position: static; }
	.article-tools__bar { border: 1px solid rgb(225, 225, 225); margin: 35px 0px 0px 20px; height: 3.8em; position: static; text-align: left; }
	.article-tools__bar::after { clear: both; content: ""; display: table; }
	.js .article-tools__bar, body[data-type="systematic-review"] .article-tools__bar { display: block; }
	.js .article-tools__bar { margin-right: 20px; }
	.article-tools__tool-link { padding-bottom: 3px; }
	.figure-viewer__caption-wrapper::after { clear: both; content: ""; display: table; }
	.journal { border: 1px solid rgb(175, 175, 175); border-radius: 2px; }
}
@media only screen and (min-width: 1380px) {
	.skyscraper--left { left: 0px; }
	.article { padding: 2em 4em 3em; }
	.article-section, .section { margin-left: 5.5em; margin-right: 5.5em; }
	.article-footer__section { margin: 0px 5.5em; }
	.issue-header { margin-right: 4em; }
	.journal-header { padding: 3em 4em 0px; }
}
@media only screen and (min-width: 1580px) {
	.skyscraper--left { left: 70px; }
	.article-support__links { width: 335px; }
}
/* ::::: https://d1bxh8uas1mnw7.cloudfront.net/assets/embed-2c47105b6381604898bbf8ae8a680350.css ::::: */

div#_altmetric_popover_el.altmetric-embed div, div#_altmetric_popover_el.altmetric-embed span, div#_altmetric_popover_el.altmetric-embed applet, div#_altmetric_popover_el.altmetric-embed object, div#_altmetric_popover_el.altmetric-embed iframe, div#_altmetric_popover_el.altmetric-embed h1, div#_altmetric_popover_el.altmetric-embed h2, div#_altmetric_popover_el.altmetric-embed h3, div#_altmetric_popover_el.altmetric-embed h4, div#_altmetric_popover_el.altmetric-embed h5, div#_altmetric_popover_el.altmetric-embed h6, div#_altmetric_popover_el.altmetric-embed p, div#_altmetric_popover_el.altmetric-embed blockquote, div#_altmetric_popover_el.altmetric-embed pre, div#_altmetric_popover_el.altmetric-embed a, div#_altmetric_popover_el.altmetric-embed abbr, div#_altmetric_popover_el.altmetric-embed acronym, div#_altmetric_popover_el.altmetric-embed address, div#_altmetric_popover_el.altmetric-embed big, div#_altmetric_popover_el.altmetric-embed cite, div#_altmetric_popover_el.altmetric-embed code, div#_altmetric_popover_el.altmetric-embed del, div#_altmetric_popover_el.altmetric-embed dfn, div#_altmetric_popover_el.altmetric-embed em, div#_altmetric_popover_el.altmetric-embed img, div#_altmetric_popover_el.altmetric-embed ins, div#_altmetric_popover_el.altmetric-embed kbd, div#_altmetric_popover_el.altmetric-embed q, div#_altmetric_popover_el.altmetric-embed s, div#_altmetric_popover_el.altmetric-embed samp, div#_altmetric_popover_el.altmetric-embed small, div#_altmetric_popover_el.altmetric-embed strike, div#_altmetric_popover_el.altmetric-embed strong, div#_altmetric_popover_el.altmetric-embed sub, div#_altmetric_popover_el.altmetric-embed sup, div#_altmetric_popover_el.altmetric-embed tt, div#_altmetric_popover_el.altmetric-embed var, div#_altmetric_popover_el.altmetric-embed b, div#_altmetric_popover_el.altmetric-embed u, div#_altmetric_popover_el.altmetric-embed i, div#_altmetric_popover_el.altmetric-embed center, div#_altmetric_popover_el.altmetric-embed dl, div#_altmetric_popover_el.altmetric-embed dt, div#_altmetric_popover_el.altmetric-embed dd, div#_altmetric_popover_el.altmetric-embed ol, div#_altmetric_popover_el.altmetric-embed ul, div#_altmetric_popover_el.altmetric-embed li, div#_altmetric_popover_el.altmetric-embed fieldset, div#_altmetric_popover_el.altmetric-embed form, div#_altmetric_popover_el.altmetric-embed label, div#_altmetric_popover_el.altmetric-embed legend, div#_altmetric_popover_el.altmetric-embed table, div#_altmetric_popover_el.altmetric-embed caption, div#_altmetric_popover_el.altmetric-embed tbody, div#_altmetric_popover_el.altmetric-embed tfoot, div#_altmetric_popover_el.altmetric-embed thead, div#_altmetric_popover_el.altmetric-embed tr, div#_altmetric_popover_el.altmetric-embed th, div#_altmetric_popover_el.altmetric-embed td, div#_altmetric_popover_el.altmetric-embed article, div#_altmetric_popover_el.altmetric-embed aside, div#_altmetric_popover_el.altmetric-embed canvas, div#_altmetric_popover_el.altmetric-embed details, div#_altmetric_popover_el.altmetric-embed embed, div#_altmetric_popover_el.altmetric-embed figure, div#_altmetric_popover_el.altmetric-embed figcaption, div#_altmetric_popover_el.altmetric-embed footer, div#_altmetric_popover_el.altmetric-embed header, div#_altmetric_popover_el.altmetric-embed hgroup, div#_altmetric_popover_el.altmetric-embed menu, div#_altmetric_popover_el.altmetric-embed nav, div#_altmetric_popover_el.altmetric-embed output, div#_altmetric_popover_el.altmetric-embed ruby, div#_altmetric_popover_el.altmetric-embed section, div#_altmetric_popover_el.altmetric-embed summary, div#_altmetric_popover_el.altmetric-embed time, div#_altmetric_popover_el.altmetric-embed mark, div#_altmetric_popover_el.altmetric-embed audio, div#_altmetric_popover_el.altmetric-embed video { margin: 0px; padding: 0px; border: 0px none; font-family: inherit; font-style: inherit; font-weight: inherit; line-height: inherit; font-size-adjust: inherit; font-stretch: inherit; font-feature-settings: inherit; font-language-override: inherit; font-kerning: inherit; font-synthesis: inherit; font-variant: inherit; font-size: 100%; vertical-align: baseline; }
div#_altmetric_popover_el.altmetric-embed q::before, div#_altmetric_popover_el.altmetric-embed q::after, div#_altmetric_popover_el.altmetric-embed blockquote::before, div#_altmetric_popover_el.altmetric-embed blockquote::after { content: none; }
div#_altmetric_popover_el.altmetric-embed div#_altmetric_container.altmetric_container a.link-to-altmetric-details-tab { text-decoration: none; color: inherit; }
div#_altmetric_popover_el.altmetric-embed div#_altmetric_container.altmetric_container a.link-to-altmetric-details-tab:hover { text-decoration: underline; }
div#_altmetric_popover_el.altmetric-embed div#_altmetric_container.altmetric_container div.altmetric_arrow.altmetric-bottom { top: 0px; left: 50%; margin-left: -5px; border-right: 5px solid transparent; border-bottom: 5px solid rgb(0, 0, 0); border-left: 5px solid transparent; }
div#_altmetric_popover_el.altmetric-embed div#_altmetric_container.altmetric_container div.altmetric_arrow { position: absolute; width: 0px; height: 0px; }
div#_altmetric_popover_el.altmetric-embed div#_altmetric_container.altmetric_container div#_altmetric_popover_inner.altmetric-popover-inner.altmetric-floating { width: 280px; padding: 3px; overflow: hidden; background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%; border-radius: 6px; box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3); margin: 0px; }
div#_altmetric_popover_el.altmetric-embed div#_altmetric_container.altmetric_container div#_altmetric_popover_inner .readers { margin-top: 10px; }
div#_altmetric_popover_el.altmetric-embed div#_altmetric_container.altmetric_container div#_altmetric_popover_inner .tip_mendeley { border-left: 16px solid rgb(166, 0, 0); padding-left: 10px; line-height: 18px; }
div#_altmetric_popover_el.altmetric-embed div#_altmetric_container.altmetric_container div#_altmetric_popover_inner b { font-weight: bold; }
div#_altmetric_popover_el.altmetric-embed div#_altmetric_container.altmetric_container div#_altmetric_popover_inner .altmetric-popover-content { font-size: 13px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; line-height: 13px; padding: 8px; background-color: rgb(255, 255, 255); margin: 0px; }
div#_altmetric_popover_el.altmetric-embed div#_altmetric_container.altmetric_container div#_altmetric_popover_inner .altmetric-popover-content.altmetric-floating { border-radius: 3px; background-clip: padding-box; }
div#_altmetric_popover_el.altmetric-embed div#_altmetric_container.altmetric_container div#_altmetric_popover_inner div { margin: 0px; }
div#_altmetric_popover_el.altmetric-embed { position: absolute; top: 0px; left: 0px; z-index: 1010; display: none; padding: 5px; }
