/* ::::: https://www.facebook.com/rsrc.php/v2/yG/r/ESMM-OmoVRa.css ::::: */

body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(29, 33, 41); direction: ltr; line-height: 1.34; margin: 0px; padding: 0px; unicode-bidi: embed; }
body, button, input, label, select, td, textarea { font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 12px; }
a { color: rgb(54, 88, 153); cursor: pointer; text-decoration: none; }
a:hover { text-decoration: underline; }
img { border: 0px none; }
.clearfix::after { clear: both; content: "."; display: block; font-size: 0px; height: 0px; line-height: 0; visibility: hidden; }
.clearfix {  }
._li._li._li { overflow: initial; }
.pluginButton button::-moz-focus-inner { border: 0px none; padding: 0px; }
.pluginFontHelvetica, .pluginFontHelvetica button, .pluginFontHelvetica input, .pluginFontHelvetica label, .pluginFontHelvetica select, .pluginFontHelvetica td, .pluginFontHelvetica textarea { font-family: helvetica,arial,sans-serif; }
body.plugin { background: transparent none repeat scroll 0% 0%; font-family: Helvetica,Arial,sans-serif; line-height: 1.28; overflow: hidden; -moz-text-size-adjust: none; }
.plugin, .plugin button, .plugin input, .plugin label, .plugin select, .plugin td, .plugin textarea { font-size: 11px; }
._42ft { cursor: pointer; display: inline-block; text-decoration: none; white-space: nowrap; }
._42ft::-moz-focus-inner { border: 0px none; padding: 0px; }
.gecko ._42ft:focus { outline: 1px dotted rgb(59, 89, 152); }
._42ft:hover { text-decoration: none; }
i.img {  }
._2pi3 { padding-bottom: 8px; padding-top: 8px; }
._2pi8 { padding-left: 8px; padding-right: 8px; }
/* ::::: https://www.facebook.com/rsrc.php/v2/y9/r/zxP1C4GMAZl.css ::::: */

._2sl3:not(:last-child) { border-bottom: 1px solid rgb(221, 223, 226); }
._pbn ._4z8-::before { content: none; }
._38vo::after { border: 1px solid rgba(0, 0, 0, 0.1); bottom: 0px; content: ""; left: 0px; position: absolute; right: 0px; top: 0px; }
._5v3q ._31-z ._4-eo::after { border-width: 0px; }
._5v3q ._4-eo::after { border: 1px solid rgba(0, 0, 0, 0.1); bottom: 0px; content: ""; left: 0px; position: absolute; right: 0px; top: 0px; }
._5tmf ._2t9n img, ._5tmf ._2t9n._4-eo, ._5tmf ._2t9n._4-eo::after { border-radius: 5px 5px 0px 0px; }
._lew::before { content: attr(title); font-size: 0px; }
.home_right_column .fbFeedTicker .ticker_container::before, .home_right_column .fbFeedTicker .ticker_container::after { background-color: rgba(0, 0, 0, 0.1) ! important; content: ""; display: block; height: 1px ! important; position: absolute; width: 100%; z-index: 2; }
.home_right_column .fbFeedTicker .ticker_container::after { bottom: 0px; }
._30yy:focus:not(:active) { opacity: 0.6; }
._2sdm *::-moz-selection { background-color: rgba(0, 132, 255, 0.2); }
.highContrast ._59c6._5dzz::before { content: url('n859vy8yq6p.png'); margin: -312px 0px 0px 1px; position: absolute; }
.highContrast ._59c6._5d-3._5dzz::before { content: url('n859vy8yq6p.png'); margin: -312px 0px 0px 1px; position: absolute; }
.highContrast ._59c6._5dz-::before { content: url('n859vy8yq6p.png'); margin: -312px 0px 0px 1px; position: absolute; }
.highContrast ._59c6._5dz_::before { content: url('n859vy8yq6p.png'); margin: -312px 0px 0px 1px; position: absolute; }
.highContrast ._1gop._5dzz::before { content: url('n859vy8yq6p.png'); margin: -380px 0px 0px; position: absolute; }
.highContrast .uiTypeaheadView .selected ._1gop._5dzz::before { content: url('n859vy8yq6p.png'); margin: -363px 0px 0px; position: absolute; }
.highContrast ._56_f._5dzz::before, .highContrast .uiTypeaheadView .search.updatedSuggestionRows .selected ._56_f._5dzz::before { content: url('n859vy8yq6p.png'); margin: -446px 0px 0px; position: absolute; }
.highContrast ._56_f._5d-3._5dzz::before { content: url('n859vy8yq6p.png'); margin: -208px 0px 0px; position: absolute; }
.highContrast ._56_f._5dz-::before { content: url('n859vy8yq6p.png'); margin: -462px 0px 0px; position: absolute; }
.highContrast ._56_f._5dz_::before { content: url('n859vy8yq6p.png'); margin: -347px 0px 0px; position: absolute; }
.highContrast ._56_f._5d-0::before { content: url('n859vy8yq6p.png'); margin: -105px 0px 0px; position: absolute; }
.highContrast ._56_f._5d-1::before { content: url('n859vy8yq6p.png'); margin: -169px 0px 0px; position: absolute; }
.highContrast ._56_f._5d-3._5d-1::before { content: url('n859vy8yq6p.png'); margin: -28px 0px 0px; position: absolute; }
.highContrast ._56_f._3vjg._5dzz::before, .highContrast ._56_f._5d-3._3vjg ._5dzz::before, .highContrast ._56_f._3vjg._5dz-::before, .highContrast ._56_f._3vjg._5dz_::before, .highContrast ._56_f._3vjg._5d-0::before, .highContrast ._56_f._3vjg._5d-1::before, .highContrast ._56_f._5d-3._3vjg ._5d-1::before { content: url('n859vy8yq6p.png'); margin: -477px 0px 0px 1px; position: absolute; }
.highContrast .uiTypeaheadView .selected ._56_f._5dzz::before { content: url('n859vy8yq6p.png'); margin: -430px 0px 0px; position: absolute; }
.highContrast .selected ._56_f._5dz_::before { content: url('n859vy8yq6p.png'); margin: -330px 0px 0px; position: absolute; }
.highContrast ._5n3t._5dzz::before { content: url('n859vy8yq6p.png'); margin: -492px 0px 0px -13px; position: absolute; }
.highContrast ._5n3t._5d-3._5dzz::before { content: url('n859vy8yq6p.png'); margin: -244px 0px 0px 1px; position: absolute; }
.highContrast ._5n3t._5dz-::before { content: url('n859vy8yq6p.png'); margin: -506px 0px 0px 1px; position: absolute; }
.highContrast ._5n3t._5dz_::before { content: url('n859vy8yq6p.png'); margin: -279px 0px 0px; position: absolute; }
.highContrast ._5n3t._5d-0::before { content: url('n859vy8yq6p.png'); margin: -127px 0px 0px 1px; position: absolute; }
.highContrast ._5n3t._5d-1::before { content: url('n859vy8yq6p.png'); margin: -226px 0px 0px 1px; position: absolute; }
.highContrast ._5n3t._5d-3._5d-1::before { content: url('n859vy8yq6p.png'); margin: -55px 0px 0px 1px; position: absolute; }
.highContrast .uiTypeaheadView .selected ._5n3t._5dzz::before { content: url('n859vy8yq6p.png'); margin: -492px 0px 0px 1px; position: absolute; }
.highContrast .selected ._5n3t._5dz_::before { content: url('n859vy8yq6p.png'); margin: -262px 0px 0px; position: absolute; }
._2agf { word-wrap: normal; }
._55pe { display: inline-block; overflow: hidden; text-overflow: ellipsis; vertical-align: top; white-space: nowrap; }
.highContrast .uiSelectorButton::after { content: " ▼"; }
.uiScrollableArea.contentBefore::before, .uiScrollableArea.contentAfter::after { content: ""; display: block; height: 2px; position: absolute; width: 100%; z-index: 99; }
.uiScrollableArea.contentBefore::before { top: 0px; }
.uiScrollableArea.contentAfter::after { bottom: 0px; }
.uiScrollableAreaWithTopShadow.contentBefore::before, .uiScrollableAreaWithShadow.contentAfter::after { background-color: rgba(0, 0, 0, 0.07); }
.highContrast ._569t ._54nd ._54nc::before { content: "✓"; left: 6px; position: absolute; }
._51tl::before { content: ""; display: inline-block; height: 20px; vertical-align: middle; }
._1tp7:not(:focus) { border: 1px solid rgb(250, 62, 62); }
.UFIMentionsInputWrap, .UFICommentContainer, .UFIInputContainer { position: relative; }
.UFICommentAttachmentButtons { bottom: 0px; height: 24px; position: absolute; right: 0px; }
.clearFix::after { clear: both; content: "."; display: block; font-size: 0px; height: 0px; line-height: 0; visibility: hidden; }
._58al::-moz-placeholder, ._58al:-moz-placeholder, ._58an::-moz-placeholder, ._58an:-moz-placeholder { color: rgb(119, 119, 119); }
._1gwo::before { content: attr(title); font-size: 0px; }
.sp_BNBd3m8xN0K { background-image: url('-bu-kqxcof-.png'); background-size: auto auto; background-repeat: no-repeat; display: inline-block; height: 16px; width: 16px; }
.sp_BNBd3m8xN0K.sx_c4b935 { width: 9px; height: 8px; background-position: -147px -245px; }
/* ::::: https://www.facebook.com/rsrc.php/v2/yT/r/D9t-9Mw-RnT.css ::::: */

*::-moz-placeholder, :-moz-placeholder { color: rgb(144, 148, 156); }
:focus::-moz-placeholder, :focus:-moz-placeholder { color: rgb(190, 194, 201); }
.no_js *::-moz-placeholder, .no_js :-moz-placeholder { color: rgb(0, 0, 0); }
body { overflow-y: scroll; }
@font-face {
	font-family: "San Francisco";
	font-weight: 300;
	src: local("-apple-system");
}
@font-face {
	font-family: "San Francisco";
	font-weight: 400;
	src: local(".SFNSText-Regular");
}
@font-face {
	font-family: "San Francisco";
	font-weight: 500;
	src: local("-apple-system");
}
@font-face {
	font-family: "San Francisco";
	font-weight: 600;
	src: local("-apple-system");
}
@font-face {
	font-family: "San Francisco";
	font-weight: 700;
	src: local(".SFNSText-Semibold");
}
@font-face {
	font-family: "San Francisco";
	font-weight: 800;
	src: local("-apple-system");
}
@font-face {
	font-family: "Segoe UI Historic";
	src: local("Arial");
	unicode-range: U+530-5F4, U+10A0-10FF;
}
@font-face {
	font-family: "Segoe UI Historic";
	font-weight: 700;
	src: local("Arial Bold"), local("Arial");
	unicode-range: U+530-5F4, U+10A0-10FF;
}
html:lang(he) ._5p3y, html:lang(he) ._5p3y button, html:lang(he) ._5p3y input, html:lang(he) ._5p3y label, html:lang(he) ._5p3y select, html:lang(he) ._5p3y td, html:lang(he) ._5p3y textarea, html:lang(he) ._5p3y .uiMentionsInput .highlighter, html:lang(he) ._5p3y .uiButtonText, html:lang(he) ._5p3y .uiButton input, html:lang(he) ._5p3y .uiLinkButton input, html:lang(he) ._5p3y button.as_link, html:lang(he) ._5p3y .fbChatSidebar, html:lang(he) ._5p3y .fbDock, html:lang(he) ._5p3y .fbFeedTicker .fbFeedTickerStory .tickerFeedMessage, html:lang(he) ._5p3y .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h5, html:lang(he) ._5p3y .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h6, html:lang(he) ._5p3y .uiTooltipX .tooltipContent, html:lang(he) ._5p3y a[role="button"], html:not([lang="he"]) ._5p3y :lang(he), ._5p3y[dir="ltr"] :lang(he) { font-family: helvetica,arial,sans-serif; }
@media not all, (min-resolution: 2dppx) {
}
._xcx::after { border: 1px solid rgba(0, 0, 0, 0.1); bottom: 0px; content: ""; left: 0px; position: absolute; right: 0px; top: 0px; }
.lfloat { float: left; }
.rfloat { float: right; }
.uiButton input::-moz-focus-inner { border: 0px none; padding: 0px; }
.uiButtonOverlay::before { background-color: rgba(0, 0, 0, 0.02); bottom: 0px; content: ""; left: 0px; position: absolute; right: 0px; top: 0px; }
.uiButtonOverlay:hover::before { background-color: rgba(0, 0, 0, 0.08); }
.uiButtonDepressed:not(.uiButtonSpecial):not(.uiButtonConfirm) .uiButtonText, .uiButtonDepressed:not(.uiButtonSpecial):not(.uiButtonConfirm) input { color: rgb(64, 128, 255); }
._42fu::before { content: ""; display: inline-block; height: 20px; vertical-align: middle; }
._42fu._42fs:not(._42gz):not(._42g-) { color: rgb(64, 128, 255); }
a._p { display: block; }
._4jy0 { border: 1px solid; border-radius: 2px; box-sizing: content-box; font-family: helvetica,arial,sans-serif; font-size: 12px; font-weight: bold; padding: 0px 8px; position: relative; text-align: center; text-shadow: none; vertical-align: middle; }
.gecko ._4jy0 { font-family: "Helvetica Neue",helvetica,arial,sans-serif; }
._4jy0::before { content: ""; display: inline-block; height: 20px; vertical-align: middle; }
html ._4jy0:focus, html .gecko ._4jy0:focus { box-shadow: 0px 0px 1px 2px rgba(88, 144, 255, 0.75), 0px 1px 1px rgba(0, 0, 0, 0.15); outline: medium none; }
._4jy0 .img { bottom: 1px; position: relative; vertical-align: middle; }
._517h, ._59pe:focus, ._59pe:hover { background-color: rgb(246, 247, 249); border-color: rgb(206, 208, 212); color: rgb(75, 79, 86); }
._517h:hover { background-color: rgb(233, 235, 238); }
._517h:active, ._517h._42fs { background-color: rgb(221, 223, 226); border-color: rgb(190, 194, 201); }
._4jy3, ._4jy3._42fr:active, ._4jy3._42fr._42fs { line-height: 22px; }
._51xa ._4jy1 + .uiPopover > ._4jy1:not(:focus)::after { background-color: rgb(246, 247, 249); bottom: -1px; content: ""; display: block; left: -1px; position: absolute; top: -1px; width: 1px; }
._2yq ._4-u2::before { border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(229, 230, 233) rgb(223, 224, 228) rgb(208, 209, 213); border-radius: 4px; bottom: -1px; content: ""; left: -1px; pointer-events: none; position: absolute; right: -1px; top: -1px; }
._55r1::-moz-placeholder, ._55r1:-moz-placeholder, ._55r1 ._58al::-moz-placeholder, ._55r1 ._58al:-moz-placeholder { color: rgb(144, 148, 156); }
._55r1:focus::-moz-placeholder, ._55r1:focus:-moz-placeholder, ._55r1 ._58al:focus::-moz-placeholder, ._55r1 ._58al:focus:-moz-placeholder { color: rgb(190, 194, 201); }
._55r1._1tp7:not(:focus) { background: rgb(255, 255, 255) url('efrktvrvpx9.png') no-repeat scroll right 8px center; }
._53a0._1tp7:not(:focus) { background: rgb(246, 247, 249) url('efrktvrvpx9.png') no-repeat scroll right 8px center; }
.x1-5 ._55r1._1tp7:not(:focus), .x2 ._55r1._1tp7:not(:focus) { background-image: url('ihdxzr4uqo6.png'); background-size: 18px 18px; }
._50f7 { font-weight: bold; }
._42ef { overflow: hidden; }
._8o, ._8o .img { display: block; }
._8r { margin-right: 5px; }
._8s { margin-right: 8px; }
._6a { display: inline-block; }
._6b { vertical-align: middle; }
._ohe { float: left; }
._ohf { float: right; }
._3-8y { margin-top: 12px; }
._3-8_ { margin-right: 4px; }
._3-99 { margin-left: 4px; }
/* ::::: https://www.facebook.com/rsrc.php/v2/yG/r/Zo4IzwILYhx.css ::::: */

._56q9 { font-size: 14px; line-height: 1.358; word-wrap: break-word; }
._2392 { margin-bottom: 24px; }
._4uyl ._1cb { border: 1px solid rgb(211, 214, 219); word-wrap: break-word; }
._1zz7 ._5yk2, ._1zz6 ._5yk2 { min-height: 16px; }
._4uyl ._5yk2, ._4uyl ._1u9t { font-size: 14px; padding: 12px 8px; }
._4uyl ._1p1t { color: rgb(169, 169, 169); }
._5lm5 { border-top: 1px solid rgb(233, 235, 238); font-size: 11px; }
._491z { border-bottom: 1px solid rgb(233, 235, 238); line-height: 25px; margin-bottom: 24px; padding: 8px 0px; }
._pup { color: rgb(75, 79, 86); }
._1ci { height: 48px; width: 48px; }
.ie10 ._55sg > input + span::before, .gecko ._55sg > input + span::before { background-image: url('seuwqw_kcrt.png'); background-repeat: no-repeat; background-size: auto auto; background-position: 0px 0px; content: ""; display: inline-block; height: 16px; margin: 0px 1px; position: relative; top: -1px; vertical-align: middle; width: 16px; }
.ie10 ._55sg > input:active + span::before, .gecko ._55sg > input:active + span::before { background-image: url('seuwqw_kcrt.png'); background-repeat: no-repeat; background-size: auto auto; background-position: 0px -17px; }
.ie10 ._55sg > input:focus + span::before, .gecko ._55sg > input:focus + span::before { background-image: url('seuwqw_kcrt.png'); background-repeat: no-repeat; background-size: auto auto; background-position: 0px -34px; }
.ie10 ._55sg > input:disabled + span::before, .gecko ._55sg > input:disabled + span::before { background-image: url('seuwqw_kcrt.png'); background-repeat: no-repeat; background-size: auto auto; background-position: 0px -51px; }
.ie10 ._55sg > input:checked + span::before, .gecko ._55sg > input:checked + span::before { background-image: url('seuwqw_kcrt.png'); background-repeat: no-repeat; background-size: auto auto; background-position: -17px 0px; }
.ie10 ._55sg > input:active:checked + span::before, .gecko ._55sg > input:active:checked + span::before { background-image: url('seuwqw_kcrt.png'); background-repeat: no-repeat; background-size: auto auto; background-position: -17px -17px; }
.ie10 ._55sg > input:focus:checked + span::before, .gecko ._55sg > input:focus:checked + span::before { background-image: url('seuwqw_kcrt.png'); background-repeat: no-repeat; background-size: auto auto; background-position: -17px -34px; }
.ie10 ._55sg > input:disabled:checked + span::before, .gecko ._55sg > input:disabled:checked + span::before { background-image: url('seuwqw_kcrt.png'); background-repeat: no-repeat; background-size: auto auto; background-position: -17px -51px; }
._5yk1 { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(189, 199, 216); box-sizing: border-box; cursor: text; font-family: helvetica,arial,sans-serif; font-size: 11px; padding: 3px; }
._5rp7, ._5rpb, ._5rpu { height: inherit; text-align: initial; }
._5rp7 { position: relative; }
._5rpb { background-color: rgba(255, 255, 255, 0); border-left: 0.1px solid transparent; position: relative; z-index: 1; }
._1p1t { color: rgb(144, 148, 156); position: absolute; z-index: 0; }
._1mf { position: relative; white-space: pre-wrap; }
._1mj { direction: ltr; text-align: left; }
._3kp_._3kq6::before { left: -36px; position: absolute; text-align: right; width: 30px; }
._3kp_._3kq7::before { position: absolute; right: -36px; text-align: left; width: 30px; }
._3kp_::before { content: counter(ol0, decimal) ". "; counter-increment: ol0; }
._3kp_._3kq2::before { content: counter(ol1, decimal) ". "; counter-increment: ol1; }
._3kp_._3kq3::before { content: counter(ol2, decimal) ". "; counter-increment: ol2; }
._3kp_._3kq4::before { content: counter(ol3, decimal) ". "; counter-increment: ol3; }
._3kp_._3kq5::before { content: counter(ol4, decimal) ". "; counter-increment: ol4; }
