/* ::::: https://www.facebook.com/rsrc.php/v2/yG/r/ESMM-OmoVRa.css ::::: */

form { margin: 0px; padding: 0px; }
body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(29, 33, 41); direction: ltr; line-height: 1.34; margin: 0px; padding: 0px; unicode-bidi: embed; }
body, button, input, label, select, td, textarea { font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 12px; }
a { color: rgb(54, 88, 153); cursor: pointer; text-decoration: none; }
a:hover { text-decoration: underline; }
img { border: 0px none; }
ul { list-style-type: none; margin: 0px; padding: 0px; }
.clearfix::after { clear: both; content: "."; display: block; font-size: 0px; height: 0px; line-height: 0; visibility: hidden; }
.clearfix {  }
#facebook .hidden_elem { display: none ! important; }
._li._li._li { overflow: initial; }
.pluginButton button::-moz-focus-inner { border: 0px none; padding: 0px; }
body.plugin { background: transparent none repeat scroll 0% 0%; font-family: Helvetica,Arial,sans-serif; line-height: 1.28; overflow: hidden; -moz-text-size-adjust: none; }
.plugin, .plugin button, .plugin input, .plugin label, .plugin select, .plugin td, .plugin textarea { font-size: 11px; }
._42ft { cursor: pointer; display: inline-block; text-decoration: none; white-space: nowrap; }
._42ft::-moz-focus-inner { border: 0px none; padding: 0px; }
.gecko ._42ft:focus { outline: 1px dotted rgb(59, 89, 152); }
._42ft:hover { text-decoration: none; }
._42ft + ._42ft { margin-left: 4px; }
i.img {  }
._2ph- { padding: 8px; }
/* ::::: https://www.facebook.com/rsrc.php/v2/yT/r/D9t-9Mw-RnT.css ::::: */

*::-moz-placeholder, :-moz-placeholder { color: rgb(144, 148, 156); }
:focus::-moz-placeholder, :focus:-moz-placeholder { color: rgb(190, 194, 201); }
.no_js *::-moz-placeholder, .no_js :-moz-placeholder { color: rgb(0, 0, 0); }
body { overflow-y: scroll; }
@font-face {
	font-family: "San Francisco";
	font-weight: 300;
	src: local("-apple-system");
}
@font-face {
	font-family: "San Francisco";
	font-weight: 400;
	src: local(".SFNSText-Regular");
}
@font-face {
	font-family: "San Francisco";
	font-weight: 500;
	src: local("-apple-system");
}
@font-face {
	font-family: "San Francisco";
	font-weight: 600;
	src: local("-apple-system");
}
@font-face {
	font-family: "San Francisco";
	font-weight: 700;
	src: local(".SFNSText-Semibold");
}
@font-face {
	font-family: "San Francisco";
	font-weight: 800;
	src: local("-apple-system");
}
@font-face {
	font-family: "Segoe UI Historic";
	src: local("Arial");
	unicode-range: U+530-5F4, U+10A0-10FF;
}
@font-face {
	font-family: "Segoe UI Historic";
	font-weight: 700;
	src: local("Arial Bold"), local("Arial");
	unicode-range: U+530-5F4, U+10A0-10FF;
}
html:lang(he) ._5p3y, html:lang(he) ._5p3y button, html:lang(he) ._5p3y input, html:lang(he) ._5p3y label, html:lang(he) ._5p3y select, html:lang(he) ._5p3y td, html:lang(he) ._5p3y textarea, html:lang(he) ._5p3y .uiMentionsInput .highlighter, html:lang(he) ._5p3y .uiButtonText, html:lang(he) ._5p3y .uiButton input, html:lang(he) ._5p3y .uiLinkButton input, html:lang(he) ._5p3y button.as_link, html:lang(he) ._5p3y .fbChatSidebar, html:lang(he) ._5p3y .fbDock, html:lang(he) ._5p3y .fbFeedTicker .fbFeedTickerStory .tickerFeedMessage, html:lang(he) ._5p3y .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h5, html:lang(he) ._5p3y .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h6, html:lang(he) ._5p3y .uiTooltipX .tooltipContent, html:lang(he) ._5p3y a[role="button"], html:not([lang="he"]) ._5p3y :lang(he), ._5p3y[dir="ltr"] :lang(he) { font-family: helvetica,arial,sans-serif; }
@media not all, (min-resolution: 2dppx) {
}
._xcx::after { border: 1px solid rgba(0, 0, 0, 0.1); bottom: 0px; content: ""; left: 0px; position: absolute; right: 0px; top: 0px; }
.pluginFacepileConnectLast, .pluginFacepileConnectConnected .pluginFacepileConnectFirst { animation: 0.4s ease 0s normal none 1 running show; display: inline-block ! important; }
.pluginFacepileConnectFirst, .pluginFacepileConnectConnected .pluginFacepileConnectLast { display: none ! important; }
._2lqg { background: rgb(246, 247, 249) none repeat scroll 0% 0%; border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(233, 235, 238) rgb(233, 235, 238); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; overflow-y: auto; }
._2lqg > div { box-sizing: border-box; height: 100%; position: relative; width: 100%; }
._h7n { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-color: rgb(233, 235, 238) rgb(223, 224, 228) rgb(208, 209, 213); border-radius: 2px; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12); position: relative; }
._2lqh { width: 100%; }
._57i_ { color: rgb(75, 79, 86); line-height: 1.358; margin-bottom: 2px; }
._57j2 ._57j3 li { margin-right: 2px; margin-top: 2px; }
._1drm { background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; position: relative; }
._1drm ._1drn { border: 1px solid rgb(0, 0, 0); }
._1drm ._1dro { bottom: 40px; left: 0px; position: absolute; right: 0px; top: 0px; z-index: 1; }
._1b90 ._1dro { bottom: 0px; }
._2zfs { background: transparent linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, transparent 100%) repeat scroll 0% 0%; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; z-index: -1; }
._1dro ._1drp { color: rgb(54, 88, 153); display: inline-block; font-size: 18px; font-weight: 500; line-height: 1.358; margin-bottom: -5px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
._1dro ._1drq { color: rgb(29, 33, 41); font-size: 12px; line-height: 1.358; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
._4o5p .pluginConnectButtonConnected, ._4o5p .pluginConnectButtonDisconnected, ._4o5q button { background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.12); }
._1drm._1b90, ._1drm._1ds4 { border: 1px solid rgb(233, 235, 238); }
._1drm._1ds3 ._1drn { border: 2px solid rgb(255, 255, 255); box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5); }
._1drm._1ds3 ._1drp, ._1drm._1ds3 ._1drq, ._1drm._1ds3 ._1drq ._2tnv { color: rgb(255, 255, 255); text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9); }
._1drm._1ds3 ._1drq ._4o5p { text-shadow: none; }
.pluginConnectButton a._opc, form.async_saving a._opc { margin: 0px; opacity: 1; }
.pluginConnectButton a._opd { color: rgb(144, 148, 156); }
.lfloat { float: left; }
.uiButton input::-moz-focus-inner { border: 0px none; padding: 0px; }
.uiButtonOverlay::before { background-color: rgba(0, 0, 0, 0.02); bottom: 0px; content: ""; left: 0px; position: absolute; right: 0px; top: 0px; }
.uiButtonOverlay:hover::before { background-color: rgba(0, 0, 0, 0.08); }
.uiButtonDepressed:not(.uiButtonSpecial):not(.uiButtonConfirm) .uiButtonText, .uiButtonDepressed:not(.uiButtonSpecial):not(.uiButtonConfirm) input { color: rgb(64, 128, 255); }
._42fu::before { content: ""; display: inline-block; height: 20px; vertical-align: middle; }
._42fu._42fs:not(._42gz):not(._42g-) { color: rgb(64, 128, 255); }
._43qc ._4cg3 { margin-top: -1px; }
._43qc ._43q7 { margin: 1px 1px 0px 0px; }
._43qm li:last-child { margin-right: 0px; }
._43q7 a { display: block; position: relative; }
._43q7 .img { vertical-align: bottom; }
.uiScaledImageContainer { position: relative; overflow: hidden; }
.uiScaledImageContainer img { height: 100%; min-height: 100%; position: relative; }
.uiScaledImageContainer .scaledImageFitWidth { height: auto; width: 100%; }
._s0:only-child { display: block; }
._54ru { height: 32px; width: 32px; }
._4jy0 { border: 1px solid; border-radius: 2px; box-sizing: content-box; font-family: helvetica,arial,sans-serif; font-size: 12px; font-weight: bold; padding: 0px 8px; position: relative; text-align: center; text-shadow: none; vertical-align: middle; }
.gecko ._4jy0 { font-family: "Helvetica Neue",helvetica,arial,sans-serif; }
._4jy0::before { content: ""; display: inline-block; height: 20px; vertical-align: middle; }
html ._4jy0:focus, html .gecko ._4jy0:focus { box-shadow: 0px 0px 1px 2px rgba(88, 144, 255, 0.75), 0px 1px 1px rgba(0, 0, 0, 0.15); outline: medium none; }
._4jy0 .img { bottom: 1px; position: relative; vertical-align: middle; }
._517h, ._59pe:focus, ._59pe:hover { background-color: rgb(246, 247, 249); border-color: rgb(206, 208, 212); color: rgb(75, 79, 86); }
._517h:hover { background-color: rgb(233, 235, 238); }
._517h:active, ._517h._42fs { background-color: rgb(221, 223, 226); border-color: rgb(190, 194, 201); }
._4jy3, ._4jy3._42fr:active, ._4jy3._42fr._42fs { line-height: 22px; }
._51xa ._4jy1 + .uiPopover > ._4jy1:not(:focus)::after { background-color: rgb(246, 247, 249); bottom: -1px; content: ""; display: block; left: -1px; position: absolute; top: -1px; width: 1px; }
._2yq ._4-u2::before { border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(229, 230, 233) rgb(223, 224, 228) rgb(208, 209, 213); border-radius: 4px; bottom: -1px; content: ""; left: -1px; pointer-events: none; position: absolute; right: -1px; top: -1px; }
._55r1::-moz-placeholder, ._55r1:-moz-placeholder, ._55r1 ._58al::-moz-placeholder, ._55r1 ._58al:-moz-placeholder { color: rgb(144, 148, 156); }
._55r1:focus::-moz-placeholder, ._55r1:focus:-moz-placeholder, ._55r1 ._58al:focus::-moz-placeholder, ._55r1 ._58al:focus:-moz-placeholder { color: rgb(190, 194, 201); }
._55r1._1tp7:not(:focus) { background: rgb(255, 255, 255) url('efrktvrvpx9.png') no-repeat scroll right 8px center; }
._53a0._1tp7:not(:focus) { background: rgb(246, 247, 249) url('efrktvrvpx9.png') no-repeat scroll right 8px center; }
.x1-5 ._55r1._1tp7:not(:focus), .x2 ._55r1._1tp7:not(:focus) { background-image: url('ihdxzr4uqo6.png'); background-size: 18px 18px; }
._50f3 { font-size: 12px; line-height: 16px; }
._6a { display: inline-block; }
._4ki > li { border-width: 0px 0px 0px 1px; display: inline-block; }
._509- > li { vertical-align: top; }
.uiList > li:first-child { border-width: 0px; }
._3-8w { margin-top: 4px; }
._3-8_ { margin-right: 4px; }
.sp__lkuGKPb9f- { background-image: url('0qx-vnsuxpl.png'); background-size: auto auto; background-repeat: no-repeat; display: inline-block; height: 13px; width: 13px; }
.sp__lkuGKPb9f-.sx_ae0441 { width: 12px; height: 12px; background-position: -97px -77px; }
.sp__lkuGKPb9f-.sx_e3a613 { width: 12px; height: 12px; background-position: -110px -77px; }
