body { margin: 0px; padding: 0px; overflow: hidden; line-height: 0; }
/* ::::: https://tpc.googlesyndication.com/pagead/gadgets/suggestion_autolayout_V2/suggestion_autolayout_V2_10.css ::::: */

html, body { border: 0px none; margin: 0px; padding: 0px; width: 100%; height: 100%; overflow: hidden; }
#adContent { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background-color: rgb(255, 255, 255); -moz-user-select: none; }
#headline { font-family: "Roboto",Arial,sans-serif; font-weight: bold; opacity: 0; }
#description { font-family: "Roboto",Arial,sans-serif; opacity: 0; }
#product-image { opacity: 0; }
#button { border-radius: 50%; box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.4); text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1); display: block; opacity: 0; }
#color-slot1 { position: absolute; }
#color-slot2 { position: absolute; }
[data-variation]:not([data-variation*="small"]) #headline { animation: 0.6s ease 0s normal both 1 running text_keyframes; }
[data-variation]:not([data-variation*="small"]) #description { animation: 0.6s ease 0.3s normal both 1 running text_keyframes; }
[data-variation]:not([data-variation*="small"]) #product-image { animation: 1.6s ease 0s normal both 1 running fadein_keyframes; }
[data-variation]:not([data-variation*="small"]) #button { animation: 0.8s ease 0.8s normal both 1 running fadein_keyframes; }
#adContent[data-variation]:not([data-variation*="small"]), #adContent[data-variation]:not([data-variation*="small"]) > * { animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
[data-variation*="small"] #headline { animation: 3.75s ease-in-out 0s alternate forwards 4 running small_l1_keyframes; }
[data-variation*="small"] #description { animation: 3.75s ease-in-out 0s alternate both 4 running small_l2_keyframes; }
#adContent[data-variation*="small"], #adContent[data-variation*="small"] > * { opacity: 1; }
div, ul, li { margin: 0px; padding: 0px; }
.abgc { height: 15px; overflow: hidden; position: absolute; right: 16px; top: 0px; text-rendering: geometricprecision; width: 15px; z-index: 9020; }
.abgb { height: 15px; width: 15px; }
.abgc { cursor: pointer; }
.cbb { background-image: url('x_button_blue2.svg'); background-repeat: no-repeat; background-position: right top; cursor: pointer; height: 15px; width: 16px; z-index: 9020; }
.cbb:hover { background-image: url('x_button_dark.svg'); cursor: pointer; }
.abgb { position: absolute; right: 0px; top: 0px; }
.cbb { position: absolute; right: 0px; top: 0px; }
.abgc svg { display: block; }
.abgs { display: none; height: 100%; }
.abgl { text-decoration: none; }
.abgi { fill-opacity: 1; fill: rgb(0, 174, 205); stroke: none; }
.abgbg { fill-opacity: 1; fill: rgb(205, 204, 204); stroke: none; }
.abgtxt { fill: black; font-family: "Arial"; font-size: 100px; overflow: visible; stroke: none; }
#survey-container { position: fixed; top: 0px; left: 0px; z-index: 9100; width: 300px; height: 100px; overflow: hidden; background-color: rgb(250, 250, 250); font-size: 0px; white-space: nowrap; }
.survey-horiz, .survey-vert { text-align: center; }
#survey-container * { box-sizing: border-box; }
.survey-block { height: 50px; }
.survey-option { position: relative; z-index: 9110; overflow: hidden; display: inline-block; padding: 1px 5px; width: 96px; height: 50px; border: 1px solid rgb(224, 224, 224); background-color: rgb(255, 255, 255); cursor: pointer; }
.survey-option:hover, .survey-option:active { background-color: rgb(245, 245, 245); }
.survey-option div { width: 100%; height: 100%; display: table; text-align: center; }
.survey-option span { vertical-align: middle; display: table-cell; color: rgb(66, 133, 244); font-family: Arial,sans-serif; text-align: center; font-size: 12px; line-height: 14px; white-space: normal; }
.survey-horiz .survey-option { display: inline-block; margin-left: -1px; box-shadow: none; }
.survey-horiz .survey-option:first-child { margin-left: 0px; }
.survey-horiz.jake-middle .survey-block { margin-top: 25px; }
.scroll { position: absolute; top: 0px; z-index: 9120; display: none; width: 30px; border: 1px solid transparent; background-color: rgba(0, 0, 0, 0.6); text-align: center; transition: visibility 150ms step-end 0s; cursor: pointer; }
.survey-scroll .scroll { display: block; }
.scroll div { position: absolute; top: 50%; left: 50%; height: 36px; width: 36px; margin: -18px 0px 0px -18px; }
.scroll:hover, .scroll:active { background-color: rgba(0, 0, 0, 0.4); }
.scroll-right { right: 0px; border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.scroll-right div { background-image: url('keyboard_arrow_right_white_36dp.png'); }
.scroll-left { left: 0px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.scroll-left div { background-image: url('keyboard_arrow_left_white_36dp.png'); }
.survey-option { transition: margin 150ms linear 0s; }
#panel_set > .panel { position: fixed; top: -100px; left: -300px; z-index: 9100; display: block; width: 300px; height: 100px; }
#panel_set img { border: 0px none; }
#panel_set .panel-container { display: table; width: 300px; height: 100px; margin: 0px; padding: 0px; background-color: rgb(250, 250, 250); }
#panel_set .panel-row { display: block; padding: 0px 0px 0.3em; }
#panel_set .panel-row:first-child { padding: 0.3em; }
#panel_set .panel-content { vertical-align: top; display: table-cell; color: rgba(0, 0, 0, 0.4); text-align: center; font-family: "Arial",sans-serif; }
.jake-middle.survey-horiz #panel_set .panel-content { vertical-align: middle; }
#ad_closed_panel .btn { display: inline-block; border-radius: 2px; box-sizing: border-box; box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.26) ! important; text-decoration: none; white-space: nowrap; line-height: 1em; cursor: pointer; }
#closed_text, #final_closed_text { display: inline-block; line-height: 1.28em; font-size: 1.2em; }
#closed_text img, #final_closed_text img { margin-bottom: -0.34em; height: 1.25em; opacity: 0.4; }
#spacer { display: inline-block; padding: 0px; box-shadow: none; width: 3px; }
#ad_closed_panel .responsive-btn { max-width: 288px; width: 75%; white-space: normal; margin-bottom: 0.4em; }
#spacer { display: none; }
.btn > span { display: inline-block; padding: 0.5em 0.6em; line-height: 1em; }
#settings_btn { background-color: rgb(255, 255, 255); color: rgb(158, 158, 166); }
#settings_btn:hover, #settings_btn:active { background-color: rgb(245, 245, 245); }
#settings_text { white-space: nowrap; }
#report_btn { background-color: rgb(66, 133, 245); color: white; }
#report_btn:hover, #report_btn:active { background-color: rgb(50, 117, 229); }
#settings_icon { position: relative; display: inline-block; margin-bottom: -0.15em; height: 1em; width: 1em; opacity: 0.4; }
#confirmation_msg { font-weight: bold; color: rgb(51, 51, 51); }
#confirmation_msg, #final_closed_text { line-height: 1.1em; }
#confirmation_msg, #final_closed_text { padding: 1em 0.3em; }
#post_survey_panel span { display: block; text-align: center; line-height: 1em; }
#final_closed_panel, #final_closed_panel span { opacity: 0; transition: opacity 400ms linear 0s; }
#final_closed_panel span { white-space: normal; }
.fallback-wrap .btn { margin: 1px auto; white-space: normal; }
