.gwd-pagedeck { position: relative; }
.gwd-pagedeck > .gwd-page { position: absolute; top: 0px; left: 0px; transition-property: transform, opacity; }
gwd-taparea { display: block; cursor: pointer; background-color: transparent; -moz-user-select: none; }
.gwd-lightbox { overflow: hidden; }
html, body { width: 100%; height: 100%; margin: 0px; }
.gwd-page-container { position: relative; width: 100%; height: 100%; }
.gwd-page-content { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); perspective: 1400px; transform-style: preserve-3d; position: absolute; background-color: transparent; }
.gwd-page-wrapper { position: absolute; transform: translateZ(0px); background-color: rgb(255, 255, 255); }
.gwd-page-size { width: 160px; height: 600px; }
.gwd-video-zv53 { position: absolute; left: 0px; top: 0px; width: 160px; height: 600px; }
.gwd-taparea-1qug { position: absolute; left: 0px; top: 0px; width: 160px; height: 600px; }
