/* ::::: http://eltj.oxfordjournals.org/shared/css/hw-global.css ::::: */

/* ::::: http://eltj.oxfordjournals.org/shared/css/hw-global-sidebars.css ::::: */

#col-2 { background-color: rgb(238, 238, 238); }
#col-3 { background-color: rgb(216, 216, 216); }
#col-2 div#docked-slugline, #col-2 div#slugline, #col-2 .cb-corr-slug div.correction-for-article, #col-2 .cb-corr-slug div.retraction-for-article, #col-2 .cb-corr-slug div.revision-for-article, #col-2 .cb-addendum-slug div.addendum-for-article { font-size: 86.38%; margin-left: 0px; padding: 0px 5px 0px 0px; }
#col-2 div#docked-slugline .slug-metadata-note, #col-2 div#slugline .slug-metadata-note { display: block; margin-top: 3px; padding-bottom: 3px; }
#col-2 div#docked-slugline cite, #col-2 div#slugline cite { margin: 3px 0px; }
div.content-box ol { list-style: outside none none; margin: 0px; padding: 0px; }
#col-2 div.content-box { margin: 1em 7px 0px 0px; font-size: 83.33%; background-color: rgb(219, 219, 219); border-right: 1px solid white; padding: 5px 12px 5px 0px; line-height: 1; }
#col-3 div.content-box { margin: 0px; font-size: 83.33%; padding: 5px 0px; line-height: 1; }
#col-2 .content-box h3 { font-size: 1.2em; margin: 0px; padding: 0.3em 0px 0.3em 5px; }
#col-3 .content-box h3 { font-size: 1.2em; margin: 0px; padding: 0.3em 0px; }
#col-2 .content-box h4 { font-size: 1.1em; margin: 0px; padding: 0.3em 0px 0.3em 9px; background-color: rgb(238, 238, 238); border-bottom: 1px solid rgb(185, 194, 141); height: 1.4em; }
#col-2 div.content-box div.collapsed h4, #col-2 div.content-box div.collapsible h4 { clear: both; padding: 0.175em 0px 0.175em 9px; }
div.content-box div.collapsible h4 a, div.content-box div.collapsed h4 a { color: black; }
div.content-box div.collapsible h4 a:visited, div.content-box div.collapsed h4 a:visited { color: black; }
div.content-box div.collapsible h4 a:hover, div.content-box div.collapsed h4 a:hover { border: medium none; }
#col-2 div.cb-contents { background-color: rgb(238, 238, 238); border-left: 1px solid rgb(213, 218, 186); margin: 0px; padding: 0px 0px 5px; }
#col-3 div.cb-contents { margin: 0px; padding: 0px 0px 5px; }
#col-2 div.cb-section { padding: 0px; margin: 0px 0px 0px -1px; border-left: 1px solid white; background-color: white; border-right: 10px solid rgb(238, 238, 238); }
#col-2 div.cb-section ol { padding: 3px 0px; }
#col-3 div.cb-section { padding: 3px 10px 3px 0px; margin: 0px; border-bottom: 1px solid rgb(185, 194, 141); }
#col-2 div.content-box div.cb-slug, #col-2 div.content-box div.cb-corr-slug, #col-2 div.content-box div.cb-addendum-slug { padding-top: 3px; }
div.content-box .cb-slug ol, div.content-box div.cb-corr-slug ol, div.content-box div.cb-addendum-slug ol { border: 1px solid rgb(238, 238, 238); margin: 0px 4px; }
div.content-box .cb-section .cb-versions { margin: 5px 5px 0px; border-top: 2px solid rgb(238, 238, 238); }
#col-2 div.content-box .cb-section .cb-versions div { margin: 0px 0px 0px 5px; padding: 0.5em 0px 0px; }
div.content-box .cb-section .cb-versions .current-version { font-style: italic; font-weight: bold; margin-left: 0.5em; }
#cb-art-cat ol, #cb-art-cat ul { margin: 0px 0px 0px 9px; padding: 0px; }
#col-2 #cb-art-cat ol ul { list-style: outside none none; margin-left: 9px; }
#cb-art-cat ol li { margin-left: 0px; margin-bottom: 0.5em; line-height: 1.4; }
#cb-art-cat ol li li { margin-bottom: 0px; }
#col-3 div.content-box div.sidebar-etoc-link { border: medium none; padding-bottom: 0px; }
#col-2 p.social-bookmarking-help { line-height: 1; margin: 5px 0px 0px; }
#col-2 #article-cb-main .social-bookmark-links { margin: 0px; padding: 0px; border: medium none; }
#col-2 #article-cb-main .social-bookmark-links a:hover { border: medium none; }
#col-2 #article-cb-main .soc-bm-link-text { display: none; }
#cb-art-soc div.social-bookmarking ul { width: 120px; }
#col-2 #cb-loaded-hw-cited-none, #col-2 #cb-loaded-related-urls-none, #col-2 #cb-loaded-patientinform-none, #col-2 #cb-loaded-isi-cited-none, #col-2 #cb-loaded-isi-related-none { margin: 0px; padding: 0px; display: none; }
div.cb-section li .free, div.cb-section li .free-to-you { margin-left: 0.5em; font-weight: bold; font-style: italic; }
div.cb-section li .pdf-direct-link, div.cb-section li .variant-indicator { font-weight: bold; }
#col-3 ol { list-style: outside none none; }
#col-3 div.content-box { background-color: rgb(221, 221, 221); padding: 1em; }
div.content-box a, div.content-box span.variant-indicator { line-height: 1.4; text-decoration: none; }
div.content-box a:hover { border-bottom: 1px dotted rgb(102, 0, 51); }
div.content-box a:link, div.content-box a:visited, div.content-box a:hover, div.content-box a:active { color: rgb(64, 64, 64); }
#col-3 div.content-box .cb-section { margin-bottom: 0.5em; }
#col-3 .cb-section, #col-3 .cb-section ol, #col-3 .cb-section ol li { margin: 0px; padding: 0px; }
div.content-box div.cb-section .notice { font-weight: bold; }
#col-2 a.prev-results-link, #col-2 a.next-results-link, div.content-box div.cb-section .notice a, div.content-box div.cb-section a.pdf-direct-link { background-color: rgb(255, 240, 184); }
form.searchbox { margin: 0px auto 1em; width: 100%; }
#col-3 #sidebar-current-issue { background-color: rgb(192, 192, 192); border: 2px solid rgb(169, 169, 169); margin: 5px 10px; padding: 5px; }
div.article-nav, div.search-nav, div.sidebar-issue-nav { white-space: nowrap; }
div.article-nav span.toc-link, div.search-nav span.search-link, div.search-nav span.home-link { display: block; padding-top: 0.5em; }
div#docked-slugline, div#slugline { color: rgb(51, 51, 0); font-weight: bold; }
#col-2 div#slugline, #col-2 div#docked-slugline { margin: 0px 5px; }
div#docked-slugline cite, div#slugline cite { font-style: normal; display: block; color: rgb(51, 51, 0); font-weight: normal; }
div#docked-slugline .slug-pub-date, div#docked-slugline .slug-pages, div#slugline cite .slug-pub-date, div#slugline cite .slug-pages { font-weight: bold; }
.article-nav, .search-nav, .sidebar-issue-nav { margin: 0px 2em 1em; padding: 0.5em 0px; font-size: 83.33%; border: 1px solid rgb(192, 192, 192); text-align: center; }
.article-nav a, .search-nav a, .sidebar-issue-nav a { color: black; font-weight: bold; text-decoration: none; }
.article-nav a:hover, .search-nav a:hover, .sidebar-issue-nav a:hover { color: black; text-decoration: underline; }
/* ::::: http://eltj.oxfordjournals.org/shared/css/hw-global-elements.css ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0px; padding: 0px; border: 0px none; outline-style: none; font-weight: inherit; font-style: inherit; font-size: inherit; font-family: inherit; line-height: inherit; text-align: inherit; vertical-align: baseline; }
a img, :link img, :visited img { border: 0px none; }
:focus { outline: medium none; }
body { line-height: 1.25; color: black; background: white none repeat scroll 0% 0%; }
blockquote::before, blockquote::after, q::before, q::after { content: ""; }
body { font-size: 100%; line-height: 1; background: white none no-repeat fixed 0% 0%; color: black; font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana,Arial,Helvetica,sans-serif; }
p, pre, label, ul, ol, dl, fieldset, address { margin: 1em 5%; }
h1, h2, h3, h4, h5, h6 { margin: 0px 0px 0.4em; }
h1, h2, h3, h4 { text-align: left; font-weight: bold; }
h1 { font-size: 1.8em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }
li, dd { margin-left: 5%; }
em { font-style: italic; }
strong { font-weight: 700; }
div.hw-gen-page { font-size: 0.8em; padding: 0.5em 4em 2em 2em; }
#content-block { margin: 0px; padding: 0px; border: 0px none; line-height: 1.3; overflow: hidden; }
#content-block p { margin: 15px 0px; padding: 0px; border: 0px none; line-height: 1.5; }
#content-block { float: right; width: 518px; padding: 0px 20px 0px 5px; }
#col-2, #col-3 { width: 210px; overflow: hidden; }
#col-2 { float: left; }
#content-block { float: left; }
#col-2 div { margin: 0px 10px; padding: 5px; }
#col-3 { float: right; }
#col-3 div { margin: 0px 0px 0px 10px; padding: 5px; }
#col-2, #col-3 { margin: 0px; padding: 5px 0px 0px; }
#content-block, #col-2, #col-3 { margin-bottom: 0px; padding-bottom: 0px; }
#col-2 { padding-right: 7px; }
#authstring { width: 640px; text-align: center; margin-bottom: 1.5em; }
#content-block h1, #content-block h2, #content-block h3, #content-block h4, #content-block h5, #content-block h6 { font-family: Georgia,"Times New Roman",serif; }
.cit span.accesscheck { display: none; }
/* ::::: http://eltj.oxfordjournals.org/shared/css/hw-global-citation.css ::::: */

.cit * { display: inline; }
.cit li, .cit ul { margin: 0px; padding: 0px; }
li.cit, div.cit { display: block; margin: 0.7em 0px 0px; padding: 0.5em 0.3em; color: rgb(34, 34, 34); }
div.cit-metadata { display: block; }
.cit .cit-metadata .cit-title, .cit .cit-metadata .cit-title-note { display: block; color: rgb(17, 17, 17); font-size: 1em; font-weight: bolder; margin-top: 0.2em; padding-left: 3em; }
.cit cite { display: block; font-style: normal; margin-top: 0.25em; padding-left: 3em; }
.cit a { color: rgb(102, 0, 51); text-decoration: none; font-weight: bold; }
.cit a:hover { color: rgb(102, 0, 51); text-decoration: underline; }
.cit a:visited {  }
.cit .cit-views, .cit .cit-author-summary-views { display: block; margin: 0.25em 0px; padding-left: 2.5em; }
.cit .cit-views li a, .cit .cit-author-summary-views li a { padding-left: 9px; background-image: url('rightchevron.gif'); background-position: 0px center; background-repeat: no-repeat; }
.cit .cit-views li, .cit .cit-author-summary-views li { padding-left: 0.5em; }
.cit .cit-extra span { padding-left: 3em; margin-left: 0.5em; padding-top: 0.4em; font-size: 0.9em; font-weight: bold; text-transform: uppercase; }
.cit .cit-metadata .cit-section, .cit .cit-metadata .cit-first-element { margin-left: 1.5em; padding-left: 0.4em; }
.cit .cit-metadata .cit-first-element { display: block; }
/* ::::: http://eltj.oxfordjournals.org/shared/css/hw-global-classes.css ::::: */

.hidden, .nodata, .print-only { display: none; }
.clearfix::before, .clearfix::after { content: "."; display: block; height: 0px; visibility: hidden; }
.clearfix::after { clear: both; }
/* ::::: http://eltj.oxfordjournals.org/shared/css/hw-global-dynamic-elements.css ::::: */

div.hw-gen-page .view-more { background-color: white; display: block; font-weight: bold; float: left; margin-left: -2px; margin-right: 5px; font-size: 0.833em; border: 1px solid rgb(220, 220, 220); text-decoration: none; width: 1.3em; height: 0.9em; text-align: center; padding-bottom: 0.4em; cursor: pointer; }
div.hw-gen-page .view-more:hover { background-color: rgb(56, 56, 56); color: white; }
/* ::::: http://eltj.oxfordjournals.org/local/css/hw-local-global.css ::::: */

/* ::::: http://eltj.oxfordjournals.org/publisher/css/hw-publisher-global.css ::::: */

/* ::::: http://eltj.oxfordjournals.org/publisher/css/hw-publisher-sidebars.css ::::: */

#col-2 { width: 214px; padding-right: 0px; }
#col-3 * { position: static; }
#col-3 { width: 200px; }
#col-2 div.content-box { margin: 1em 0px 0px; padding: 5px 0px; border-right: 1px solid rgb(219, 219, 219); }
#col-2 div.cb-section { border-right: 1px solid rgb(238, 238, 238); }
#col-2 div.sidebar-qs, #col-3 div.sidebar-qs { background-color: rgb(229, 223, 209); border: medium none; font-size: 88%; margin: 0px 7px 5px; padding: 5px; }
div.content-box .cb-slug ol { border: medium none; }
div.content-box ol > li { padding-left: 3px; }
div.content-box div.cb-section .notice { font-weight: normal; }
div.cb-section li .pdf-direct-link, div.cb-section li .variant-indicator { font-weight: normal; }
#col-2 div#slugline, #col-2 div#docked-slugline { margin: 0px; padding-bottom: 5px; }
#col-2 div#slugline cite { margin-bottom: 5px; }
#col-2 div#slugline cite .slug-doi-wrapper { display: block; }
div#docked-slugline .slug-pub-date, div#docked-slugline .slug-pages, div#slugline cite .slug-pub-date, div#slugline cite .slug-pages, div#slugline { font-weight: normal; }
#col-2 div.content-box div.cb-section .notice a, #col-2 div.cb-section li .pdf-direct-link { background-color: transparent; }
#col-3 .adv-search-link { padding-top: 3px; }
#col-3 div.most-links-box { float: left; margin: 0.75em 0px 0px 10px; padding-bottom: 10px; width: 182px; }
#col-3 div.most-links-box h3 { float: right; visibility: hidden; }
div.most-links-box ul { clear: both; margin: 0px; padding: 0px; list-style: outside none none; }
div.most-links-box ul li { margin: 0px; padding: 0px; display: none; }
div.most-links-box ul li.most-cur-sel { display: inline; }
div.most-links-box ul li.most-cur-sel li { display: list-item; }
#col-3 div.most-links-box ul li.most-cur-sel a, #col-3 div.most-links-box ul li.most-cur-sel div.most-list ol li a { color: rgb(0, 0, 0); }
#col-3 div.most-links-box ul li.most-cur-sel a:hover { text-decoration: none; cursor: text; }
#col-3 div.most-links-box div.most-list { background: white none repeat scroll 0% 0%; border: 1px solid rgb(204, 204, 204); margin: 0px; padding: 0.5em; }
#col-3 div.most-links-box ul li.most-cur-sel div.most-list a:hover { cursor: pointer; }
#col-3 div.most-links-box div.most-list a.view-all { margin-left: 0px; }
#col-3 div.most-links-box ol { clear: both; margin: 0px; padding: 0.5em 0.5em 0.5em 15px; list-style: outside url('most-cited-arrow.gif') decimal; }
div.most-links-box ol li { padding: 0px; margin: 0.2em 0.4em; }
div.most-links-box li a { font-size: 83.33%; color: rgb(102, 0, 51); text-decoration: none; }
div.most-links-box div.most-list a:hover { border-bottom: 1px dotted rgb(102, 0, 51); }
div.most-links-box ul.most-headings { clear: both; position: relative; display: inline; }
div.most-links-box ul { clear: both; list-style: outside none none; margin: 0px; padding: 0px; position: relative; display: block; }
div.most-links-box ul.most-headings li { background-position: right 1px; background-repeat: no-repeat; float: left; font-size: 1em; font-weight: bold; display: inline; }
div.most-links-box ul li { display: none; margin: 0px; padding: 0px; }
div.most-links-box ul.most-headings li.most-cur-sel { background-position: right top; }
div.most-links-box ul li.most-cur-sel { display: inline; }
div.most-links-box ul.most-headings li.most-cur-sel a { background-position: left top; color: black; padding-bottom: 3px; height: 16px; margin-bottom: -1px; }
div.most-links-box ul.most-headings li a { background-position: left 1px; background-repeat: no-repeat; display: block; margin: 0px; padding: 4px 7px 3px; }
div.most-links-box li a, div.most-links-box li a:visited { color: rgb(102, 0, 51); font-size: 83.33%; text-decoration: none; }
div.most-links-box ul.most-headings li { overflow: visible; background-position: right 1px; background-repeat: no-repeat; display: list-item; float: left; font-size: 1em; font-weight: bold; clear: right; }
div.most-links-box ul li { display: none; margin: 0px; padding: 0px; }
.most-headings .most-cur-sel a { background: white none repeat scroll 0% 0%; border-bottom: medium none; z-index: 1; }
.most-headings a { border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: rgb(242, 242, 242) none repeat scroll 0% 0%; line-height: 15px; margin-bottom: 5px; }
div.most-links-box h4 { display: none; }
#col-3 #sidebar-current-issue { background-color: transparent; border: medium none; }
#col-2 div.cb-section ol, #col-2 #cb-art-cat ol ul { margin-left: 0px; }
#col-2 div.cb-contents { padding-bottom: 0px; }
#col-2 div#article-cb-main.content-box { padding-bottom: 0px; }
body, div, ul, li, dl, p, h1, h2, h3, h4, h5, h6, img, form, fieldset, legend, label, blockquote, acronym, abbr { border: 0px none; padding: 0px; margin: 0px; }
body, input, select { font-family: verdana,"Lucida Grande","Lucida Sans Unicode",Tahoma,Arial,Helvetica,sans-serif; }
input, select { font-size: 1em; }
ul { list-style: outside none none; }
#content-block { width: 516px; padding: 0px 15px 12px; }
div.hw-gen-page { text-align: left; margin: auto; width: 960px; background-color: rgb(255, 255, 255); overflow: auto; padding: 0px; }
a:link { color: rgb(0, 0, 204); }
a:visited { color: rgb(128, 128, 64); }
.inline_button { position: relative; top: 5px; }
.hw-gen-page .section h2 { color: rgb(73, 56, 42); font-weight: lighter; font-size: 120%; padding: 5px 8px 0px; }
#content-block p { margin: 0px 0px 10px; }
.hw-gen-page #second { float: none; }
.hw-gen-page #second .contact { width: auto; }
.general_page #content-block p { width: 99%; }
#content-block #cited-by h2 { background-color: rgb(255, 210, 0); }
.cit cite { font-size: 80%; padding-left: 2.5em; color: grey; }
/* ::::: http://eltj.oxfordjournals.org/publisher/css/hw-publisher-ac.css ::::: */

/* ::::: http://eltj.oxfordjournals.org/shared/css/hw-page-content.css ::::: */

/* ::::: http://eltj.oxfordjournals.org/shared/css/hw-content-figures.css ::::: */

/* ::::: http://eltj.oxfordjournals.org/shared/css/hw-content-tables.css ::::: */

/* ::::: http://eltj.oxfordjournals.org/shared/css/hw-content-int-data-supp.css ::::: */

.hideaffil { position: absolute; left: -9999px; width: 5000px; }
div#pageid-content .article { text-align: justify; }
h1 { margin: 10px 0px 0px; padding: 0px; }
div.contributors { text-align: left; }
div.contributors ol.contributor-list { list-style: outside none none; margin: 15px 0px 0px; padding: 0px; font-weight: bold; text-align: left; white-space: normal; }
div.contributors ol.contributor-list li { display: inline; padding: 0px; margin: 0px; text-align: left; line-height: 1.7; white-space: normal; }
div.contributors ol li a, div.extract-view div.contributors ol li span.xref-corresp, div.extract-view div.contributors ol li span.xref-aff, div.extract-view div.contributors ol li span.xref-fn { font-weight: normal; text-decoration: none; vertical-align: 0.2em; }
div.contributors ol.contributor-list li .name a { font-weight: bold; text-decoration: none; white-space: nowrap; color: rgb(51, 51, 51); vertical-align: 0px; }
div.contributors ol.contributor-list li .name a:hover { border-bottom: 1px dotted rgb(51, 51, 51); }
div.contributors ol.affiliation-list li { display: list-item; padding-left: 0px; margin-left: 0px; }
div.contributors ol.affiliation-list { list-style: outside none none; font-weight: normal; }
div.contributors ol.affiliation-list li address, div.contributors ol.corresp-list li address { display: inline; font-style: normal; padding: 0px; margin: 0px; border: 0px none; }
.article div.section { padding: 0px; margin: 0px; border: 0px none; clear: both; }
.article div.section h2, .article div#intro-header h2 { border-width: 0px 0px 2px; border-style: none none dotted; border-color: -moz-use-text-color -moz-use-text-color rgb(153, 153, 153); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; font-size: 125%; margin: 10px 0px; }
ul.social-bookmark-links { margin: 1em 0px 0px; list-style: outside none none; border-top: 1px solid rgb(170, 170, 170); padding-top: 0.5em; }
ul.social-bookmark-links li { padding: 0px; margin: 0px 10px 0px 0px; display: inline; font-size: 0.833em; }
ul.social-bookmark-links li a, ul.social-bookmark-links li a:hover { text-decoration: none; }
ul.social-bookmark-links li span.soc-bm-link-text { margin-left: 4px; }
p.social-bookmarking-help a { text-decoration: none; font-size: 88%; }
p.social-bookmarking-help a:hover { border-bottom: 1px dotted; }
div#related-urls h2, div#cited-by h2, div#related h2, div#rel-related-article h2 { padding-left: 0px; margin-left: 0px; border-top: 1px solid rgb(170, 170, 170); padding-top: 0.5em; margin-top: 1em; }
div#related-urls ul.related-url-results a, div#cited-by ul.cited-by-list, div#related ul.related-list { padding-left: 0px; margin-left: 0px; }
div#cited-by ul.cited-by-list li.cit, div#related ul.related-list li.cit, div#rel-related-article ul.related-list li.cit { border: 1px solid rgb(187, 187, 187); border-collapse: collapse; }
ul.copyright-statement { list-style-type: none; }
.highwire-journal-article-marker-end { clear: both; }
/* ::::: http://eltj.oxfordjournals.org/shared/css/jquery.fancybox-1.3.4.css ::::: */

#fancybox-loading { position: fixed; top: 50%; left: 50%; width: 40px; height: 40px; margin-top: -20px; margin-left: -20px; cursor: pointer; overflow: hidden; z-index: 1104; display: none; }
#fancybox-loading div { position: absolute; top: 0px; left: 0px; width: 40px; height: 480px; background-image: url('fancybox.png'); }
#fancybox-overlay { position: absolute; top: 0px; left: 0px; width: 100%; z-index: 1100; display: none; }
#fancybox-tmp { padding: 0px; margin: 0px; border: 0px none; overflow: auto; display: none; }
#fancybox-wrap { position: absolute; top: 0px; left: 0px; padding: 20px; z-index: 1101; outline: medium none; display: none; }
#fancybox-outer { position: relative; width: 100%; height: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#fancybox-content { width: 0px; height: 0px; padding: 0px; outline: medium none; position: relative; overflow: hidden; z-index: 1102; border: 0px solid rgb(255, 255, 255); }
#fancybox-close { position: absolute; top: -15px; right: -15px; width: 30px; height: 30px; background: transparent url('fancybox.png') repeat scroll -40px 0px; cursor: pointer; z-index: 1103; display: none; }
#fancybox-left, #fancybox-right { position: absolute; bottom: 0px; height: 100%; width: 35%; cursor: pointer; outline: medium none; background: transparent url('blank.gif') repeat scroll 0% 0%; z-index: 1102; display: none; }
#fancybox-left { left: 0px; }
#fancybox-right { right: 0px; }
#fancybox-left-ico, #fancybox-right-ico { position: absolute; top: 50%; left: -9999px; width: 30px; height: 30px; margin-top: -15px; cursor: pointer; z-index: 1102; display: block; }
#fancybox-left-ico { background-image: url('fancybox.png'); background-position: -40px -30px; }
#fancybox-right-ico { background-image: url('fancybox.png'); background-position: -40px -60px; }
#fancybox-left:hover, #fancybox-right:hover { visibility: visible; }
#fancybox-left:hover span { left: 20px; }
#fancybox-right:hover span { left: auto; right: 20px; }
.fancybox-bg { position: absolute; padding: 0px; margin: 0px; border: 0px none; width: 20px; height: 20px; z-index: 1001; }
#fancybox-bg-n { top: -20px; left: 0px; width: 100%; background-image: url('fancybox-x.png'); }
#fancybox-bg-ne { top: -20px; right: -20px; background-image: url('fancybox.png'); background-position: -40px -162px; }
#fancybox-bg-e { top: 0px; right: -20px; height: 100%; background-image: url('fancybox-y.png'); background-position: -20px 0px; }
#fancybox-bg-se { bottom: -20px; right: -20px; background-image: url('fancybox.png'); background-position: -40px -182px; }
#fancybox-bg-s { bottom: -20px; left: 0px; width: 100%; background-image: url('fancybox-x.png'); background-position: 0px -20px; }
#fancybox-bg-sw { bottom: -20px; left: -20px; background-image: url('fancybox.png'); background-position: -40px -142px; }
#fancybox-bg-w { top: 0px; left: -20px; height: 100%; background-image: url('fancybox-y.png'); }
#fancybox-bg-nw { top: -20px; left: -20px; background-image: url('fancybox.png'); background-position: -40px -122px; }
#fancybox-title { font-family: Helvetica; font-size: 12px; z-index: 1102; }
/* ::::: http://eltj.oxfordjournals.org/shared/css/hw-global-colexpand.css ::::: */

div#content-option-box { float: right; padding: 5px; margin: 10px 0px 0px; }
div#content-option-box ul, div#content-option-box li { margin: 0px; padding: 0px; }
div#content-option-box ul { list-style: outside none none; padding: 0px; margin: 0px; }
div#content-block li#content-toggle a { display: block; width: 24px; border: medium none; margin: 0px; padding: 0px; height: 13px; background: transparent url('col-expand.gif') no-repeat scroll center center; text-decoration: none; }
div#content-block li#content-toggle a span { display: none; }
/* ::::: http://eltj.oxfordjournals.org/publisher/css/hw-publisher-page-content.css ::::: */

#content-block div.article div.contributors { text-align: left; margin-bottom: 10px; }
div#pageid-content .article div.section { margin-top: 20px; }
#content-block div.contributors ol.contributor-list li { margin: 0px; }
div.contributors ol li address a { vertical-align: middle; }
div.article { font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana,Arial,Helvetica,sans-serif; }
#cb-art-soc div.social-bookmarking { margin: 5px 0px 0px; padding: 0px; }
#cb-art-soc div.social-bookmarking ul { width: 100%; }
ul.social-bookmark-links li { font-size: 90%; margin: 0px 8px 0px 0px; }
#col-2 div#cb-art-soc.cb-section ol { padding-left: 10px; }
#cb-art-soc ol > li:first-child a { background-image: url('envelope.jpg'); background-repeat: no-repeat; display: inline-block; width: 16px; height: 16px; }
#cb-art-soc ol > li:first-child { float: left; margin: 7px 10px 0px 0px; width: 16px; height: 16px; }
#cb-art-soc ol > li { display: inline-block; }
#cb-art-soc p.social-bookmarking-help { margin-left: -30px; }
ul.kwd-group.subject-area li.kwd span::after { content: ", "; }
ul.kwd-group.subject-area li.kwd:last-child span::after { content: ""; }
/* ::::: http://eltj.oxfordjournals.org/resource/css/hw20.css ::::: */

body { border: 0px none; margin: 0px; padding: 0px; text-align: center; }
#content-block div.article { text-align: left; }
div.hw-gen-page { border-left: 1px solid rgb(204, 204, 204); border-right: 1px solid rgb(204, 204, 204); }
div.hw-gen-page, div.sidebar-issue-nav, div.article-nav, #col2, #col3, #col-2 div.sidebar, #col-2 .toc-navigation .toc-links li, #col-2 .toc-navigation .data-supp-links li, #col-2 .this-issue .toc-links li, #col-2 div#docked-slugline, #col-2 div#slugline, #col-2 .cb-corr-slug div.correction-for-article, #col-2 .cb-corr-slug div.retraction-for-article, #col-2 .cb-corr-slug div.revision-for-article, #col-2 div.content-box, #col-3 #sidebar-current-issue, #col-3 .features .feature, div.hw-gen-page #content-block fieldset, div.hw-gen-page #content-block .search-buttons, #pageid-collections.hw-gen-page #content-block, #pageid-collections.hw-gen-page #content-block #proxied-contents #col-2, #pageid-collections.hw-gen-page #content-block #proxied-contents #col-2 div.sidebar-related-coll, #pageid-collections.hw-gen-page #content-block #proxied-contents #col-2 div.sidebar-related-coll ul li, .search-nav, #pageid-login.hw-gen-page #content-block, #hw-login-sign-in-group, #hw-login-sign-in-box, #hw-ac-standalone-form, #hw-login-sign-in-box .hw-login-option-list, .hw-login-extra-group, .hw-login-extra-group span.help-links a, .hw-login-extra-group-above-signin, #pageid-login.hw-gen-page #content-block #hw-login-sign-in-group #hw-login-sign-in-box form.hw-ac-standalone-form fieldset, .hw-gen-page #primary_nav a { font-size: 100%; }
#site-breadcrumbs, #col-2, #col-3, #content-block, div.hw-gen-page #content-block fieldset, div.hw-gen-page #content-block .search-buttons, #pageid-collections.hw-gen-page #content-block, #pageid-login.hw-gen-page #content-block, .hw-gen-page #primary_nav a { font-size: 70%; }
a, a.link, #site-breadcrumbs a:link, .content-block a:link, #col-2 a:link, #col-3 a:link, div.contributors ol.contributor-list li .name a:link, div.contributors li.corresp a:link, div.article a:link, div.article li.kwd a:link, #col-2 div.article-nav a:link, ol.cit-list li .cit-extra a:link, #pageid-collections.hw-gen-page #content-block #proxied-contents #col-2 a:link, .search-nav a:link, #pageid-login.hw-gen-page #content-block a:link, #secondary_footer #copyright a:link { color: rgb(0, 0, 204); text-decoration: none; }
#site-breadcrumbs a:visited, .content-block a:visited, #col-2 a:visited, #col-3 a:visited, ol.cit-list li .cit-extra a:visited, #pageid-collections.hw-gen-page #content-block #proxied-contents #col-2 a:visited, .search-nav a:visited, #pageid-login.hw-gen-page #content-block a:visited, #secondary_footer #copyright a:visited { color: purple; text-decoration: none; }
.content-block a:hover, .content-block a:active, #col-2 a:hover, #col-2 a:active, #col-3 a:hover, #col-3 a:active, div.contributors ol.contributor-list li .name a:hover, div.contributors li.corresp a:hover, div.article a:hover, div.article li.kwd a:hover, div.article a.terms:hover li, #site-breadcrumbs a:hover, ol.cit-list li .cit-extra a:hover, #pageid-collections.hw-gen-page #content-block #proxied-contents #col-2 a:hover, .search-nav a:hover, #pageid-login.hw-gen-page #content-block a:hover, #secondary_footer #copyright a:hover { text-decoration: underline; }
#col-2 div.article-nav a:hover { color: rgb(0, 0, 204); }
#col-2 div.article-nav a:visited { color: purple; }
#col-2 a.collapse-toggle { color: black; }
div.contributors ol.contributor-list li .name a:hover, div.content-box a:hover, div.article li.kwd a.kwd-search { border-bottom: medium none; }
#primary_nav a, #secondary_nav a, #header a, #primary_footer a, #secondary_footer a { color: rgb(0, 0, 0); }
p.hide { border: 0px none; margin: 0px; padding: 0px; }
#primary_nav div, #secondary_nav div, #header div, #primary_footer div, #secondary_footer div { border: 0px none; font-family: verdana,sans-serif; font-size: 70%; margin: 0px; padding: 0px; }
#primary_nav ul, #secondary_nav ul, #header ul, #primary_footer ul, #secondary_footer ul { border: 0px none; list-style: outside none none; margin: 0px; padding: 0px; }
#primary_nav ul li, #secondary_nav ul li, #header ul li, #primary_footer ul li, #secondary_footer ul li { border: 0px none; margin: 0px; padding: 0px; }
#primary_nav, #secondary_nav, #primary_footer { float: left; width: 100%; }
.journal #secondary_nav strong#page_logo { background-image: url('oj_logo.gif'); background-repeat: no-repeat; background-position: left top; float: left; height: 9px; margin: 4px 0px 0px 22px; width: 142px; }
.journal #secondary_nav strong#page_logo a { display: block; height: 9px; width: 142px; }
p.hide, #primary_nav ul li a span, #primary_nav ul li strong span, #secondary_nav ul li a span, #secondary_nav ul li strong span, #secondary_nav strong span, #header strong span, #header em span, #header h1 span, #header h2 span, #page_title h1 span, #primary_footer strong span, #primary_footer em span { display: block; height: 0.1em; overflow: hidden; width: 0px; }
p.hide { margin-bottom: -0.1em; }
div.cit-extra { display: block; }
#col-3 #sidebar-current-issue ol { text-align: center; }
#col-3 #sidebar-current-issue .cb-section { border-bottom: medium none; margin: 0px; }
#content-block #cited-by h2 { background-color: transparent; }
#col-3 #second .feature img { display: block; margin-left: auto; margin-right: auto; }
div.license, ul.copyright-statement { display: block; margin-top: 1em; }
#pageid-content #content-block h2 { padding-left: 0em; padding-bottom: 0.25em; }
div#slugline { text-align: center; }
div#pageid-content div#col-2 div.cb-contents li { margin-bottom: 3px; }
div#pageid-content div#col-3 div#second div.features div.feature li { margin-bottom: 3px; }
div#pageid-content div#col-3 .feature { padding-bottom: 0px; margin-bottom: 1.5em; }
a:visited { color: purple; }
div#col-3 .sidebar-qs { margin: 0px 5px 5px; background-color: rgb(238, 238, 238); }
div#col-3 .sidebar-qs form.searchbox { margin: 2px; }
div#col-3 .sidebar-qs form.searchbox div input#header-qs-input { width: 78%; }
div#col-3 .sidebar-qs form.searchbox input.inline_button { float: right; margin-right: 0.2em; }
div#col-3 .sidebar-qs form.searchbox p { margin-bottom: 0.5em; }
#col-3 div.most-links-box .most-list li { padding-bottom: 3px; }
div#pageid-content.hw-gen-page div#col-2 div#article-cb-main.content-box div.cb-contents div#cb-art-soc.cb-section ol li div.social-bookmarking ul.social-bookmark-links li.social-bookmarking-item { margin: 0.1em; }
body.general_page div#pageid-content.hw-gen-page div#col-2 div#article-cb-main.content-box div.cb-contents div.cb-section ol li.cb-versions div ol.version-list li.current-li span.current-version { font-size: 0.8em; }
div#pageid-content.hw-gen-page div#content-block p { font-size: 1.25em; }
div#col-3 div.most-links-box ul li.most-cur-sel div.most-list ol li { margin-bottom: 0.5em; }
div#col-3 div.most-links-box ul li.most-cur-sel div.most-list ol li a, div#col-3 div.most-links-box ul li.most-cur-sel div.most-list a { color: blue; font-size: 1em; line-height: 1.1em; }
img#cover, img#hw-login-cover-image, table.proxy-archive-cover-images img { box-shadow: 0.5em 0.5em 0.5em silver; }
img#cover, img#hw-login-cover-image { border: 1px solid silver; }
div.cit-extra a { font-weight: normal; }
div#pageid-content.hw-gen-page div#content-block p.affiliation-list-reveal { font-size: 1.1em; }
div#pageid-content.hw-gen-page div#content-block div.article div.contributors ol.affiliation-list li.aff { padding-bottom: 0.5em; }
/* ::::: http://eltj.oxfordjournals.org/resource/css/h20-oup-header.css ::::: */

#primary_nav { background-color: rgb(184, 170, 158); background-image: url('nav_separator_dark_grey.gif'); background-position: 264px 2px; background-repeat: no-repeat; padding-top: 8px; padding-bottom: 6px; }
#primary_nav ul { float: left; margin-left: 4px; width: auto; }
#primary_nav ul li { display: inline; float: left; margin-left: 8px; margin-right: 8px; width: auto; }
#primary_nav ul li a:hover { background-position: -140px 0px; }
#primary_nav ul li a, #primary_nav ul li strong { background-repeat: no-repeat; float: left; height: 9px; }
.journal #primary_nav { background-position: 495px 2px; }
.journal #primary_nav ul li a:hover { background-position: -150px 0px; }
.journal #primary_nav ul li#nav_subscriptions { margin-right: 86px; }
.journal #primary_nav ul li#nav_about_this_journal a, .journal #primary_nav ul li#nav_about_this_journal strong { background-image: url('about_this_journal.gif'); width: 129px; }
.journal #primary_nav ul li#nav_contact_this_journal a, .journal #primary_nav ul li#nav_contact_this_journal strong { background-image: url('contact_this_journal.gif'); width: 144px; }
.journal #primary_nav ul li#nav_subscriptions a, .journal #primary_nav ul li#nav_subscriptions strong { background-image: url('subscriptions.gif'); width: 96px; }
.journal #primary_nav ul li#nav_current_issue a, .journal #primary_nav ul li#nav_current_issue strong { background-image: url('current_issue.gif'); width: 96px; }
.journal #primary_nav ul li#nav_archive a, .journal #primary_nav ul li#nav_archive strong { background-image: url('archive.gif'); width: 53px; }
.journal #primary_nav ul li#nav_search a, .journal #primary_nav ul li#nav_search strong { background-image: url('search.gif'); width: 48px; }
#secondary_nav { background-color: rgb(73, 56, 42); }
#secondary_nav ul { float: right; padding-bottom: 4px; padding-top: 6px; width: auto; }
#secondary_nav ul li { display: inline; float: left; margin-right: 12px; padding-left: 8px; width: auto; }
#secondary_nav ul li a:hover { background-position: -80px 0px; }
#secondary_nav ul li a, #secondary_nav ul li strong { background-repeat: no-repeat; float: left; height: 8px; }
#secondary_nav ul li#nav_contact_us a, #secondary_nav ul li#nav_contact_us strong { background-image: url('contact_us.gif'); width: 74px; }
#secondary_nav ul li#nav_my_account a, #secondary_nav ul li#nav_my_account strong { background-image: url('my_account.gif'); width: 78px; }
#secondary_nav ul li#nav_my_basket a, #secondary_nav ul li#nav_my_basket strong { background-image: url('my_basket.gif'); width: 67px; }
#user_nav { background-color: rgb(238, 238, 238); float: left; width: 100%; }
#user_nav #authstring { display: inline; float: left; margin: 0px 15px 0em; padding: 4px 0px 5px; width: auto; color: brown; font-size: 11px; }
#header { background-repeat: no-repeat; height: 113px; float: left; width: 100%; }
#header h1#page_title { background-repeat: no-repeat; display: block; height: 14px; margin: 12px 0px 0px 22px; font-weight: lighter; font-family: verdana,sans-serif; font-size: 130%; color: white; text-transform: uppercase; }
ul#site-breadcrumbs { float: left; padding-left: 7px; width: 99%; }
ul#site-breadcrumbs li { background-image: url('arrow_black.gif'); background-position: 0px 0.45em; background-repeat: no-repeat; float: left; margin-right: 4px; padding-left: 8px; width: auto; margin-top: 10px; margin-bottom: 18px; padding-bottom: 2px; }
ul#site-breadcrumbs li.first { background-image: none; }
/* ::::: http://eltj.oxfordjournals.org/resource/css/h20-oup-footer.css ::::: */

#primary_footer { background-color: rgb(171, 156, 143); background-position: 194px -32px; background-repeat: no-repeat; }
#primary_footer #site_logo { float: left; padding-left: 20px; margin-top: 20px; width: auto; }
#primary_footer #site_logo strong { background-image: url('footer_ouptext.gif'); background-repeat: no-repeat; display: block; height: 55px; margin-bottom: 6px; width: 219px; }
#primary_footer #site_logo em { background-repeat: no-repeat; display: block; height: 6px; width: 177px; }
#primary_footer #third_nav ul { text-align: right; margin-top: 26px; margin-right: 20px; width: auto; }
#primary_footer #third_nav ul li { display: inline; margin-left: 10px; }
#primary_footer #third_nav ul li a { color: rgb(255, 255, 255); }
#primary_footer #other_oup_sites { clear: both; background-image: url('border_dotted_white_horiz.gif'); background-repeat: repeat-x; float: left; margin-top: 20px; margin-bottom: 20px; width: 100%; }
#primary_footer #other_oup_sites form { clear: both; float: right; padding: 14px 20px 0px; width: auto; }
#primary_footer #other_oup_sites form label { display: block; color: rgb(255, 255, 255); margin-bottom: 2px; }
#secondary_footer { background-image: url('border_dotted_grey_horiz.gif'); background-repeat: repeat-x; padding-top: 5px; padding-bottom: 5px; text-align: right; display: block; clear: both; }
#secondary_footer #copyright { margin-right: 15px; width: auto; }
#secondary_footer #issn { margin-left: 15px; float: left; text-align: left; width: auto; }
#disclaimer { font-size: 70%; margin: 0px 15px 15px; font-family: verdana,sans-serif; color: grey; clear: both; }
/* ::::: http://eltj.oxfordjournals.org/resource/css/h20-oup-sidebars.css ::::: */

#col-3 { margin: 0px; padding: 0px; background-color: white; }
#col-3 div { margin: 0px; padding: 0px; }
#col-3 div.cb-contents { width: 100%; margin: 0px; padding: 0px; }
#col-3 div.cb-contents .cb-section, #col-3 div.cb-contents .cb-section.sidebar-etoc-link { padding: 5px; }
#col-3 #sidebar-current-issue.content-box { background-color: white; padding: 0px; margin: 0px 0px 0px 5px; }
#col-3 #sidebar-current-issue.content-box .cb-contents-header { background-color: rgb(238, 238, 238); padding: 5px; border-bottom: 1px solid rgb(185, 194, 141); }
#col-3 #second { margin: 0px 0px 0px 2.5px; }
#col-3 .feature { background-color: white; }
#col-3 .features .feature h2 { background-color: rgb(238, 238, 238); padding: 5px; font-size: 1.2em; border-bottom: 1px solid rgb(185, 194, 141); }
#col-3 .features .feature { margin-bottom: 5px; padding-bottom: 5px; }
#col-3 .features .feature h3 { font-size: 1.1em; font-weight: bold; padding: 0px 0px 5px 5px; }
#col-3 .features .feature h4, #col-3 .features .feature .contact .name { font-size: 1em; font-weight: bold; padding: 0px; margin: 0px 8px 8px; }
#col-3 .features .feature img { margin: 0px 8px 12px; }
#col-3 .features .feature p { margin: 0px 8px 8px; }
#col-3 .features .feature ul { margin: 1em 5%; list-style: outside none none; }
#col-3 .features .feature li { background-image: none; display: block; margin-left: 0px; margin-bottom: 2px; padding: 2px 0px 0px; text-align: left; white-space: normal; }
#col-3 .features.separator_after .feature, #col-3 .features .separator_after { padding-bottom: 15px; }
/* ::::: http://eltj.oxfordjournals.org/site/resource/eltj_h20.css ::::: */

.hw-gen-page #header { background-image: url('eltj_header.jpg'); width: 960px; height: 97px; }
.hw-gen-page #header h1#page_title { background-image: url('eltj_title.jpg'); margin-top: 34px; height: 44px; width: 561px; }
.hw-gen-page #header h1#page_title a { display: block; height: 44px; width: 561px; }
/* ::::: http://oi-underbar.ifactory.com/underbar/css/pf_oiunderbar.css ::::: */

/* ::::: http://gab.cookie.oup.com/aws-cookie/jquery.fancybox-1.3.4_1.css ::::: */

#cookiepolicy_data { border-color: rgb(24, 46, 80); border-style: solid; border-width: 2px; font-family: Arial; padding: 10px; text-align: left; }
.MJXp-box::after { content: " "; }
.MJXp-script-box > :last-child > * { vertical-align: bottom; }
/* ::::: http://www.oxfordjournals.org/resource/css/jobboard_widget.css ::::: */

#jobboard-widget { box-shadow: 0px 0px 2px rgba(50, 50, 50, 0.5); box-sizing: border-box; border-radius: 0px; background-color: rgb(255, 255, 255); max-width: 290px; margin: 0px auto; font-size: 11px; line-height: 1.4em; position: relative; border-width: medium 5px 5px; border-style: none solid solid; border-color: -moz-use-text-color rgb(26, 53, 104) rgb(26, 53, 104); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
#jobboard-widget .taglineLink { display: block; }
#jobboard-widget .taglineLink:hover { text-decoration: none; }
#jobboard-widget .taglineLink:link { color: rgb(255, 255, 255) ! important; }
#jobboard-widget .widgetTagline { font-size: 12px; text-align: left; color: rgb(255, 255, 255) ! important; font-weight: bold; }
#jobboard-widget .widgetHead { padding: 20px 20px 15px; background-color: rgb(26, 53, 104); }
#jobboard-widget .widgetBody { position: relative; min-height: 110px; }
#jobboard-widget .jt_job_list { max-height: 250px; overflow: hidden; padding-left: 20px; padding-right: 20px; padding-top: 20px; }
#jobboard-widget .widgetFoot { padding: 12px 20px; border-top: 1px solid rgb(230, 230, 230); overflow: auto; }
#jobboard-widget .oupLogo { width: 25%; float: left; }
#jobboard-widget .jcnLogo { width: 60%; float: right; }
#jobboard-widget .noJobs { text-align: center; }
.jobboard-widget { box-shadow: 0px 0px 2px rgba(50, 50, 50, 0.5); box-sizing: border-box; border-radius: 0px; background-color: rgb(255, 255, 255); max-width: 290px; margin: 0px auto; font-size: 11px; line-height: 1.4em; position: relative; border-width: medium 5px 5px; border-style: none solid solid; border-color: -moz-use-text-color rgb(26, 53, 104) rgb(26, 53, 104); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.jobboard-widget .taglineLink { display: block; }
.jobboard-widget .taglineLink:hover { text-decoration: none; }
.jobboard-widget .taglineLink:link { color: rgb(255, 255, 255) ! important; }
.jobboard-widget .widgetTagline { font-size: 12px; text-align: left; color: rgb(255, 255, 255) ! important; font-weight: bold; }
.jobboard-widget .widgetHead { padding: 20px 20px 15px; background-color: rgb(26, 53, 104); }
.jobboard-widget .widgetBody { position: relative; min-height: 110px; }
.jobboard-widget .jt_job_list { max-height: 250px; overflow: hidden; padding-left: 20px; padding-right: 20px; padding-top: 20px; }
.jobboard-widget .widgetFoot { padding: 12px 20px; border-top: 1px solid rgb(230, 230, 230); overflow: auto; }
.jobboard-widget .oupLogo { width: 25%; float: left; }
.jobboard-widget .jcnLogo { width: 60%; float: right; }
.jobboard-widget .noJobs { text-align: center; }
