/* ::::: https://books.google.com/books/css/_0c876b1bec86f25cd2940272ab8df1cc/kl_viewport_kennedy_full_bundle.css ::::: */

.link_aux + a { color: rgb(17, 85, 204) ! important; }
#toolbar_container { background-color: rgb(245, 245, 245); border-color: rgb(229, 229, 229); }
#gb-get-book-container .gb-get-book { position: absolute; top: 0px; }
#menu .sidebar-buy-widget-container, #menu h3.section, #menu div.menu_content { margin-left: 0px; padding-left: 0px; }
#toolbar_container { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; }
#viewport { background: rgb(229, 229, 229) none repeat scroll 0% 0%; border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(229, 229, 229) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
#menu_container { overflow: hidden; position: relative; }
#menu_scroll { border-top: 0px none ! important; margin-top: 42px; }
#search_form > table.swv-table { padding-right: 18px; }
.swv-td-space, .swv-td-search { padding: 0px; }
.ebook-promo { margin: 0px 21px 0px 0px; }
#menu > div { margin-left: 0px ! important; }
.patent_bibdata, .sidebarnav { line-height: 18px; }
#search_bar .jfk-butterBar-info { border-color: rgb(245, 214, 155); }
.goog-inline-block { position: relative; display: inline-block; }
:first-child + html .goog-inline-block { display: inline; }
.jfk-button { border-radius: 2px; cursor: default; font-size: 11px; font-weight: bold; text-align: center; white-space: nowrap; margin-right: 16px; height: 27px; line-height: 27px; min-width: 54px; outline: 0px none; padding: 0px 8px; }
.jfk-button .jfk-button-img { margin-top: -3px; vertical-align: middle; }
.jfk-button-label { margin-left: 5px; }
.jfk-button-narrow { min-width: 34px; padding: 0px; }
.jfk-button-collapse-left, .jfk-button-collapse-right { z-index: 1; }
.jfk-button-collapse-left:focus, .jfk-button-collapse-right:focus, .jfk-button-hover.jfk-button-collapse-left, .jfk-button-hover.jfk-button-collapse-right { z-index: 3; }
.jfk-button-collapse-left { margin-left: -1px; border-bottom-left-radius: 0px; border-top-left-radius: 0px; }
.jfk-button-collapse-right { margin-right: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; }
.jfk-button-primary { box-shadow: none; background-color: rgb(209, 72, 54); background-image: -moz-linear-gradient(center top , rgb(221, 75, 57), rgb(209, 72, 54)); border: 1px solid transparent; color: rgb(255, 255, 255); text-shadow: 0px 1px rgba(0, 0, 0, 0.1); text-transform: uppercase; }
.jfk-button-primary:focus { box-shadow: 0px 0px 0px 1px rgb(255, 255, 255) inset; border: 1px solid transparent; outline: 0px none transparent; }
.jfk-button-primary:active { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset; background-color: rgb(176, 40, 26); background-image: -moz-linear-gradient(center top , rgb(221, 75, 57), rgb(176, 40, 26)); border: 1px solid rgb(153, 42, 27); }
.jfk-slideToggle-thumb::after { content: ""; background-image: -moz-linear-gradient(left center , rgb(204, 204, 204) 50%, transparent 50%), -moz-linear-gradient(left center , rgb(204, 204, 204) 50%, transparent 50%), -moz-linear-gradient(left center , rgb(204, 204, 204) 50%, transparent 50%), -moz-linear-gradient(left center , rgb(204, 204, 204) 50%, transparent 50%), -moz-linear-gradient(left center , rgb(204, 204, 204) 50%, transparent 50%); background-position: 0px 0px, 0px 2px, 0px 4px, 0px 6px, 0px 8px; background-repeat: repeat-x; background-size: 2px 1px; display: block; height: 9px; left: 15px; position: absolute; top: 9px; width: 17px; }
.jfk-button-standard { box-shadow: none; background-color: rgb(245, 245, 245); background-image: -moz-linear-gradient(center top , rgb(245, 245, 245), rgb(241, 241, 241)); color: rgb(68, 68, 68); border: 1px solid rgba(0, 0, 0, 0.1); }
.jfk-button-standard:active, .jfk-button-standard.jfk-button-hover:active { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset; background: rgb(248, 248, 248) none repeat scroll 0% 0%; color: rgb(51, 51, 51); }
.jfk-button-standard:focus { border: 1px solid rgb(77, 144, 254); outline: medium none; }
.jfk-button-standard .jfk-button-img { opacity: 0.55; }
.goog-zippy-header { transition: background-color 0.218s ease 0s, opacity 0.218s ease 0s; -moz-user-select: none; cursor: default; opacity: 0.8; outline: 0px none; padding: 7px 0px 7px 17px; position: relative; }
.goog-zippy-header:focus, .goog-zippy-header:hover { outline: 0px none; background-color: rgb(238, 238, 238); opacity: 1; }
.goog-zippy-expanded::before { content: url('arrow_down.png'); left: 5px; top: 5px; position: absolute; }
.goog-zippy-collapsed::before { content: url('arrow_right.png'); left: 7px; top: 6px; position: absolute; }
.goog-zippy-content, .jfk-zippy-content { padding-left: 17px; }
.ebook-promo { line-height: normal; padding: 10px 0px 11px; }
.ebook-promo .ebook-promo-description, .ebook-promo .section, .ebook-promo .ebook-promo-description:active, .ebook-promo .section:active, .ebook-promo .ebook-promo-description:visited, .ebook-promo .section:visited { color: rgb(0, 0, 0); font-size: 12px; }
.ebook-promo a:hover { text-decoration: none; }
.ebook-promo .ebook-promo-clickme:hover { text-decoration: underline; }
.ebook-promo .ebook-promo-clickme { font-size: 12px; font-weight: bold; }
.ebook-promo img { border-width: 0px; }
.ebook-promo .section { margin: 10px 0px 0px; }
.gbmcc { padding: 0px; margin: 0px; }
.gbmtc { display: block; list-style: outside none none; margin: 0px; padding: 0px; line-height: 27px; height: 27px; }
.gbmt, .gbmt:visited, .gbmt:hover, .gbmt:focus { padding: 0px 20px; display: block; text-decoration: none ! important; }
.gbmt:hover, .gbmt:focus { text-decoration: none ! important; background: rgb(238, 238, 238) none repeat scroll 0% 0%; outline: 0px solid black; }
.gbe a { color: rgb(51, 102, 204) ! important; }
.sidebar-hr { border-top: 1px solid rgb(235, 235, 235); margin: 6px 18px 6px -20px; }
.gb-volume-title { display: inline; font-size: 110%; font-weight: bold; margin-left: 2px; }
#toolbar_container { background-color: rgb(252, 252, 252); border-bottom: 1px solid rgb(235, 239, 249); }
.addmd { font-size: 83%; margin-left: 2px; }
#menu { padding-top: 5px; }
#buy { font-size: 13px; margin-bottom: 13px; }
h3.section { font-size: 83%; font-weight: bold; margin: 10px 0px 0px 10px; }
#menu_container { overflow: visible; padding: 0px 0px 0px 30px; width: 230px; }
.menu_content { font-size: 13px; margin: 0px 10px 10px 0px; clear: left; }
div.sidebarcover { float: left; margin-right: 8px; font-size: 0px; }
.sidebarnav { line-height: 1.4em; margin-top: 5px; }
.sidebarnav td { vertical-align: top; }
#volume-info-sidebar { margin-bottom: 4px; }
#volume-info-sidebar .gb-volume-title { display: block; margin: 0px; }
#search_form td { position: relative; }
.gb-get-book { height: auto; text-transform: uppercase; }
.gb-get-book #gb-get-book-content { border: 0px none; color: rgb(255, 255, 255); display: block; text-decoration: none; }
#gb-get-book-not-available { cursor: pointer; font-size: 13px; }
#volume-main { position: relative; line-height: 1.2em; clear: both; border-top: 1px solid rgb(235, 235, 235); }
#volume-left { position: absolute; top: 22px; width: 274px; height: 100%; }
#volume-center { position: absolute; top: 0px; bottom: 0px; right: 0px; left: 274px; }
#menu_scroll { font-size: 13px; overflow: auto; }
.sidebar-hr { margin-left: 0px ! important; }
.ebook-promo { margin-left: 0px; }
.about_content { margin-left: 0px; }
#gb-get-book-not-available { cursor: default; }
.gb-star-on, .gb-star-off, .gb-star-half { height: 13px; overflow: hidden; width: 13px; }
.gb-star-off { background: transparent url('gb-stars-sprite-1.png') no-repeat scroll 0px -26px; }
body { margin: 0px; padding: 0px; }
body, textarea { font-family: Arial,sans-serif; }
body { background-color: rgb(255, 255, 255); }
a { color: rgb(34, 0, 204); text-decoration: underline; }
a:visited { color: rgb(85, 26, 139); text-decoration: underline; }
table { border-style: none; margin: 0px; }
.link_aux:link, .link_aux:visited, .link_aux:active { color: rgb(119, 119, 204); }
.green { color: rgb(0, 170, 0); }
#search_form_input { width: 100%; }
input.text_flat { background-color: rgb(255, 255, 255); border: 1px solid rgb(146, 173, 198); color: rgb(0, 0, 0); padding: 2px 0px 2px 2px; }
.secondary, .secondary:visited { color: rgb(66, 114, 219); text-decoration: none; }
.secondary:hover { cursor: pointer; text-decoration: underline; }
.goog-flat-menu-button { border-radius: 2px; background-color: rgb(245, 245, 245); background-image: -moz-linear-gradient(center top , rgb(245, 245, 245), rgb(241, 241, 241)); border: 1px solid rgb(220, 220, 220); color: rgb(68, 68, 68); cursor: default; font-size: 11px; font-weight: bold; line-height: 27px; list-style: outside none none; margin: 0px 2px; min-width: 46px; outline: medium none; padding: 0px 18px 0px 6px; text-align: center; text-decoration: none; }
.goog-flat-menu-button-caption { vertical-align: top; white-space: nowrap; }
.goog-flat-menu-button-dropdown { border-color: rgb(119, 119, 119) transparent; border-style: solid; border-width: 4px 4px 0px; height: 0px; width: 0px; position: absolute; right: 5px; top: 12px; }
.goog-flat-menu-button .goog-flat-menu-button-img { margin-top: -3px; opacity: 0.55; vertical-align: middle; }
.goog-menu { border-radius: 0px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); transition: opacity 0.218s ease 0s; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgba(0, 0, 0, 0.2); cursor: default; font-size: 13px; margin: 0px; outline: medium none; padding: 6px 0px; position: absolute; }
.goog-menuitem, .goog-tristatemenuitem, .goog-filterobsmenuitem { position: relative; color: rgb(51, 51, 51); cursor: pointer; list-style: outside none none; margin: 0px; padding: 6px 8em 6px 30px; white-space: nowrap; }
.goog-menuitem-checkbox, .goog-menuitem-icon { background-repeat: no-repeat; height: 21px; left: 3px; position: absolute; right: auto; top: 3px; vertical-align: middle; width: 21px; }
.kd-appbar { background: rgb(255, 255, 255) none repeat scroll 0% 0%; height: 29px; padding: 21px 0px; }
.kd-appbar .kd-appname { float: left; font-size: 20px; font-weight: normal; height: 29px; line-height: 29px; margin: 0px 16px 0px 30px; white-space: nowrap; width: 160px; }
.kd-appbar .kd-buttonbar { height: 29px; margin-bottom: 0px; }
.kd-buttonbar.left { float: left; }
.kd-buttonbar.right { float: right; margin-right: 30px; }
.kd-buttonbar > div:focus { outline-width: 0px; }
.kd-appbar .kd-appname a, .kd-appbar .kd-appname a:hover, .kd-appbar .kd-appname a:active, .kd-appbar .kd-appname a:visited { color: rgb(221, 75, 57); text-decoration: none; }
.gb-left-nav-link:active, .gb-left-nav-link:hover, .gb-left-nav-link:link, .gb-left-nav-link:visited, .gb-left-nav-heading:active, .gb-left-nav-heading:hover, .gb-left-nav-heading:link, .gb-left-nav-heading:visited { color: rgb(51, 51, 51); text-decoration: none; }
.goog-zippy-expanded, .goog-zippy-collapsed { opacity: 1; }
.gb-left-nav-list { margin: 0px; padding: 0px 0px 0px 13px; }
.gb-left-nav-list .gb-left-nav-link, .gb-left-nav-list .gb-left-nav-header { color: rgb(51, 51, 51); display: block; }
.gb-left-nav-list .gb-left-nav-link { padding: 0.5em 0px 0.5em 1.3em; }
.gb-navbar { margin-left: -1.3em; overflow: visible; }
a.sbs-link { white-space: nowrap; }
.sbs-count { white-space: nowrap; display: block; }
.gb-clear-float::after { clear: both; content: ""; display: block; }
.unified-hovercard-tooltip { text-align: left; z-index: 10000; }
:first-child + html .unified-hovercard-tooltip { display: block ! important; }
.unified-hovercard-device-and-format { width: 360px; }
.viewport { text-align: center; width: 100%; overflow-x: auto; }
.SPRITE_page_down { background: transparent url('viewport_images-5.gif') no-repeat scroll -48px -65px; width: 26px; height: 13px; }
.gb-volume-title { display: inline-block; font-size: 110%; font-weight: bold; margin-left: 2px; margin-top: 0px; }
#toolbar_container { background-color: rgb(252, 252, 252); border-bottom: 1px solid rgb(235, 239, 249); }
.addmd { font-size: 83%; margin-left: 2px; }
#menu { padding-top: 5px; }
h3.section { font-size: 83%; font-weight: bold; margin: 10px 0px 0px 10px; }
#menu_container { overflow: hidden; }
.menu_content { font-size: 83%; margin: 0px 10px 10px; clear: left; }
div.sidebarcover { float: left; margin-right: 8px; font-size: 0px; }
.sidebarnav { line-height: 1.4em; margin-top: 5px; }
#volume-info-sidebar { margin-bottom: 4px; }
#volume-info-sidebar .gb-volume-title { display: block; margin: 0px; }
#search_form td { position: relative; }
#gb-viewport-plusone-container { height: 16px; padding-top: 2px; }
.swv-table { table-layout: fixed; }
td.swv-td-search { width: 170px; }
td.swv-td-space { width: 10px; }
input.swv-input-search { max-width: 166px; }
div#toolbar_container { padding: 2px 6px 2px 3px; line-height: 24px; font-size: 83%; }
.gback { background-color: rgb(249, 249, 249); position: relative; }
.viewport { text-align: center; width: 100%; overflow-x: auto; }
.jfk-butterBar { border-radius: 2px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); transition: all 0s linear 1s, opacity 1s ease 0s; border-style: solid; border-width: 0px; font-size: 11px; height: 0px; opacity: 0; visibility: hidden; overflow: hidden; padding: 0px; text-align: center; }
.jfk-butterBar-info { background-color: rgb(249, 237, 190); border-color: rgb(240, 195, 109); color: rgb(51, 51, 51); }
.jfk-butterBar-shown { transition: opacity 0.218s ease 0s; border-width: 1px; min-height: 14px; height: auto; opacity: 1; visibility: visible; padding: 6px 16px; }
:first-child + html #gb-top-search-box .submit { padding-left: 0px; padding-right: 0px; }
a img, .coverthumb, .slider-link { border-color: rgb(153, 153, 153); color: rgb(153, 153, 153); }
a, a.primary, a.secondary, a.link_aux, a.link_aux:link, a.hp-bookshelf-link, a.subject_list_link, h3.slider_title a, .slider-annotation a, .gb-hovercard a.gb-hovercard-title, .gb-hovercard a.gb-hovercard-title:link, .buy-sale-terms a, #word_cloud a, #hp-bookshelves-create-btn { color: rgb(17, 85, 204); text-decoration: none; }
a:hover, a.primary:hover, a.secondary:hover, a.link_aux:hover, a.hp-bookshelf-link:hover, a.subject_list_link:hover, h3.slider_title a:hover, .slider-annotation a:hover, .gb-hovercard a.gb-hovercard-title:hover, .buy-sale-terms a:hover, #word_cloud a:hover, #hp-bookshelves-create-btn:hover { text-decoration: underline; }
a:visited, a.primary:visited, a.secondary:visited, a.link_aux:visited, a.hp-bookshelf-link:visited, a.subject_list_link:visited, h3.slider_title a:visited, .slider-annotation a:visited, #my_library_container a:visited, .gb-hovercard a.gb-hovercard-title:visited, .buy-sale-terms a:visited, #word_cloud a:visited, #hp-bookshelves-create-btn:visited { color: rgb(102, 17, 204); text-decoration: none; }
a:active, a.primary:active, a.secondary:active, a.link_aux:active, a.hp-bookshelf-link:active, a.subject_list_link:active, h3.slider_title a:active, .slider-annotation a:active, #my_library_container a:active, .gb-hovercard a.gb-hovercard-title:active, .buy-sale-terms a:active, #word_cloud a:active, #hp-bookshelves-create-btn:active { color: rgb(209, 72, 54); text-decoration: none; }
body { color: rgb(51, 51, 51); }
#search_form table.swv-table td.swv-td-space + td input, .gb-button-callout, .gb-button, .gb-button-hilite, .goog-select, .linkbar-panel-div button, #siml_query + input, #buttons > div + div .g-button-basic div span span a { background-color: rgb(245, 245, 245); background-image: -moz-linear-gradient(center top , rgb(245, 245, 245), rgb(241, 241, 241)); border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 2px; box-shadow: none; color: rgb(85, 85, 85) ! important; cursor: default; filter: none; font-family: Arial; font-size: 11px; font-weight: bold; height: 27px; line-height: 27px; margin: 0px; min-width: 54px; padding: 0px 8px; text-transform: none; transition: all 0.218s ease 0s; -moz-user-select: none; }
#search_form table.swv-table td.swv-td-space + td input:hover, .gb-button-callout:hover, .gb-button:hover, .gb-button-hilite:hover, .goog-select:hover, .linkbar-panel-div button:hover, #siml_query + input:hover, #buttons > div + div .g-button-basic div span span a:hover { background-color: rgb(248, 248, 248); background-image: -moz-linear-gradient(center top , rgb(248, 248, 248), rgb(241, 241, 241)); border: 1px solid rgb(198, 198, 198); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); color: rgb(51, 51, 51); transition: all 0s ease 0s; }
#search_form table.swv-table td.swv-td-space + td input:active, .gb-button-callout:active, .gb-button:active, .gb-button-hilite:active, .goog-select:active, .linkbar-panel-div button:active, #siml_query + input:active, #buttons > div + div .g-button-basic div span span a:active { background-color: rgb(246, 246, 246); background-image: -moz-linear-gradient(center top , rgb(246, 246, 246), rgb(241, 241, 241)); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset; }
#search_form_input, #siml_query { border-width: 1px; border-style: solid; border-color: rgb(192, 192, 192) rgb(217, 217, 217) rgb(217, 217, 217); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; height: 21px; outline: medium none; }
input.swv-input-search { max-width: 166px; }
.modal-dialog-title-close::after { display: none; }
#gbsfw { min-width: 400px; overflow: visible; }
.gb_Pb, #gbsfw.gb_g { display: block; outline: medium none; }
.gb_6a { display: none ! important; }
.gb_Jc { display: inline-block; padding: 0px 0px 0px 15px; vertical-align: middle; }
.gb_Jc:first-child, #gbsfw:first-child + .gb_Jc { padding-left: 0px; }
.gb_uc { position: relative; }
.gb_b { display: inline-block; outline: medium none; vertical-align: middle; border-radius: 2px; box-sizing: border-box; height: 30px; width: 30px; color: rgb(0, 0, 0); cursor: pointer; text-decoration: none; }
#gb#gb a.gb_b { color: rgb(0, 0, 0); cursor: pointer; text-decoration: none; }
.gb_jb { border-color: transparent transparent rgb(255, 255, 255); border-style: dashed dashed solid; border-width: 0px 8.5px 8.5px; display: none; position: absolute; left: 6.5px; top: 37px; z-index: 1; height: 0px; width: 0px; animation: 0.2s ease 0s normal none 1 running gb__a; }
.gb_kb { border-color: transparent transparent rgba(0, 0, 0, 0.2); border-style: dashed dashed solid; border-width: 0px 8.5px 8.5px; display: none; position: absolute; left: 6.5px; z-index: 1; height: 0px; width: 0px; animation: 0.2s ease 0s normal none 1 running gb__a; top: 36px; }
.gb_ga { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgba(0, 0, 0, 0.2); color: rgb(0, 0, 0); box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); display: none; outline: medium none; overflow: hidden; position: absolute; right: 0px; top: 44px; animation: 0.2s ease 0s normal none 1 running gb__a; border-radius: 2px; -moz-user-select: text; }
.gb_ea .gb_b { background-position: -35px -311px; opacity: 0.55; }
.gb_ga.gb_ha { min-height: 196px; overflow-y: auto; width: 320px; }
.gb_ja { background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin: 0px; min-height: 100px; padding: 28px 27px 28px 28px; text-align: left; white-space: normal; width: 265px; }
.gb_ka { background: rgb(245, 245, 245) none repeat scroll 0% 0%; cursor: pointer; height: 40px; overflow: hidden; }
.gb_la { position: relative; }
.gb_ka { display: block; line-height: 40px; text-align: center; width: 320px; }
.gb_la { display: block; line-height: 40px; text-align: center; }
.gb_ka, .gb_ka:visited, .gb_ka:active, .gb_la, .gb_la:visited { color: rgb(115, 115, 115); text-decoration: none; }
.gb_la:active { color: rgb(115, 115, 115); }
#gb a.gb_ka, #gb a.gb_ka:visited, #gb a.gb_ka:active, #gb a.gb_la, #gb a.gb_la:visited { color: rgb(115, 115, 115); text-decoration: none; }
#gb a.gb_la:active { color: rgb(115, 115, 115); }
.gb_la, .gb_ja { display: none; }
.gb_ca, .gb_ca + .gb_la, .gb_na .gb_la, .gb_na .gb_ja { display: block; }
.gb_la:hover, .gb_la:active, #gb a.gb_la:hover, #gb a.gb_la:active { text-decoration: underline; }
.gb_la { border-bottom: 1px solid rgb(235, 235, 235); left: 28px; width: 264px; }
.gb_la:last-child { border-bottom-width: 0px; }
.gb_ua .gb_ka { margin-top: 0px; position: static; }
.gb_wa { margin: -12px 28px 28px; position: relative; width: 264px; border-radius: 2px; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.1); }
.gb_5 { background-image: url('v1_76783e20.png'); background-size: 92px 2541px; display: inline-block; margin: 8px; vertical-align: middle; height: 64px; width: 64px; }
.gb_xa { color: rgb(38, 38, 38); display: inline-block; font: 13px/18px Arial,sans-serif; margin-right: 80px; padding: 10px 10px 10px 0px; vertical-align: middle; white-space: normal; }
.gb_ya { font: 16px/24px Arial,sans-serif; }
.gb_za, #gb#gb .gb_za { color: rgb(66, 127, 237); text-decoration: none; }
.gb_za:hover, #gb#gb .gb_za:hover { text-decoration: underline; }
.gb_Aa .gb_ja { position: relative; }
.gb_Aa .gb_O { position: absolute; top: 28px; left: 28px; }
.gb_N .gb_ea .gb_b::before, .gb_N.gb_fa .gb_ea .gb_b::before { left: -35px; top: -311px; }
.gb_N.gb_X .gb_ea .gb_b::before { left: -60px; top: -1675px; }
.gb_ea .gb_b:hover, .gb_ea .gb_b:focus { opacity: 0.85; }
@media (min-resolution: 1.25dppx), not all, not all {
}
#gb#gb a.gb_O { color: rgb(64, 64, 64); text-decoration: none; }
#gb#gb a.gb_P, #gb#gb span.gb_P { text-decoration: none; }
#gb#gb a.gb_P, #gb#gb span.gb_P { color: rgb(0, 0, 0); }
.gb_P { opacity: 0.75; }
.gb_Q.gb_R { display: none; padding-left: 15px; vertical-align: middle; }
.gb_Q.gb_R:first-child { padding-left: 0px; }
.gb_S.gb_R { display: inline-block; }
.gb_Q span { opacity: 0.55; -moz-user-select: text; }
.gb_T .gb_S.gb_R { flex: 0 1 auto; display: flex; }
.gb_Q .gb_P { display: inline-block; line-height: 24px; outline: medium none; vertical-align: middle; }
.gb_S .gb_P { display: none; }
.gb_N #gb2 .gb_M::before { content: url('3a1e625196.png'); }
.gb_N #gb22 .gb_M::before { content: url('3daf4c1f88.png'); }
.gb_N #gb45 .gb_M::before { content: url('f420d06f66.png'); }
.gb_N #gb72 .gb_M::before { content: url('78b3d46de1.png'); }
.gb_N #gb117 .gb_M::before { content: url('142da27578.png'); }
.gb_N #gb136 .gb_M::before { content: url('911e3628e6.png'); }
.gb_N #gb166 .gb_M::before { content: url('41679a9ec5.png'); }
.gb_N #gb171 .gb_M::before { content: url('4244245d7e.png'); }
.gb_N #gb177 .gb_M::before { content: url('4653513b7d.png'); }
.gb_N #gb206 .gb_M::before { content: url('ad330d8459.png'); }
.gb_N #gb207 .gb_M::before { content: url('2c21041e16.png'); }
.gb_N #gb211 .gb_M::before { content: url('c03dda0b34.png'); }
.gb_N #gb217 .gb_M::before { content: url('71060be5b3.png'); }
.gb_N #gb228 .gb_M::before { content: url('74aa55e0c2.png'); }
.gb_N #gb249 .gb_M::before { content: url('afa40f6e42.png'); }
.gb_N #gb260 .gb_M::before { content: url('ea554714e7.png'); }
.gb_N #gb261 .gb_M::before { content: url('0b26f6f8e4.png'); }
.gb_N #gb108 .gb_M::before { content: url('dfbeb24785.png'); }
.gb_N #gb60 .gb_M::before { content: url('85bb99a341.png'); }
.gb_N #gb175 .gb_M::before { content: url('eacd033c28.png'); }
@media (min-resolution: 1.25dppx), not all, not all {
	.gb_N #gb2 .gb_M::before { content: url('438087d3df.png'); }
	.gb_N #gb22 .gb_M::before { content: url('cfa67efcd3.png'); }
	.gb_N #gb45 .gb_M::before { content: url('9c561d4392.png'); }
	.gb_N #gb72 .gb_M::before { content: url('90f42e515b.png'); }
	.gb_N #gb117 .gb_M::before { content: url('e3cbb9b858.png'); }
	.gb_N #gb136 .gb_M::before { content: url('17bdcddea9.png'); }
	.gb_N #gb166 .gb_M::before { content: url('be3fe52205.png'); }
	.gb_N #gb171 .gb_M::before { content: url('1b217ae532.png'); }
	.gb_N #gb177 .gb_M::before { content: url('188f0d697b.png'); }
	.gb_N #gb206 .gb_M::before { content: url('20808fb750.png'); }
	.gb_N #gb207 .gb_M::before { content: url('6d9eaee7f9.png'); }
	.gb_N #gb211 .gb_M::before { content: url('2d7fffa981.png'); }
	.gb_N #gb217 .gb_M::before { content: url('e2c0b463b4.png'); }
	.gb_N #gb228 .gb_M::before { content: url('fe8c881457.png'); }
	.gb_N #gb249 .gb_M::before { content: url('d54db42004.png'); }
	.gb_N #gb260 .gb_M::before { content: url('99be7c5086.png'); }
	.gb_N #gb261 .gb_M::before { content: url('9001dae971.png'); }
	.gb_N #gb108 .gb_M::before { content: url('ca7b209615.png'); }
	.gb_N #gb60 .gb_M::before { content: url('e000432278.png'); }
	.gb_N #gb175 .gb_M::before { content: url('84d52a8885.png'); }
}
.gb_Z { padding: 1px; display: inline-block; vertical-align: top; color: black; z-index: 999; height: 98px; width: 86px; }
.gb_Z a { text-decoration: none; }
.gb_Z:hover:not(.gb_0) { z-index: 1001; }
.gb_Z:hover:not(.gb_0) a { border: 1px solid rgb(229, 229, 229); border-radius: 2px; margin: 7px 1px; }
.gb_Z.gb_1:not(.gb_0) a { border: 1px solid rgb(229, 229, 229); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); }
.gb_O { color: rgb(64, 64, 64); display: inline-block; font-size: 13px; margin: 8px 2px; text-align: center; outline: medium none; }
.gb_O .gb_3, .gb_O .gb_M { display: inline-block; vertical-align: top; height: 64px; width: 64px; }
.gb_4 { display: block; line-height: 20px; overflow: hidden; white-space: nowrap; width: 84px; text-overflow: ellipsis; }
.gb_Z:hover .gb_O { z-index: 1; }
.gb_Z:hover .gb_4 { background: rgba(255, 255, 255, 0.9) none repeat scroll 0% 0%; white-space: normal; overflow-wrap: break-word; }
.gb_O .gb_3 { background-image: url('v1_76783e20.png'); background-size: 92px 2541px; }
.gb_N .gb_O .gb_3::before, .gb_N .gb_5.gb_3::before { content: url('v1_76783e20.png'); position: absolute; }
.gb_N .gb_M::before { left: 0px; position: absolute; top: 0px; }
@media (min-resolution: 1.25dppx), not all, not all {
	.gb_O .gb_3 { background-image: url('v2_f80843e3.png'); }
	.gb_N .gb_O .gb_3::before { content: url('v2_f80843e3.png'); transform: scale(0.5); transform-origin: 0px 0px 0px; }
	.gb_N .gb_O .gb_M::before { transform: scale(0.5); transform-origin: 0px 0px 0px; }
}
.gb_8, .gb_9 { position: relative; top: 27px; visibility: hidden; }
.gb_aa, .gb_ba { left: 37px; visibility: hidden; }
.gb_8 { float: left; width: 0px; height: 0px; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-right: 5px solid rgb(66, 115, 219); }
.gb_9 { float: right; width: 0px; height: 0px; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid rgb(66, 115, 219); }
.gb_aa { position: absolute; top: 0px; width: 0px; height: 0px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid rgb(66, 115, 219); }
.gb_ba { position: absolute; top: 59px; width: 0px; height: 0px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid rgb(66, 115, 219); }
ul.gb_ca li.gb_7:not(:first-child) .gb_8, ul.gb_ca li.gb_7:not(:nth-child(-n+3)) .gb_aa, ul.gb_ca li.gb_7 .gb_9, ul.gb_ca li.gb_7 .gb_ba, ul.gb_da li.gb_7 .gb_8, ul.gb_da li.gb_7 .gb_aa, ul.gb_da li.gb_7:not(:last-child) .gb_9, ul.gb_da li.gb_7:not(:nth-last-child(-n+3)) .gb_ba { visibility: visible; }
.gb_Ca, .gb_Da, .gb_Fa, .gb_Ha { display: inline-block; line-height: 28px; padding: 0px 12px; border-radius: 2px; }
.gb_Fa { background: rgb(248, 248, 248) none repeat scroll 0% 0%; border: 1px solid rgb(198, 198, 198); }
.gb_Fa, #gb a.gb_Fa.gb_Fa, .gb_Ha { color: rgb(102, 102, 102); cursor: default; text-decoration: none; }
.gb_8a { background-size: 32px 32px; border-radius: 50%; display: block; margin: -1px; overflow: hidden; position: relative; height: 32px; width: 32px; z-index: 0; }
@media (min-resolution: 1.25dppx), not all, not all, not all {
	.gb_8a::before { display: inline-block; transform: scale(0.5); transform-origin: left 0px 0px; }
	.gb_sb::before { display: inline-block; transform: scale(0.5); transform-origin: left 0px 0px; }
}
.gb_8a:hover, .gb_8a:focus { box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15); }
.gb_8a:active { box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15) inset; }
.gb_8a:active::after { background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%; border-radius: 50%; content: ""; display: block; height: 100%; }
.gb_fb.gb_R, .gb_hb.gb_R, .gb_db.gb_R { flex: 0 1 auto; }
.gb_lb { outline: medium none; }
.gb_mb, #gb a.gb_mb.gb_mb, .gb_nb a, #gb .gb_nb.gb_nb a { color: rgb(51, 102, 204); text-decoration: none; }
.gb_mb:active, #gb a.gb_mb:active, .gb_mb:hover, #gb a.gb_mb:hover, .gb_nb a:active, #gb .gb_nb a:active, .gb_nb a:hover, #gb .gb_nb a:hover { text-decoration: underline; }
.gb_ob { margin: 20px; }
.gb_pb, .gb_qb { display: inline-block; vertical-align: top; }
.gb_pb { margin-right: 20px; position: relative; }
.gb_rb { border-radius: 50%; overflow: hidden; }
.gb_sb { background-size: 96px 96px; border: medium none; vertical-align: top; height: 96px; width: 96px; }
.gb_tb { background: rgba(78, 144, 254, 0.7) none repeat scroll 0% 0%; bottom: 0px; color: rgb(255, 255, 255); font-size: 9px; font-weight: bold; left: 0px; line-height: 9px; position: absolute; padding: 7px 0px; text-align: center; width: 96px; }
.gb_rb .gb_tb { background: rgba(0, 0, 0, 0.54) none repeat scroll 0% 0%; }
.gb_ub { font-weight: bold; margin: -4px 0px 1px; }
.gb_vb { color: rgb(102, 102, 102); }
.gb_nb { color: rgb(204, 204, 204); margin: 6px 0px; }
.gb_nb a { margin: 0px 10px; }
.gb_nb a:first-child { margin-left: 0px; }
.gb_nb a:last-child { margin-right: 0px; }
.gb_qb .gb_wb { background: rgb(77, 144, 254) none repeat scroll 0% 0%; border-color: rgb(48, 121, 237); font-weight: bold; margin: 10px 0px 0px; color: rgb(255, 255, 255); }
#gb .gb_qb a.gb_wb.gb_wb { color: rgb(255, 255, 255); }
.gb_qb .gb_wb:hover { background: rgb(53, 122, 232) none repeat scroll 0% 0%; border-color: rgb(47, 91, 183); }
.gb_xb { background: rgb(245, 245, 245) none repeat scroll 0% 0%; border-top: 1px solid rgba(0, 0, 0, 0.2); border-color: rgba(0, 0, 0, 0.2); padding: 10px 0px; width: 100%; display: table; }
.gb_xb .gb_wb { margin: 0px 20px; }
.gb_xb > div { display: table-cell; text-align: right; }
.gb_xb > div:first-child { text-align: left; }
.gb_N .gb_Nb::before { left: 0px; top: -1421px; }
.gb_xf { color: rgb(0, 0, 0); font: 13px/27px Arial,sans-serif; left: 0px; min-width: 1117px; position: absolute; top: 0px; -moz-user-select: none; width: 100%; }
.gb_Ce { font: 13px/27px Arial,sans-serif; position: relative; height: 60px; width: 100%; }
#gba { height: 60px; }
.gb_Ce > .gb_R { height: 60px; line-height: 58px; vertical-align: middle; }
.gb_Ce::before { background: rgb(229, 229, 229) none repeat scroll 0% 0%; bottom: 0px; content: ""; display: none; height: 1px; left: 0px; position: absolute; right: 0px; }
.gb_Ce { background: rgb(241, 241, 241) none repeat scroll 0% 0%; }
.gb_Af .gb_Ce::before, .gb_ab .gb_Ce::before { display: none; }
.gb_fa .gb_Ce::before { background: rgba(0, 0, 0, 0.12) none repeat scroll 0% 0%; }
.gb_X .gb_Ce::before { background: rgba(255, 255, 255, 0.2) none repeat scroll 0% 0%; }
.gb_R { display: inline-block; flex: 0 0 auto; }
.gb_R.gb_Bf { float: right; order: 1; }
.gb_Cf { white-space: nowrap; }
.gb_T .gb_Cf { display: flex; }
.gb_Cf, .gb_R { margin-left: 0px ! important; margin-right: 0px ! important; }
.gb_Xb { background-image: url('v1_76783e20.png'); background-size: 92px 2541px; }
@media (min-resolution: 1.25dppx), not all, not all {
	.gb_Xb { background-image: url('v2_f80843e3.png'); }
}
.gb_ib:not(.gb_N) .gb_8a::before, .gb_ib:not(.gb_N) .gb_sb::before { content: none; }
.gb_N .gb_Vb .gb_Xb::before { left: 0px; top: -762px; }
.gb_N.gb_X .gb_Vb .gb_Xb::before { left: 0px; top: -2439px; }
.gb_N.gb_fa .gb_Vb .gb_Xb::before { left: 0px; top: -1883px; }
.gb_Sb { min-width: 152px; overflow: hidden; position: relative; z-index: 987; }
.gb_Tb { position: absolute; padding: 0px 30px; }
.gb_Vb { display: inline-block; outline: medium none; vertical-align: middle; }
.gb_Wb .gb_Vb { position: relative; top: 2px; }
.gb_Vb .gb_Xb, .gb_Xa { display: block; }
.gb_Vb .gb_Xb { background-position: 0px -762px; height: 33px; width: 92px; }
.gb_rc:not(.gb_sc) .gb_kb, .gb_rc:not(.gb_sc) .gb_jb { left: 3px; }
.gb_rc .gb_uc { font-size: 14px; font-weight: bold; top: 0px; right: 0px; }
.gb_rc .gb_b { display: inline-block; vertical-align: middle; box-sizing: border-box; height: 30px; width: 30px; }
.gb_rc .gb_jb { border-bottom-color: rgb(229, 229, 229); }
.gb_vc { background-color: rgba(0, 0, 0, 0.55); color: rgb(255, 255, 255); font-size: 12px; font-weight: bold; line-height: 20px; margin: 5px; padding: 0px 2px; text-align: center; box-sizing: border-box; border-radius: 50%; height: 20px; width: 20px; }
.gb_vc.gb_wc { background-position: -35px -1675px; }
.gb_b:hover .gb_vc, .gb_b:focus .gb_vc { background-color: rgba(0, 0, 0, 0.85); }
.gb_N .gb_lc::before { left: -35px; top: -658px; }
.gb_N .gb_mc .gb_lc::before { left: -35px; top: -1848px; }
.gb_N.gb_fa .gb_b .gb_lc::before { left: 0px; top: -311px; }
.gb_N.gb_fa .gb_mc .gb_lc::before { left: 0px; top: -1658px; }
.gb_N.gb_X .gb_b .gb_lc::before { left: -35px; top: -623px; }
.gb_N.gb_X .gb_mc .gb_lc::before { left: -35px; top: -276px; }
.gb_N .gb_vc.gb_wc::before, .gb_Db.gb_N.gb_X .gb_vc.gb_wc::before { left: -35px; top: -1675px; }
.gb_N .gb_vc.gb_xc::before, .gb_Db.gb_N.gb_X .gb_vc.gb_xc::before { left: -69px; top: 0px; }
.gb_N.gb_X .gb_vc.gb_wc::before, .gb_Db.gb_N.gb_fa .gb_vc.gb_wc::before { left: 0px; top: -1921px; }
.gb_N.gb_X .gb_vc.gb_xc::before, .gb_Db.gb_N.gb_fa .gb_vc.gb_xc::before { left: -69px; top: -869px; }
.gb_5c label::after { background-color: rgb(66, 133, 244); }
.gb_Cc .gb_wb::before { content: ""; height: 6px; left: 0px; position: absolute; top: -6px; width: 100%; }
.gb_Cc .gb_wb::after { bottom: -6px; content: ""; height: 6px; left: 0px; position: absolute; width: 100%; }
.gb_ye { position: relative; width: 650px; z-index: 986; }
#gbq2 { padding-top: 15px; }
.gb_T .gb_ye { min-width: 200px; flex: 0 2 auto; }
.gb_T #gbqf { margin-right: 0px; display: flex; }
.gb_T .gbqff { min-width: 0px; flex: 1 1 auto; }
.gb_N .gbqfi::before { left: 0px; top: -415px; }
#gbq2 { display: block; }
#gbqf { display: block; margin: 0px 60px 0px 0px; white-space: nowrap; }
.gbqff { border: medium none; display: inline-block; margin: 0px; padding: 0px; vertical-align: top; width: 100%; }
.gbqfqw, #gbqfb, .gbqfwa { vertical-align: top; }
#gbqfaa, #gbqfab, #gbqfqwb { position: absolute; }
#gbqfaa { left: 0px; }
#gbqfab { right: 0px; }
.gbqfqwb, .gbqfqwc { right: 0px; left: 0px; height: 100%; }
.gbqfqwb { padding: 0px 8px; }
#gbqfbw { display: inline-block; vertical-align: top; }
#gbqfb { border: 1px solid transparent; border-bottom-left-radius: 0px; border-top-left-radius: 0px; height: 30px; margin: 0px; outline: medium none; padding: 0px; width: 60px; box-shadow: none; box-sizing: border-box; background: transparent -moz-linear-gradient(center top , rgb(67, 135, 253), rgb(70, 131, 234)) repeat scroll 0% 0%; }
#gbqfb:hover { box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15); }
#gbqfb:focus { box-shadow: 0px 0px 0px 1px rgb(255, 255, 255) inset; }
#gbqfb:hover:focus { box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15), 0px 0px 0px 1px rgb(255, 255, 255) inset; }
#gbqfb:active:active { border: 1px solid transparent; box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15) inset; background: transparent -moz-linear-gradient(center top , rgb(60, 122, 228), rgb(63, 118, 211)) repeat scroll 0% 0%; }
.gbqfi { background-position: 0px -415px; display: inline-block; margin: -1px; height: 30px; width: 30px; }
.gbqfqw { background: rgb(255, 255, 255) none repeat scroll 0% 0% padding-box; border-width: 1px 0px 1px 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgba(0, 0, 0, 0.15); height: 30px; box-sizing: border-box; }
#gbqfqw { position: relative; }
.gbqfqw.gbqfqw:hover { border-color: rgba(0, 0, 0, 0.3); }
.gbqfwa { display: inline-block; width: 100%; }
.gbqfqw.gbqfqw:active, .gbqfqw.gbqfqwf.gbqfqwf { border-color: rgb(66, 133, 244); }
#gbqfq, #gbqfqb, #gbqfqc { background: transparent none repeat scroll 0% 0%; border: medium none; height: 20px; margin-top: 4px; padding: 0px; vertical-align: top; width: 100%; }
#gbqfq:focus, #gbqfqb:focus, #gbqfqc:focus { outline: medium none; }
.gbqfif, .gbqfsf { color: rgb(34, 34, 34); font: 16px arial,sans-serif; }
.gbqfb, .gbqfba, .gbqfbb { cursor: default ! important; display: inline-block; font-weight: bold; height: 29px; line-height: 29px; min-width: 54px; padding: 0px 8px; text-align: center; text-decoration: none ! important; border-radius: 2px; -moz-user-select: none; }
.gbqfb::-moz-focus-inner { border: 0px none; }
.gbqfba::-moz-focus-inner { border: 0px none; }
.gb_N .gb_ze .gb_b::before { left: 0px; top: -623px; }
.gb_N.gb_fa .gb_ze .gb_b::before { left: 0px; top: -1848px; }
.gb_N.gb_X .gb_ze .gb_b::before { left: 0px; top: -2404px; }
.gb_ib { min-width: 255px; padding-left: 30px; padding-right: 30px; position: relative; text-align: right; z-index: 986; align-items: center; justify-content: flex-end; -moz-user-select: none; }
.gb_ib.gb_R { flex: 1 1 auto; }
.gb_jc { line-height: normal; position: relative; text-align: left; }
.gb_jc.gb_R, .gb_nf.gb_R, .gb_bb.gb_R { flex: 0 1 auto; }
.gb_nf { line-height: normal; padding-right: 15px; }
.gb_eb:not(.gb_gb) .gb_tf, .gb_V .gb_sf { display: inline-block; }
.gb_eb:not(.gb_gb) .gb_uf { display: none; }
.gb_ib.gb_R.gb_V, .gb_V:not(.gb_gb) .gb_jc { flex: 0 0 auto; }
.gb_ib.gb_vf, .gb_ib.gb_vf .gb_sf, .gb_ib.gb_vf .gb_sf::before, .gb_ib.gb_vf .gb_nf, .gb_ib.gb_vf .gb_jc { transition: width 0.5s ease-in-out 0s, min-width 0.5s ease-in-out 0s, max-width 0.5s ease-in-out 0s, padding 0.5s ease-in-out 0s, left 0.5s ease-in-out 0s; }
.gb_T .gb_ib { min-width: 0px; }
.gb_N .gb_sf::before { clip: rect(623px, 86px, 639px, 70px); left: -48px; top: -601px; }
.gb_N .gb_tf::before { clip: rect(519px, 86px, 535px, 70px); left: -40px; top: -497px; }
.gb_N .gb_eb .gb_sf::before { left: -40px; }
@media (min-resolution: 1.25dppx), not all, not all {
	.gb_N .gb_sf::before { clip: rect(1246px, 172px, 1278px, 140px); }
	.gb_N .gb_tf::before { clip: rect(1038px, 172px, 1070px, 140px); }
}
.gb_N .gb_Xb::before { content: url('v1_76783e20.png'); position: absolute; }
@media (min-resolution: 1.25dppx), not all, not all {
	.gb_N .gb_Xb::before { content: url('v2_f80843e3.png'); transform: scale(0.5); transform-origin: 0px 0px 0px; }
}
.gbxx { display: none ! important; }
#gbq { line-height: normal; position: relative; top: 0px; white-space: nowrap; }
#gbq { left: 0px; width: 100%; }
#gbq2 { top: 0px; z-index: 986; }
.gbii::before { content: url('photo.jpg'); }
.gbip::before { content: url('photo_001.jpg'); }
@media (min-resolution: 1.25dppx), not all, not all, not all {
	.gbii::before { content: url('photo_002.jpg'); }
	.gbip::before { content: url('photo_003.jpg'); }
}
.gbii { background-image: url('photo.jpg'); }
.gbip { background-image: url('photo_001.jpg'); }
@media (min-resolution: 1.25dppx), not all, not all, not all {
	.gbii { background-image: url('photo_002.jpg'); }
	.gbip { background-image: url('photo_003.jpg'); }
}
div.kd-appbar { position: static; }
#gb192 .gb_3::before { left: 0px; top: -1451px; }
#gb1 .gb_3::before { left: -17px; top: -207px; }
#gb8 .gb_3::before { left: 0px; top: -450px; }
#gb36 .gb_3::before { left: 0px; top: 0px; }
#gb78 .gb_3::before { left: 0px; top: -1779px; }
#gb5 .gb_3::before { left: 0px; top: -1990px; }
#gb23 .gb_3::before { left: 0px; top: -1710px; }
#gb49 .gb_3::before { left: 0px; top: -138px; }
#gb24 .gb_3::before { left: 0px; top: -2059px; }
#gb119 .gb_3::before { left: 0px; top: -938px; }
#gb51 .gb_3::before { left: 0px; top: -693px; }
#gb31 .gb_3::before { left: 0px; top: -1145px; }
#gb6 .gb_3::before { left: 0px; top: -1352px; }
#gb212 .gb_3::before { left: 0px; top: -1589px; }
#gb27 .gb_3::before { left: 0px; top: -1520px; }
#gb25 .gb_3::before { left: 0px; top: -1214px; }
#gb10 .gb_3::before { left: 0px; top: -554px; }
#gb30 .gb_3::before { left: 0px; top: -1007px; }
#gb53 .gb_3::before { left: 0px; top: -69px; }
#gb300 .gb_3::before { left: 0px; top: -2335px; }
