[dir="ltr"], [dir="rtl"] { unicode-bidi: -moz-isolate; }
#logocont { z-index: 1; padding-left: 13px; padding-right: 10px; margin-top: -2px; padding-top: 6px; }
.big #logocont { padding-left: 13px; padding-right: 12px; }
.sbibod { background-color: rgb(255, 255, 255); height: 38px; vertical-align: top; border: 1px solid rgb(217, 217, 217); }
.srp .sbibod { border-right: 0px none; }
#lst-ib { color: rgb(0, 0, 0); }
.gsfi, .lst { font-family: arial,sans-serif; font-style: normal; font-weight: normal; font-size: 16px; font-size-adjust: none; font-stretch: normal; font-feature-settings: normal; font-language-override: normal; font-kerning: auto; font-synthesis: weight style; font-variant: normal; line-height: 26px ! important; height: 26px ! important; }
#gs_st0 { line-height: 38px; padding: 0px 8px; margin-top: -1px; position: static; }
.lsb { background: transparent none repeat scroll 0% 0%; border: 0px none; font-size: 0px; height: 30px; outline: 0px none; width: 100%; }
.sbico { background: transparent url('nav_logo242.png') no-repeat scroll -107px -55px; color: transparent; display: inline-block; height: 24px; width: 24px; margin: 7px auto; }
#sblsbb { text-align: center; border-bottom-left-radius: 0px; border-top-left-radius: 0px; height: 40px; margin: 0px; padding: 0px; width: 40px; min-width: 38px ! important; background-color: rgb(66, 133, 244); background-image: none; border: medium none; }
#sblsbb:hover { background-image: none; border: medium none; background-color: rgb(59, 120, 231); }
#sblsbb:active { background-color: rgb(51, 103, 214); }
#sbds { border: 0px none; margin-left: 0px; }
.hp .nojsb, .srp .jsb { display: none; }
.kpbb, .kprb, .kpgb, .kpgrb { border-radius: 2px; color: rgb(255, 255, 255); }
.kpbb:hover, .kprb:hover, .kpgb:hover, .kpgrb:hover { box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); color: rgb(255, 255, 255); }
.kpbb:active, .kprb:active, .kpgb:active, .kpgrb:active { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset; }
.kpbb { background-color: rgb(77, 144, 254); background-image: -moz-linear-gradient(center top , rgb(77, 144, 254), rgb(71, 135, 237)); border: 1px solid rgb(48, 121, 237); }
.kpbb:hover { background-color: rgb(53, 122, 232); background-image: -moz-linear-gradient(center top , rgb(77, 144, 254), rgb(53, 122, 232)); border: 1px solid rgb(47, 91, 183); }
#sfopt { display: inline-block; float: right; line-height: normal; }
.lsd { font-size: 11px; position: absolute; top: 3px; left: 16px; }
.tsf { background: transparent none repeat scroll 0% 0%; }
.tsf-p { position: relative; }
.logocont { left: 0px; position: absolute; }
.sfibbbc { padding-bottom: 2px; padding-top: 3px; width: 638px; }
.sbtc { position: relative; }
.sbibtd { line-height: 0; max-width: 650px; overflow: visible; white-space: nowrap; }
.sfopt { height: 28px; position: relative; }
#sform { height: 34px; }
#searchform { width: 100%; }
.srp #searchform { position: absolute; top: 15px; }
#sfdiv { max-width: 484px; }
.srp #sfdiv { max-width: 600px; overflow: hidden; }
.srp #tsf { position: relative; top: -8px; }
.sfsbc { display: inline-block; float: right; vertical-align: top; width: 40px; margin-right: 9px; }
.sfbg { background: rgb(241, 241, 241) none repeat scroll 0% 0%; height: 69px; left: 0px; position: absolute; width: 100%; }
.sfbgg { background-color: rgb(241, 241, 241); border-bottom: 1px solid rgb(229, 229, 229); border-color: rgb(229, 229, 229); height: 69px; }
#pocs { background: rgb(255, 241, 168) none repeat scroll 0% 0%; color: rgb(0, 0, 0); font-size: 10pt; margin: 0px; padding: 5px 7px; }
#pocs a { color: rgb(17, 17, 204); }
#pocs > div { margin: 0px; padding: 0px; }
#cnt { padding-top: 15px; }
#subform_ctrl { min-height: 11px; }
.gb_2a { display: none ! important; }
.gbqfb::-moz-focus-inner { border: 0px none; }
.gbqfba::-moz-focus-inner { border: 0px none; }
.gb_mc:not(.gb_nc) .gb_fb, .gb_mc:not(.gb_nc) .gb_eb { left: 3px; }
.gb_mc .gb_pc { font-size: 14px; font-weight: bold; top: 0px; right: 0px; }
.gb_mc .gb_b { display: inline-block; vertical-align: middle; box-sizing: border-box; height: 30px; width: 30px; }
.gb_mc .gb_eb { border-bottom-color: rgb(229, 229, 229); }
.gb_qc { background-color: rgba(0, 0, 0, 0.55); color: rgb(255, 255, 255); font-size: 12px; font-weight: bold; line-height: 20px; margin: 5px; padding: 0px 2px; text-align: center; box-sizing: border-box; border-radius: 50%; height: 20px; width: 20px; }
.gb_qc.gb_rc { background-position: -194px -21px; }
.gb_b:hover .gb_qc, .gb_b:focus .gb_qc { background-color: rgba(0, 0, 0, 0.85); }
.gb_N .gbqfi::before { left: -428px; top: 0px; }
.gb_ea .gb_b { background-position: -132px -38px; opacity: 0.55; }
.gb_ga.gb_ha { min-height: 196px; overflow-y: auto; width: 320px; }
.gb_ja { background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin: 0px; min-height: 100px; padding: 28px 27px 28px 28px; text-align: left; white-space: normal; width: 265px; }
.gb_ka { background: rgb(245, 245, 245) none repeat scroll 0% 0%; cursor: pointer; height: 40px; overflow: hidden; }
.gb_la { position: relative; }
.gb_ka { display: block; line-height: 40px; text-align: center; width: 320px; }
.gb_la { display: block; line-height: 40px; text-align: center; }
.gb_ka, .gb_ka:visited, .gb_ka:active, .gb_la, .gb_la:visited { color: rgb(115, 115, 115); text-decoration: none; }
.gb_la:active { color: rgb(115, 115, 115); }
#gb a.gb_ka, #gb a.gb_ka:visited, #gb a.gb_ka:active, #gb a.gb_la, #gb a.gb_la:visited { color: rgb(115, 115, 115); text-decoration: none; }
#gb a.gb_la:active { color: rgb(115, 115, 115); }
.gb_la, .gb_ja { display: none; }
.gb_ca, .gb_ca + .gb_la, .gb_na .gb_la, .gb_na .gb_ja { display: block; }
.gb_la:hover, .gb_la:active, #gb a.gb_la:hover, #gb a.gb_la:active { text-decoration: underline; }
.gb_la { border-bottom: 1px solid rgb(235, 235, 235); left: 28px; width: 264px; }
.gb_la:last-child { border-bottom-width: 0px; }
.gb_ua .gb_ka { margin-top: 0px; position: static; }
.gb_wa { margin: -12px 28px 28px; position: relative; width: 264px; border-radius: 2px; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.1); }
.gb_5 { background-image: url('p1_a4541be8.png'); background-size: 64px 2065px; display: inline-block; margin: 8px; vertical-align: middle; height: 64px; width: 64px; }
.gb_xa { color: rgb(38, 38, 38); display: inline-block; font: 13px/18px Arial,sans-serif; margin-right: 80px; padding: 10px 10px 10px 0px; vertical-align: middle; white-space: normal; }
.gb_ya { font: 16px/24px Arial,sans-serif; }
.gb_za, #gb#gb .gb_za { color: rgb(66, 127, 237); text-decoration: none; }
.gb_za:hover, #gb#gb .gb_za:hover { text-decoration: underline; }
.gb_Aa .gb_ja { position: relative; }
.gb_Aa .gb_O { position: absolute; top: 28px; left: 28px; }
.gb_3a { background-size: 32px 32px; border-radius: 50%; display: block; margin: -1px; overflow: hidden; position: relative; height: 32px; width: 32px; z-index: 0; }
@media (min-resolution: 1.25dppx), not all, not all, not all {
	.gb_3a::before { display: inline-block; transform: scale(0.5); transform-origin: left 0px 0px; }
	.gb_nb::before { display: inline-block; transform: scale(0.5); transform-origin: left 0px 0px; }
}
.gb_3a:hover, .gb_3a:focus { box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15); }
.gb_3a:active { box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15) inset; }
.gb_3a:active::after { background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%; border-radius: 50%; content: ""; display: block; height: 100%; }
.gb_ab.gb_R, .gb_cb.gb_R, .gb_8a.gb_R { flex: 0 1 auto; }
.gb_gb { outline: medium none; }
.gb_hb, #gb a.gb_hb.gb_hb, .gb_ib a, #gb .gb_ib.gb_ib a { color: rgb(51, 102, 204); text-decoration: none; }
.gb_hb:active, #gb a.gb_hb:active, .gb_hb:hover, #gb a.gb_hb:hover, .gb_ib a:active, #gb .gb_ib a:active, .gb_ib a:hover, #gb .gb_ib a:hover { text-decoration: underline; }
.gb_jb { margin: 20px; }
.gb_kb, .gb_lb { display: inline-block; vertical-align: top; }
.gb_kb { margin-right: 20px; position: relative; }
.gb_mb { border-radius: 50%; overflow: hidden; }
.gb_nb { background-size: 96px 96px; border: medium none; vertical-align: top; height: 96px; width: 96px; }
.gb_ob { background: rgba(78, 144, 254, 0.7) none repeat scroll 0% 0%; bottom: 0px; color: rgb(255, 255, 255); font-size: 9px; font-weight: bold; left: 0px; line-height: 9px; position: absolute; padding: 7px 0px; text-align: center; width: 96px; }
.gb_mb .gb_ob { background: rgba(0, 0, 0, 0.54) none repeat scroll 0% 0%; }
.gb_pb { font-weight: bold; margin: -4px 0px 1px; }
.gb_qb { color: rgb(102, 102, 102); }
.gb_ib { color: rgb(204, 204, 204); margin: 6px 0px; }
.gb_ib a { margin: 0px 10px; }
.gb_ib a:first-child { margin-left: 0px; }
.gb_ib a:last-child { margin-right: 0px; }
.gb_lb .gb_rb { background: rgb(77, 144, 254) none repeat scroll 0% 0%; border-color: rgb(48, 121, 237); font-weight: bold; margin: 10px 0px 0px; color: rgb(255, 255, 255); }
.gb_lb .gb_rb:hover { background: rgb(53, 122, 232) none repeat scroll 0% 0%; border-color: rgb(47, 91, 183); }
.gb_sb { background: rgb(245, 245, 245) none repeat scroll 0% 0%; border-top: 1px solid rgba(0, 0, 0, 0.2); border-color: rgba(0, 0, 0, 0.2); padding: 10px 0px; width: 100%; display: table; }
.gb_sb .gb_rb { margin: 0px 20px; }
.gb_sb > div { display: table-cell; text-align: right; }
.gb_sb > div:first-child { text-align: left; }
.gb_wb { background: rgb(245, 245, 245) none repeat scroll 0% 0%; border-top: 1px solid rgba(0, 0, 0, 0.2); max-height: 230px; overflow: auto; }
.gb_xb { border-top: 1px solid rgba(0, 0, 0, 0.2); display: block; padding: 10px 20px; }
.gb_xb:hover { background: rgb(238, 238, 238) none repeat scroll 0% 0%; }
.gb_xb:first-child, .gb_Ab:first-child + .gb_xb { border-top: 0px none; }
.gb_Ab { display: none; }
.gb_Cb { border: medium none; vertical-align: top; height: 48px; width: 48px; }
.gb_zb { display: inline-block; margin: 6px 0px 0px 10px; }
.gb_Db { color: rgb(0, 0, 0); }
.gb_Eb { color: rgb(102, 102, 102); }
.gb_Fb { background: rgb(245, 245, 245) none repeat scroll 0% 0%; border-top: 1px solid rgba(0, 0, 0, 0.2); display: block; padding: 10px 20px; }
.gb_Hb { background-position: -244px 0px; display: inline-block; margin: 1px 0px; vertical-align: middle; height: 25px; width: 25px; }
.gb_N .gb_Hb::before { left: -244px; top: 0px; }
.gb_Ib { color: rgb(66, 127, 237); display: inline-block; padding: 0px 25px 0px 10px; vertical-align: middle; white-space: normal; }
.gb_Fb:hover .gb_Ib { text-decoration: underline; }
#gb#gb a.gb_O { color: rgb(64, 64, 64); text-decoration: none; }
#gb#gb a.gb_P, #gb#gb span.gb_P { text-decoration: none; }
#gb#gb a.gb_P, #gb#gb span.gb_P { color: rgb(0, 0, 0); }
.gb_P { opacity: 0.75; }
.gb_Q.gb_R { display: none; padding-left: 15px; vertical-align: middle; }
.gb_Q.gb_R:first-child { padding-left: 0px; }
.gb_S.gb_R { display: inline-block; }
.gb_Q span { opacity: 0.55; -moz-user-select: text; }
.gb_T .gb_S.gb_R { flex: 0 1 auto; display: flex; }
.gb_Q .gb_P { display: inline-block; line-height: 24px; outline: medium none; vertical-align: middle; }
.gb_S .gb_P { display: none; }
.gb_Ec { display: inline-block; padding: 0px 0px 0px 15px; vertical-align: middle; }
.gb_Ec:first-child, #gbsfw:first-child + .gb_Ec { padding-left: 0px; }
.gb_pc { position: relative; }
.gb_b { display: inline-block; outline: medium none; vertical-align: middle; border-radius: 2px; box-sizing: border-box; height: 30px; width: 30px; color: rgb(0, 0, 0); cursor: default; text-decoration: none; }
#gb#gb a.gb_b { color: rgb(0, 0, 0); cursor: default; text-decoration: none; }
.gb_eb { border-color: transparent transparent rgb(255, 255, 255); border-style: dashed dashed solid; border-width: 0px 8.5px 8.5px; display: none; position: absolute; left: 6.5px; top: 37px; z-index: 1; height: 0px; width: 0px; animation: 0.2s ease 0s normal none 1 running gb__a; }
.gb_fb { border-color: transparent transparent rgba(0, 0, 0, 0.2); border-style: dashed dashed solid; border-width: 0px 8.5px 8.5px; display: none; position: absolute; left: 6.5px; z-index: 1; height: 0px; width: 0px; animation: 0.2s ease 0s normal none 1 running gb__a; top: 36px; }
.gb_ga { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgba(0, 0, 0, 0.2); color: rgb(0, 0, 0); box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); display: none; outline: medium none; overflow: hidden; position: absolute; right: 0px; top: 44px; animation: 0.2s ease 0s normal none 1 running gb__a; border-radius: 2px; -moz-user-select: text; }
#gbsfw { min-width: 400px; overflow: visible; }
.gb_Jb, #gbsfw.gb_g { display: block; outline: medium none; }
.gb_Ca, .gb_Da, .gb_Fa, .gb_Ha { display: inline-block; line-height: 28px; padding: 0px 12px; border-radius: 2px; }
.gb_Fa { background: rgb(248, 248, 248) none repeat scroll 0% 0%; border: 1px solid rgb(198, 198, 198); }
.gb_Fa, #gb a.gb_Fa.gb_Fa, .gb_Ha { color: rgb(102, 102, 102); cursor: default; text-decoration: none; }
.gb_re::before { background: rgb(229, 229, 229) none repeat scroll 0% 0%; bottom: 0px; content: ""; display: none; height: 1px; left: 0px; position: absolute; right: 0px; }
.gb_qf .gb_re::before, .gb_5a .gb_re::before { display: none; }
.gb_fa .gb_re::before { background: rgba(0, 0, 0, 0.12) none repeat scroll 0% 0%; }
.gb_X .gb_re::before { background: rgba(255, 255, 255, 0.2) none repeat scroll 0% 0%; }
.gb_R { display: inline-block; flex: 0 0 auto; }
.gb_R.gb_rf { float: right; order: 1; }
.gb_sf { white-space: nowrap; }
.gb_T .gb_sf { display: flex; }
.gb_sf, .gb_R { margin-left: 0px ! important; margin-right: 0px ! important; }
.gb_Rb { background-image: url('i1_1967ca6a.png'); background-size: 528px 68px; }
@media (min-resolution: 1.25dppx), not all, not all {
	.gb_Rb { background-image: url('i2_2ec824b0.png'); }
}
.gb_db { min-width: 255px; padding-left: 30px; padding-right: 30px; position: relative; text-align: right; z-index: 986; align-items: center; justify-content: flex-end; -moz-user-select: none; }
.gb_db.gb_R { flex: 1 1 auto; }
.gb_ec { line-height: normal; position: relative; text-align: left; }
.gb_ec.gb_R, .gb_df.gb_R, .gb_6a.gb_R { flex: 0 1 auto; }
.gb_df { line-height: normal; padding-right: 15px; }
.gb_9a:not(.gb_bb) .gb_jf, .gb_V .gb_if { display: inline-block; }
.gb_9a:not(.gb_bb) .gb_kf { display: none; }
.gb_db.gb_R.gb_V, .gb_V:not(.gb_bb) .gb_ec { flex: 0 0 auto; }
.gb_db.gb_lf, .gb_db.gb_lf .gb_if, .gb_db.gb_lf .gb_if::before, .gb_db.gb_lf .gb_df, .gb_db.gb_lf .gb_ec { transition: width 0.5s ease-in-out 0s, min-width 0.5s ease-in-out 0s, max-width 0.5s ease-in-out 0s, padding 0.5s ease-in-out 0s, left 0.5s ease-in-out 0s; }
.gb_T .gb_db { min-width: 0px; }
.gb_vf .gb_re::before { display: none; }
.gbii::before { content: url('photo.jpg'); }
.gbip::before { content: url('photo_001.jpg'); }
@media (min-resolution: 1.25dppx), not all, not all, not all {
	.gbii::before { content: url('photo_002.jpg'); }
	.gbip::before { content: url('photo_003.jpg'); }
}
.gbii { background-image: url('photo.jpg'); }
.gbip { background-image: url('photo_001.jpg'); }
@media (min-resolution: 1.25dppx), not all, not all, not all {
	.gbii { background-image: url('photo_002.jpg'); }
	.gbip { background-image: url('photo_003.jpg'); }
}
body { color: rgb(0, 0, 0); margin: 0px; overflow-y: scroll; }
body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.ts { border-collapse: collapse; }
.g { line-height: 1.2; text-align: left; }
#rhs_block { padding-bottom: 15px; }
a:link, .w, #prs a:visited, #prs a:active, .q:active, .q:visited, .kl:active, .tbotu { color: rgb(26, 13, 171); }
.mblink:visited, a:visited { color: rgb(102, 0, 153); }
.cur, .b { font-weight: bold; }
.hd { position: absolute; width: 1px; height: 1px; top: -1000em; overflow: hidden; }
.f, .f a:link, .m { color: rgb(102, 102, 102); }
h1, ol, ul, li { margin: 0px; padding: 0px; }
.g, body, html, input, .std, h1 { font-size: small; font-family: arial,sans-serif; }
#nav a { display: block; }
.csb, .ss, .micon, .close_btn, .mbi { background: transparent url('nav_logo242.png') no-repeat scroll 0% 0%; overflow: hidden; }
.csb, .ss { background-position: 0px 0px; height: 40px; display: block; }
#nav td { padding: 0px; text-align: center; }
.ch { cursor: pointer; }
h3, .med { font-size: medium; font-weight: normal; margin: 0px; padding: 0px; }
#cnt { clear: both; }
#res { padding-right: 1em; margin: 0px 16px; }
ol li { list-style: outside none none; }
.gl, #foot a, .nobr { white-space: nowrap; }
#foot #navcnt a { color: rgb(66, 133, 244); font-weight: normal; }
#foot #navcnt .cur { color: rgba(0, 0, 0, 0.87); font-weight: normal; }
.sl, .r { display: inline; font-weight: normal; margin: 0px; }
.r { font-size: medium; }
.nwd { font-size: 10px; padding: 0px 16px 30px; text-align: center; }
#rhs { display: block; margin-left: 712px; padding-bottom: 10px; min-width: 268px; }
.big #rhs { margin-left: 792px; }
body .big #subform_ctrl { margin-left: 229px; }
#res h3.r { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
em { font-weight: bold; font-style: normal; }
ol, ul, li { border: 0px none; margin: 0px; padding: 0px; }
.g { margin-top: 0px; margin-bottom: 23px; }
#cnt { min-width: 833px; margin-left: 0px; }
.mw { max-width: 1197px; }
.big .mw { max-width: 1250px; }
#cnt #center_col, #cnt #foot { width: 616px; }
.col { float: left; }
#leftnavc, #center_col, #rhs { position: relative; }
#center_col { margin-left: 138px; margin-right: 254px; padding: 0px 8px; }
.big #center_col { margin-left: 138px; padding: 0px 8px; }
#subform_ctrl { font-size: 11px; margin-right: 480px; position: relative; z-index: 99; }
#center_col { clear: both; }
#res { border: 0px none; margin: 0px; padding: 0px 8px; }
#ires { padding-top: 6px; }
#cdr_opt { padding-left: 8px; text-indent: 0px; }
#cdr_opt label { display: block; font-weight: normal; margin-right: 2px; white-space: nowrap; }
a:link, .w, .q:active, .q:visited { cursor: pointer; }
.osl a, .gl a, #tsf a, a.mblink, a.gl, a.fl, .slk a, .bc a, .flt, a.flt u, .blg a, #appbar a { text-decoration: none; }
.osl a:hover, .gl a:hover, #tsf a:hover, a.mblink:hover, a.gl:hover, a.fl:hover, .slk a:hover, .bc a:hover, .flt:hover, a.flt:hover u, .tbotu:hover, .blg a:hover { text-decoration: underline; }
#foot { visibility: hidden; }
#gsr a:active, a.fl:active, .fl a:active, .gl a:active { color: rgb(221, 75, 57); }
body { color: rgb(34, 34, 34); }
.big #tsf {  }
.st { line-height: 1.24; word-wrap: break-word; }
.cpbb, .kpbb, .kprb, .kpgb, .kpgrb, .ksb { border-radius: 2px; cursor: default; font-family: arial,sans-serif; font-size: 11px; font-weight: bold; height: 27px; line-height: 27px; margin: 2px 0px; min-width: 54px; padding: 0px 8px; text-align: center; transition: all 0.218s ease 0s, visibility 0s ease 0s; -moz-user-select: none; }
.ab_button { border-radius: 2px; cursor: default; font-family: arial,sans-serif; font-size: 11px; font-weight: bold; height: 27px; line-height: 27px; margin: 2px 0px; min-width: 54px; padding: 0px 8px; text-align: center; transition: all 0.218s ease 0s, visibility 0s ease 0s; -moz-user-select: none; }
.ab_button.left { border-radius: 2px 0px 0px 2px; border-right-color: transparent; margin-right: 0px; }
.ab_button.right { border-radius: 0px 2px 2px 0px; margin-left: -1px; }
.kbtn-small { min-width: 26px; width: 26px; }
.ksb { background-color: rgb(245, 245, 245); background-image: -moz-linear-gradient(center top , rgb(245, 245, 245), rgb(241, 241, 241)); border: 1px solid rgba(0, 0, 0, 0.1); color: rgb(68, 68, 68); }
.ab_button { background-color: rgb(245, 245, 245); background-image: -moz-linear-gradient(center top , rgb(245, 245, 245), rgb(241, 241, 241)); border: 1px solid rgba(0, 0, 0, 0.1); color: rgb(68, 68, 68); }
a.ab_button { color: rgb(68, 68, 68); text-decoration: none; cursor: default; }
.cpbb:hover, .kpbb:hover, .kprb:hover, .kpgb:hover, .kpgrb:hover, .ksb:hover { box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); transition: all 0s ease 0s; }
.ab_button:hover { box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); transition: all 0s ease 0s; }
#hdtb-tls:hover { box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); transition: all 0s ease 0s; }
.ksb:hover { background-color: rgb(248, 248, 248); background-image: -moz-linear-gradient(center top , rgb(248, 248, 248), rgb(241, 241, 241)); border: 1px solid rgb(198, 198, 198); color: rgb(34, 34, 34); }
.ab_button:hover { background-color: rgb(248, 248, 248); background-image: -moz-linear-gradient(center top , rgb(248, 248, 248), rgb(241, 241, 241)); border: 1px solid rgb(198, 198, 198); color: rgb(34, 34, 34); }
#hdtb-tls:hover { background-color: rgb(248, 248, 248); background-image: -moz-linear-gradient(center top , rgb(248, 248, 248), rgb(241, 241, 241)); border: 1px solid rgb(198, 198, 198); color: rgb(34, 34, 34); }
.ksb:active { background-color: rgb(246, 246, 246); background-image: -moz-linear-gradient(center top , rgb(246, 246, 246), rgb(241, 241, 241)); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset; }
.ab_button:active { background-color: rgb(246, 246, 246); background-image: -moz-linear-gradient(center top , rgb(246, 246, 246), rgb(241, 241, 241)); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset; }
#hdtb-tls:active { background-color: rgb(246, 246, 246); background-image: -moz-linear-gradient(center top , rgb(246, 246, 246), rgb(241, 241, 241)); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset; }
.ab_button.selected, .ab_button.selected:hover { background-color: rgb(238, 238, 238); background-image: -moz-linear-gradient(center top , rgb(238, 238, 238), rgb(224, 224, 224)); border: 1px solid rgb(204, 204, 204); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset; color: rgb(34, 34, 34); margin: 0px; }
.ksb.mini { box-sizing: content-box; height: 17px; line-height: 17px; min-width: 0px; }
.ktf { background-color: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(192, 192, 192) rgb(217, 217, 217) rgb(217, 217, 217); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; box-sizing: content-box; color: rgb(51, 51, 51); display: inline-block; height: 29px; line-height: 27px; padding-left: 8px; vertical-align: top; }
.ktf:hover { border-width: 1px; border-style: solid; border-color: rgb(160, 160, 160) rgb(185, 185, 185) rgb(185, 185, 185); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset; }
.ktf:focus { border: 1px solid rgb(77, 144, 254); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset; outline: medium none; }
.ktf.mini { font-size: 11px; height: 17px; line-height: 17px; padding: 0px 2px; }
#sbfrm_l { visibility: inherit ! important; }
#rcnt { margin-top: 3px; }
#appbar, #rhscol { min-width: 980px; }
#top_nav { min-width: 980px; }
#appbar { background: white none repeat scroll 0% 0%; width: 100%; }
#main { width: 100%; }
#ab_ctls { float: right; position: relative; right: 28px; z-index: 3; }
.ab_ctl { display: inline-block; position: relative; margin-left: 16px; margin-top: 1px; vertical-align: middle; }
#hdtbSum .ab_ctl { line-height: normal; }
a.ab_button, a.ab_button:visited { display: inline-block; color: rgb(68, 68, 68); margin: 0px; }
a.ab_button:hover { color: rgb(34, 34, 34); }
#appbar a.ab_button:active, a.ab_button.selected, a.ab_button.selected:hover { color: rgb(51, 51, 51); }
.ab_button:focus { border: 1px solid rgb(77, 144, 254); outline: medium none; }
.ab_button.selected:focus { border-color: rgb(204, 204, 204); }
.ab_icon { background: transparent url('nav_logo242.png') no-repeat scroll 0% 0%; display: inline-block; opacity: 0.667; vertical-align: middle; }
.ab_button:hover > span.ab_icon { opacity: 0.9; }
#ab_opt_icon { background-position: -42px -259px; margin-top: -2px; width: 17px; height: 17px; }
.ab_dropdown { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgba(0, 0, 0, 0.2); font-size: 13px; padding: 6px 0px; position: absolute; right: 0px; top: 28px; white-space: nowrap; z-index: 3; transition: opacity 0.218s ease 0s; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); }
.ab_dropdown:focus, .ab_dropdownitem:focus, .ab_dropdownitem a:focus { outline: medium none; }
.ab_dropdownitem { margin: 0px; padding: 0px; -moz-user-select: none; }
.ab_dropdownlnk, .ab_dropdownlnkinfo { display: block; padding: 8px 20px 8px 16px; }
a.ab_dropdownlnk, a.ab_dropdownlnk:visited, a.ab_dropdownlnk:hover, #appbar a.ab_dropdownlnk:active { color: rgb(51, 51, 51); }
#top_nav { -moz-user-select: none; }
.ksb.mini { margin-top: 0px; }
.ab_tnav_wrp { height: 35px; }
#hdtb-msb > .hdtb-mitem:first-child, .ab_tnav_wrp, #cnt #center_col, .mw #center_col { margin-left: 120px; }
.mw #rhs { margin-left: 790px; }
.th { border: 1px solid rgb(235, 235, 235); }
#resultStats { line-height: 35px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
#resultStats { padding: 0px 8px 0px 16px; }
#subform_ctrl { margin-left: 149px; }
.big #subform_ctrl { padding-right: 2px; margin-left: 229px; }
body.vasq #hdtbSum { height: 59px; line-height: 54px; }
body.vasq #hdtb-msb .hdtb-mitem.hdtb-msel, body.vasq #hdtb-msb .hdtb-mitem.hdtb-msel-pre { height: 54px; }
body.vasq .ab_tnav_wrp { height: 43px; }
body.vasq #resultStats { line-height: 43px; }
body.vasq .hdtb-mn-o, body.vasq .hdtb-mn-c { top: 50px; }
.big .tsf-p { padding-left: 126px; padding-right: 352px; }
#tsf { width: 833px; }
.big #tsf, .hp .big #tsf { width: 1139px; }
.tsf-p { padding-left: 126px; padding-right: 46px; }
.gsst_b { font-size: 16px; padding: 0px 2px; position: relative; -moz-user-select: none; white-space: nowrap; }
.sbib_a { background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-sizing: border-box; }
.sbib_b { box-sizing: border-box; height: 100%; overflow: hidden; padding: 5px 9px 0px; }
.sbib_c[dir="ltr"] { float: right; }
.sbib_d { box-sizing: border-box; height: 100%; unicode-bidi: embed; white-space: nowrap; }
.sbib_d[dir="ltr"] { float: left; }
.sbib_a, .sbib_c { vertical-align: top; }
.sbdd_a { z-index: 989; }
.sbdd_b { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-width: 1px; border-style: solid; border-color: rgb(217, 217, 217) rgb(204, 204, 204) rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); cursor: default; }
.vasq .sbdd_a { z-index: 1001; }
.flt, .flt u, a.fl { text-decoration: none; }
.flt:hover, .flt:hover u, a.fl:hover { text-decoration: underline; }
.kv, .slp { display: block; margin-bottom: 1px; }
.f, .f a:link {  }
a.fl:link, .fl a, .flt, a.flt, .gl a:link, a.mblink, .mblink b { color: rgb(26, 13, 171); }
#resultStats { color: rgb(153, 153, 153); }
#lb { z-index: 1001; position: absolute; top: -1000px; }
#hdtb { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(102, 102, 102); font-size: small; outline: medium none; position: relative; z-index: 102; }
.hdtb-mitem a, #hdtb-more-mn a { padding: 0px 16px; color: rgb(119, 119, 119); text-decoration: none; display: block; }
.hdtb-mitem a { margin: 0px 8px; padding: 0px 8px; }
.hdtbItm label:hover, .hdtbItm a:hover, #hdtb-more-mn a:hover, #hdtb .hdtb-mitem a:hover, .hdtb-mn-hd:hover, #hdtb-more:hover, #hdtb-tls:hover { color: rgb(34, 34, 34); }
#hdtb.notl a, #hdtb.notl div, #hdtb.notl li { outline: medium none; }
#hdtb .hdtb-mitem a:active, #hdtb-more:active, .hdtb-mn-hd:active { color: rgb(66, 133, 244); }
#hdtb-more-mn a:hover, .hdtbItm.hdtbSel:hover, .hdtbItm a:hover, #cdrlnk:hover { background-color: rgb(241, 241, 241); }
.hdtbItm.hdtbSel, #hdtb .hdtbItm a, #hdtb-more-mn a, #cdrlnk { color: rgb(119, 119, 119); text-decoration: none; padding: 6px 44px 6px 30px; line-height: 17px; display: block; }
.hdtb-mitem a { display: inline-block; }
#hdtb-more-mn a { display: block; padding: 6px 16px; margin: 0px; }
#hdtb-more-mn { min-width: 120px; }
#hdtbMenus { background-color: rgb(255, 255, 255); padding-bottom: 10px; padding-top: 11px; top: 0px; width: 100%; height: 22px; position: absolute; transition: top 220ms ease-in-out 0s; }
.hdtb-td-h { display: none; }
#hdtbMenus.hdtb-td-c { overflow: hidden; border-top: 0px none; display: none; }
#hdtbSum { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(235, 235, 235); height: 40px; line-height: 35px; padding: 0px; position: relative; z-index: 102; }
.hdtb-mn-o, .hdtb-mn-c { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(214, 214, 214); box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16); color: rgb(51, 51, 51); position: absolute; z-index: 103; line-height: 17px; padding-top: 5px; padding-bottom: 5px; top: 36px; }
.hdtb-mn-c { display: none; }
#hdtb-msb { display: inline-block; float: left; position: relative; white-space: nowrap; }
#hdtb-msb .hdtb-mitem { display: inline-block; }
#hdtb-more-mn .hdtb-mitem { display: block; }
#hdtb-msb .hdtb-mitem.hdtb-imb:first-child { margin-left: 120px; }
#hdtb-msb .hdtb-mitem.hdtb-msel:first-child, #hdtb-msb .hdtb-mitem.hdtb-msel-pre:first-child { margin-left: 128px; }
#hdtb-msb .hdtb-mitem.hdtb-msel, #hdtb-msb .hdtb-mitem.hdtb-msel-pre { border-bottom: 3px solid rgb(66, 133, 244); color: rgb(66, 133, 244); font-weight: bold; height: 35px; margin: 2px 8px 0px; padding: 0px 8px; }
#hdtb-msb .hdtb-mitem.hdtb-msel:hover { cursor: pointer; }
#hdtb-msb .hdtb-mitem.hdtb-msel:active { background: transparent none repeat scroll 0% 0%; }
#hdtb .hdtb-mitem a { color: rgb(119, 119, 119); }
#hdtb-msb #hdtb-more, #hdtb-msb #hdtb-tls { color: rgb(119, 119, 119); }
#hdtb-tls { text-decoration: none; }
#hdtb-more { display: inline-block; padding: 0px 16px; position: relative; }
#hdtb-more:hover { cursor: pointer; }
.mn-hd-txt { display: inline-block; padding-right: 6px; white-space: nowrap; }
.mn-dwn-arw { border-color: rgb(144, 144, 144) transparent; border-style: solid; border-width: 4px 4px 0px; width: 0px; height: 0px; margin-left: -2px; top: 50%; margin-top: -2px; position: absolute; }
.hdtb-mn-hd:hover .mn-dwn-arw, #hdtb-more:hover .mn-dwn-arw { border-color: rgb(34, 34, 34) transparent; }
.hdtb-mn-hd:active .mn-dwn-arw, #hdtb-more:active .mn-dwn-arw { border-color: rgb(66, 133, 244) transparent; }
.hdtb-tl { border: 1px solid transparent; display: inline-block; min-width: 54px; text-align: center; border-radius: 2px; padding: 4px 8px; line-height: 19px; margin-left: 9px; cursor: pointer; margin-right: 24px; }
#hdtb #hdtb-tls:active { color: rgb(0, 0, 0); }
.action-menu, .action-menu-button, .action-menu-item, .action-menu-panel, .action-menu-toggled-item, .selected {  }
body, .g, html, .std, .c h2, h1, #cdr_min, #cdr_max, .cpbb, .kpbb, .kprb, .kpgb, .kpgrb, .ksb { font-family: arial,sans-serif; }
.vk_ard::after, .vk_ard::before, .vk_aru::after, .vk_aru::before { content: " "; height: 0px; left: 0px; position: absolute; width: 0px; }
.vk_ard::after, .vk_ard::before, .vk_aru::after, .vk_aru::before { border-left: 32px solid rgba(229, 229, 229, 0); border-right: 32px solid rgba(229, 229, 229, 0); }
.vk_ard::before { border-top: 16px solid rgb(229, 229, 229); top: 6px; }
.vk_aru::before { border-bottom: 16px solid rgb(229, 229, 229); bottom: 6px; }
.vk_ard::after { top: 0px; }
.vk_ard::after { border-top: 16px solid rgb(255, 255, 255); }
.vk_aru::after { bottom: 0px; }
.vk_aru::after { border-bottom: 16px solid rgb(255, 255, 255); }
.vk_bk.vk_ard::before { border-top-color: rgb(33, 33, 33); }
.vk_bk.vk_aru::before { border-bottom-color: rgb(33, 33, 33); }
#gb { font-size: 13px; }
div#searchform { min-width: 980px; z-index: 103; }
div.sfbg, div.sfbgg { height: 59px; }
.big form#tsf, form#tsf { width: auto; max-width: 784px; overflow: hidden; }
#searchform.big > #tsf { max-width: 784px; }
.big div.tsf-p, form > div.tsf-p { margin: -1px 0px 0px; padding-right: 0px; }
#ab_ctls a { text-decoration: none; }
#ab_ctls a.ab_button:active, #ab_ctls a.ab_dropdownlnk:active { color: rgb(51, 51, 51); }
._n0b { background: transparent url('nav_logo242.png') no-repeat scroll 0% 0%; bottom: 1px; display: inline-block; position: relative; vertical-align: middle; }
._o0b { background-position: 0px -328px; height: 14px; width: 14px; }
._p0b { background-position: -30px -328px; height: 14px; width: 14px; }
.selected ._o0b { background-position: -15px -328px; }
#resultStats { position: absolute; top: 0px; transition: all 220ms ease-in-out 0s; }
#er { position: absolute; }
#er-ht { color: rgb(221, 221, 221); font-size: 64px; }
#er-hswb { margin: 15px 0px 0px 5px; }
#er { margin-left: 132px; margin-top: -30px; }
.spell { font-size: 16px; }
.spell_orig { font-size: 13px; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
#top_nav a:hover { text-decoration: none; }
._V6c { display: inline-block; width: 100%; }
._U6c { white-space: normal; }
._cnc { color: rgb(68, 68, 68); font-size: 13px; padding-bottom: 4px; }
._vQb {  }
._XO._anc .st, ._XO._Zmc .st {  }
._HId { color: rgb(26, 13, 171); font-size: 15px; }
._vQb { float: left; margin: 3px 8px 0px 0px; }
._vQb:hover { text-decoration: none; }
._mnc { width: 100px; }
._lub { margin: 0px; border: 0px none; }
._mnc ._lub { height: 100px; width: 100px; }
._XO._d7c._knc ._vQb {  }
._Xmc, ._hnc { display: inline-block; }
._Vmc { margin-bottom: 2px; }
._sQb { color: rgb(26, 13, 171); font-size: 13px; }
._Wmc { font-size: 13px; color: rgb(102, 102, 102); font-weight: bold; }
._GId { font-size: 13px; font-weight: normal; }
._tQb { font-size: 13px; color: rgb(102, 102, 102); }
._IId { color: rgb(0, 102, 33); }
._uQb { color: rgb(102, 102, 102); display: inline-block; font-size: 13px; }
._v5 { color: rgb(102, 102, 102); padding: 0px 4px; }
td a:hover .csb + span { text-decoration: underline ! important; }
._S6c { color: rgb(26, 13, 171); font-size: 13px; font-weight: bold; margin: 6px 0px 4px; }
._T6c { color: rgb(26, 13, 171); font-weight: bold; }
._vOc { display: inline-block; margin-top: 5px; width: 80%; }
._uOc { font-style: italic; }
#_x9b { float: right; margin-bottom: 12px; }
a#_x9b:hover { text-decoration: none ! important; }
#foot { visibility: inherit; }
.fbar a, #fsettl { text-decoration: none; white-space: nowrap; }
.fbar { margin-left: -27px; }
._Gs { padding-left: 27px; margin: 0px ! important; }
#fbarcnt { display: block; }
#fsl { white-space: nowrap; }
._nW { margin-left: 135px; }
#fbar { background: rgb(242, 242, 242) none repeat scroll 0% 0%; border-top: 1px solid rgb(228, 228, 228); line-height: 40px; min-width: 980px; }
.fbar p, .fbar a, #fsettl, #fsett a { color: rgb(119, 119, 119); }
.fbar a:hover, #fsett a:hover { color: rgb(51, 51, 51); }
.fbar { font-size: small; }
.hdtbU { top: -500px; white-space: nowrap; }
.hdtbU .hdtbItm, .hdtbU li { list-style: outside none none; }
#hdtb form { display: inline; }
.hdtbSel, .hdtbSel span.q { color: rgb(0, 0, 0); cursor: default; padding-right: 15px; text-decoration: none; }
#cdr_opt { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 0px ! important; }
.cdr_sep { border-top: 1px solid rgb(235, 235, 235); height: 0px; margin: 5px 0px; width: 100%; }
#cdrlnk { cursor: pointer; }
.hdtbItm { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.hdtbSel, .hdtbSel #cdrlnk { background-image: url('checkmark2.png'); background-position: left center; background-repeat: no-repeat; }
.hdtb-mn-cont { height: 22px; white-space: nowrap; }
.hdtb-mn-hd { color: rgb(119, 119, 119); display: inline-block; position: relative; padding: 0px 22px 0px 16px; line-height: 22px; cursor: pointer; }
#hdtb-mn-gp { display: inline-block; width: 120px; }
.gb_2a { display: none ! important; }
.gbqfb::-moz-focus-inner { border: 0px none; }
.gbqfba::-moz-focus-inner { border: 0px none; }
.gb_mc:not(.gb_nc) .gb_fb, .gb_mc:not(.gb_nc) .gb_eb { left: 3px; }
.gb_mc .gb_pc { font-size: 14px; font-weight: bold; top: 0px; right: 0px; }
.gb_mc .gb_b { display: inline-block; vertical-align: middle; box-sizing: border-box; height: 30px; width: 30px; }
.gb_mc .gb_eb { border-bottom-color: rgb(229, 229, 229); }
.gb_qc { background-color: rgba(0, 0, 0, 0.55); color: rgb(255, 255, 255); font-size: 12px; font-weight: bold; line-height: 20px; margin: 5px; padding: 0px 2px; text-align: center; box-sizing: border-box; border-radius: 50%; height: 20px; width: 20px; }
.gb_qc.gb_rc { background-position: -194px -21px; }
.gb_b:hover .gb_qc, .gb_b:focus .gb_qc { background-color: rgba(0, 0, 0, 0.85); }
.gb_N .gbqfi::before { left: -428px; top: 0px; }
.gb_N .gb_ea .gb_b::before, .gb_N.gb_fa .gb_ea .gb_b::before { left: -132px; top: -38px; }
.gb_N.gb_X .gb_ea .gb_b::before { left: -463px; top: -35px; }
.gb_ea .gb_b:hover, .gb_ea .gb_b:focus { opacity: 0.85; }
@media (min-resolution: 1.25dppx), not all, not all {
}
.gb_N .gb_Pb .gb_Rb::before { left: 0px; top: -35px; }
.gb_N.gb_X .gb_Pb .gb_Rb::before { left: -296px; top: 0px; }
.gb_N.gb_fa .gb_Pb .gb_Rb::before { left: -97px; top: 0px; }
.gb_N .gb_gc::before { left: -314px; top: -38px; }
.gb_N .gb_hc .gb_gc::before { left: -463px; top: 0px; }
.gb_N.gb_fa .gb_b .gb_gc::before { left: 0px; top: 0px; }
.gb_N.gb_fa .gb_hc .gb_gc::before { left: -279px; top: -38px; }
.gb_N.gb_X .gb_b .gb_gc::before { left: -349px; top: -38px; }
.gb_N.gb_X .gb_hc .gb_gc::before { left: -393px; top: 0px; }
.gb_N .gb_qc.gb_rc::before, .gb_yb.gb_N.gb_X .gb_qc.gb_rc::before { left: -194px; top: -21px; }
.gb_N .gb_qc.gb_sc::before, .gb_yb.gb_N.gb_X .gb_qc.gb_sc::before { left: -194px; top: -46px; }
.gb_N.gb_X .gb_qc.gb_rc::before, .gb_yb.gb_N.gb_fa .gb_qc.gb_rc::before { left: -70px; top: 0px; }
.gb_N.gb_X .gb_qc.gb_sc::before, .gb_yb.gb_N.gb_fa .gb_qc.gb_sc::before { left: -219px; top: 0px; }
.gb_yc .gb_rb::before { content: ""; height: 6px; left: 0px; position: absolute; top: -6px; width: 100%; }
.gb_yc .gb_rb::after { bottom: -6px; content: ""; height: 6px; left: 0px; position: absolute; width: 100%; }
.gb_N .gb_oe .gb_b::before { left: -498px; top: -35px; }
.gb_N.gb_fa .gb_oe .gb_b::before { left: -498px; top: 0px; }
.gb_N.gb_X .gb_oe .gb_b::before { left: -428px; top: -35px; }
.gb_N .gb_if::before { clip: rect(25px, 235px, 41px, 219px); left: -197px; top: -3px; }
.gb_N .gb_jf::before { clip: rect(0px, 210px, 16px, 194px); left: -164px; top: 22px; }
.gb_N .gb_9a .gb_if::before { left: -189px; }
@media (min-resolution: 1.25dppx), not all, not all {
	.gb_N .gb_if::before { clip: rect(50px, 470px, 82px, 438px); }
	.gb_N .gb_jf::before { clip: rect(0px, 420px, 32px, 388px); }
}
.gb_N .gb_Rb::before { content: url('i1_1967ca6a.png'); position: absolute; }
@media (min-resolution: 1.25dppx), not all, not all {
	.gb_N .gb_Rb::before { content: url('i2_2ec824b0.png'); transform: scale(0.5); transform-origin: 0px 0px 0px; }
}
