html, body, form, table, div, h1, h2, h3, h4, h5, h6, img, ol, ul, li, button { margin: 0px; padding: 0px; border: 0px none; }
table { border-collapse: collapse; border-width: 0px; empty-cells: show; }
#gs_top { position: relative; min-width: 964px; }
#gs_top > :not(#x) {  }
body, td, input { font-size: 13px; font-family: Arial,sans-serif; line-height: 1.24; }
body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(34, 34, 34); -moz-text-size-adjust: none; }
.gs_gray { color: rgb(119, 119, 119); }
a:link { color: rgb(26, 13, 171); text-decoration: none; }
a:visited { color: rgb(102, 0, 153); text-decoration: none; }
a:hover, a:active, a:hover .gs_lbl, a:active .gs_lbl, a .gs_lbl:active { text-decoration: underline; outline: medium none; }
a:active, a:active .gs_lbl, a .gs_lbl:active { color: rgb(209, 72, 54); }
.gs_a, .gs_a a:link, .gs_a a:visited { color: rgb(0, 102, 33); }
a.gs_fl:link, .gs_fl a:link { color: rgb(26, 13, 171); }
a.gs_fl:visited, .gs_fl a:visited { color: rgb(102, 0, 153); }
a.gs_fl:active, .gs_fl a:active { color: rgb(209, 72, 54); }
.gs_fl { color: rgb(119, 119, 119); }
.gs_ctc, .gs_ctu { vertical-align: middle; font-size: 11px; font-weight: bold; }
.gs_ctc { color: rgb(26, 13, 171); }
.gs_ctg, .gs_ctg2 { font-size: 13px; font-weight: bold; }
.gs_alrt { background: rgb(249, 237, 190) none repeat scroll 0% 0%; border: 1px solid rgb(240, 195, 109); padding: 0px 16px; text-align: center; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); border-radius: 2px; }
.gs_scl::after { content: ""; display: table; clear: both; }
.gs_ind { padding-left: 8px; text-indent: -8px; }
.gs_ico, .gs_icm { display: inline-block; background: transparent url('sprite_20160809.png') no-repeat scroll 0% 0% / 169px auto; width: 21px; height: 21px; }
@media not all, (min-resolution: 144dpi) {
	.gs_ico, .gs_icm { background-image: url('sprite_20160809_001.png'); }
}
.gs_el_ta .gs_nta, .gs_ota, .gs_el_ph .gs_nph, .gs_oph { display: none; }
#gs_ftr { margin: 32px 0px 0px; text-align: center; clear: both; }
#gs_ftr a { display: inline-block; margin: 0px 12px; padding: 7px 0px 8px; }
#gs_ftr a:link, #gs_ftr a:visited { color: rgb(26, 13, 171); }
#gs_ftr a:active { color: rgb(209, 72, 54); }
.gs_in_txt { color: black; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-size: 16px; height: 23px; line-height: 23px; border-width: 1px; border-style: solid; border-color: rgb(192, 192, 192) rgb(217, 217, 217) rgb(217, 217, 217); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 3px 6px 1px 8px; border-radius: 1px; outline: medium none; vertical-align: middle; -moz-appearance: none; }
.gs_in_txt:hover { border-width: 1px; border-style: solid; border-color: rgb(160, 160, 160) rgb(185, 185, 185) rgb(185, 185, 185); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset; }
.gs_in_txt:focus { border: 1px solid rgb(77, 144, 254); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset; }
.gs_in_txt:disabled { color: rgb(184, 184, 184); border-color: rgb(241, 241, 241); box-shadow: none; }
input.gs_mini { font-size: 13px; height: 16px; line-height: 16px; padding: 3px 6px; }
.gs_in_txtm { margin-right: 14px; }
.gs_in_txtf .gs_in_txt, .gs_in_txtm .gs_in_txt { width: 100%; }
button { position: relative; z-index: 1; box-sizing: border-box; font-size: 11px; font-weight: bold; cursor: default; height: 29px; min-width: 72px; overflow: visible; color: rgb(68, 68, 68); border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 2px; text-align: center; background-color: rgb(245, 245, 245); background-image: linear-gradient(to bottom, rgb(245, 245, 245), rgb(241, 241, 241)); transition: all 0.218s ease 0s; -moz-user-select: none; }
button .gs_wr { line-height: 27px; }
.gs_btn_half, .gs_el_ph .gs_btn_hph { min-width: 36px; }
button:hover, button.gs_in_cb:hover { z-index: 2; color: rgb(34, 34, 34); border: 1px solid rgb(198, 198, 198); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); background-color: rgb(248, 248, 248); background-image: linear-gradient(to bottom, rgb(248, 248, 248), rgb(241, 241, 241)); transition: all 0s ease 0s; }
button:active, button.gs_in_cb:active { z-index: 2; color: rgb(51, 51, 51); background-color: rgb(246, 246, 246); background-image: linear-gradient(to bottom, rgb(246, 246, 246), rgb(241, 241, 241)); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset; }
button:focus, button.gs_in_cb:focus { z-index: 2; outline: medium none; border: 1px solid rgb(77, 144, 254); }
button::-moz-focus-inner { padding: 0px; border: 0px none; }
button .gs_lbl { padding: 0px 8px; }
a.gs_in_ib { position: relative; display: inline-block; line-height: 16px; padding: 5px 0px 6px; -moz-user-select: none; }
a .gs_lbl, button .gs_lbl { vertical-align: baseline; }
a.gs_in_ib .gs_lbl { display: inline-block; padding-left: 21px; }
button.gs_in_ib .gs_lbl { padding-left: 29px; }
button.gs_btn_mini .gs_lbl, button.gs_btn_half .gs_lbl, button.gs_btn_eml .gs_lbl { padding: 11px; }
.gs_in_ib .gs_ico { position: absolute; top: 2px; left: 8px; }
.gs_btn_half .gs_ico, .gs_el_ph .gs_btn_hph .gs_ico { left: 7px; }
.gs_btn_eml .gs_ico, .gs_el_ph .gs_btn_cph .gs_ico { left: 25px; }
a.gs_in_ib .gs_ico { top: 3px; left: 0px; }
a.gs_in_ib.gs_md_li .gs_ico { left: 14px; }
.gs_in_ib .gs_ico { opacity: 0.55; }
a.gs_in_ib .gs_ico { opacity: 0.65; }
.gs_in_ib:hover .gs_ico { opacity: 0.72; }
.gs_in_ib:active .gs_ico, .gs_in_ib .gs_ico:active, .gs_in_ib :active ~ .gs_ico { opacity: 1; }
.gs_in_ib:disabled .gs_ico { opacity: 0.28; }
button.gs_btn_act { color: rgb(255, 255, 255); border: 1px solid rgb(48, 121, 237); background-color: rgb(77, 144, 254); background-image: linear-gradient(to bottom, rgb(77, 144, 254), rgb(71, 135, 237)); }
button.gs_btn_act:hover { color: rgb(255, 255, 255); border: 1px solid rgb(47, 91, 183); background-color: rgb(53, 122, 232); background-image: linear-gradient(to bottom, rgb(77, 144, 254), rgb(53, 122, 232)); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset; }
button.gs_btnG { width: 70px; min-width: 0px; }
button.gs_btn_act:focus { box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5) inset; }
button.gs_btn_act:focus { border-color: rgb(64, 64, 64); }
button.gs_btn_act:active { border: 1px solid rgb(49, 93, 163); background-color: rgb(47, 109, 225); background-image: linear-gradient(to bottom, rgb(77, 144, 254), rgb(47, 109, 225)); }
button.gs_btn_act:active { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset; }
button:disabled, button:disabled:hover, button:disabled:active { color: rgb(184, 184, 184); border: 1px solid rgba(0, 0, 0, 0.05); background: transparent none repeat scroll 0% 0%; box-shadow: none; z-index: 0; }
button.gs_btn_act:disabled { color: white; border-color: rgb(152, 188, 246); background: rgb(166, 200, 255) none repeat scroll 0% 0%; }
button:disabled:active { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset; z-index: 2; }
.gs_ttp { position: absolute; top: 100%; right: 50%; z-index: 10; pointer-events: none; visibility: hidden; opacity: 0; transition: visibility 0s ease 0.13s, opacity 0.13s ease-out 0s; }
button:hover .gs_ttp, button:focus .gs_ttp, a:hover .gs_ttp, a:focus .gs_ttp { transition: visibility 0s ease 0.3s, opacity 0.13s ease-in 0.3s; visibility: visible; opacity: 1; }
.gs_ttp .gs_aro, .gs_ttp .gs_aru { position: absolute; top: -2px; right: -5px; width: 0px; height: 0px; line-height: 0; font-size: 0px; border-width: medium 5px 5px; border-style: none solid solid; border-color: -moz-use-text-color transparent rgb(42, 42, 42); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; z-index: 1; }
.gs_ttp .gs_aro { top: -3px; right: -6px; border-width: medium 6px 6px; border-top: medium none; border-bottom-color: white; }
.gs_ttp .gs_txt { display: block; position: relative; top: 2px; right: -50%; padding: 7px 9px; background: rgb(42, 42, 42) none repeat scroll 0% 0%; color: white; font-size: 11px; font-weight: bold; line-height: normal; white-space: nowrap; border: 1px solid white; box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2) inset; }
.gs_in_se, .gs_tan {  }
.gs_in_se .gs_lbl { padding-left: 8px; padding-right: 22px; }
.gs_in_se .gs_icm { position: absolute; top: 8px; right: 8px; width: 7px; height: 11px; background-position: -21px -88px; opacity: 0.55; }
.gs_in_se:hover .gs_icm { opacity: 0.72; }
.gs_in_se:active .gs_icm, .gs_in_se .gs_icm:active, .gs_in_se :active ~ .gs_icm { opacity: 1; }
.gs_btn_mnu .gs_icm { top: 11px; height: 7px; background-position: 0px -110px; }
.gs_md_se, .gs_md_wn, .gs_md_wm { position: absolute; top: 0px; left: 0px; border: 1px solid rgba(0, 0, 0, 0.2); background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); z-index: 1100; opacity: 0; }
.gs_md_se, .gs_md_wn { display: none; transition: opacity 0.13s ease 0s; }
.gs_md_wm { visibility: hidden; max-height: 0px; transition: opacity 0.13s ease 0s, visibility 0s ease 0.13s, max-height 0s ease 0.13s; }
.gs_md_se li, .gs_md_li, .gs_md_li:link, .gs_md_li:visited { display: block; padding: 6px 44px 6px 16px; font-size: 13px; line-height: 16px; color: rgb(34, 34, 34); cursor: default; text-decoration: none; background: white none repeat scroll 0% 0%; transition: background 0.13s ease 0s; }
a.gs_md_li:hover .gs_lbl, a.gs_md_li:active .gs_lbl { text-decoration: none; }
.gs_md_se li:focus, .gs_md_se li:hover, .gs_md_li:hover, .gs_md_li:focus { background: rgb(241, 241, 241) none repeat scroll 0% 0%; transition: background 0s ease 0s; }
.gs_md_wn:focus, .gs_md_se li:focus, .gs_md_li:focus { outline: medium none; }
button.gs_btnG .gs_ico, button.gs_btnG:hover .gs_ico, button.gs_btnG:active .gs_ico, button.gs_btnG .gs_ico:active, button.gs_btnG :active ~ .gs_ico { width: 14px; height: 14px; top: 7px; left: 27px; background-position: -113px -44px; opacity: 1; }
a.gs_in_cb:link, a.gs_in_cb:visited, a.gs_in_cb:active, a.gs_in_cb:hover, a.gs_in_cb.gs_dis:active .gs_lbl { cursor: default; color: rgb(34, 34, 34); text-decoration: none; }
.gs_in_cb, .gs_in_ra { position: relative; line-height: 16px; display: inline-block; -moz-user-select: none; }
.gs_in_cb.gs_md_li { padding: 6px 44px 6px 16px; display: block; }
.gs_in_cb input, .gs_in_ra input { position: absolute; top: 1px; left: 1px; width: 15px; height: 15px; margin: 0px; padding: 0px; opacity: 0; z-index: 2; }
.gs_in_ra input { top: 0px; left: 0px; }
.gs_in_cb label, .gs_in_cb .gs_lbl, .gs_in_ra label { display: inline-block; padding-left: 21px; min-height: 16px; }
.gs_in_cb .gs_cbx, .gs_in_ra .gs_cbx { position: absolute; }
.gs_in_cb .gs_cbx { top: 2px; left: 2px; width: 11px; height: 11px; border: 1px solid rgb(198, 198, 198); border-radius: 1px; }
.gs_md_li .gs_cbx { top: 8px; left: 18px; }
.gs_in_ra .gs_cbx { top: 0px; left: 0px; border: 1px solid rgb(198, 198, 198); width: 13px; height: 13px; border-radius: 7px; }
.gs_in_cb:hover .gs_cbx, .gs_in_ra:hover .gs_cbx { border-color: rgb(102, 102, 102); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset; }
.gs_in_cb:focus .gs_cbx, .gs_in_cb :focus ~ .gs_cbx, .gs_in_ra :focus ~ .gs_cbx { border-color: rgb(77, 144, 254); }
.gs_in_cb:active .gs_cbx, .gs_in_ra:active .gs_cbx, .gs_in_cb .gs_cbx:active, .gs_in_ra .gs_cbx:active, .gs_in_cb :active ~ .gs_cbx, .gs_in_ra :active ~ .gs_cbx { border-color: rgb(102, 102, 102); background: rgb(235, 235, 235) none repeat scroll 0% 0%; }
.gs_in_cb .gs_chk, .gs_in_ra .gs_chk { position: absolute; z-index: 1; top: -3px; left: -2px; width: 21px; height: 21px; }
.gs_md_li .gs_chk { top: 3px; left: 14px; }
.gs_in_ra .gs_chk { top: 4px; left: 4px; width: 7px; height: 7px; }
.gs_in_cb input:checked ~ .gs_chk, .gs_in_cb.gs_sel .gs_chk { background: transparent url('sprite_20160809.png') no-repeat scroll -69px -67px; opacity: 0.62; }
.gs_in_ra input:checked ~ .gs_chk { border-radius: 4px; background: rgb(102, 102, 102) none repeat scroll 0% 0%; }
@media not all, (min-resolution: 144dpi) {
	.gs_in_cb input:checked ~ .gs_chk, .gs_in_cb.gs_sel .gs_chk, .gs_in_cb.gs_par .gs_chk { background-image: url('sprite_20160809_001.png'); background-size: 169px auto; }
}
.gs_md_ac { position: absolute; top: 28px; left: 0px; right: 0px; z-index: 1100; white-space: normal; display: none; pointer-events: none; }
.gs_md_ac[dir="ltr"] { text-align: left; }
.gs_md_ac ul { list-style-type: none; overflow-wrap: break-word; line-height: 1.24; border: 1px solid rgba(0, 0, 0, 0.2); background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); cursor: default; -moz-user-select: none; pointer-events: auto; }
.gs_md_acs { visibility: hidden; white-space: pre; height: 0px; min-width: 0%; flex: 0 1 auto; font-size: 16px; }
.gs_ico_X { background-position: -71px 0px; opacity: 0.55; }
.gs_ico_X:hover { opacity: 0.72; }
.gs_ico_X:active { opacity: 1; }
.gs_btnP .gs_ico { background-position: -21px 0px; }
.gs_btnC .gs_ico { background-position: 0px -66px; }
.gs_btnJ .gs_ico { background-position: -92px -22px; }
.gs_btnM .gs_ico { background-position: -92px 0px; }
.gs_btnSB .gs_ico { background-position: 0px -44px; }
.gs_btnAD .gs_ico { background-position: -141px -88px; opacity: 0.55; }
.gs_btnAD:hover .gs_ico { opacity: 0.72; }
.gs_btnAD:active .gs_ico, .gs_btnAD .gs_ico:active, .gs_btnAD :active ~ .gs_ico { opacity: 1; }
button.gs_btnUB, button.gs_btnUR { border: medium none; background: transparent none repeat scroll 0% 0%; box-shadow: none; }
button.gs_btnUB .gs_lbl, button.gs_btnUR .gs_lbl { padding: 0px; }
button.gs_btnUR .gs_lbl { color: rgb(255, 255, 255); text-shadow: 0px 1px rgba(0, 0, 0, 0.1); }
button.gs_btnUR {  }
.gs_btnUB .gs_ico, .gs_btnUR .gs_ico { top: -3px; left: -1px; width: 38px; height: 34px; z-index: -1; opacity: 1; background: transparent url('bell_sprite_20160531.png') no-repeat scroll -190px 0px / 456px auto; }
@media not all, (min-resolution: 144dpi) {
	.gs_btnUB .gs_ico, .gs_btnUR .gs_ico { background-image: url('bell_sprite_20160531_001.png'); }
}
.gs_btnUR .gs_ico { background-position: -380px 0px; }
.gs_btnUR:hover .gs_ico { background-position: -152px 0px; opacity: 1; }
.gs_btnUR:focus .gs_ico { background-position: -114px 0px; opacity: 1; }
.gs_btnUR:focus:hover .gs_ico { background-position: -76px 0px; }
.gs_btnUR:active .gs_ico, .gs_btnUR .gs_ico:active, .gs_btnUR :active ~ .gs_ico { background-position: -266px 0px; opacity: 1; }
.gs_btnUR:focus:active .gs_ico { background-position: -38px 0px; }
#gs_hdr { position: relative; height: 58px; white-space: nowrap; clear: both; }
#gs_hdr_bg { position: absolute; top: 0px; left: 0px; width: 100%; height: 57px; border-bottom: 1px solid rgb(229, 229, 229); z-index: -1; background-color: rgb(245, 245, 245); }
#gs_hdr_lt { position: absolute; top: 0px; left: 0px; width: 100%; height: 57px; }
#gs_hdr_lt .gs_ico_ggl { position: absolute; left: 0px; top: 14px; margin-left: 32px; }
#gs_hdr_lt .gs_ico_ggl a { display: block; width: 100%; height: 100%; }
#gs_hdr_md { position: relative; height: 29px; vertical-align: top; margin-left: 172px; padding-top: 15px; }
#gs_hdr_frm { position: relative; }
#gs_hdr_frm_in { position: relative; display: inline-block; }
#gs_hdr_frm_in_txt { vertical-align: top; width: 537px; padding: 3px 25px 1px 8px; }
#gs_hdr_frm_in_txt[dir="ltr"] { padding: 3px 25px 1px 8px; }
#gs_hdr_tsb { vertical-align: top; margin: 0px 17px; }
.gs_ico_ggl { width: 92px; height: 30px; background-position: -49px -88px; }
#gs_ab { position: relative; height: 57px; border-bottom: 1px solid rgb(222, 222, 222); white-space: nowrap; }
#gs_ab_na { position: absolute; color: rgb(221, 75, 57); text-decoration: none; top: 19px; font-size: 16px; margin-left: 31px; }
#gs_ab_top { margin-left: 173px; }
#gs_ab_rt { position: relative; float: right; padding-top: 14px; padding-right: 32px; }
#gs_ab_rt button { margin-left: 16px; vertical-align: top; }
#gs_bdy { position: relative; clear: both; margin-top: 21px; padding-bottom: 13px; }
#gs_lnv { position: absolute; top: 1px; left: 0px; width: 164px; }
#gs_lnv ul { list-style-type: none; overflow-wrap: break-word; }
#gs_lnv .gs_pad { padding-left: 32px; }
#gs_lnv .gs_ind, #gs_lnv .gs_inw { margin-bottom: 4px; }
#gs_lnv .gs_hr { border-bottom: 1px solid rgb(239, 239, 239); margin: 14px 4px 14px 0px; }
#gs_lnv a:link, #gs_lnv a:visited { color: rgb(34, 34, 34); }
#gs_lnv a:active { color: rgb(209, 72, 54); }
#gs_lnv a.gs_in_cb:active { color: rgb(34, 34, 34); }
#gs_lnv li.gs_sel a:link, #gs_lnv li.gs_sel a:visited, #gs_lnv li.gs_sel a:active, #gs_lnv li.gs_sel a:hover { color: rgb(209, 72, 54); text-decoration: none; }
#gs_lnv_pri li { line-height: 0; }
#gs_lnv_pri a { display: block; padding: 7px 0px 6px 32px; line-height: 16px; outline: medium none; }
#gs_lnv_pri a:hover, #gs_lnv_pri a:focus { text-decoration: none; background: rgb(238, 238, 238) none repeat scroll 0% 0%; }
#gs_lnv_pri .gs_sel a { border-left: 5px solid rgb(221, 75, 57); padding-left: 27px; }
#gs_ccl { position: relative; padding: 0px 8px; margin-left: 164px; }
#gs_ab_md { position: absolute; color: rgb(153, 153, 153); top: 23px; }
#gs_hdr_adv { top: 49px; left: 0px; width: 552px; }
#gs_ylo_dd, #gs_ad_dd { position: relative; }
#gs_ylo_dd { display: none; }
.gs_el_ta #gs_ylo_dd, .gs_el_ph #gs_ylo_dd, #gs_ad_dd { display: inline-block; }
#gs_ylo_md, #gs_ad_md { left: auto; right: 0px; top: 29px; }
#gs_ylo_md a.gs_cur, #gs_ylo_md a:active, #gs_ad_md a.gs_cur, #gs_ad_md a:active { color: rgb(209, 72, 54); }
#gs_ylo_md .gs_hr, #gs_ad_md .gs_hr { border-bottom: 1px solid rgb(239, 239, 239); margin: 7px 0px; }
.gs_ad_nlnv { display: none; }
.gs_btnAD {  }
#gs_lnv_yloc td { padding: 5px 0px; }
#gs_lnv_yloc .gs_in_txt { width: 2.75em; }
.gs_r { position: relative; margin: 1em 0px; overflow-x: hidden; }
.gs_rt { position: relative; font-weight: normal; font-size: 17px; line-height: 19px; }
.gs_rt a:link, .gs_rt a:link b, .gs_rt2 a:link, .gs_rt2 a:link b { color: rgb(26, 13, 171); }
.gs_rt a:visited, .gs_rt a:visited b, .gs_rt2 a:visited, .gs_rt2 a:visited b { color: rgb(102, 0, 153); }
.gs_rt a:active, .gs_rt a:active b, .gs_rt2 a:active, .gs_rt2 a:active b { color: rgb(209, 72, 54); }
.gs_rt a:focus, .gs_fl a:focus, .gs_ggsm a:focus { outline: medium none; text-decoration: underline; }
.gs_ggs { position: absolute; top: 0px; left: 720px; white-space: nowrap; font-size: 17px; line-height: 19px; }
.gs_ggsd { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.gs_el_ph .gs_ggsm > div:nth-child(2) { height: 0px; transform: scale(1, 0); transform-origin: 0px 0px 0px; }
.gs_el_ph .gs_ggsm.gs_vis > div:nth-child(2) { height: 41px; transform: scale(1, 1); }
.gs_el_ph .gs_ggsm::before { content: ""; position: absolute; top: 0px; left: -1px; right: -1px; bottom: 0px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); border: 1px solid rgb(204, 204, 204); opacity: 0; z-index: -1; }
.gs_el_ph .gs_ggsm.gs_vis::before { opacity: 1; }
.gs_el_ph .gs_ggsm::after { content: ""; pointer-events: none; position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 1; background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255) 65%, rgba(255, 255, 255, 0) 70%); }
.gs_el_ph .gs_ggsm.gs_vis::after { visibility: hidden; }
.gs_el_ph .gs_ggs .gs_ggsm.gs_vis.gs_anm > div:nth-child(2) { animation: 0.218s ease-in 0s normal none 1 running gs_anm_vscli; }
.gs_el_ph .gs_ggsm.gs_vis.gs_anm::before { animation: 0.3s ease 0s normal none 1 running gs_anm_fil; }
.gs_ct1 { display: inline; }
.gs_ct2 { display: none; }
.gs_ri { max-width: 712px; }
.gs_ri .gs_fl a, .gs_a a { white-space: nowrap; }
.gs_svm { display: none; }
.gs_ri .gs_fl { font-size: 1px; }
.gs_ri .gs_fl a, .gs_svm { font-size: 13px; margin-right: 12px; }
.gs_ri .gs_svm a { margin: 0px; }
.gs_ri .gs_fl a:last-child, .gs_svm:last-child { margin: 0px; }
.gs_nvi, .gs_mvi .gs_mor { display: none; }
.gs_rs { margin: 1px 0px; }
@media screen and (min-width: 771px) {
}
.gs_rt { margin-right: 100px; }
.gs_alrt_btm a:link, .gs_alrt_btm a:visited { color: rgb(68, 68, 68); }
.gs_alrt_btm a:active { color: rgb(209, 72, 54); }
#gs_ftr { width: 650px; }
#gs_gb { position: relative; height: 30px; background: rgb(45, 45, 45) none repeat scroll 0% 0%; font-size: 13px; line-height: 16px; backface-visibility: hidden; }
#gs_gb_lt, #gs_gb_rt, #gs_gb_lp { position: absolute; top: 0px; white-space: nowrap; }
#gs_gb_lt { left: 22px; }
#gs_gb_lp { display: none; }
#gs_gb_lp:hover, #gs_gb_lp:focus, #gs_gb_lp:active { filter: brightness(100%); }
@media not all, (min-resolution: 144dpi) {
}
#gs_gb_rt { right: 22px; }
#gs_gb_lt a:link, #gs_gb_lt a:visited, #gs_gb_rt a:link, #gs_gb_rt a:visited { display: inline-block; vertical-align: top; height: 29px; line-height: 27px; padding: 2px 10px 0px; font-weight: bold; color: rgb(187, 187, 187); cursor: pointer; text-decoration: none; }
#gs_gb_rt a:link, #gs_gb_rt a:visited { padding: 2px 8px 0px; }
#gs_gb_lt a:hover, #gs_gb_lt a:focus, #gs_gb_lt a:active, #gs_gb_rt a:hover, #gs_gb_rt a:focus, #gs_gb_rt a:active { color: white; outline: medium none; }
#gs_gb_ac { top: 30px; left: auto; right: 6px; width: 288px; white-space: normal; }
#gs_gb_aw, #gs_gb_ap, .gs_gb_am, #gs_gb_ab { display: block; padding: 10px 20px; overflow-wrap: break-word; }
#gs_gb_aw { background: rgb(254, 249, 219) none repeat scroll 0% 0%; font-size: 11px; }
#gs_gb_ap, .gs_gb_am { border-bottom: 1px solid rgb(204, 204, 204); }
#gs_gb_aa:link, #gs_gb_aa:visited { float: right; margin-left: 8px; color: rgb(26, 13, 171); }
#gs_gb_aa:active { color: rgb(209, 72, 54); }
#gs_gb_ab { background: rgb(251, 251, 251) none repeat scroll 0% 0%; overflow: auto; }
#gs_gb_aab { float: left; }
#gs_gb_aso { float: right; }
html, body { height: 100%; }
#gs_top { min-height: 100%; }
#gs_md_s, #gs_md_w { z-index: 1200; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
#gs_md_s { background: rgb(102, 102, 102) none repeat scroll 0% 0%; opacity: 0.5; }
.gs_md_d { position: relative; padding: 28px 32px; margin: 0px auto; width: 400px; box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.65); }
.gs_md_d .gs_ico_X { position: absolute; top: 8px; right: 8px; background-color: rgb(255, 255, 255); }
.gs_md_d h2 { font-size: 16px; font-weight: normal; line-height: 24px; margin-bottom: 16px; }
#gs_cit { width: 520px; max-width: 85%; }
#gs_hdr_adv { padding: 9px; color: rgb(119, 119, 119); }
#gs_hdr_advx { position: absolute; top: 4px; right: 2px; background-color: white; }
.gs_hatr { clear: both; white-space: normal; }
.gs_hadt { float: left; width: 190px; padding: 6px 2px 2px; }
.gs_hadd { margin-left: 194px; padding: 2px; }
#gs_hdr_adv .gs_yri .gs_in_txt { width: 2.75em; }
#gs_hdr_arw { position: absolute; top: 5px; right: 2px; width: 21px; height: 21px; }
.gs_in_txt[dir="ltr"] ~ #gs_hdr_arw { left: auto; right: 2px; }
#gs_hdr_arr { display: block; text-decoration: none; width: 21px; height: 21px; }
#gs_hdr_advt, #gs_hdr_advc, #gs_hdr_advs { display: block; }
#gs_hdr_advt { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
#gs_hdr_advc, #gs_hdr_advs { padding: 8px; }
.gs_hdr_adv_occtr { padding: 5px 0px; }
#gs_alrt_w { position: fixed; width: 100%; z-index: 1050; display: none; opacity: 0; transition: opacity 0.3s ease-out 0s; }
#gs_alrt_p { position: absolute; top: -15px; right: 0px; width: 100%; text-align: center; }
#gs_alrt { display: inline-block; font-size: 13px; line-height: 16px; padding: 0px 16px 6px; }
#gs_alrt_m, #gs_alrt_u { display: inline-block; padding-top: 7px; }
#gs_alrt_l:link, #gs_alrt_l:visited { margin-left: 16px; padding: 7px 0px 6px; color: rgb(34, 34, 34); text-decoration: underline; }
#gs_alrt_l:hover { color: rgb(26, 13, 171); }
#gs_alrt_l:active { color: rgb(209, 72, 54); }
#gs_rt_hdr h2 { font-size: 18px; font-weight: normal; max-width: 712px; }
