/* ::::: https://bostinno.streetwise.co/assets/9e29b7d1/css/style.css ::::: */

/* ::::: https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300,300italic ::::: */

@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url('gk5fxslnktthtojxrkp-xe6du99w8onfqrof4kprgax_v5h-gcmdugi2hqeb0bpm.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url('gk5fxslnktthtojxrkp-xk8wkbk9m_9zvjf5t73cxch_v5h-gcmdugi2hqeb0bpm.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url('gk5fxslnktthtojxrkp-xj14gk-0unzmdfuyl-aquv9_v5h-gcmdugi2hqeb0bpm.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url('gk5fxslnktthtojxrkp-xb5vlgezetrtjc2zp-h3k9d_v5h-gcmdugi2hqeb0bpm.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url('gk5fxslnktthtojxrkp-xawz7btsodkochnd4nppwzf_v5h-gcmdugi2hqeb0bpm.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url('gk5fxslnktthtojxrkp-xd_0ykshj_uyxeu-q7ev4g5_v5h-gcmdugi2hqeb0bpm.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url('gk5fxslnktthtojxrkp-xmmdra0onno3fph--kzkc5zr7w4p9asvgirxi6xmexna.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Condensed Bold"), local("OpenSans-CondensedBold"), url('gk5fxslnktthtojxrkp-xpx7z5o44auuj1t1avdknxj_v5h-gcmdugi2hqeb0bpm.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Condensed Bold"), local("OpenSans-CondensedBold"), url('gk5fxslnktthtojxrkp-xllf6rfyvcyuuchpffhkar5_v5h-gcmdugi2hqeb0bpm.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Condensed Bold"), local("OpenSans-CondensedBold"), url('gk5fxslnktthtojxrkp-xibcco5iwjiaq5mtzqyshup_v5h-gcmdugi2hqeb0bpm.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Condensed Bold"), local("OpenSans-CondensedBold"), url('gk5fxslnktthtojxrkp-xhq3dntipfzc1qn696_nov9_v5h-gcmdugi2hqeb0bpm.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Condensed Bold"), local("OpenSans-CondensedBold"), url('gk5fxslnktthtojxrkp-xlzzt6zu7z-bzjgl0ht-ujv_v5h-gcmdugi2hqeb0bpm.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Condensed Bold"), local("OpenSans-CondensedBold"), url('gk5fxslnktthtojxrkp-xpjmhjzg6ksqttrfmk-8lt5_v5h-gcmdugi2hqeb0bpm.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Condensed Bold"), local("OpenSans-CondensedBold"), url('gk5fxslnktthtojxrkp-xigey7irt_a5k-adq9kg7dhr7w4p9asvgirxi6xmexna.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: italic;
	font-weight: 300;
	src: local("Open Sans Cond Light Italic"), local("OpenSans-CondensedLightItalic"), url('jixlqt1wkafuswj6s9azvxzw2hgxje-cxaore_4g_hyzam-k2j-o2ctq74ofkh-s.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: italic;
	font-weight: 300;
	src: local("Open Sans Cond Light Italic"), local("OpenSans-CondensedLightItalic"), url('jixlqt1wkafuswj6s9azv4ziibrem_xtios0xijyzcazam-k2j-o2ctq74ofkh-s.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: italic;
	font-weight: 300;
	src: local("Open Sans Cond Light Italic"), local("OpenSans-CondensedLightItalic"), url('jixlqt1wkafuswj6s9azv9wnsx_9tm--pxc8nyzol_ozam-k2j-o2ctq74ofkh-s.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: italic;
	font-weight: 300;
	src: local("Open Sans Cond Light Italic"), local("OpenSans-CondensedLightItalic"), url('jixlqt1wkafuswj6s9azv4s1q5rgahzzaaughklrnwmzam-k2j-o2ctq74ofkh-s.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: italic;
	font-weight: 300;
	src: local("Open Sans Cond Light Italic"), local("OpenSans-CondensedLightItalic"), url('jixlqt1wkafuswj6s9azv0ruj-8oe20lrl9gltgru-qzam-k2j-o2ctq74ofkh-s.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: italic;
	font-weight: 300;
	src: local("Open Sans Cond Light Italic"), local("OpenSans-CondensedLightItalic"), url('jixlqt1wkafuswj6s9azv12cn97i9ilpbfrzis7kztazam-k2j-o2ctq74ofkh-s.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: italic;
	font-weight: 300;
	src: local("Open Sans Cond Light Italic"), local("OpenSans-CondensedLightItalic"), url('jixlqt1wkafuswj6s9azvyqwg1tiildrkra2tauxhyr2iy20qb3oo3nusuf_nb58.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 100;
	src: url('montserrat-hairline-webfont.eot') format("embedded-opentype"), url('montserrat-hairline-webfont.woff2') format("woff2"), url('montserrat-hairline-webfont.woff') format("woff"), url('montserrat-hairline-webfont.ttf') format("truetype"), url('montserrat-hairline-webfont.svg') format("svg");
}
@font-face {
	font-family: "Montserrat";
	font-style: italic;
	font-weight: 100;
	src: url('montserrat-hairline-italic-webfont.eot') format("embedded-opentype"), url('montserrat-hairline-italic-webfont.woff2') format("woff2"), url('montserrat-hairline-italic-webfont.woff') format("woff"), url('montserrat-hairline-italic-webfont.ttf') format("truetype"), url('montserrat-hairline-italic-webfont.svg') format("svg");
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 200;
	src: url('montserrat-ultralight-webfont.eot') format("embedded-opentype"), url('montserrat-ultralight-webfont.woff2') format("woff2"), url('montserrat-ultralight-webfont.woff') format("woff"), url('montserrat-ultralight-webfont.ttf') format("truetype"), url('montserrat-ultralight-webfont.svg') format("svg");
}
@font-face {
	font-family: "Montserrat";
	font-style: italic;
	font-weight: 200;
	src: url('montserrat-ultralight-italic-webfont.eot') format("embedded-opentype"), url('montserrat-ultralight-italic-webfont.woff2') format("woff2"), url('montserrat-ultralight-italic-webfont.woff') format("woff"), url('montserrat-ultralight-italic-webfont.ttf') format("truetype"), url('montserrat-ultralight-italic-webfont.svg') format("svg");
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 300;
	src: url('montserrat-light-webfont.eot') format("embedded-opentype"), url('montserrat-light-webfont.woff2') format("woff2"), url('montserrat-light-webfont.woff') format("woff"), url('montserrat-light-webfont.ttf') format("truetype"), url('montserrat-light-webfont.svg') format("svg");
}
@font-face {
	font-family: "Montserrat";
	font-style: italic;
	font-weight: 300;
	src: url('montserrat-light-italic-webfont.eot') format("embedded-opentype"), url('montserrat-light-italic-webfont.woff2') format("woff2"), url('montserrat-light-italic-webfont.woff') format("woff"), url('montserrat-light-italic-webfont.ttf') format("truetype"), url('montserrat-light-italic-webfont.svg') format("svg");
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: url('montserrat-regular-webfont.eot') format("embedded-opentype"), url('montserrat-regular-webfont.woff2') format("woff2"), url('montserrat-regular-webfont.woff') format("woff"), url('montserrat-regular-webfont.ttf') format("truetype"), url('montserrat-regular-webfont.svg') format("svg");
}
@font-face {
	font-family: "Montserrat";
	font-style: italic;
	font-weight: 400;
	src: url('montserrat-regular-italic-webfont.eot') format("embedded-opentype"), url('montserrat-regular-italic-webfont.woff2') format("woff2"), url('montserrat-regular-italic-webfont.woff') format("woff"), url('montserrat-regular-italic-webfont.ttf') format("truetype"), url('montserrat-regular-italic-webfont.svg') format("svg");
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	src: url('montserrat-semibold-webfont.eot') format("embedded-opentype"), url('montserrat-semibold-webfont.woff2') format("woff2"), url('montserrat-semibold-webfont.woff') format("woff"), url('montserrat-semibold-webfont.ttf') format("truetype"), url('montserrat-semibold-webfont.svg') format("svg");
}
@font-face {
	font-family: "Montserrat";
	font-style: italic;
	font-weight: 500;
	src: url('montserrat-semibold-italic-webfont.eot') format("embedded-opentype"), url('montserrat-semibold-italic-webfont.woff2') format("woff2"), url('montserrat-semibold-italic-webfont.woff') format("woff"), url('montserrat-semibold-italic-webfont.ttf') format("truetype"), url('montserrat-semibold-italic-webfont.svg') format("svg");
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	src: url('montserrat-bold-webfont.eot') format("embedded-opentype"), url('montserrat-bold-webfont.woff2') format("woff2"), url('montserrat-bold-webfont.woff') format("woff"), url('montserrat-bold-webfont.ttf') format("truetype"), url('montserrat-bold-webfont.svg') format("svg");
}
@font-face {
	font-family: "Montserrat";
	font-style: italic;
	font-weight: 600;
	src: url('montserrat-bold-italic-webfont.eot') format("embedded-opentype"), url('montserrat-bold-italic-webfont.woff2') format("woff2"), url('montserrat-bold-italic-webfont.woff') format("woff"), url('montserrat-bold-italic-webfont.ttf') format("truetype"), url('montserrat-bold-italic-webfont.svg') format("svg");
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	src: url('montserrat-extrabold-webfont.eot') format("embedded-opentype"), url('montserrat-extrabold-webfont.woff2') format("woff2"), url('montserrat-extrabold-webfont.woff') format("woff"), url('montserrat-extrabold-webfont.ttf') format("truetype"), url('montserrat-extrabold-webfont.svg') format("svg");
}
@font-face {
	font-family: "Montserrat";
	font-style: italic;
	font-weight: 700;
	src: url('montserrat-extrabold-italic-webfont.eot') format("embedded-opentype"), url('montserrat-extrabold-italic-webfont.woff2') format("woff2"), url('montserrat-extrabold-italic-webfont.woff') format("woff"), url('montserrat-extrabold-italic-webfont.ttf') format("truetype"), url('montserrat-extrabold-italic-webfont.svg') format("svg");
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 800;
	src: url('montserrat-black-webfont.eot') format("embedded-opentype"), url('montserrat-black-webfont.woff2') format("woff2"), url('montserrat-black-webfont.woff') format("woff"), url('montserrat-black-webfont.ttf') format("truetype"), url('montserrat-black-webfont.svg') format("svg");
}
@font-face {
	font-family: "Montserrat";
	font-style: italic;
	font-weight: 800;
	src: url('montserrat-black-italic-webfont.eot') format("embedded-opentype"), url('montserrat-black-italic-webfont.woff2') format("woff2"), url('montserrat-black-italic-webfont.woff') format("woff"), url('montserrat-black-italic-webfont.ttf') format("truetype"), url('montserrat-black-italic-webfont.svg') format("svg");
}
html { font-family: sans-serif; }
body { margin: 0px; }
audio:not([controls]) { display: none; height: 0px; }
a { background-color: transparent; }
a:active { outline: 0px none; }
a:hover { outline: 0px none; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
hr { box-sizing: content-box; height: 0px; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }
html { font-size: 16px; }
body { font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 1rem; line-height: 1.5; color: rgb(34, 34, 34); background-color: rgb(255, 255, 255); }
p { margin-top: 0px; margin-bottom: 1rem; }
a { color: rgb(4, 167, 227); text-decoration: none; }
a:focus, a:hover { color: rgb(4, 167, 227); text-decoration: underline; }
a:focus { outline: thin dotted; outline-offset: -2px; }
img { vertical-align: middle; }
input, button, select, textarea { margin: 0px; line-height: inherit; }
hr { margin-top: 1rem; margin-bottom: 1rem; border-width: 0.0625rem 0px 0px; border-style: solid none none; border-color: rgba(0, 0, 0, 0.1) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.dl-horizontal::before, .dl-horizontal::after { content: " "; display: table; }
.dl-horizontal::after { clear: both; }
.blockquote footer::before { content: "— "; }
.blockquote-reverse footer::before { content: ""; }
.blockquote-reverse footer::after { content: " —"; }
.container::before, .header-social-bar::before, .container::after, .header-social-bar::after { content: " "; display: table; }
.container::after, .header-social-bar::after { clear: both; }
.container-fluid::before, .container-fluid::after { content: " "; display: table; }
.container-fluid::after { clear: both; }
.row { margin-left: -0.625rem; margin-right: -0.625rem; }
.row::before, .row::after { content: " "; display: table; }
.row::after { clear: both; }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-7th-xs-1, .col-7th-xs-2, .col-7th-xs-3, .col-7th-xs-4, .col-7th-xs-5, .col-7th-xs-6, .col-7th-xs-7, .col-7th-sm-1, .col-7th-sm-2, .col-7th-sm-3, .col-7th-sm-4, .col-7th-sm-5, .col-7th-sm-6, .col-7th-sm-7, .col-7th-md-1, .col-7th-md-2, .col-7th-md-3, .col-7th-md-4, .col-7th-md-5, .col-7th-md-6, .col-7th-md-7, .col-7th-lg-1, .col-7th-lg-2, .col-7th-lg-3, .col-7th-lg-4, .col-7th-lg-5, .col-7th-lg-6, .col-7th-lg-7, .col-7th-xl-1, .col-7th-xl-2, .col-7th-xl-3, .col-7th-xl-4, .col-7th-xl-5, .col-7th-xl-6, .col-7th-xl-7 { position: relative; min-height: 1px; padding-left: 0.625rem; padding-right: 0.625rem; }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-7th-xs-1, .col-7th-xs-2, .col-7th-xs-3, .col-7th-xs-4, .col-7th-xs-5, .col-7th-xs-6, .col-7th-xs-7 { float: left; }
.col-xs-2 { width: 16.6667%; }
.col-xs-4 { width: 33.3333%; }
.col-xs-5 { width: 41.6667%; }
.col-xs-6 { width: 50%; }
.col-xs-8 { width: 66.6667%; }
.table-striped tbody tr:nth-of-type(2n+1) { background-color: rgb(249, 249, 249); }
@media not all {
}
.btn { display: inline-block; font-weight: normal; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; border: 0.0625rem solid transparent; padding: 0.375rem 1rem; font-size: 1rem; line-height: 1.5; border-radius: 0.25rem; }
.btn:focus, .btn.focus, .btn:active:focus, .btn.focus:active, .btn.active:focus, .btn.active.focus { outline: thin dotted; outline-offset: -2px; }
.btn:focus, .btn:hover { text-decoration: none; }
.btn:active, .btn.active { background-image: none; outline: 0px none; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }
.btn.disabled, .btn:disabled, fieldset[disabled] .btn { cursor: not-allowed; opacity: 0.65; box-shadow: none; }
.dropdown-toggle::after { display: inline-block; width: 0px; height: 0px; margin-left: 0.25rem; vertical-align: middle; content: ""; border-top: 0.3em solid; border-right: 0.3em solid transparent; border-left: 0.3em solid transparent; }
.btn-toolbar::before, .btn-toolbar::after { content: " "; display: table; }
.btn-toolbar::after { clear: both; }
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) { border-radius: 0px; }
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) { border-bottom-right-radius: 0px; border-top-right-radius: 0px; }
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) { border-bottom-left-radius: 0px; border-top-left-radius: 0px; }
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn { border-radius: 0px; }
.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child, .btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle { border-bottom-right-radius: 0px; border-top-right-radius: 0px; }
.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child { border-bottom-left-radius: 0px; border-top-left-radius: 0px; }
.btn-group-vertical > .btn-group::before, .btn-group-vertical > .btn-group::after { content: " "; display: table; }
.btn-group-vertical > .btn-group::after { clear: both; }
.btn-group-vertical > .btn:not(:first-child):not(:last-child) { border-radius: 0px; }
.btn-group-vertical > .btn:first-child:not(:last-child) { border-top-right-radius: 0.25rem; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; }
.btn-group-vertical > .btn:last-child:not(:first-child) { border-bottom-left-radius: 0.25rem; border-top-right-radius: 0px; border-top-left-radius: 0px; }
.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn { border-radius: 0px; }
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child, .btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle { border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; }
.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child { border-top-right-radius: 0px; border-top-left-radius: 0px; }
.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) { border-radius: 0px; }
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn { border-bottom-right-radius: 0px; border-top-right-radius: 0px; }
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn { border-bottom-left-radius: 0px; border-top-left-radius: 0px; }
.c-inputs-stacked .c-input::after { display: block; margin-bottom: 0.25rem; content: ""; }
.c-select-sm:not([multiple]) { height: 26px; min-height: 26px; }
.file-custom::after { content: "Choose file..."; }
.file-custom::before { position: absolute; top: -0.075rem; right: -0.075rem; bottom: -0.075rem; z-index: 6; display: block; height: 2.5rem; padding: 0.5rem 1rem; line-height: 1.5; color: rgb(85, 85, 85); content: "Browse"; background-color: rgb(238, 238, 238); border: 0.075rem solid rgb(221, 221, 221); border-radius: 0px 0.25rem 0.25rem 0px; }
.nav-tabs::before, .nav-tabs::after { content: " "; display: table; }
.nav-tabs::after { clear: both; }
.navbar::before, .navbar::after { content: " "; display: table; }
.navbar::after { clear: both; }
.navbar-divider::before { content: " "; }
.card-group .card:not(:first-child):not(:last-child) { border-radius: 0px; }
.card-group .card:not(:first-child):not(:last-child) .card-img-top, .card-group .card:not(:first-child):not(:last-child) .card-img-bottom { border-radius: 0px; }
.breadcrumb > li + li::before { padding-right: 0.5rem; padding-left: 0.5rem; color: rgb(136, 136, 136); content: "/ "; }
.pager::before, .pager::after { content: " "; display: table; }
.pager::after { clear: both; }
@media not all {
}
.progress-striped[value]::-moz-progress-bar { background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); background-size: 1rem 1rem; }
@media not all {
}
.progress-animated[value]::-moz-progress-bar { animation: 2s linear 0s normal none infinite running progress-bar-stripes; }
@media not all {
}
.progress-success[value]::-moz-progress-bar { background-color: rgb(92, 184, 92); }
@media not all {
}
.progress-info[value]::-moz-progress-bar { background-color: rgb(91, 192, 222); }
@media not all {
}
.progress-warning[value]::-moz-progress-bar { background-color: rgb(240, 173, 78); }
@media not all {
}
.progress-danger[value]::-moz-progress-bar { background-color: rgb(217, 83, 79); }
@media not all {
}
.modal-header::before, .modal-header::after { content: " "; display: table; }
.modal-header::after { clear: both; }
.modal-footer::before, .modal-footer::after { content: " "; display: table; }
.modal-footer::after { clear: both; }
.popover.popover-top .popover-arrow::after, .popover.bs-tether-element-attached-bottom .popover-arrow::after { bottom: 1px; margin-left: -10px; content: ""; border-top-color: rgb(255, 255, 255); border-bottom-width: 0px; }
.popover.popover-right .popover-arrow::after, .popover.bs-tether-element-attached-left .popover-arrow::after { bottom: -10px; left: 1px; content: ""; border-right-color: rgb(255, 255, 255); border-left-width: 0px; }
.popover.popover-bottom .popover-arrow::after, .popover.bs-tether-element-attached-top .popover-arrow::after { top: 1px; margin-left: -10px; content: ""; border-top-width: 0px; border-bottom-color: rgb(255, 255, 255); }
.popover.popover-left .popover-arrow::after, .popover.bs-tether-element-attached-right .popover-arrow::after { right: 1px; bottom: -10px; content: ""; border-right-width: 0px; border-left-color: rgb(255, 255, 255); }
.popover-arrow, .popover-arrow::after { position: absolute; display: block; width: 0px; height: 0px; border-color: transparent; border-style: solid; }
.popover-arrow::after { content: ""; border-width: 10px; }
@media not all, not all {
}
.carousel-control .icon-prev::before { content: "‹"; }
.carousel-control .icon-next::before { content: "›"; }
.clearfix::before, .clearfix::after { content: " "; display: table; }
.clearfix::after { clear: both; }
.center-block, .pull-center, .thumbnail.pull-center { display: block; margin-left: auto; margin-right: auto; }
.pull-right, .alignright, .post__content .fr-fir { float: right ! important; }
.text-center { text-align: center; }
.text-uppercase { text-transform: uppercase; }
body { letter-spacing: 0.012rem; }
.no-chrome { overflow-y: hidden; }
p { margin-bottom: 0.625rem; }
p:last-child { margin-bottom: 0px; }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-7th-xs-1, .col-7th-xs-2, .col-7th-xs-3, .col-7th-xs-4, .col-7th-xs-5, .col-7th-xs-6, .col-7th-xs-7, .col-7th-sm-1, .col-7th-sm-2, .col-7th-sm-3, .col-7th-sm-4, .col-7th-sm-5, .col-7th-sm-6, .col-7th-sm-7, .col-7th-md-1, .col-7th-md-2, .col-7th-md-3, .col-7th-md-4, .col-7th-md-5, .col-7th-md-6, .col-7th-md-7, .col-7th-lg-1, .col-7th-lg-2, .col-7th-lg-3, .col-7th-lg-4, .col-7th-lg-5, .col-7th-lg-6, .col-7th-lg-7, .col-7th-xl-1, .col-7th-xl-2, .col-7th-xl-3, .col-7th-xl-4, .col-7th-xl-5, .col-7th-xl-6, .col-7th-xl-7 { position: relative; min-height: 1px; padding-left: 0.625rem; padding-right: 0.625rem; }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-7th-xs-1, .col-7th-xs-2, .col-7th-xs-3, .col-7th-xs-4, .col-7th-xs-5, .col-7th-xs-6, .col-7th-xs-7 { float: left; }
hr { border-color: rgb(221, 221, 221); clear: both; margin-top: 1.3rem; margin-bottom: 1.3rem; margin-right: -0.625rem; }
.fill-width { width: 100%; }
.relative { position: relative; }
.absolute { position: absolute; }
.col-no-padding-right { padding-right: 0px; }
.col-no-padding-left { padding-left: 0px; }
.block { display: block; }
.inline-block { display: inline-block; }
.hidden, .is-hidden { display: none ! important; }
.no-margin { margin: 0px ! important; }
.inline-block { display: inline-block ! important; }
.header-hidden-dropdown { background: rgb(25, 25, 25) none repeat scroll 0% 0%; padding: 0.8125rem 0.9375rem; display: none; top: 3.188rem; }
.authenticate-form .header-hidden-dropdown--sign-in { display: block; top: 0px; }
.header-hidden-dropdown--sign-in { width: 100%; right: 0px; }
.header-hidden-dropdown--sign-in__text { margin-bottom: 0.125rem; }
.header-hidden-dropdown--sign-in__input { margin-top: -0.0625rem; margin-bottom: 0.5rem; }
.header-hidden-dropdown__break-line { margin: 0.8rem 0px; clear: none; border-color: rgb(204, 204, 204); box-sizing: inherit; }
.header-hidden-dropdown__or-seperator { margin: 0.45rem 0px; }
.navbar-wrapper--mobile__dropdown .dropdown-menu.show-communities li:not(.dropdown-menu__item-is-secondary-drop-item) { display: none; }
.navbar-wrapper--mobile__dropdown-toggle::after { display: none; }
.navbar-thin-font { font-weight: 300; line-height: 1.05rem; letter-spacing: 0.03rem; color: rgb(255, 255, 255); font-size: 0.75rem; }
.navbar-thin-font--small { font-size: 0.65rem; }
.navbar-thin-font--forgot-password { margin-top: 0.45rem; }
.navbar-thin-font--forgot-password:hover { color: rgb(255, 255, 255); }
.navbar-thin-font--forgot-password p { margin-top: inherit; }
img, .thumbnail { max-width: 100%; }
.hero-image--header::before { display: block; content: ""; position: absolute; height: 100%; width: 100%; box-shadow: 0px 0px 0.0625rem 0.0625rem rgba(0, 0, 0, 0.2) inset; z-index: 1; }
.post__flamescore--popular-posts a:not(.partner-name) { margin-top: 0.2rem; display: inline-block; }
.post__content--featured-article > p:first-child::first-letter { float: left; color: rgb(34, 34, 34); font-size: 5rem; line-height: 3rem; font-weight: 900; padding-top: 10px; font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif; }
.btn { font-weight: 300; font-size: 0.65rem; text-transform: uppercase; line-height: 0.6rem; letter-spacing: 0.05rem; padding: 0.45rem 0.625rem 0.375rem; background-color: rgb(4, 167, 227); color: rgb(255, 255, 255); border-radius: 0px; }
.btn:hover { text-decoration: none; color: rgb(255, 255, 255); }
.btn:focus { outline: medium none; }
.btn:active:focus, .btn .active.focus { outline: medium none; outline-offset: 0px; }
.btn--social-sign-in { height: 3.1rem; background: rgb(221, 75, 57) none repeat scroll 0% 0%; }
.btn--social-sign-in img { width: 1.4rem; top: 48%; margin-top: -0.625rem; left: 50%; margin-left: -0.6rem; }
.btn--facebook-sign-in { background: rgb(59, 89, 152) none repeat scroll 0% 0%; }
.media--category-spotlight-left img:not(.post__flamescore__img):not(.post__flamescore__img--homepage-blogroll) { min-height: 9.938rem; }
input[type="text"], input[type="email"], input[type="password"] { border: 1px solid rgb(221, 221, 221); font-size: 0.75rem; line-height: 1rem; height: 1.313rem; font-weight: 300; padding: 2px 5px; }
:-moz-placeholder { color: rgb(221, 221, 221); }
*::-moz-placeholder { color: rgb(221, 221, 221); }
input:-moz-placeholder { color: rgb(221, 221, 221); }
input::-moz-placeholder { color: rgb(221, 221, 221); }
.input--secondary::-moz-placeholder { color: rgb(34, 34, 34); }
.checkbox-label::before { content: ""; display: inline-block; width: 0.6875rem; height: 0.6875rem; position: absolute; left: 0px; bottom: 0.0625rem; background-color: rgb(255, 255, 255); border: 0.0625rem solid rgb(221, 221, 221); }
.checkbox:checked + label::before { content: "X"; font-size: 0.625rem; color: rgb(4, 167, 227); text-align: center; line-height: 0.5rem; }
.profile-page-header-wrapper::before { display: block; content: ""; position: absolute; height: 100%; width: 100%; z-index: 2; }
.before-featured-article__featured-image::before, .before-featured-article__featured-image::after, .before-featured-article__overlay::before, .before-featured-article__overlay::after { width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; z-index: -2; content: ""; min-height: 41.69rem; }
.before-featured-article__featured-image::before, .before-featured-article__overlay::before { background-size: cover; }
body { padding: 0px; }
