.bap-blue, .bap-close, .bap-div, .bap-gradient, .bap-gray, .bap-img-container, .bap-notice, .bap-link-div { color: rgb(0, 0, 0); white-space: normal; word-wrap: normal; vertical-align: middle ! important; margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-family: Arial ! important; font-size: 100%; border-collapse: collapse; border-spacing: 0px; line-height: 13px; list-style: outside none none; letter-spacing: 0px ! important; text-align: left; overflow: visible ! important; }
.bap-notice { background-color: rgb(255, 255, 255); padding: 2px; font-size: 16px; line-height: 13px; z-index: 9991; top: -100px; left: -100px; }
.bap-blue, .bap-blue:link, .bap-blue:visited { color: rgb(43, 47, 152); }
.bap-close { width: 20px; color: rgb(112, 112, 112); font-size: 10px; font-weight: bold; margin-left: -22px; position: relative; top: 1px; left: 100%; cursor: pointer; }
.bap-div { border: 1px solid rgb(171, 171, 171); }
.bap-div p { float: none; padding: 0px; }
.bap-gray, .bap-gray:visited { color: rgb(68, 68, 68); }
.bap-img-container a { vertical-align: middle; display: table-cell; height: 45px; }
.bap-link-div { height: 14px; color: rgb(43, 47, 152); border-top: 1px solid rgb(171, 171, 171); padding: 3px 10px 4px; text-decoration: none; font-size: 0.67em ! important; font-weight: bold; }
.bap-link-div a, .bap-link-div span { text-decoration: none; font-size: inherit; font-weight: bold; }
#BAP-holder img { margin: 0px; padding: 0px; border: 0px none; font: inherit; vertical-align: baseline; max-width: 100%; box-shadow: 0px 0px ! important; background: transparent none repeat scroll 0% 0% ! important; }
#BAP-holder { position: static ! important; }
#BAP-holder .bap-trigger { z-index: 9990; }
.bap-trigger { cursor: pointer; display: block; font-family: Arial; font-size: 8pt; white-space: nowrap; }
.bap-trigger img { width: auto; height: auto; }
.bap6 .bap-close { margin-left: 0px; display: inline; float: right; right: 10px; left: 0px ! important; }
.bap6 .bap-div { height: 84px; min-width: 688px; }
.bap6 .bap-gradient { float: left; height: 84px; }
.bap6 .bap-img-container { float: right; clear: right; margin-top: 10px; height: 45px; width: 115px; }
.bap6 .bap-link-div { padding: 4px 10px 3px; overflow: hidden; }
.bap6 .bap-link-div a, .bap6 .bap-link-div span { display: block; width: auto ! important; max-width: 275px; min-width: 210px; line-height: 130%; }
.bap6 p { font-size: 0.7em; width: 310px; margin: 5px 0px 0px 10px; line-height: 13px; }
#bap-gradient-1 { border-right: 1px solid rgb(171, 171, 171); width: auto ! important; max-width: 280px; min-width: 230px; }
#bap-gradient-2 { width: 441px; }
#bap-first-link-div { border: 0px none; }
