@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 500;
	src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url('olffgbtaf0xfow1gnuhf0fzrar2tg8w2lzm7klnl0-w.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 500;
	src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url('olffgbtaf0xfow1gnuhf0v4syydjg5du2qzjevsuta0.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 500;
	src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url('olffgbtaf0xfow1gnuhf0vbw26qxpsj-_zkm_xt4hww.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 500;
	src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url('olffgbtaf0xfow1gnuhf0qt_rm691ltebkfy2zkksmi.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 500;
	src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url('olffgbtaf0xfow1gnuhf0ddinsr5a-9oe_ivpu8xwly.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 500;
	src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url('olffgbtaf0xfow1gnuhf0ae8km4xwr1_1byurrojrgc.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 500;
	src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url('olffgbtaf0xfow1gnuhf0ygp9q8gbyrhqglrav_ixfk.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Italic"), local("Roboto-Italic"), url('wxrxja0c3kdtc7lmafg4drkaz4ryn47zy2rvigwqf6w.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Italic"), local("Roboto-Italic"), url('opxuqto0ugqqhgj_sfdlwbkaz4ryn47zy2rvigwqf6w.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Italic"), local("Roboto-Italic"), url('1hzf02poanh32k2vkgeoubkaz4ryn47zy2rvigwqf6w.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Italic"), local("Roboto-Italic"), url('cdkhraxnqtovbaoxwdor9xkaz4ryn47zy2rvigwqf6w.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Italic"), local("Roboto-Italic"), url('k23cxwvtrifd6djsevi07rkaz4ryn47zy2rvigwqf6w.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Italic"), local("Roboto-Italic"), url('vszulfksk0lljjfeaxcrehkaz4ryn47zy2rvigwqf6w.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Italic"), local("Roboto-Italic"), url('vpcynsl0qhq_6dx7lkvbyxyhjbspvc47ee6xr_80hnw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('zlqkeelybatg60epzbsdy4x0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('ohi30kwqwvpcwqahzhccsix0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('rgvhdjnr2l75qb0ynd9nyix0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('mx9uck6ub63vikfynemxryx0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('mbmhprmh69zi6eepbyvfhyx0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('ooefwznlrtefzlymlvv1uix0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('rxzjdnzeo3r5zsexge8uuzbw1xu1rkptjj_0jans920.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Regular"), local("Roboto-Regular"), url('stdaa6j0psb920vjv-mrzh-_kf6byyo6clydb4hqe-y.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Regular"), local("Roboto-Regular"), url('uyecmkohco9x1wdmbyhim3-_kf6byyo6clydb4hqe-y.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Regular"), local("Roboto-Regular"), url('tnj4sb6dnbdaqnsm8cfqbx-_kf6byyo6clydb4hqe-y.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Regular"), local("Roboto-Regular"), url('_vyfx-s824kxq_ul2bhqyh-_kf6byyo6clydb4hqe-y.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Regular"), local("Roboto-Regular"), url('nj4vxlgwwwbesv18dahqnn-_kf6byyo6clydb4hqe-y.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Regular"), local("Roboto-Regular"), url('ks_cvxiciwuwvsfwfa3bjn-_kf6byyo6clydb4hqe-y.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Regular"), local("Roboto-Regular"), url('ommgfzmqthoryqo9n22dcuvvdin1pk8aktelpez5c0a.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* ::::: https://s.ytimg.com/yts/cssbin/www-embed-player-vfllbNiWZ.css ::::: */

.yt-embed-thumbnail { width: 100%; height: 100%; cursor: pointer; background-size: cover; background-repeat: no-repeat; background-position: center center; }
html { overflow: hidden; }
body { font: 12px Roboto,Arial,sans-serif; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); height: 100%; width: 100%; overflow: hidden; position: absolute; margin: 0px; padding: 0px; }
.full-frame { width: 100%; height: 100%; }
#player-unavailable { display: none; }
.ytp-lightweight { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
.html5-video-player { position: relative; width: 100%; height: 100%; background-color: rgb(0, 0, 0); overflow: hidden; outline: 0px none; font-family: Roboto,Arial,Helvetica,sans-serif; color: rgb(238, 238, 238); text-align: left; direction: ltr; font-size: 11px; line-height: 1.3; }
.html5-video-player a { color: inherit; text-decoration: none; transition: color 0.1s cubic-bezier(0, 0, 0.2, 1) 0s; outline: 0px none; }
.html5-video-player a:hover { color: rgb(255, 255, 255); transition: color 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; }
.html5-video-player svg { pointer-events: none; }
.ytp-autohide .ytp-player-content:not(.html5-endscreen), .ytp-hide-info-bar .ytp-player-content { top: 0px; transition: bottom 0.1s cubic-bezier(0.4, 0, 1, 1) 0s, top 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; }
.ytp-autohide:not(.ytp-ad-overlay-open) .ytp-iv-player-content, .ytp-hide-controls .ytp-iv-player-content { bottom: 12px; }
.ytp-big-mode.ytp-autohide:not(.ytp-ad-overlay-open) .ytp-iv-player-content, .ytp-big-mode.ytp-hide-controls .ytp-iv-player-content { bottom: 24px; }
.ytp-button { border: medium none; background-color: transparent; padding: 0px; color: inherit; text-align: inherit; font-size: 100%; font-family: inherit; cursor: default; line-height: inherit; }
.ytp-button:focus, .ytp-button { outline: 0px none; }
.ytp-button::-moz-focus-inner { padding: 0px; border: 0px none; }
.ytp-button:not([aria-disabled="true"]):not([disabled]):not([aria-hidden="true"]) { cursor: pointer; }
.ytp-chrome-top { position: absolute; text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); z-index: 60; }
.ytp-chrome-top { left: 12px; right: 12px; top: 0px; }
.ytp-playlist-menu-button-icon, .ytp-chrome-top .ytp-button:not(.ytp-playlist-menu-button), .ytp-chrome-controls .ytp-button, .ytp-replay-button { opacity: 0.9; display: inline-block; width: 36px; transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; overflow: hidden; }
.ytp-big-mode .ytp-playlist-menu-button-icon, .ytp-big-mode .ytp-chrome-top .ytp-button:not(.ytp-playlist-menu-button), .ytp-big-mode .ytp-chrome-controls .ytp-button { width: 54px; }
.ytp-prev-button::before { content: ""; display: block; height: 100%; width: 12px; position: absolute; top: 0px; left: -12px; }
.ytp-play-button:not(.ytp-play-button-playlist)::before { content: ""; display: block; height: 100%; width: 12px; position: absolute; top: 0px; left: -12px; }
.ytp-big-mode .ytp-prev-button::before, .ytp-big-mode .ytp-play-button:not(.ytp-play-button-playlist)::before { width: 24px; left: -24px; }
.ytp-playlist-menu-button:hover .ytp-playlist-menu-button-icon, .ytp-chrome-top .ytp-button:hover:not(.ytp-playlist-menu-button), .ytp-chrome-controls .ytp-button:hover:not([aria-disabled="true"]):not([disabled]), .ytp-chrome-controls .ytp-button[aria-expanded="true"], .ytp-chrome-controls .ytp-button[aria-pressed="true"], .ytp-replay-button:hover { opacity: 1; transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-chrome-controls .ytp-button[aria-pressed]::after { content: ""; display: block; position: absolute; height: 2px; border-radius: 2px; width: 0px; left: 18px; bottom: 6px; background-color: rgb(241, 43, 36); transition: left 0.1s cubic-bezier(0.4, 0, 1, 1) 0s, width 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; }
.ytp-big-mode .ytp-chrome-controls .ytp-button[aria-pressed]::after { height: 3px; border-radius: 3px; left: 27px; bottom: 10px; }
.ytp-chrome-controls .ytp-button[aria-pressed="true"]::after { width: 18px; left: 9px; transition: left 0.25s cubic-bezier(0, 0, 0.2, 1) 0s, width 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-big-mode .ytp-chrome-controls .ytp-button[aria-pressed="true"]::after { width: 27px; left: 14px; }
.ytp-color-white .ytp-chrome-controls .ytp-button[aria-pressed]::after { background-color: rgb(221, 221, 221); }
.ytp-color-blue .ytp-chrome-controls .ytp-button[aria-pressed]::after { background-color: rgb(55, 147, 230); }
.ytp-color-party .ytp-chrome-controls .ytp-button[aria-pressed]::after { animation: 0.1s linear 0s normal none infinite running ytp-party-background-color; }
.ytp-chrome-top:not(.ytp-share-button-visible) .ytp-share-button { display: none; }
.ytp-chrome-top, .ytp-chrome-bottom { transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-gradient-top, .ytp-gradient-bottom { height: 98px; width: 100%; position: absolute; background-repeat: repeat-x; background-image: url('undefined'); transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; pointer-events: none; }
.ytp-gradient-top { top: 0px; z-index: 21; background-position: center top; }
.ytp-settings-button.ytp-hd-quality-badge::after, .ytp-settings-button.ytp-4k-quality-badge::after, .ytp-settings-button.ytp-5k-quality-badge::after, .ytp-settings-button.ytp-8k-quality-badge::after { content: ""; position: absolute; top: 10px; right: 5px; height: 9px; width: 13px; background-color: rgb(241, 43, 36); border-radius: 1px; line-height: normal; }
.ytp-settings-button.ytp-3d-badge-grey::after { content: ""; position: absolute; top: 10px; right: 5px; height: 9px; width: 13px; border-radius: 1px; line-height: normal; }
.ytp-settings-button.ytp-3d-badge::after { content: ""; position: absolute; top: 10px; right: 5px; height: 9px; width: 13px; background-color: rgb(241, 43, 36); border-radius: 1px; line-height: normal; }
.ytp-settings-button.ytp-3d-badge-grey::after { background-color: rgb(102, 102, 102); }
.ytp-color-white .ytp-settings-button.ytp-hd-quality-badge::after, .ytp-color-white .ytp-settings-button.ytp-4k-quality-badge::after, .ytp-color-white .ytp-settings-button.ytp-5k-quality-badge::after, .ytp-color-white .ytp-settings-button.ytp-8k-quality-badge::after, .ytp-color-white .ytp-settings-button.ytp-3d-badge-grey::after, .ytp-color-white .ytp-settings-button.ytp-3d-badge::after { background-color: rgb(221, 221, 221); }
.ytp-color-blue .ytp-settings-button.ytp-hd-quality-badge::after, .ytp-color-blue .ytp-settings-button.ytp-4k-quality-badge::after, .ytp-color-blue .ytp-settings-button.ytp-5k-quality-badge::after, .ytp-color-blue .ytp-settings-button.ytp-8k-quality-badge::after, .ytp-color-blue .ytp-settings-button.ytp-3d-badge-grey::after, .ytp-color-blue .ytp-settings-button.ytp-3d-badge::after { background-color: rgb(55, 147, 230); }
.ytp-color-party .ytp-settings-button.ytp-hd-quality-badge::after, .ytp-color-party .ytp-settings-button.ytp-4k-quality-badge::after, .ytp-color-party .ytp-settings-button.ytp-5k-quality-badge::after, .ytp-color-party .ytp-settings-button.ytp-8k-quality-badge::after, .ytp-color-party .ytp-settings-button.ytp-3d-badge-grey::after, .ytp-color-party .ytp-settings-button.ytp-3d-badge::after { animation: 0.1s linear 0s normal none infinite running ytp-party-background-color; }
.ytp-settings-button.ytp-hd-quality-badge::after { background-image: url('undefined'); }
.ytp-settings-button.ytp-4k-quality-badge::after { background-image: url('undefined'); }
.ytp-settings-button.ytp-5k-quality-badge::after { background-image: url('undefined'); }
.ytp-settings-button.ytp-8k-quality-badge::after { background-image: url('undefined'); }
.ytp-settings-button.ytp-3d-badge-grey::after, .ytp-settings-button.ytp-3d-badge::after { background-image: url('undefined'); }
.ytp-color-white .ytp-settings-button.ytp-hd-quality-badge::after { background-image: url('undefined'); }
.ytp-color-white .ytp-settings-button.ytp-4k-quality-badge::after { background-image: url('undefined'); }
.ytp-color-white .ytp-settings-button.ytp-5k-quality-badge::after { background-image: url('undefined'); }
.ytp-color-white .ytp-settings-button.ytp-8k-quality-badge::after { background-image: url('undefined'); }
.ytp-color-white .ytp-settings-button.ytp-3d-badge-grey::after, .ytp-color-white .ytp-settings-button.ytp-3d-badge::after { background-image: url('undefined'); }
.ytp-big-mode .ytp-settings-button.ytp-hd-quality-badge::after, .ytp-big-mode .ytp-settings-button.ytp-4k-quality-badge::after, .ytp-big-mode .ytp-settings-button.ytp-5k-quality-badge::after, .ytp-big-mode .ytp-settings-button.ytp-8k-quality-badge::after, .ytp-big-mode .ytp-settings-button.ytp-3d-badge-grey::after, .ytp-big-mode .ytp-settings-button.ytp-3d-badge::after { top: 15px; right: 6px; padding: 2px; font-family: Verdana,sans-serif; font-size: 10px; font-weight: bold; color: rgb(255, 255, 255); text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.6); background-image: none; border-radius: 1.5px; height: auto; width: auto; }
.ytp-color-white.ytp-big-mode .ytp-settings-button.ytp-hd-quality-badge::after, .ytp-color-white.ytp-big-mode .ytp-settings-button.ytp-4k-quality-badge::after, .ytp-color-white.ytp-big-mode .ytp-settings-button.ytp-5k-quality-badge::after, .ytp-color-white.ytp-big-mode .ytp-settings-button.ytp-8k-quality-badge::after, .ytp-color-white.ytp-big-mode .ytp-settings-button.ytp-3d-badge-grey::after, .ytp-color-white.ytp-big-mode .ytp-settings-button.ytp-3d-badge::after { color: rgb(0, 0, 0); text-shadow: none; }
.ytp-big-mode .ytp-settings-button.ytp-hd-quality-badge::after { content: "HD"; }
.ytp-big-mode .ytp-settings-button.ytp-4k-quality-badge::after { content: "4K"; }
.ytp-big-mode .ytp-settings-button.ytp-5k-quality-badge::after { content: "5K"; }
.ytp-big-mode .ytp-settings-button.ytp-8k-quality-badge::after { content: "8K"; }
.ytp-big-mode .ytp-settings-button.ytp-3d-badge-grey::after, .ytp-big-mode .ytp-settings-button.ytp-3d-badge::after { content: "3D"; }
@media not all {
}
@media not all {
}
.html5-video-player .ad-overlay > :not(.ima-container) { z-index: 34; }
.html5-video-player:not(.ad-interrupting):not(.ad-showing) .ad-container { display: none; }
.annotation.iv-promo .iv-promo-contents .iv-promo-txt .iv-promo-link::after { position: absolute; top: 2px; right: 0px; opacity: 0.5; content: ""; background: transparent url('player-common-vflqnj93n.png') no-repeat scroll -34px -1510px; width: 10px; height: 10px; }
.annotation.iv-promo .iv-promo-contents .iv-promo-txt:hover .iv-promo-link::after { opacity: 1; }
.iv-button::-moz-focus-inner { border: 0px none; padding: 0px; }
a.iv-button::after { content: ""; display: inline-block; vertical-align: middle; height: 100%; }
.annotation.iv-promo .iv-promo-actions .iv-promo-close::after, .annotation.iv-promo .iv-promo-actions .iv-promo-expand::after { display: block; content: ""; }
.annotation.iv-promo .iv-promo-actions .iv-promo-close::after { margin: 16px 10px 15px 12px; opacity: 0.5; background: transparent url('player-common-vflqnj93n.png') no-repeat scroll -68px -629px; width: 9px; height: 9px; }
.annotation.iv-promo .iv-promo-actions .iv-promo-expand::after { margin: 16px 12px 15px; background: transparent url('player-common-vflqnj93n.png') no-repeat scroll -29px -910px; width: 4px; height: 9px; }
.iv-drawer-close-button::after { display: block; content: ""; background: transparent url('player-common-vflqnj93n.png') no-repeat scroll 0px -1865px; width: 12px; height: 12px; }
.webkit .iv-card h2::after, .webkit .iv-card-action::after { content: "‌"; position: static; visibility: hidden; }
.iv-card-content > :first-child { margin-top: 0px; }
.iv-card-content > :last-child { margin-bottom: 0px; }
.iv-card-playlist-video-count::after { display: block; margin: auto; opacity: 0.5; content: ""; background: transparent url('www-hitchhiker-vflot-poj.png') no-repeat scroll 0px -730px; width: 24px; height: 24px; }
.iv-ad-info-callout, .iv-ad-info-icon-container::after { left: 0px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid; width: 0px; height: 0px; }
.iv-ad-info-icon-container::after { content: ""; bottom: 17px; border-top-color: rgb(255, 255, 255); }
.iv-ad-info, .iv-ad-info-callout, .iv-ad-info-icon-container::after { visibility: hidden; position: absolute; transition: visibility 0s ease 0.1s; }
.iv-ad-info-container:hover .iv-ad-info-callout, .iv-ad-info-container:hover .iv-ad-info-icon-container::after, .iv-ad-info-container:hover .iv-ad-info { visibility: visible; transition-delay: 0s; }
.ytp-autohide:not(.ytp-cards-teaser-shown) .ytp-cards-button, .ytp-cards-button[aria-hidden="true"] { opacity: 0; transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; }
.html5-video-player.ad-interrupting:not(.videoAdUiRedesign) .ytp-cards-teaser { top: 40px; }
.ytp-autohide:not(.ytp-cards-teaser-shown) .ytp-cards-teaser { opacity: 0; transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1) 0.33s; }
.yt-ui-ellipsis::before { background-color: inherit; position: absolute; }
.yt-ui-ellipsis::after { background-color: inherit; position: absolute; }
.yt-ui-ellipsis::before { content: "…"; right: 0px; }
.yt-ui-ellipsis::after { content: ""; height: 100%; width: 100%; }
.yt-ui-ellipsis-2::before { top: 1.3em; }
.yt-ui-ellipsis-3::before { top: 2.6em; }
.yt-ui-ellipsis-4::before { top: 3.9em; }
.yt-ui-ellipsis-10::before { top: 11.7em; }
.webkit .yt-ui-ellipsis::before { content: initial; }
.webkit .yt-ui-ellipsis::after { content: "‌"; position: static; visibility: hidden; }
.yt-ui-ellipsis[dir="rtl"]::before { left: 0px; right: auto; }
.ytp-copytext::-moz-selection { background-color: white; color: black; }
.ytp-videowall-still[data-is-list="true"]:not([data-is-mix="true"]) .ytp-videowall-still-listlabel-regular, .ytp-videowall-still[data-is-mix="true"] .ytp-videowall-still-listlabel-mix { display: block; }
.ytp-error { display: table; position: absolute; width: 100%; height: 100%; z-index: 40; font-size: 127%; line-height: 182%; background: rgb(0, 0, 0) none repeat scroll 0% 0%; cursor: default; -moz-user-select: none; }
.ytp-error-content { position: relative; display: table-cell; vertical-align: middle; }
.ytp-fullscreen-button::after { content: ""; display: block; height: 100%; width: 12px; position: absolute; top: 0px; left: 100%; }
.ytp-big-mode .ytp-fullscreen-button::after { width: 24px; }
.ytp-fullscreen-button:hover:not([aria-disabled="true"]) .ytp-fullscreen-button-corner-0 { animation: 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s normal none 1 running ytp-fullscreen-button-corner-0-animation; }
.ytp-fullscreen-button:hover:not([aria-disabled="true"]) .ytp-fullscreen-button-corner-1 { animation: 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s normal none 1 running ytp-fullscreen-button-corner-1-animation; }
.ytp-fullscreen-button:hover:not([aria-disabled="true"]) .ytp-fullscreen-button-corner-2 { animation: 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s normal none 1 running ytp-fullscreen-button-corner-2-animation; }
.ytp-fullscreen-button:hover:not([aria-disabled="true"]) .ytp-fullscreen-button-corner-3 { animation: 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s normal none 1 running ytp-fullscreen-button-corner-3-animation; }
.ytp-large-play-button { position: absolute; left: 50%; top: 50%; width: 68px; height: 48px; margin-left: -34px; margin-top: -24px; transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-large-play-button-bg { transition: fill 0.1s cubic-bezier(0.4, 0, 1, 1) 0s, fill-opacity 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; fill: rgb(31, 31, 31); fill-opacity: 0.81; }
.ytp-menuitem:not([aria-disabled="true"]) { cursor: pointer; }
.ytp-menuitem:hover:not([aria-disabled="true"]) { background-color: rgba(255, 255, 255, 0.1); }
.ytp-contextmenu .ytp-menuitem-toggle-checkbox::after { content: none; }
.ytp-contextmenu .ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox::before, .ytp-big-mode .ytp-contextmenu .ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox::before { transform: none; }
.ytp-menuitem-toggle-checkbox::after { content: ""; position: absolute; top: 0px; left: 0px; height: 20px; width: 20px; border-radius: 20px; margin-top: -3px; background-color: rgb(189, 189, 189); box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6); transition: all 0.08s cubic-bezier(0.4, 0, 1, 1) 0s; }
.ytp-big-mode .ytp-menuitem-toggle-checkbox::after { left: 0px; height: 30px; width: 30px; border-radius: 30px; margin-top: -4.5px; }
.ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox::after { background-color: rgb(255, 255, 255); transform: translateX(16px); }
.ytp-big-mode .ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox::after { transform: translateX(24px); }
.ytp-progress-bar-container:hover:not([aria-disabled="true"]) .ytp-scrubber-button, .ytp-touch-mode .ytp-progress-bar-container:not([aria-disabled="true"]) .ytp-scrubber-button, .ytp-drag .ytp-scrubber-button { transform: none; transition: transform 0.1s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-scrubber-pull-indicator::before { display: block; position: absolute; content: ""; top: 0px; left: 0px; opacity: 0; width: 6.5px; height: 6.5px; border-style: solid; border-width: 2px 0px 0px 2px; border-color: rgb(234, 234, 234); }
.ytp-scrubber-pull-indicator::after { display: block; position: absolute; content: ""; top: 0px; left: 0px; opacity: 0; width: 6.5px; height: 6.5px; border-style: solid; border-width: 2px 0px 0px 2px; border-color: rgb(234, 234, 234); }
.ytp-big-mode .ytp-scrubber-pull-indicator::before, .ytp-big-mode .ytp-scrubber-pull-indicator::after { width: 10px; height: 10px; }
.ytp-scrubber-pull-indicator::after { transition: all 0.1s ease 0s; }
.ytp-scrubber-pull-indicator::before { transition: all 0.2s ease 0s; }
.ytp-pull-ui:not(.ytp-pulling) .ytp-scrubber-pull-indicator::before { opacity: 1; top: -4px; left: -4px; }
.ytp-big-mode .ytp-pull-ui:not(.ytp-pulling) .ytp-scrubber-pull-indicator::before { top: -9px; left: -9px; }
.ytp-pull-ui:not(.ytp-pulling) .ytp-scrubber-pull-indicator::after { opacity: 1; top: -8px; left: -8px; }
.ytp-big-mode .ytp-pull-ui:not(.ytp-pulling) .ytp-scrubber-pull-indicator::after { opacity: 1; top: -15px; left: -15px; }
.ytp-progress-bar-container:hover:not([aria-disabled="true"]) .ytp-progress-list, .ytp-touch-mode .ytp-progress-bar-container:not([aria-disabled="true"]) .ytp-progress-list, .ytp-drag .ytp-progress-list { transform: none; transition: transform 0.1s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-bound-time-left::after { position: absolute; content: ""; bottom: -5px; width: 0px; height: 0px; border-style: solid; }
.ytp-bound-time-right::after { position: absolute; content: ""; bottom: -5px; width: 0px; height: 0px; border-style: solid; }
.ytp-bound-time-left::after { left: 0px; border-width: 5px 5px 0px 0px; border-color: rgba(28, 28, 28, 0.9) transparent transparent; }
.ytp-bound-time-right::after { right: 0px; border-width: 0px 5px 5px 0px; border-color: transparent rgba(28, 28, 28, 0.9) transparent transparent; }
.playing-mode .ytp-progress-bar-container:not(.ytp-pull-ui) .ytp-load-progress { transition: transform 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; }
.playing-mode .ytp-progress-bar-container:not(.ytp-pull-ui) .ytp-load-progress.ytp-fast-load { transition: transform 1.2s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-progress-bar-container:hover:not([aria-disabled="true"]) .ytp-clip-start, .ytp-progress-bar-container:hover:not([aria-disabled="true"]) .ytp-clip-end, .ytp-touch-mode .ytp-progress-bar-container:not([aria-disabled="true"]) .ytp-clip-start, .ytp-touch-mode .ytp-progress-bar-container:not([aria-disabled="true"]) .ytp-clip-end, .ytp-drag .ytp-clip-start, .ytp-drag .ytp-clip-end { transform: none; transition: transform 0.1s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-clip-start-enabled:not(.ytp-drag) .ytp-clip-start, .ytp-clip-end-enabled:not(.ytp-drag) .ytp-clip-end { display: block; }
.ytp-progress-bar-container:not([aria-disabled="true"]) { cursor: pointer; }
.ytp-progress-bar-container:hover:not([aria-disabled="true"]) .ytp-progress-bar-padding { height: 22px; bottom: -6px; }
.ytp-big-mode:not(.ytp-touch-mode) .ytp-progress-bar-container:hover:not([aria-disabled="true"]) .ytp-progress-bar-padding { height: 33px; bottom: -9px; }
.ytp-touch-mode .ytp-progress-bar-container:not([aria-disabled="true"]) .ytp-progress-bar-padding { height: 40px; bottom: -11px; }
.ytp-webgl-spherical:not(.ytp-menu-shown) .html5-video-container { cursor: grab; }
.ytp-webgl-spherical.ytp-dragging:not(.ytp-menu-shown) .html5-video-container { cursor: grabbing; }
.captions-asr::before { display: block; position: absolute; content: ""; width: 27px; height: 38px; background-image: url('undefined'); left: -27px; top: 50%; margin-top: -19px; opacity: 0.5; }
.ytp-big-mode .captions-asr::before { width: 40px; height: 57px; left: -40px; margin-top: -28.5px; }
.captions-asr::after { display: block; position: absolute; content: ""; width: 27px; height: 38px; background-image: url('undefined'); right: -27px; top: 50%; margin-top: -19px; opacity: 0.5; }
.ytp-big-mode .captions-asr::after { width: 40px; height: 57px; right: -40px; margin-top: -28.5px; }
.unstarted-mode:not(.playing-mode) .ytp-cued-thumbnail-overlay:not([aria-hidden="true"]), .ended-mode .ytp-cued-thumbnail-overlay:not([aria-hidden="true"]) { cursor: pointer; }
.ytp-live-badge::before { display: inline-block; width: 6px; height: 6px; vertical-align: 4%; margin-right: 5px; background: rgb(117, 117, 117) none repeat scroll 0% 0%; content: ""; border-radius: 6px; }
.ytp-big-mode .ytp-live-badge::before { width: 9px; height: 9px; border-radius: 9px; }
.ytp-live-badge[disabled]::before { background: rgb(241, 43, 36) none repeat scroll 0% 0%; }
.ytp-title { font-size: 163%; overflow: hidden; white-space: nowrap; }
.ytp-title-text { display: inline-block; line-height: 1.1; vertical-align: top; max-width: 100%; }
.ytp-title-link, .ytp-title-channel-name { height: 1.2em; max-width: 100%; overflow: hidden; white-space: nowrap; word-wrap: normal; text-overflow: ellipsis; float: left; padding-left: 4px; }
.ytp-title-link { padding-top: 14px; }
.ytp-tooltip:not([aria-hidden="true"]) { opacity: 1; transform: none; transition: transform 0.1s cubic-bezier(0.4, 0, 1, 1) 0s, opacity 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; }
.ytp-tooltip.ytp-preview:not(.ytp-text-detail) .ytp-tooltip-text-wrapper { position: absolute; bottom: 5px; left: 0px; width: 100%; text-align: center; }
.ytp-volume-slider-handle::before, .ytp-volume-slider-handle::after { content: ""; position: absolute; display: block; top: 50%; height: 3px; margin-top: -2px; width: 64px; }
.ytp-big-mode .ytp-volume-slider-handle::before, .ytp-big-mode .ytp-volume-slider-handle::after { height: 4px; margin-top: -2px; width: 96px; }
.ytp-volume-slider-handle::before { left: -58px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.ytp-big-mode .ytp-volume-slider-handle::before { left: -87px; }
.ytp-volume-slider-handle::after { left: 6px; background: rgba(255, 255, 255, 0.2) none repeat scroll 0% 0%; }
.ytp-big-mode .ytp-volume-slider-handle::after { left: 9px; background: rgba(255, 255, 255, 0.2) none repeat scroll 0% 0%; }
.ytp-chrome-controls .ytp-button.ytp-youtube-button:hover:not([aria-disabled="true"]):not([disabled]) .ytp-svg-fill-logo-tube-lozenge { fill: rgb(241, 43, 36); transition: fill 0.1s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-color-party .ytp-chrome-controls .ytp-button.ytp-youtube-button:hover:not([aria-disabled="true"]):not([disabled]) .ytp-svg-fill-logo-tube-lozenge { animation: 0.15s linear 0s normal none infinite running ytp-party-fill; }
.ytp-chrome-controls .ytp-button.ytp-youtube-button:hover:not([aria-disabled="true"]):not([disabled]) .ytp-svg-fill-logo-tube-text { opacity: 1; transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-drawer-open-button::after { display: inline-block; border-width: 5px 5px 5px medium; border-style: solid solid solid none; border-color: transparent rgb(170, 170, 170) transparent -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; content: ""; }
.ytp-big-mode .ytp-drawer-open-button::after { border-bottom-width: 8px; border-right-width: 8px; border-top-width: 8px; }
.videoAdUiWhyThisAdControl::after { content: ""; background-image: url('undefined'); background-position: right center; background-repeat: no-repeat; background-size: 10px auto; padding-left: 12px; }
@media all and (min-width: 800px) and (min-height: 400px) {
}
.yt-uix-button::-moz-focus-inner { border: 0px none; padding: 0px; }
.yt-uix-button-has-icon::before { content: ""; display: inline-block; vertical-align: middle; }
a.yt-uix-button::after { content: ""; display: inline-block; vertical-align: middle; height: 100%; }
.yt-uix-button-icon-wrapper, .yt-uix-button-has-icon.no-icon-markup::before { margin-right: 6px; }
.yt-uix-button-empty .yt-uix-button-icon-wrapper, .yt-uix-button-empty.yt-uix-button-has-icon.no-icon-markup::before { margin-right: 0px; }
.yt-uix-button-default::before, .yt-uix-button-default .yt-uix-button-icon { opacity: 0.5; }
.yt-uix-button-default:hover .yt-uix-button-icon, .yt-uix-button-default:hover::before { opacity: 0.6; }
.yt-uix-button-default:active .yt-uix-button-icon, .yt-uix-button-default:active::before, .yt-uix-button-default.yt-uix-button-active .yt-uix-button-icon, .yt-uix-button-default.yt-uix-button-active::before, .yt-uix-button-default.yt-uix-button-toggled .yt-uix-button-icon, .yt-uix-button-default.yt-uix-button-toggled::before { opacity: 0.8; }
.yt-uix-button-default:active:hover .yt-uix-button-icon, .yt-uix-button-default:active:hover::before, .yt-uix-button-default.yt-uix-button-active:hover .yt-uix-button-icon, .yt-uix-button-default.yt-uix-button-active:hover::before, .yt-uix-button-default.yt-uix-button-toggled:hover .yt-uix-button-icon, .yt-uix-button-default.yt-uix-button-toggled:hover::before { opacity: 1; }
.yt-uix-button-dark .yt-uix-button-icon, .yt-uix-button-dark::before { opacity: 0.4; }
.yt-uix-button-dark:hover .yt-uix-button-icon, .yt-uix-button-dark:hover::before { opacity: 0.55; }
.yt-uix-button-dark:active .yt-uix-button-icon, .yt-uix-button-dark:active::before, .yt-uix-button-dark.yt-uix-button-active .yt-uix-button-icon, .yt-uix-button-dark.yt-uix-button-active::before, .yt-uix-button-dark.yt-uix-button-toggled .yt-uix-button-icon, .yt-uix-button-dark.yt-uix-button-toggled::before { opacity: 0.85; }
.yt-uix-button-dark:active:hover .yt-uix-button-icon, .yt-uix-button-dark:active:hover::before, .yt-uix-button-dark.yt-uix-button-active:hover .yt-uix-button-icon, .yt-uix-button-dark.yt-uix-button-active:hover::before, .yt-uix-button-dark.yt-uix-button-toggled:hover .yt-uix-button-icon .yt-uix-button-dark.yt-uix-button-toggled:hover::before { opacity: 1; }
@media only screen and (min-width: 850px) {
}
.yt-uix-button-subscribe-branded.ypc-enabled.ypc-music-subscription-button::before, .yt-uix-button-subscribe-branded.ypc-enabled.ypc-freetrial-eligible::before { display: none; }
.yt-uix-button-subscribe-unbranded.ypc-enabled.ypc-music-subscription-button::before, .yt-uix-button-subscribe-unbranded.ypc-enabled.ypc-freetrial-eligible::before { display: none; }
.yt-uix-button-subscribe-branded::before { background: transparent url('www-hitchhiker-vflot-poj.png') no-repeat scroll -116px -1189px; width: 16px; height: 12px; }
.yt-uix-button-subscribe-branded.ypc-enabled::before { background: transparent url('www-hitchhiker-vflot-poj.png') no-repeat scroll -60px -677px; width: 16px; height: 12px; }
.yt-uix-button-subscribe-branded.ypc-unavailable::before { background: transparent url('www-hitchhiker-vflot-poj.png') no-repeat scroll -13px -951px; width: 16px; height: 12px; }
.yt-uix-button-subscribe-unbranded.ypc-enabled::before { background: transparent url('www-hitchhiker-vflot-poj.png') no-repeat scroll -104px -567px; width: 16px; height: 12px; }
.yt-uix-button-subscribe-unbranded.ypc-enabled:hover::before { background: transparent url('www-hitchhiker-vflot-poj.png') no-repeat scroll 0px -551px; width: 16px; height: 12px; }
.yt-uix-button-subscribed-branded::before { background: transparent url('www-hitchhiker-vflot-poj.png') no-repeat scroll -67px -612px; width: 16px; height: 12px; }
.yt-uix-button-subscribed-branded.hover-enabled:hover::before { background: transparent url('www-hitchhiker-vflot-poj.png') no-repeat scroll -84px -421px; width: 16px; height: 12px; }
.yt-uix-button-subscribed-branded.external::before { background: transparent url('www-hitchhiker-vflot-poj.png') no-repeat scroll 0px -101px; width: 16px; height: 12px; }
.yt-uix-button-subscribed-branded.hover-enabled.external:hover::before { background: transparent url('www-hitchhiker-vflot-poj.png') no-repeat scroll -37px -404px; width: 16px; height: 12px; }
.yt-uix-subscription-preferences-button::before { background: transparent url('www-hitchhiker-vflot-poj.png') no-repeat scroll 0px -302px; width: 12px; height: 12px; }
.yt-uix-subscription-preferences-button:hover::before { background: transparent url('www-hitchhiker-vflot-poj.png') no-repeat scroll -81px -1400px; width: 12px; height: 12px; }
.yt-uix-subscription-preferences-button.yt-uix-subscription-preferences-bell.yt-uix-subscription-notifications-active::before { background: transparent url('www-hitchhiker-vflot-poj.png') no-repeat scroll 0px -428px; width: 18px; height: 18px; }
.yt-uix-subscription-preferences-button.yt-uix-subscription-preferences-bell.yt-uix-subscription-notifications-inactive::before { background: transparent url('www-hitchhiker-vflot-poj.png') no-repeat scroll -38px -1189px; width: 18px; height: 18px; }
.yt-uix-subscription-preferences-button.yt-uix-subscription-preferences-bell.yt-uix-subscription-notifications-off::before { background: transparent url('www-hitchhiker-vflot-poj.png') no-repeat scroll -44px -336px; width: 18px; height: 18px; }
.html5-video-player { background-color: rgb(0, 0, 0); }
