/* ::::: https://wpsa.research.pdx.edu/styles_scripts/styles1.css ::::: */

body { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 75%; color: rgb(0, 0, 0); margin-top: 0px; padding: 10px; background-color: rgb(156, 180, 235); }
A { color: rgb(28, 22, 112); text-decoration: none; }
A:hover { color: rgb(207, 181, 59); text-decoration: underline; }
A:active { color: rgb(28, 22, 112); text-decoration: none; }
#topnav { border-style: solid; border-color: rgb(28, 22, 112); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 0px 0px; clear: both; }
#topnav table { width: 100%; }
#topnav td { padding: 0px; border-right: 1px solid rgb(28, 22, 112); text-align: center; }
#topnav td a { display: block; text-decoration: none; font-size: 85%; padding: 3px 5px; background: rgb(246, 246, 246) none repeat scroll 0% 0%; font-weight: bold; }
#topnav ul { padding: 0px; margin: 0px; list-style: outside none none; line-height: 1; text-align: center; }
#topnav ul ul a { display: block; height: auto; padding: 3px 5px 3px 13px; text-align: left; border-width: 0px 0px 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(255, 255, 255) rgb(28, 22, 112); }
#topnav li ul { position: absolute; width: 150px; left: -999px; border-style: solid; border-color: rgb(28, 22, 112); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 1px 0px; }
#topnav li:hover ul, #topnav li li li.sfhover ul { left: auto; }
#navline { border-style: solid; border-color: rgb(28, 22, 112); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 0px 0px; }
#mainwrapper { width: 800px; border: 1px solid rgb(28, 22, 112); margin-left: auto; margin-right: auto; background-color: rgb(255, 255, 255); }
#header { width: 790px; padding: 5px; margin-left: auto; margin-right: auto; }
table.tabletopmain { background-color: rgb(255, 255, 255); width: 100%; }
table.tabletopmain td { width: 50%; }
table.tablemain { text-align: left; vertical-align: text-top; width: 100%; background-color: rgb(255, 255, 255); }
.tablemainleft { text-align: left; vertical-align: text-top; width: 150px; }
.tablemainline { text-align: left; width: 1px; border-left: 1px solid rgb(28, 22, 112); padding: 5px; }
.tablemainmid { text-align: left; vertical-align: text-top; border-spacing: 10px; width: 450px; }
.tablemainright { text-align: left; vertical-align: text-top; width: 150px; }
table.highlight { font-family: Verdana,Arial,Helvetica,sans-serif; font-weight: normal; width: 100%; border: 1px solid rgb(225, 168, 7); border-collapse: collapse; }
table.highlight td { padding: 5px; border: 1px solid black; }
.highlightheader { color: rgb(255, 255, 255); background-color: rgb(28, 22, 112); text-align: center; width: 100%; font-weight: bold; }
